<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Xsearch
 */
?>
<?php
/** @var \Amasty\Xsearch\Block\Search\AbstractSearch $block */
$collection = $block->getLoadedSearchCollection();
?>
<?php if ($collection->getSize()) : ?>
    <div class="search-category">
        <div class="search-category-title valign-wrapper">
            <!-- <i class="material-icons">domain</i> -->
            <img src="<?php echo $block->getViewFileUrl('res/product_category.svg'); ?>" class="search-category-title-icon"/>
            <span><?= $block->escapeHtml($block->getTitle());?> (<?php echo $collection->getSize(); ?>) </span>
            <i class="material-icons right">chevron_right</i>
        </div>
        <div class="row search-results-list normal-results-list">
            <div class="col s12 m12 l12 search-result-col normal-results">
                 <?php $count=0 ; ?>
                <?php foreach ($collection as $item) : ?>
                    <p onclick=document.location='<?= /* @escapeNotVerified */ $block->getSearchUrl($item) ?>'  class="<?php echo ( $count > 2 ? "hide-on-small-only" : ""  ); $count++;  ?>"><?= /* @escapeNotVerified */ $block->getName($item); ?></p>
                <?php endforeach;?>
                
            </div>
        </div>
    </div>

<?php endif; ?>