<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Xsearch
 */
?>
<?php
/** @var \Amasty\Xsearch\Block\Search\Product $block */
    $productCollection = $block->getLoadedProductCollection();
    $helper = $this->helper('Magento\Catalog\Helper\Output');
    $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
?>

<?php if ($productCollection->getSize()) : ?>
    <div class="search-category search-prd">
        <div class="search-category-title valign-wrapper">
            <!-- <i class="material-icons">domain</i> -->
            <img src="<?php echo $block->getViewFileUrl('res/product_selection.svg'); ?>" class="search-category-title-icon"/>
            <span>Products (<?php echo $productCollection->getSize(); ?>)</span>
            <!-- <a href="#!" class="prod-detail-links">View more</a> -->
            <i class="material-icons right">chevron_right</i>
        </div>

        <div class="row search-results-list normal-results-list">
            <div class="col s12 m12 l12 search-result-col normal-results">
                <?php $count=0 ; ?>
                <?php foreach ($productCollection as $product) : ?>

                
                <p onclick="document.location='<?= /* @escapeNotVerified */ $product->getProductUrl() ?>'" class="<?php echo ( $count > 9 ? "hide-on-small-only" : ""  ); $count++;  ?>" >
                    
       
                    <span class="search-result-product-name"><?= /* @escapeNotVerified */ $block->getName($product); ?></span>
                     <a class="product-item-link"
                                   href="<?= /* @escapeNotVerified */ $product->getProductUrl() ?>"
                                   title="<?= /* @escapeNotVerified */ $block->stripTags($block->getName($product)); ?>"
                                ></a>
                    <span class="search-result-product-size"><!-- 16" - 24" -->
                    <?php


                    ?>
                    </span>
                    <span class="search-result-product-price">
                        <?php
                            //$product = $this->product;
                            $finalPrice = $product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue();
                            /** Note for best practice , it's better to call your helper in your block **/
                            echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(number_format($finalPrice,2), true , false);

                        ?>
                        <!--  <?= /* @escapeNotVerified */ $block->getProductPrice($product) ?>   -->
                        

                    </span>
                </p>
               
                <?php endforeach; ?>

            </div>
        </div>
    </div>
    <div class="amsearch-products" style="height:1px !important;" >
        <p class="amasty-xsearch-block-header">
           <!--  <?= __($block->getTitle())?> -->
        </p>
        <?php foreach ($productCollection as $product) : ?>
            <?php $productImage = $block->getImage($product, 'amasty_xsearch_page_list');?>
            <div class="amsearch-item product-item" data-click-url="<?= /* @escapeNotVerified */ $product->getProductUrl() ?>" style="height:1px !important;">
                <div class="amasty-xsearch-autocomplete-image" style="display:none;">
                    <?= $productImage->toHtml(); ?>
                </div>
                <div class="amasty-xsearch-autocomplete-information" style="display:none;">
                    <div class="information-container">
                        <div class="product details product-item-details" style="display:none;">
                            <strong class="product name product-item-name">
                                <a class="product-item-link"
                                   href="<?= /* @escapeNotVerified */ $product->getProductUrl() ?>"
                                   title="<?= /* @escapeNotVerified */ $block->stripTags($block->getName($product)); ?>"
                                >
                                    <?= /* @escapeNotVerified */ $block->getName($product); ?>
                                </a>
                            </strong>

                            <?php if ($block->showDescription($product)) :?>
                                <div class="product description product-item-description">
                                    <?= /* @escapeNotVerified */ $block->getDescription($product)?>
                                </div>
                            <?php endif; ?>

                            <?php if ($block->getReviews()) : ?>
                                <?= $block->getReviewsSummaryHtml($product, $templateType); ?>
                            <?php endif; ?>

                            <?= /* @escapeNotVerified */ $block->getProductPrice($product) ?>

                            <?php if ($block->getAddToCart()) : ?>
                                <div class="product actions product-item-actions" item-actions="1">
                                    <div class="actions-primary">
                                        <?php if ($product->isSaleable()) : ?>
                                            <?php $post = $block->getAddToCartPostParams($product); ?>
                                            <form id="<?= 'amasty-xsearch-product-' . $product->getId();?>"
                                                  data-role="tocart-form"
                                                  action="<?= /* @escapeNotVerified */ $post['action']; ?>"
                                                  method="post" class="amasty-xsearch-form"
                                            >
                                                <input type="hidden" name="product"
                                                       value="<?= /* @escapeNotVerified */ $post['data']['product']; ?>">
                                                <?php if ($block->isRedirectToCartEnabled()) : ?>
                                                    <input type="hidden" name="return_url"
                                                           value="<?= /* @escapeNotVerified */ $post['data']['return_url']; ?>">
                                                <?php endif; ?>
                                                <input type="hidden"
                                                       name="<?= $block->getUlrEncodedParam(); ?>"
                                                       value="<?= $post['data'][$block->getUlrEncodedParam()]; ?>">
                                                <input name="form_key"
                                                       type="hidden"
                                                       value="<?= /* @escapeNotVerified */ $block->getFormKey() ?>"/>
                                                <button type="submit"
                                                        title="<?= $block->escapeHtml(__('Add to Cart')); ?>"
                                                        class="action tocart primary">
                                                    <span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
                                                </button>
                                            </form>
                                        <?php else : ?>
                                            <?php if ($product->getIsSalable()) : ?>
                                                <div class="stock available">
                                                    <span><?=/* @escapeNotVerified */ __('In stock') ?></span>
                                                </div>
                                            <?php else : ?>
                                                <div class="stock unavailable">
                                                    <span><?= /* @escapeNotVerified */ __('Out of stock') ?></span>
                                                </div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>

                                    <div data-role="add-to-links" class="actions-secondary">
                                        <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()) : ?>
                                            <a href="#"
                                               class="action towishlist"
                                               title="<?= $block->escapeHtml(__('Add to Wish List')); ?>"
                                               aria-label="<?= $block->escapeHtml(__('Add to Wish List')); ?>"
                                               data-post='<?= $block->getAddToWishlistParams($product); ?>'
                                               data-action="add-to-wishlist"
                                               role="button">
                                                <span><?= /* @escapeNotVerified */ __('Add to Wish List') ?></span>
                                            </a>
                                        <?php endif; ?>

                                        <a href="#"
                                           class="action tocompare"
                                           title="<?= $block->escapeHtml(__('Add to Compare')); ?>"
                                           aria-label="<?= $block->escapeHtml(__('Add to Compare')); ?>"
                                           data-post='<?= $compareHelper->getPostDataParams($product); ?>'
                                           role="button">
                                            <span><?= /* @escapeNotVerified */ __('Add to Compare') ?></span>
                                        </a>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>

        <?php if ($productCollection->getSize() > $block->getLimit()) : ?>
            <div class="amasty-more-results" style="display:none;">
                <a href="<?= /* @escapeNotVerified */ $block->getResultUrl() ?>"
                   title="<?= __('More products')?>">
                    <?= __('More products')?>
                </a>
            </div>
        <?php endif; ?>
    </div>
    <style type="text/css">
    @media (max-width: 480px) {
        .search-prd .search-result-col.normal-results p {
          height: 60px !important;
        }

        .search-prd .search-result-col.normal-results p span {
          white-space: inherit;
          line-height: 22px;
        }

    }
    .search-result-col.normal-results p span.search-result-product-name 
    {
        width: auto;
    }
    </style>
    <script>
        require([
            'jquery',
            'mage/mage',
            'Magento_Catalog/js/catalog-add-to-cart'
        ], function ($) {
            'use strict';
            $('.amasty-xsearch-form').catalogAddToCart({});
        });
    </script>
<?php endif; ?>