<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
/** @var $block \Magento\ConfigurableProduct\Block\Product\View\Type\Configurable*/
$_product    = $block->getProduct();
$_attributes = $block->decorateArray($block->getAllowAttributes());
?>
<?php if ($_product->isSaleable() && count($_attributes)):?>
    <?php foreach ($_attributes as $_attribute): ?>
        <div class="field configurable required">
            <label class="label" for="attribute<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>">
                <span><?php echo $block->escapeHtml($_attribute->getProductAttribute()->getStoreLabel()) ?></span>
            </label>
            <div class="control">
                <select name="super_attribute[<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>]"
						data-selector="super_attribute[<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>]"
                        data-validate="{required:true}"
                        id="attribute<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>"
                        class="super-attribute-select form-control">
                    <option value=""><?php /* @escapeNotVerified */ echo __('Choose an Option...') ?></option>
                </select>
            </div>
        </div>
    <?php endforeach; ?>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "configurable": {
                    "spConfig": <?php /* @escapeNotVerified */ echo $block->getJsonConfig() ?>,
                    "gallerySwitchStrategy": "<?php /* @escapeNotVerified */ echo $block->getVar('gallery_switch_strategy',
                        'Magento_ConfigurableProduct') ?: 'replace'; ?>"
                }
            }
        }
    </script>
    <?php 
        $attrs = [];
        $products = $_product->getTypeInstance()->getUsedProducts($_product);
        if(count($products)){
            foreach ($products as $child) {
                $attrs[$child->getData('length_inches')] = $child->getAttributeText('weight_grams');
            }
        }
    ?>
    <script type="text/javascript">
        require(['jquery'], function ($) {
            $(document).ready(function() {
                var attrsLength = <?php echo json_encode($attrs);?>;
                var tableTemplate = $('#product-attribute-specs-table').html(); 
                $('.super-attribute-select').change(function(){
                    var tempHtml = tableTemplate;
                    if(this.value != '') {
                        var labelSel = $(this).parents('.configurable').find('label span').html();
                        var selectedValue = $(this).find('option:selected').html();
                        tempHtml += "<tr><th class='col table-label' scope='row'>"+labelSel+"</th><td class='col data' data-th='"+labelSel+"'>"+selectedValue+"</td></tr>";
                        if(typeof attrsLength[this.value] != 'undefined') {
                            if(attrsLength[this.value]) {
                                labelSel = 'Weight (grams)';
                                tempHtml += "<tr><th class='col table-label' scope='row'>"+labelSel+"</th><td class='col data' data-th='"+labelSel+"'>"+attrsLength[this.value]+"</td></tr>";
                            }
                        }
                    }
                    $('#product-attribute-specs-table').html(tempHtml);
                });
            });
        });
    </script>
<?php endif;?>
