<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Button $block */
?>
<?php if ($block->getWishlist()->getItemsCount() && $block->getWishlist()->getShared() < $block->getConfig()->getSharingEmailLimit()): ?>
    <button type="submit" name="save_and_share" title="<?php echo __('Share Wish List'); ?>" class="share btn btn-default">
        <span><?php echo $block->escapeHtml(__('Share Wish List')); ?></span>
    </button>
<?php endif;?>
