<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Button $block */
?>

<?php if ($block->getWishlist()->getItemsCount() && $block->getWishlist()->isSalable()): ?>
    <button type="button" data-role="all-tocart" title="<?php echo __('Add All to Cart'); ?>" class="tocart btn btn-default">
        <span><?php echo $block->escapeHtml(__('Add All to Cart')); ?></span>
    </button>
<?php endif;?>
