<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Button $block */
?>

<?php if ($block->getWishlist()->getItemsCount()): ?>
    <button type="submit" name="do" title="<?php echo __('Update Wish List') ?>" class="update btn btn-primary type-2">
        <span><?php echo $block->escapeHtml(__('Update Wish List')); ?></span>
    </button>
<?php endif;?>
