 <?php function geocode($address){ $address = urlencode($address); $url = "http://maps.google.com/maps/api/geocode/json?address={$address}"; $resp_json = file_get_contents($url); $resp = json_decode($resp_json, true); if($resp['status']=='OK'){ $lati = $resp['results'][0]['geometry']['location']['lat']; $longi = $resp['results'][0]['geometry']['location']['lng']; $formatted_address = $resp['results'][0]['formatted_address']; if($lati && $longi && $formatted_address){ $data_arr = array(); array_push( $data_arr, $lati, $longi, $formatted_address ); return $data_arr; }else{ return false; } }else{ return false; } } $add_qry = $this->getstreet1().' '.$this->getstreet2().' '.$this->getcity().' '.$this->getregion().' '.$this->getzip().' '.$this->getcountry(); $data_arr = geocode($add_qry); if($data_arr){ $latitude = $data_arr[0]; $longitude = $data_arr[1]; $formatted_address = $data_arr[2]; } else{ $latitude = 0; $longitude = 0; $formatted_address = ''; } ?> <script 
src="https://maps.googleapis.com/maps/api/js?key=<?php echo $this->getmapkey(); ?> "></script><?php $om = \Magento\Framework\App\ObjectManager::getInstance(); $obj = $om->get('Magento\Framework\HTTP\PhpEnvironment\RemoteAddress'); $ip = $obj->getRemoteAddress(); $xml = simplexml_load_file("http://www.geoplugin.net/xml.gp?ip=".$ip); $country = $xml->geoplugin_countryName ; ?> <script type="text/javascript">
  function myFunction() {

    var exists = document.getElementById("g-recaptcha-response");

    if(exists == null){
            
          }
          else{
            var check = document.getElementById("g-recaptcha-response").value;
           
           if(check=='' || check == null){
            document.getElementById("recaptcha").style.border = "1px solid #ea0e0e";
            return false;
          }
          else{
            document.getElementById("recaptcha").style.border = "none";
            return true;
          }

        }




      }</script><script type="text/javascript">
    require(['jquery', 


        'jquery/ui' 
        ], function ($) {

          $( document ).ready(function() {

           initialize();
            		
              });


        });
    
    function initialize() {

    	var exists = document.getElementById("map");
    	if(exists == null){
           
         }
         else{
         		 	var long = <?php echo $longitude; ?>
      			var lat = <?php echo $latitude; ?>
      		var myLatlng = new google.maps.LatLng(lat, long); 
      		var mapOptions = {
            zoom: 14,
            center: myLatlng
          }
          var map = new google.maps.Map(document.getElementById('map'), mapOptions);

      	
        map.setOptions({'scrollwheel': false});

      	
        var contentString = '<?php echo $add_qry; ?>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        })
      	
        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
        });

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }


    }</script><style type="text/css"> #recaptcha { display: inline-block; position: relative; } .share_box{ position:fixed; width:40px; left: 0px; z-index: 1000; top: 390px; height: 155px; } .rc-anchor-normal { height: 74px; width: 250px; }</style><head><meta name="viewport" content="initial-scale=1.0, user-scalable=no"><meta charset="utf-8"><title>Info windows</title><style> /* Always set the map height explicitly to define the size of the div * element that contains the map. */ #map { height: 100%; } /* Optional: Makes the sample page fill the window. */ html, body { height: 100%; margin: 0; padding: 0; }</style></head><body><div class="main_block"><div class="map_container"><div class="page_title"><h1><?php echo $this->pageheading(); ?></h1><div style="text-align:center;"><?php echo $this->pagedescription(); ?></div></div><?php if($this->isMapEnabled() && $add_qry!='') { ?> <div class="map_block" style="height: 300px;width: 100%;position: relative;" id="map"></div><div><p style=" cursor: auto; /* text-decoration: underline; */ color: #333; text-align: right; font-family: Roboto,Arial,sans-serif; font-size: 11px; font-weight: 400; margin-top: -60px; z-index: -1; position: absolute; ">by <a style="color: #333;" rel="no-follow" target="_Blank" href="https://www.fmeextensions.com/quick-contact-magento-2.html">Fmeextensions</a></p></div></div><?php } ?> <div class="contact_container"><div class="inner_container"><ul><?php if ($this->getphone()!='') {?> <li> <h3>Phone Number</h3><p><?php echo $this->getphone(); ?> <br> <br></p></li> <li class="divider"></li> <?php } ?> <?php if ($this->getStoreName() !='') { ?> <li> <h3><?php echo $this->getStoreName(); ?></h3><p><?php echo $this->getstreet1().' '.$this->getstreet2().' '.$this->getcity().','.$this->getzip();?> <br> <br></p></li> <li class="divider"></li> <?php } ?> <?php if ($this->getstoreemail()!='') { ?> <li class="last"><h3>Email Us</h3><p><a href="#"><?php echo $this->getstoreemail(); ?></a> <br> <br></p></li> <?php } ?></ul></div></div><div class="clear"></div><div class="form_block"><div class="inner_container"><form class="form contact" action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>" id="contact-form" name="contact-form" onsubmit="return myFunction()" method="post" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}'><fieldset class="fieldset"><div><div class="field name required input_outer"><div class="control"><input name="name" id="name" placeholder="<?php /* @escapeNotVerified */ echo __($this->nametittle()) ?>" title="<?php /* @escapeNotVerified */ echo __($this->nametittle()) ?>" class="input-text" type="text" data-validate="{required:true}"/></div></div><div class="field email required input_outer"><div class="control"><input name="email" id="email" placeholder="<?php /* @escapeNotVerified */ echo __($this->emailtittle()) ?>" title="<?php /* @escapeNotVerified */ echo __($this->emailtittle()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/></div></div><?php if($this->phonetittle() != '') {?> <div class="field telephone input_outer"><div class="control"><input name="phone" id="telephone" placeholder="<?php /* @escapeNotVerified */ echo __($this->phonetittle()) ?>" title="<?php /* @escapeNotVerified */ echo __($this->phonetittle()) ?>" class="input-text" type="text" /></div></div><?php } ?> <?php if($this->subjecttittle() != '') {?> <div class="field subject input_outer"><div class="control"><input name="subject" id="subject" placeholder="<?php /* @escapeNotVerified */ echo __($this->subjecttittle()) ?>" title="<?php /* @escapeNotVerified */ echo __($this->subjecttittle()) ?>" class="input-text" type="text" /></div></div><?php } ?></div><div class="field comment required"><div class="control"><textarea name="message" class="input-text" placeholder="<?php /* @escapeNotVerified */ echo __($this->messagetittle()) ?>" id="comment" title="<?php /* @escapeNotVerified */ echo __($this->messagetittle()) ?>" class="input-text" cols="1" rows="6" data-validate="{required:true}"></textarea></div></div><?php if($this->isCaptchaEnabled()) { ?> <div class="g-recaptcha" name="recaptcha" id="recaptcha" data-sitekey="<?php echo $this->getsitekey(); ?>"></div><?php } ?> <!-- <?php echo $block->getChildHtml('form.additional.info'); ?> --></fieldset><div class="actions-toolbar"><div class="primary"><input type="hidden" name="ip" id="ip" value="<?php echo $ip; ?>" /><input type="hidden" name="country" id="country" value="<?php echo $country; ?>" /><input type="hidden" name="hideit" id="hideit" value="" /><button type="submit" name="submit" id="submit" title="<?php /* @escapeNotVerified */ echo __($this->buttontext()) ?>" class="action submit primary"><span><?php /* @escapeNotVerified */ echo __($this->buttontext()) ?></span></button></div></div></form><div class="clear"></div></div></div></div></body>