<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
?>
<div class="col s12 m12 l12">
    <div class="row cs-item no-mar-horiz">

        <?php if ($block->hasProductUrl()):?>
                <a class="col s12 m7 l8 cs-main-details" href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>">
            <?php else: ?>
                <a class="col s12 m7 l8 cs-main-details">
            <?php endif; ?>
        <!-- <div class="col s12 m7 l6 cs-main-details"> -->
            
            <?php $tmpText = $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml(); 
                    echo str_replace("product-image-photo","cs-item-image left",$tmpText);
            ?>

            <div class="cs-item-details">
                <p class="cs-item-name no-mar-vert">
                    <?php echo $block->escapeHtml($block->getProductName()) ?>
                </p>
                
                <p class="cs-item-price no-mar-vert">
                    <span>Total Price: </span>
                    <span class="iamcartprice">

                            <?php if ($canApplyMsrp): ?>
                                    <span class="pricing msrp">
                                        <span class="msrp notice"><?php /* @escapeNotVerified */ echo __('See price before order confirmation.'); ?></span>
                                        <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                                        <a href="#" class="action help map" id="<?php /* @escapeNotVerified */ echo($helpLinkId); ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?php /* @escapeNotVerified */ echo $helpLinkId;?>","productName": "<?php /* @escapeNotVerified */ echo $product->getName(); ?>","showAddToCart": false}}'>
                                            <span><?php /* @escapeNotVerified */ echo __("What's this?"); ?></span>
                                        </a>
                                    </span>
                                
                            <?php else: ?>
                                    <?php //echo $block->getUnitPriceHtml($_item); ?>
                                    <?php echo $block->getRowTotalHtml($_item); ?>
                            <?php endif; ?>
                    </span>
                    <!-- <span>£7.10</span> -->
                </p>
                <p>
                    <?php if ($_options = $block->getOptionList()):?>
                        <dl class="item-options">
                            <?php foreach ($_options as $_option) : ?>
                                <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                                <dt><?php echo $block->escapeHtml($_option['label']) ?></dt>
                                <dd>
                                    <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                        <?php /* @escapeNotVerified */ echo $_formatedOptionValue['full_view'] ?>
                                    <?php else: ?>
                                        <?php /* @escapeNotVerified */ echo $_formatedOptionValue['value'] ?>
                                    <?php endif; ?>
                                </dd>
                            <?php endforeach; ?>
                        </dl>
                    <?php endif;?>
                    <?php if ($messages = $block->getMessages()): ?>
                        <?php foreach ($messages as $message): ?>
                            <div class="cart item message <?php /* @escapeNotVerified */ echo $message['type'] ?>"><div><?php echo $block->escapeHtml($message['text']) ?></div></div>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                    <?php if ($addInfoBlock): ?>
                        <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
                    <?php endif;?>
                </p>
            </div>

        </a>

        <!-- <div class="col s4 m1 l2 bag-prod-size-col">
            <p class="bag-prod-attr-title no-mar-vert">Size</p>
            <select class="browser-default bag-prod-size">
                <option value="1" selected>12</option>
                <option value="2">14</option>
                <option value="3">16</option>
                <option value="4">18</option>
            </select>
        </div> -->

        <div class="col s7 m3 l2 qty-col">
            <p class="bag-prod-attr-title no-mar-vert">Quantity</p>
            <div class="quantity-counter">
               <!--  <div class="quantity-minus">
                    <img src="http://thechainhut.azurewebsites.net/res/minus-sign.svg" alt="minus">
                </div> -->

                <!-- <input class="quantity-display" type="number" name="quantity_display" id="quantity_display" value="1"> -->

                <!-- <div class="quantity-plus">
                    <img src="http://thechainhut.azurewebsites.net/res/plus-sign.svg" alt="plus">
                </div> -->

                <div class="quantity-minus">
                    <img src="<?php echo $block->getViewFileUrl('res/minus-sign.svg'); ?>" onclick="qtyDown<?php echo $_item->getId(); ?>()" alt="minus">
                </div>

                <!-- <input class="quantity-display" type="number" name="quantity_display" id="quantity_display" value="1"> -->
                <input id="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty"
                               name="cart[<?php /* @escapeNotVerified */ echo $_item->getId() ?>][qty]"
                               data-cart-item-id="<?php /* @escapeNotVerified */ echo $_item->getSku() ?>"
                               value="<?php /* @escapeNotVerified */ echo $block->getQty() ?>"
                               type="text"
                               size="4"
                               title="<?php echo $block->escapeHtml(__('Qty')); ?>"
                               class="quantity-display input-text qty cart-qty nimitqty"
                               maxlength="12"
                               data-validate="{required:true,'validate-greater-than-zero':true}"
                               onchange="update_cart_qty()"
                               style="line-height:16px;"
                               data-role="cart-item-qty"/>

                <div class="quantity-plus">
                    <img src="<?php echo $block->getViewFileUrl('res/plus-sign.svg'); ?>"  onclick="qtyUp<?php echo $_item->getId(); ?>()" alt="plus">
                </div>
                <script type="text/javascript">
                    function qtyDown<?php echo $_item->getId(); ?>(){
                        qty_el = document.getElementById('cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty');
                        qty = qty_el.value;
                        if( !isNaN( qty ) && qty > 1 ){
                            qty_el.value--;
                        }
                        update_cart_qty();
                        return false;
                    }
                    function qtyUp<?php echo $_item->getId(); ?>(){
                        qty_el = document.getElementById('cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty');
                        qty = qty_el.value;
                        if( !isNaN( qty )) {
                            qty_el.value++;
                        }
                        update_cart_qty();
                        return false;
                    }
                </script>

            </div>
        </div>

        <!-- <div class="col s1 m1 l1 prod-subtotal-col">
            <p class="bag-prod-attr-title no-mar-vert">Subtotal</p>
            <p class="prod-subtotal no-mar-bot">£20.00</p>
        </div> -->
        <div class="col s1 m1 l1 valign-wrapper cs-remove-col">
            <i class="material-icons custom-modal-trigger right" data-target="#delete_modal_cart_<?php echo $_item->getId(); ?>">close</i>
           <?php
                $remove_block = $block->getLayout()->createBlock('\Magento\Checkout\Block\Cart\Item\Renderer\Actions\Remove');
                $edit_block = $block->getLayout()->createBlock('\Magento\Checkout\Block\Cart\Item\Renderer\Actions\Edit');
            ?>
            <!-- <a href="#"
               title="<?php echo $block->escapeHtml(__('Remove item')); ?>"
               class="action action-delete"
               data-post='<?php /* @escapeNotVerified */ echo $remove_block->setItem($_item)->getDeletePostJson($_item); ?>'>
                   <i class="material-icons right">close</i>
            </a> -->
            
            <div class="custom-modal" id="delete_modal_cart_<?php echo $_item->getId(); ?>">
                <div class="custom-modal-bg"></div>
                <div class="contact-form-wrapper">
                    <div class="cf-header">
                        <p>Remove this item from your shopping bag?</p>
                        <i class="material-icons">close</i>
                    </div>
        
                    <div class="cf-footer">
                        <div class="custom-container">
                            <div class="row no-mar-bot">
                                <div class="col s6">
                                    <a href="#!" class="cta-btn line-btn yesNimit custom-modal-close-new">No</a>
                                </div>
                                <div class="col s6">
                                    <a href="#" class="cta-btn green-btn  yesNimit action action-delete" data-post='<?php /* @escapeNotVerified */ echo $remove_block->setItem($_item)->getDeletePostJson($_item); ?>'>Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
