<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var Magento\Wishlist\Block\Catalog\Product\ProductList\Item\AddTo\Wishlist $block */
$meigee_helper = $this->helper('\Meigee\Feather\Helper\FeatherGeneral');
$wishlist_btn = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'wishlist_btn');
?>
<?php if ($block->getWishlistHelper()->isAllow() && $wishlist_btn): ?>
    <a href="#"
       class="action towishlist"
       title="<?php echo __('Add to Wish List'); ?>"
       aria-label="<?php echo __('Add to Wish List'); ?>"
       data-post='<?php /* @noEscape */ echo $block->getAddToWishlistParams($block->getProduct()); ?>'
       data-action="add-to-wishlist"
       role="button">
        <i class="fa fa-heart"></i>
    </a>
<?php endif; ?>
