<div class="checkout-billing-address">

    <div class="billing-address-same-as-shipping-block field choice" data-bind="visible: canUseShippingAddress()">
        <input type="checkbox" name="billing-address-same-as-shipping"
               data-bind="checked: isAddressSameAsShipping, click: useShippingAddress, attr: {id: 'billing-address-same-as-shipping-' + getCode($parent)}"/>
               <span></span>
        <label data-bind="attr: {for: 'billing-address-same-as-shipping-' + getCode($parent)}"><span
                data-bind="i18n: 'My billing and delivery address are the same'"></span></label>
    </div>

    <!-- ko template: 'Magento_Checkout/billing-address/details' --><!-- /ko -->
    <fieldset class="fieldset" data-bind="visible: !isAddressDetailsVisible()">
        <div class="field field-select-billing">
    <label class="label"><span data-bind="i18n: 'My billing and delivery address are the same'"></span></label>
    <div class="control" data-bind="if: (addressOptions.length > 1)">
        <div class="billing-address-items">
        <!-- ko template: 'Magento_Checkout/billing-address/list' --><!-- /ko -->
            <if args="!isFormInline">
                <button type="button"
                        class="action action-show-popup"
                        click="showBillingFormPopUp"
                        visible="!isNewBillingAddressAdded()">
                    <span><p>Add new address</p></span>
                </button>
                <div id="opc-new-billing-address"
                     visible="isBillingFormPopUpVisible()"
                     render="shippingFormTemplate" />
            </if>
            </div>
    </div>
</div>
            <div data-bind="fadeVisible: isAddressFormVisible">
        <!-- ko template: 'Magento_Checkout/billing-address/form' --><!-- /ko -->
        </div>
        <div class="actions-toolbar">
            <div class="primary" data-bind="fadeVisible: isAddressFormVisible">
                <button class="action action-update" type="button" data-bind="click: updateAddress">
                    <span data-bind="i18n: 'Update'"></span>
                </button>
                <button class="action action-cancel" type="button" data-bind="click: cancelAddressEdit">
                    <span data-bind="i18n: 'Cancel'"></span>
                </button>
            </div>
        </div>
    </fieldset>

</div>