<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div id="opc-sidebar"
     data-bind="afterRender:setModalElement, mageInit: {
    'Magento_Ui/js/modal/modal':{
        'type': 'custom',
        'modalClass': 'opc-sidebar opc-summary-wrapper col-sm-4',
        'wrapperClass': 'checkout-container',
        'parentModalClass': '_has-modal-custom',
        'responsive': true,
        'responsiveClass': 'custom-slide',
        'overlayClass': 'modal-custom-overlay',
        'buttons': []
    }}">
    <span data-bind="i18n: 'Order Summary'" class="title">Order Summary</span>
    <div class="sidebar-blocks">
    <!-- ko foreach: getRegion('summary') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <div data-bind="html: window.checkoutConfig.cms_block"></div>
    </div>
    <div class="opc-block-shipping-information" style="display:none;">
        <!-- ko foreach: getRegion('shipping-information') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <!-- <div>
        <div style="border-bottom: 1px solid #ccc;height:15px;width:100%;"></div>
        <br>
        <div id="myMessage">If you have a discount code you can apply it on the next page<br></div>
        
        <center>
            <a href="https://ssl.comodo.com" target="_blank">
                <img style="border: 0px;" src="https://thechainhut.co.uk/pub/media/wysiwyg/comodo/comodo_secure_seal_113x59_transp.png" alt="Comodo Trusted Site Seal" width="113" height="59">
            </a>
        </center>
        <style type="text/css">
        #checkout-shipping-method-load .table-checkout-shipping-method thead th {
            display: none !important;
        }
        .checkout-payment-method .payment-option._collapsible .payment-option-content {
             display: block; 
        }
        .form-discount .actions-toolbar
        {
            text-align: right;
        }
        </style>
    </div> -->
</div>

