<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (visible)-->
<!-- <div class="field addresses">
    <div class="control">
        <div class="shipping-address-items"> -->
            <!-- ko foreach: { data: elems, as: 'element' } -->
            <!-- ko template: element.getTemplate() --><!-- /ko -->
            <!-- /ko -->
        <!-- </div>
    </div>
</div> -->
<!-- /ko -->
