<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$home_block = $block->getLayout()->createBlock('\Magento\Theme\Block\Html\Header\Logo');

if($this->getRequest()->getModuleName()=='catalog' && $this->getRequest()->getControllerName()=='product'){
	$is_product = true;
} else {
	$is_product = false;
}

?>
<?php // if ($crumbs && is_array($crumbs)) : ?>
<?php if(!$home_block->isHomePage()){ ?>
			<div class="container">
				<nav class="breadcrumb-nav">
				<?php if(isset($crumbs) && is_array($crumbs)){ ?>
					<div class="nav-wrapper">
                        <div class="col s12">
						<?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
							
							<?php if ($crumbInfo['link']) : ?>
								<a href="<?php /* @escapeNotVerified */ echo $crumbInfo['link'] ?>" class="breadcrumb" title="<?php echo $block->escapeHtml($crumbInfo['title']) ?>">
									<?php echo $block->escapeHtml($crumbInfo['label']) ?>
								</a>
							<?php elseif ($crumbInfo['last']) : ?>
								<a class="breadcrumb"><?php echo $block->escapeHtml($crumbInfo['label']) ?></a>
							<?php else: ?>
								<a class="breadcrumb"><?php echo $block->escapeHtml($crumbInfo['label']) ?></a>
							<?php endif; ?>

						<?php endforeach; ?>
						</div>
                    </div>
				<?php } ?>
				</nav>
			</div>
	<?php // endif; ?>
<?php } ?>