<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<span class="copyright"><?php /* @escapeNotVerified */ echo $block->getCopyright() ?></span>
<script type="text/javascript">			
var assay_assured_config = {clientid: '2a7a17be-8d73-11e7-a4b4-001999b0ee30', badgeOption: 'standard'};			    
(function() {			        
	var s = document.createElement('script');			        
	s.type = 'text/javascript';			        
	s.async = true;			        
	s.src = document.location.protocol + '//www.assayassured.co.uk/clients/assured/scripts/assay_assured.js';			        
	var t = document.getElementsByTagName('script')[0];			        
	t.parentNode.insertBefore(s, t);			      
})();		
</script>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103236031-1"></script>
<script>  window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments)};  gtag('js', new Date());  gtag('config', 'UA-103236031-1');</script> -->
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '153875152024333'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=153875152024333&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->