<?php
$rand = rand(1000,9999);
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<div class="categories-nav">
<div class="container">
<ul>
<li class="dropdownDtl"><a class="dropdown-button" href="{{config path="web/secure/base_url"}}chains" data-target="nav_chains_<?php echo $rand; ?>">Chains</a>

	<ul id="nav_chains_<?php echo $rand; ?>" class="dropdown-content nav-popup">
	    <div class="row no-mar-bot">
	        <div class="col s4 nav-gender-col no-pad-horiz">
	        	<?php
	        	$catIds = explode("|","5|6|4");
	        	//print_r($catIds);
	        	?>
	        	<?php foreach($catIds as $catID ) { ?>
	        		<?php
	        		$categoryId =  $catID ;
					$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
					$category = $_objectManager->create('Magento\Catalog\Model\Category')
					->load($categoryId);

					 $_imgHtml = '';

			        if ($_imgUrl = $category->getImageUrl()) {
			            $_imgHtml = '<img src="' . $_imgUrl . '" />';
			            $_imgHtml = $_helper->categoryAttribute($category, $_imgHtml, 'image');
			        }
	        		?>
	            	<div id="cat_<?php echo $catID;  ?>" data-id="<?php echo $catID;  ?>" class="nav-gender iamcatholder">
	                    <!-- <img src="res/gender_all.jpg" alt=""> -->
	                    <?php echo $_imgHtml;?>
	                    <p class="nav-gender-text"><?php echo $category->getName(); ?></p>
	                </div>
	        	<?php } ?>

	        </div>
	        <div class="col s8 nav-popup-links-col no-pad-right">
	        	<?php foreach($catIds as $catID ) { ?>
	        		<?php
	        		$categoryId =  $catID ;
					$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
					$category = $_objectManager->create('Magento\Catalog\Model\Category')
					->load($categoryId);
					
	        		?>
	            	 <div id="cat_child_<?php echo $catID;  ?>" class="row no-mar-bot nav-links iamcatchild cat_child_<?php echo $catID;  ?>">
	            	 	<?php
						    $subCats = $category->getChildrenCategories();
						    $theClass = 's6';
						    if(sizeof($subCats) > 24 )
						    {
						    	$theClass = 's4';
						    }
						?>
						<div class="col <?php echo $theClass; ?>">
						    <?php
						    $i=1;
						    foreach ($subCats as $subcat) {

						        $_category = $_objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
						        $subcaturl = $subcat->getUrl();
						        $_imgHtml = '';

						        if ($_imgUrl = $_category->getImageUrl()) {
						            $_imgHtml = '<img class="nav-popup-icon" src="' . $_imgUrl . '" />';
						            $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
						        } ?>
						        <a class="nav-popup-links valign-wrapper" href="<?php echo $subcaturl ?>">
						        	<!-- <img class="nav-popup-icon" src="res/anchor_icon.svg" alt=""> -->
						        	<?php echo $_imgHtml;?>
	                                <p><?php echo $subcat->getName(); ?></p>
	                            </a>
						        <?php
							    if($i==12)
							    {
							    	$i=0;
						    	?>
						    	</div>
						    	<div class="col <?php echo $theClass; ?>">
						    	<?php
							    }
							    $i++;
						        ?>
						    <?php } ?>
						</div>

	            	 </div>
	        	<?php } ?>
	            
	        </div>
	    </div>
	</ul>

</li>
<li class="dropdownDtl" ><a class="dropdown-button" href="{{config path="web/secure/base_url"}}bracelets" data-target="nav_bracelets_<?php echo $rand; ?>">Bracelets</a>

	<ul id="nav_bracelets_<?php echo $rand; ?>" class="dropdown-content nav-popup">
	    <div class="row no-mar-bot">
	        <div class="col s4 nav-gender-col no-pad-horiz">
	        	<?php
	        	$catIds = explode("|","5|6|4");
	        	//print_r($catIds);
	        	?>
	        	<?php foreach($catIds as $catID ) { ?>
	        		<?php
	        		$categoryId =  $catID ;
					$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
					$category = $_objectManager->create('Magento\Catalog\Model\Category')
					->load($categoryId);

					 $_imgHtml = '';

			        if ($_imgUrl = $category->getImageUrl()) {
			            $_imgHtml = '<img src="' . $_imgUrl . '" />';
			            $_imgHtml = $_helper->categoryAttribute($category, $_imgHtml, 'image');
			        }
	        		?>
	            	<div id="cat_<?php echo $catID;  ?>" data-id="<?php echo $catID;  ?>" class="nav-gender iamcatholder">
	                    <!-- <img src="res/gender_all.jpg" alt=""> -->
	                    <?php echo $_imgHtml;?>
	                    <p class="nav-gender-text"><?php echo $category->getName(); ?></p>
	                </div>
	        	<?php } ?>

	        </div>
	        <div class="col s8 nav-popup-links-col no-pad-right">
	        	<?php foreach($catIds as $catID ) { ?>
	        		<?php
	        		$categoryId =  $catID ;
					$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
					$category = $_objectManager->create('Magento\Catalog\Model\Category')
					->load($categoryId);
					
	        		?>
	            	 <div id="cat_child_<?php echo $catID;  ?>" class="row no-mar-bot nav-links iamcatchild cat_child_<?php echo $catID;  ?>">
	            	 	<?php
						    $subCats = $category->getChildrenCategories();
						    $theClass = 's6';
						    if(sizeof($subCats) > 24 )
						    {
						    	$theClass = 's4';
						    }
						?>
						<div class="col <?php echo $theClass; ?>">
						    <?php
						    $i=1;
						    foreach ($subCats as $subcat) {

						        $_category = $_objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
						        $subcaturl = $subcat->getUrl();
						        $_imgHtml = '';

						        if ($_imgUrl = $_category->getImageUrl()) {
						            $_imgHtml = '<img class="nav-popup-icon" src="' . $_imgUrl . '" />';
						            $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
						        } ?>
						        <a class="nav-popup-links valign-wrapper" href="<?php echo $subcaturl ?>">
						        	<!-- <img class="nav-popup-icon" src="res/anchor_icon.svg" alt=""> -->
						        	<?php echo $_imgHtml;?>
	                                <p><?php echo $subcat->getName(); ?></p>
	                            </a>
						        <?php
							    if($i==12)
							    {
							    	$i=0;
						    	?>
						    	</div>
						    	<div class="col <?php echo $theClass; ?>">
						    	<?php
							    }
							    $i++;
						        ?>
						    <?php } ?>
						</div>

	            	 </div>
	        	<?php } ?>
	            
	        </div>
	    </div>
	</ul>
</li>
<li><a href="{{config path="web/secure/base_url"}}necklaces">Necklaces</a></li>
<li><a href="{{config path="web/secure/base_url"}}pendants">Pendants</a></li>
<li><a href="{{config path="web/secure/base_url"}}offers-page">Offers</a></li>
<li><a href="{{config path="web/secure/base_url"}}blog">Blog</a></li>
</ul>
</div>
</div>

<style type="text/css">
li.dropdownDtl {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;   
}
.dropdownDtl:hover .dropdown-content {
    display: block;
    opacity: 1;
}

</style>
<script type="text/javascript">
// require(['jquery'], function () {
// 	jQuery(document).ready(function () {
// 		console.log('here in dropdown');
// 		jQuery("#nav_chains_<?php echo $rand; ?>").dropdown({
// 		        inDuration: 100,
// 		        outDuration: 225,
// 	        constrainWidth: false, // Does not change width of dropdown to that of the activator
// 	        hover: true, // Activate on hover
// 	        gutter: -4, // Spacing from edge
// 	        alignment: 'left' // Displays dropdown with edge aligned to the left of button
// 	    });
// 	    jQuery("#nav_bracelets_<?php echo $rand; ?>").dropdown({
// 		        inDuration: 100,
// 		        outDuration: 225,
// 	        constrainWidth: false, // Does not change width of dropdown to that of the activator
// 	        hover: true, // Activate on hover
// 	        gutter: -4, // Spacing from edge
// 	        alignment: 'left' // Displays dropdown with edge aligned to the left of button
// 	    });
// 	}); 
// });
</script>