<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<ul id="<?php echo $this->getHolders(); ?>" class="dropdown-content nav-popup">
    <div class="row no-mar-bot">
        <div class="col s4 nav-gender-col no-pad-horiz">
        	<?php

        	//$newData = "7:|5:17,89,90,91,92,93,94,95|6:18,142,143,144,145,146,147|4:13,124,125,126,126,127";
        	//$newData = "7:21,22,23,24,25,27,28,30,31,32,33,34,36,37,35,38,39,41,108,162,161|5:17,89,90,91,92,93,94,95,96,97,98,99,100,102,103,101,104,105,106,154,164|6:18,142,143,144,145,146,147,158,159,148,150,149,151,152|4:13,124,125,126,127,128,129,130,131,132,133,134,135,137,138,136,139,140,141";

        	$newData =  $this->getCats();

        	$dataItem = explode("|",$newData);
        	$catIds = array();
			$subCatArray= array();
        	foreach($dataItem as $dataSubItem ) 
        	{
        		$dataSubItemItem = explode(":",$dataSubItem);
        		$catIds[]=$dataSubItemItem[0];
        		//$subCatIds = $dataSubItemItem[1];
        		$subCatArray[$dataSubItemItem[0]] = explode(",",$dataSubItemItem[1]);
        	}
   

        	// $catIds = explode("|",$this->getCats());
        	//print_r($subCatArray); exit;
        	?>
        	<?php foreach($catIds as $catID ) { ?>
        		<?php
        		$categoryId =  $catID ;
				$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
				$category = $_objectManager->create('Magento\Catalog\Model\Category')
				->load($categoryId);

				 $_imgHtml = '';

		        if ($_imgUrl = $category->getImageUrl()) {
		            $_imgHtml = '<img src="' . $_imgUrl . '" />';
		            $_imgHtml = $_helper->categoryAttribute($category, $_imgHtml, 'image');
		        }
        		?>
            	<div id="cat_<?php echo $catID;  ?>" data-id="<?php echo $catID;  ?>" class="nav-gender iamcatholder">
                    <!-- <img src="res/gender_all.jpg" alt=""> -->
                    <?php echo $_imgHtml;?>
                    <p class="nav-gender-text"><?php echo $category->getName(); ?></p>
                </div>
        	<?php } ?>

        </div> 
        <div class="col s8 nav-popup-links-col no-pad-right">
        	<?php foreach($catIds as $catID ) { ?>
        		<?php
        		$categoryId =  $catID ;
				$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
				$category = $_objectManager->create('Magento\Catalog\Model\Category')
				->load($categoryId);
				
        		?>
            	 <div id="cat_child_<?php echo $catID;  ?>" class="row no-mar-bot nav-links iamcatchild cat_child_<?php echo $catID;  ?>">
            	 	<?php
					    // $subCats = $category->getChildrenCategories();
					    // $theClass = 's6';
					    // if(sizeof($subCats) > 24 )
					    // {
					    // 	$theClass = 's4';
					    // }
            	 		//$subCats = $category->getChildrenCategories();
					    $theClass = 's6';
					    if(sizeof( $subCatArray[$catID] ) > 24 ) // $subCatArray[$catID]
					    {
					    	$theClass = 's4';
					    }
					?>
					<div class="col <?php echo $theClass; ?>">
					    <?php
					    $i=1;
					    //foreach ($subCats as $subcat) {
					    foreach ( $subCatArray[$catID] as $subcat) {

					        //$_category = $_objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
					        $_category = $_objectManager->create('Magento\Catalog\Model\Category')->load( $subcat );
					        $subcaturl = $_category->getUrl();
					        $_imgHtml = '';

					        if ($_category->getIncludeInMenu())
					        {
						        if ($_imgUrl = $_category->getImageUrl()) {
						            $_imgHtml = '<img class="nav-popup-icon" src="' . $_imgUrl . '" width="170" height="35"  />';
						            $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
						        }
						        else
	                            {
	                                $_imgHtml = '<img src="'.$block->getViewFileUrl('res/thechainhut_new_logo_icon.svg').'" class="nav-popup-icon" width="170" height="35"  style="width:54px !important">';
	                            } 
	                            ?>
						        <a class="nav-popup-links valign-wrapper" href="<?php echo $subcaturl ?>">
						        	<!-- <img class="nav-popup-icon" src="res/anchor_icon.svg" alt=""> -->
						        	<?php echo $_imgHtml;?>
	                                <p><?php echo $_category->getName(); ?></p>
	                            </a>
						        <?php
							    if($i==12)
							    {
							    	$i=0;
						    	?>
						    	</div>
						    	<div class="col <?php echo $theClass; ?>">
						    	<?php
							    }
							    $i++;
						    }
					        ?>
					    <?php } ?>
					</div>

            	 </div>
        	<?php } ?>
            
        </div>
    </div>
</ul>
        