n<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
  $footer_status = $this->getConfig('feather_general/feather_footer/custom_footer');
  $footer_block = $this->getConfig('feather_general/feather_footer/custom_footer_block');
  $footer_block = $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($footer_block)->toHtml();
  $footer_default = $this->getChildHtml('footer');
?>
<style type="text/css">
@supports (-webkit-overflow-scrolling: touch) 
{
    .search-bar-desktop .search-btn 
    {
        top: 12px;
    }
}
</style>
<?php
/*
<div class="footer-container allpage-footer">
  <div class="footer">
      <?php //echo ($footer_status ? $footer_block : $footer_default); ?>
  </div>
  */
  ?>
  <!-- <footer class="page-footer"> -->

        <div class="footer-newsletter">
            <h5 class="white-text no-mar-vert">Sign up and save 10% off your first order</h5>
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('newsletter_subscribe')->toHtml(); ?>
        </div>

        <div class="container">
            <div class="row footer-row">
                
                 <div class="col s12 l3 customer-col active">
                    <h5 class="white-text">Customer Care</h5>
                    <ul>
                        <li><a class="footer-links" href="<?php echo $this->getUrl("contact-us-page"); ?>" >Contact Us</a></li>
                        <li><a class="footer-links" href="<?php echo $this->getUrl("delivery-returns"); ?>">Delivery & Returns</a></li>
                        <li><a class="footer-links" href="<?php echo $this->getUrl("faqs"); ?>">FAQs</a></li>
                        <li><a class="footer-links" href="<?php echo $this->getUrl("silver-care"); ?>">Silver Care</a></li>
                        <li><a class="footer-links" href="<?php echo $this->getUrl("size-guide"); ?>">Size Guide</a></li>
                        <li><a class="footer-links" href="<?php echo $this->getUrl("jewellery-jargon"); ?>">Jewellery Jargon</a></li>
                        <li><a class="footer-links" href="<?php echo $this->getUrl("necklace-chain-style-type-guide"); ?>">Chain Style Guide</a></li>
                    </ul>
                </div>

                <div class="col s12 l3 about-col">
                    <h5 class="white-text">About Us</h5>
                    <ul>
                        <li><a class="footer-links" href="<?php echo $this->getUrl("why-choose-us"); ?>" target="_blank">Why Choose Us?</a></li>
                        <li><a class="footer-links" href="<?php echo $this->getUrl("cookie-policy"); ?>" target="_blank">Cookie Policy</a></li>
                        <li><a class="footer-links" href="<?php echo $this->getUrl("privacy-policy"); ?>" target="_blank">Privacy Policy</a></li>
                        <li><a class="footer-links" href="<?php echo $this->getUrl("terms-conditions"); ?>" target="_blank">Terms and Conditions</a></li>
                        <li><a class="footer-links" href="<?php echo $this->getUrl("hallmarking-assay-assured"); ?>">Assay Assured & Hallmarking</a></li>
                        <li><a class="footer-links" href="<?php echo $this->getUrl("offers-page"); ?>">Offers & Promotions</a></li>
                        <li><a class="footer-links" href="<?php echo $this->getUrl("blog"); ?>">Blog</a></li>

                    </ul>
                </div>
               

                <div class="col s12 l3 social-col">
                    <h5 class="white-text">Social Media</h5>

                    <ul class="social-icons-list">
                        <li><a href="https://www.facebook.com/thechainhut.co.uk/" target="_blank"><img src="<?php echo $block->getViewFileUrl('res/social-facebook.svg'); ?>" alt="social_fb"><span>Facebook</span></a></li>
                        <li><a href="https://twitter.com/TheChainHut/" target="_blank"><img src="<?php echo $block->getViewFileUrl('res/social-twitter.svg'); ?>" alt="social_twitter"><span>Twitter</span></a></li>
                        <li><a href="https://www.instagram.com/thechainhut/" target="_blank"><img src="<?php echo $block->getViewFileUrl('res/social-instagram.svg'); ?>" alt="social_insta"><span>Instagram</span></a></li>
                        <li><a href="https://www.instagram.com/thechainhut/" target="_blank"><img src="<?php echo $block->getViewFileUrl('res/social-pinterest.svg'); ?>" alt="social_insta"><span>Pinterest</span></a></li>
                        <li><a href="https://www.instagram.com/thechainhut/" target="_blank"><img src="<?php echo $block->getViewFileUrl('res/social-youtube.svg'); ?>" alt="social_insta"><span>YouTube</span></a></li>
                    </ul>
                </div>

                <!--  -->
                <div class="col s12 l3 cert-col" data-mh="payment-col">
                    <h5 class="white-text">Trusted Certifications</h5>

                    <ul class="cert-list">
                        <li><a href="https://www.assayassured.co.uk/clients/assured/certificates/2a7a17be-8d73-11e7-a4b4-001999b0ee30.php" target="_blank"><img src="<?php echo $block->getViewFileUrl('res/assay-assured-logo.png'); ?>" alt="social_fb"><span>UK Assay Office Approved</span></a></li>
                        <li><a><img src="<?php echo $block->getViewFileUrl('res/footer_comodo.png'); ?>" alt="social_twitter"><span>SSL Secure Encrypted Website</span></a> </li>
                    </ul>
                </div>
                <!--  -->
                
                
            </div>

            <div class="payment-div">
                <ul class="payment-list">
                    <li><a><img src="<?php echo $block->getViewFileUrl('res/footer_visa.png'); ?>" alt="social_fb"></a></li>
                    <li><a><img src="<?php echo $block->getViewFileUrl('res/footer_mc.png'); ?>" alt="social_twitter"></a></li>
                    <li><a><img src="<?php echo $block->getViewFileUrl('res/footer_maestro.png'); ?>" alt="social_insta"></a></li>
                    <li><a><img src="<?php echo $block->getViewFileUrl('res/footer_ae.png'); ?>" alt="social_insta"></a></li>
                    <li><a><img src="<?php echo $block->getViewFileUrl('res/footer_sage.png'); ?>" alt="social_insta"></a></li>
                </ul>
            </div>

        </div>

        <!-- <div class="footer-payments">
            <div class="container">
                <div class="row no-mar-bot">
                    <div class="col s7 payment-col" data-mh="payment-col">
                        <h5 class="white-text">Payment Options</h5>

                        <ul class="social-icons-list payment-list">
                            <li><a><img src="<?php echo $block->getViewFileUrl('res/footer_visa.png'); ?>" alt="social_fb"></a></li>
                            <li><a><img src="<?php echo $block->getViewFileUrl('res/footer_mc.png'); ?>" alt="social_twitter"></a></li>
                            <li><a><img src="<?php echo $block->getViewFileUrl('res/footer_maestro.png'); ?>" alt="social_insta"></a></li>
                            <li><a><img src="<?php echo $block->getViewFileUrl('res/footer_ae.png'); ?>" alt="social_insta"></a></li>
                            <li><a><img src="<?php echo $block->getViewFileUrl('res/footer_sage.png'); ?>" alt="social_insta"></a></li>
                        </ul>
                    </div>

                    <div class="col s5 cert-col" data-mh="payment-col">
                        <h5 class="white-text">Trusted Certifications</h5>

                        <ul class="social-icons-list payment-list cert-list">
                            <li><a href="https://www.assayassured.co.uk/clients/assured/certificates/2a7a17be-8d73-11e7-a4b4-001999b0ee30.php" target="_blank"><img src="<?php echo $block->getViewFileUrl('res/assay-assured-logo.png'); ?>" alt="social_fb"></a></li>
                            <li><a><img src="<?php echo $block->getViewFileUrl('res/footer_comodo.png'); ?>" alt="social_twitter"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <?php
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
        $currentPageXML = $request->getFullActionName();
        if($currentPageXML != 'checkout_index_index') { ?>
        <div class="footer-copyright">
            
                <span class="center">© 2019 The Chain Hut - All Rights Reserved</span>
            
        </div>
        <?php } else { ?>
        <div class="footer-copyright">
            <div class="container">
                <div class="row no-mar-bot">
                    <div class="col s12 m6 l6">
                        <span class="" style="display:inline-block;">© 2019 The Chain Hut - All Rights Reserved</span>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="bottom-link-container">
						<a class="footer-links" href="<?php echo $this->getUrl("cookie-policy"); ?>" target="_blank">Cookie Policy</a>
						<a class="footer-links" href="<?php echo $this->getUrl("privacy-policy"); ?>" target="_blank">Privacy Policy</a>
						<a class="footer-links" href="<?php echo $this->getUrl("terms-conditions"); ?>" target="_blank">Terms and Conditions</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    <?php } ?>
    <!-- </footer> -->
    <?php
    /*
</div>
*/
?>

<svg version="1.1" id="top_btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" style="display: none;" xml:space="preserve">
    <style type="text/css">
        .st0{fill:#FFFFFF;}
    </style>
    <g>
        <circle cx="20" cy="20" r="20"></circle>
    </g>
    <path class="st0" d="M13.5,22.5L15,24l5-4.9l5,4.9l1.5-1.5L20,16L13.5,22.5z"></path>
</svg>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-103236031-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-103236031-1');
</script>
<!-- Hotjar Tracking Code for www.thechainhut.co.uk -->
<?php /* ?>
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1058200,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<?php
*/
?>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '153875152024333'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" src="https://www.facebook.com/tr?id=153875152024333&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->