<?php
	$_helper = $this->helper('Magento\Catalog\Helper\Output');
	$calssName =  $this->getClname(); 
	$catIds = explode("|",$this->getCats());
?>
<?php foreach($catIds as $catID ) { ?>
	<?php
	$categoryId =  $catID ;
	$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$category = $_objectManager->create('Magento\Catalog\Model\Category')
	->load($categoryId);

	$_category = $_objectManager->create('Magento\Catalog\Model\Category')->load($categoryId);
    $subcaturl = $_category->getUrl();
    $_imgHtml = '';

    if ($_imgUrl = $_category->getImageUrl()) 
    {
        $_imgHtml = '<img class="nav-popup-icon" src="' . $_imgUrl . '" />';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    }

	?>
	<div class="carousel-item <?php echo $calssName; ?>">
		<a href="<?php echo $_category->getUrl(); ?>">
        <div class="chains-item-inner-wrapper">
            <?php //echo $_imgHtml;
            	$imgurL="";
				//echo  $_category->getAdditionalImage();
				if($_category->getAdditionalImage()!="")
				{
					?>
					<img class="chain-item-img" src="<?php echo $_category->getAdditionalImage(); ?>" >
					<?php
				}
				else
				{
					?>
					<img class="chain-item-img" src="https://www.mydemosite.biz/demo/m2/tch/res/homepage-images/chain-images/womens-ball-chain.jpg" >
					<?php
				}
            ?>
            
            <p class="chain-item-name"><?php echo $_category->getName(); ?></p>
        </div>
    	</a>
    </div>

	 
<?php } ?>