<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
 <div class="collapsible-body">
    <ul>
        <li>
            <ul class="collapsible4" data-collapsible="accordian">
            <?php
            //$catIds = explode("|",$this->getCats());
            //print_r($catIds);

            $newData =  $this->getCats();

            $dataItem = explode("|",$newData);
            $catIds = array();
            $subCatArray= array();
            foreach($dataItem as $dataSubItem ) 
            {
                $dataSubItemItem = explode(":",$dataSubItem);
                $catIds[]=$dataSubItemItem[0];
                //$subCatIds = $dataSubItemItem[1];
                $subCatArray[$dataSubItemItem[0]] = explode(",",$dataSubItemItem[1]);
            }

            ?>
            <?php foreach($catIds as $catID ) { ?>
                <?php
                $categoryId =  $catID ;
                $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $category = $_objectManager->create('Magento\Catalog\Model\Category')
                ->load($categoryId);
                ?>
                <li class="second-header">
                    <div class="collapsible-header">
                        <?php echo $category->getName(); ?><i class="material-icons right">chevron_right</i>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                        <?php
                        $subCats =$subCatArray[$catID] ; // $category->getChildrenCategories();
                        foreach ($subCats as $subcat) 
                        {

                                    $_category = $_objectManager->create('Magento\Catalog\Model\Category')->load($subcat);
                                    $subcaturl = $_category->getUrl();
                                    $_imgHtml = '';
                                    if ($_category->getIncludeInMenu())
                                    {
                                        if ($_imgUrl = $_category->getImageUrl()) {
                                            $_imgHtml = '<img class="nav-popup-icon"   src="' . $_imgUrl . '" width="170" height="35"  />';
                                            $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
                                        } 
                                        else
                                        {
                                            $_imgHtml = '<img src="'.$block->getViewFileUrl('res/thechainhut_new_logo_icon.svg').'" class="nav-popup-icon"  >';
                                        } 
                                        ?>
                                        <a class="valign-wrapper" href="<?php echo $subcaturl ?>">
                                            <?php echo $_imgHtml;?>
                                            <p><?php echo $_category->getName(); ?></p>
                                        </a>
                                        <?php
                                    }
                                    ?>
                                   
                        <?php
                        } 
                        ?>

                        </ul>
                    </div>
                </li>
            <?php } ?>
            </ul>
        </li>
    </ul>
</div>