<?php
	$meigee_helper = $this->helper('\Meigee\Feather\Helper\FeatherGeneral');
	$contentWidth = $meigee_helper->getCustomThemeOptionCnf('feather_layout', 'container_width');
	$sticky_opacity = $meigee_helper->getCustomThemeOptionCnf('feather_header', 'sticky_header_opacity');
?>
	<link href='//fonts.googleapis.com/css?family=Lato:300,400,500,700' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no">

<meta name="theme-color" content="#383838">

<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-status-bar-style" content="black">
<style type="text/css">
	body.boxed-layout .container,
	body .container {max-width: <?php echo $contentWidth; ?>px; width: 100%;}
	#sticky-header {opacity: <?php echo $sticky_opacity/100; ?>;}
</style>
