<?php

/**

 * Copyright © 2015 Magento. All rights reserved.

 * See COPYING.txt for license details.

 */



// @codingStandardsIgnoreFile



/**

 * @var $block \Magento\Theme\Block\Html\Title

 */

$cssClass = $block->getCssClass() ? ' ' . $block->getCssClass() : '';

$title = '';

if (trim($block->getPageHeading())) {

    $title = '<span class="base" data-ui-id="page-title-wrapper" ' .  $block->getAddBaseAttribute() . '>'

        . $block->escapeHtml($block->getPageHeading()) . '</span>';

}

?>

<?php if ($title): ?>

<div class="page-title-wrapper<?php /* @escapeNotVerified */ echo $cssClass; ?> test">

    <h1 class="page-title"

        <?php if ($block->getId()): ?> id="<?php /* @escapeNotVerified */ echo $block->getId();?>" <?php endif; ?>

        <?php if ($block->getAddBaseAttributeAria()): ?>

            aria-labelledby="<?php /* @escapeNotVerified */ echo $block->getAddBaseAttributeAria(); ?>"

        <?php endif; ?>>

        <?php /* @escapeNotVerified */ echo $title ?>

    </h1>
     <?php
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
        $currentPageXML = $request->getFullActionName();
        if($currentPageXML == 'checkout_index_index') { ?>
        <span><a href="tel:01162 335 587" title="01162 335 587" ><i class="tch-icon phone_filled-icon"></i>Need help? Call us</a></span>
        <?php }?>

    <?php echo $block->getChildHtml(); ?>

</div>

<?php endif; ?>

