<?php // @codingStandardsIgnoreFile ?>
<?php /** @var $block \Aheadworks\SocialLogin\Block\Customer\Login */ ?>
<?php $providers = $block->getProviders(); ?>
<?php if(count($providers)): ?>
    <?php $count =1; ?>
    <?php foreach($providers as $provider): ?>
    <div class="col s6 no-pad-<?php echo ($count%2== 0 ? "right" : "left" ); $count++; ?>">
        <a href="<?php echo $block->escapeUrl($block->getLoginUrl($provider)) ?>"
           data-post='<?php /* @noEscape */ echo $block->getLoginPostData($provider); ?>'
           class="no-social-login-btn no-social-login-btn-<?php echo $block->escapeUrl($provider->getConfig()->getCode()); ?>">
            <button class="cta-btn social-login-btns">
                <i class="tch-icon <?php echo $block->escapeUrl($provider->getConfig()->getCode()); ?>-icon">
                    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                </i>
                <?php /* @noEscape */ echo __('%1', $provider->getConfig()->getTitle()); ?>
            </button>
         </a>
    </div>

    <?php endforeach; ?>

<?php endif; ?>
