<?php /** * Copyright © 2015 Magento. All rights reserved. * See COPYING.txt for license details. */ /** @var Magento\Customer\Block\Account\Customer $block */ ?> <?php if($block->customerLoggedIn()): ?> <li class="customer-welcome"><span class="customer-name" role="link" tabindex="0" data-mage-init='{"dropdown":{}}' data-toggle="dropdown" data-trigger-keypress-button="true" data-bind="scope: 'customer'"><span data-bind="text: customer().fullname"></span> <button type="button" class="action switch" tabindex="-1" data-action="customer-menu-toggle"><span><?php echo $block->escapeHtml(__('Change'))?></span></button></span> <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "customer": {
                            "component": "Magento_Customer/js/view/customer"
                        }
                    }
                }
            }
        }</script><?php if($block->getChildHtml()):?> <div class="customer-menu" data-target="dropdown"><?php echo $block->getChildHtml();?></div><?php endif; ?></li> <?php endif; ?>