<?php if($this->isPopupEnabled() && $this->isContactEnabled()){ ?> <script type="text/javascript">
    require(['jquery', 
        
       
        
        
        'jquery/ui' 
    ], function ($) {

            

                $('#pop_button').click(function() {
                 if($(this).css("margin-left") == "300px" || $(this).css("margin-left") == "280px")
                {
                    $('.popup').animate({"margin-left": '-=300'});
                    $('#pop_button').animate({"margin-left": '-=280'});
                }
                else
                {
                    $('.popup').animate({"margin-left": '+=300'});
                    $('#pop_button').animate({"margin-left": '+=280'});
                }


    });

                $('#pop_button-right').click(function() {
                

                if($(this).css("margin-right") == "300px" || $(this).css("margin-right") == "280px")
                {
                    $('.popup-right').animate({"margin-right": '-=300'});
                    $('#pop_button-right').animate({"margin-right": '-=280'});
                }
                else
                {
                    $('.popup-right').animate({"margin-right": '+=300'});
                    $('#pop_button-right').animate({"margin-right": '+=280'});
                }


            
        
    });
                
     
     });
    function myFunction() {
        var exists = document.getElementById("g-recaptcha-response");

    if(exists == null){
            
    }
    else{
            var check = document.getElementById("g-recaptcha-response").value;
           
            if(check=='' || check == null){
                document.getElementById("recaptcha").style.border = "1px solid #ea0e0e";
                return false;
            }
            else{
                document.getElementById("recaptcha").style.border = "none";
                return true;
            }
        }
            
   
}</script><?php $om = \Magento\Framework\App\ObjectManager::getInstance(); $obj = $om->get('Magento\Framework\HTTP\PhpEnvironment\RemoteAddress'); $ip = $obj->getRemoteAddress(); $xml = simplexml_load_file("http://www.geoplugin.net/xml.gp?ip=".$ip); $country = $xml->geoplugin_countryName ; ?> <div id="leftcontact" <?php if($this->popupposition() == 0) { echo "class=popup"; } else{ echo "class=popup-right"; }?> data-value="hide"><div id="bcontactForm" name="bMyform" class="block contactFormheader" style="width:253px;border:solid 0.1px;border-radius:5px;float:left;padding-left:0px;background:white;padding:10px;"><strong><span><?php echo $this->pageheading(); ?></span></strong> <br> <form <?php if($this->isCaptchaEnabled()){ echo "style=height:515px;overflow:auto;overflow-x:hidden"; } else { echo "style=height:450px;overflow:auto;overflow-x:hidden"; } ?> class="form contact" action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>" id="contact-form" name="contact-form" onsubmit="return myFunction()" method="post" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}'><fieldset class="fieldset"><div class="field name required"><label class="label" for="name"><span><?php /* @escapeNotVerified */ echo __($this->nametittle()) ?></span></label> <div class="control"><input name="name" style="width:250px;height:22px;" id="name" title="<?php /* @escapeNotVerified */ echo __($this->nametittle()) ?>" class="input-text" type="text" data-validate="{required:true}"/></div></div><div class="field email required"><label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __($this->emailtittle()) ?></span></label> <div class="control"><input name="email" style="width:250px;height:22px;" id="email" title="<?php /* @escapeNotVerified */ echo __($this->emailtittle()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/></div></div><?php if($this->phonetittle() != '') {?> <div class="field telephone"><label class="label" for="telephone"><span><?php /* @escapeNotVerified */ echo __($this->phonetittle()) ?></span></label> <div class="control"><input name="phone" style="width:250px;height:22px;" id="telephone" title="<?php /* @escapeNotVerified */ echo __($this->phonetittle()) ?>" class="input-text" type="text" /></div></div><?php } ?> <?php if($this->subjecttittle() != '') {?> <div class="field subject"><label class="label" for="subject"><span><?php /* @escapeNotVerified */ echo __($this->subjecttittle()) ?></span></label> <div class="control"><input name="subject" style="width:250px;height:22px;" id="subject" title="<?php /* @escapeNotVerified */ echo __($this->subjecttittle()) ?>" class="input-text" type="text" /></div></div><?php } ?> <div class="field comment required"><label class="label" for="comment"><span><?php /* @escapeNotVerified */ echo __($this->messagetittle()) ?></span></label> <div class="control"><textarea name="message" style="width:250px;height:60px;" id="comment" title="<?php /* @escapeNotVerified */ echo __($this->messagetittle()) ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea></div></div><?php if($this->isCaptchaEnabled()) { ?> <div class="g-recaptcha" style="height:77px;transform:scale(0.77);-webkit-transform:scale(0.83);transform-origin:0 0;-webkit-transform-origin:0 0;" name="recaptcha" id="recaptcha" data-sitekey="<?php echo $this->getsitekey(); ?>"></div><div ><p style=" cursor: auto; /* text-decoration: underline; */ color: #9b9b9b; text-align: center; font-family: Roboto,helvetica,arial,sans-serif; font-size: 8px; font-weight: 400; margin-top: -38px; ">by <a style="color: #9b9b9b;" rel="no-follow" target="_Blank" href="https://www.fmeextensions.com/quick-contact-magento-2.html">Fmeextensions</a></p></div><?php } ?> <br><br> <div class="actions-toolbar"><div class="primary"><input type="hidden" name="ip" id="ip" value="<?php echo $ip; ?>" /><input type="hidden" name="country" id="country" value="<?php echo $country; ?>" /><input type="hidden" name="hideit" id="hideit" value="" /><button type="submit" name="submit" id="submit" title="<?php /* @escapeNotVerified */ echo __($this->buttontext()) ?>" class="action submit primary"><span><?php /* @escapeNotVerified */ echo __($this->buttontext()) ?></span></button></div></div></fieldset></form></div></div><div <?php if($this->popupposition() == 0) { echo "class=share_box"; } else{ echo "class=share_box-right"; }?> <?php if($this->popupposition() == 0) { echo "id=pop_button"; } else{ echo "id=pop_button-right"; }?>><!-- <a href="#" class="pull_leftcontact" title="Click to Contact Us">Contact Us</a> --><img src="<?php echo $this->getViewFileUrl('FME_Contactus::images/contact.png'); ?>"></div><?php } ?> <style type="text/css"> #recaptcha { display: inline-block; position: relative; } .share_box{ position:fixed; width:40px; left: 0px; z-index: 1000; top: 200px; height: 155px; } .share_box-right{ position:fixed; width:40px; right: 0px; z-index: 1000; top: 200px; height: 155px; } .rc-anchor-normal { height: 74px; width: 250px; } .popup{ position:fixed; width:40px; left: 5px; z-index: 1000; top: 100px; height: 155px; margin-left: -300px; } .popup-right{ position:fixed; width:40px; right: 5px; z-index: 1000; top: 100px; height: 155px; margin-right: -65px; }</style>