<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<style>
.hideMe
{
    display: none !important;
}
</style>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="row quantity-row valign-wrapper">
    <div class="col s12 m5 l5 qty-col-1">
       

            <?php if ($block->shouldRenderQuantity()): ?>
	        <div class="quantity-counter">
	            <!-- <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label> -->
	            <div class="quantity-minus" onclick="qtyDown()">
	                <img src="<?php echo $block->getViewFileUrl('res/minus-sign.svg'); ?>"   alt="minus">
	            </div>
				<input type="text"
                       name="qty"
                       id="qty"
                       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="quantity-display input-text qty"
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       style="line-height:20px;"
                       />
				<div class="quantity-plus" onclick="qtyUp()">
	                <img src="<?php echo $block->getViewFileUrl('res/plus-sign.svg'); ?>"  alt="plus">
	            </div>
	            
	        </div>
	        <?php endif; ?>
            
        
    </div>

    <div class="col s6 m9 qty-cta-col qty-col-2">
        <!-- <button class="cta-btn add-to-bag-btn modal-trigger" data-target="go_to_bag_modal"><i class="tch-icon bag_empty-icon"></i>Add to Bag</button> -->
        <button type="submit"
                title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                class="cta-btn add-to-bag-btn modal-trigger action  btn-cart type-2 btn-cart tocart"
                id="product-addtocart-button" style="background-color:#383838 !important;">
            	<i class="tch-icon bag_empty-icon"></i><span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
        </button>

         <!-- <button type="submit"
                title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                class="action btn btn-primary btn-cart type-2 btn-cart tocart"
                id="product-addtocart-button">
            <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
        </button> -->
        <?php echo $block->getChildHtml('', true) ?>

    </div>
    <div class="col s6 m9 qty-cta-col qty-col-3">
        <button class="cta-btn buy-now-btn" id="iambuynon"><i class="tch-icon thunder-icon"></i>Buy now</button>
    </div>
   
</div>

 
<div class="row pricing-row" id="iammain">
    <div class="col s12 valign-wrapper" >
        <div class="pricing-wrapper" id="iamfirstinprice">
           
        </div>
        
        <div class="product-interaction-btns right">
            <!-- <a href="#" data-post='<?php  echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product) ?>' data-action="add-to-wishlist" class="modal-trigger wishlist-btn"><i class="tch-icon heart_empty-icon"></i></a> -->
            <a data-target="#share_modal" class="custom-modal-trigger share-btn"><i class="tch-icon share-icon"></i></a>
        </div>
    </div>
</div>


	<?php if ($block->shouldRenderQuantity()): ?>
		<script type="text/javascript">
			var qty_el = document.getElementById('qty');
			var qty = qty_el.value;
			// if(qty < 2){
				// jQuery('.quantity_box_button_down').css({
				// 'visibility' : 'hidden'
				// });
			// }
			function qtyDown(){
				var qty_el = document.getElementById('qty');
				var qty = qty_el.value;
				// if( qty == 2) {
				// jQuery('.quantity_box_button_down').css({
					// 'visibility' : 'hidden'
				// });
				// }
				if( !isNaN( qty ) && qty > 0 ){
				qty_el.value--;
				}
				return false;
			}

			function qtyUp(){
				var qty_el = document.getElementById('qty');
				var qty = qty_el.value;
				if( !isNaN( qty )) {
				qty_el.value++;
				}
				// jQuery('.quantity_box_button_down').css({
				// 'visibility' : 'visible'
				// });
				return false;
			}
		</script>
	<?php endif; ?>
<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php endif; ?>
<script type="text/javascript">
require(['jquery'], function () {
			jQuery(document).ready(function () {
				jQuery("#qty").change(function(){
					var qauntity = jQuery('#qty').val();
					if (qauntity > 99) {
						jQuery('#qty').val(99);
					}
				});
                jQuery("#product-addtocart-button").click(function(event){
                    if(allowToAdd === false )
                    {
                        
                        jQuery("#selectSize").css('display','inline-flex');
                        document.location="#addMeA";
                        event.preventDefault();
                    }
                    else
                    {
                        countBagUpdate++;
                        jQuery(".messages").addClass('hideMe');
                    }
                });
                jQuery("#iambuynon").click(function(event){
                    event.preventDefault();
                    if(allowToAdd === false )
                    {
                        
                        jQuery("#selectSize").css('display','inline-flex');
                        document.location="#addMeA";
                        event.preventDefault();
                    }
                    else
                    {
                        jQuery("#buy-now").trigger('click');
                    }
                });
                
                // change add to div location
                jQuery( "#iammain" ).insertBefore( ".bottom-block" );
                jQuery( "#iamfirstinprice" ).append( jQuery( ".bottom-block" ) );
                jQuery( ".price-box" ).last().after( jQuery( ".stock" ) );

                if (jQuery(window).width() < 420) 
                {
                    if(jQuery('#product_gallery_mobile').length)
                    {
                        jQuery( "#iammain" ).after( jQuery( "#product_gallery_mobile" ) );
                        //
                        jQuery('#prod-carousel').customcarousel({
                            fullWidth: true,
                            indicators: true
                        });

                        var carHeight = jQuery('.carousel').height();

                        var carbtnTop = (carHeight/2) -53;

                        jQuery('#prod-carousel button').css({top: carbtnTop});

                        jQuery('#prev_image').click( function() {
                            jQuery('#prod-carousel').customcarousel('prev');
                        });

                        jQuery('#next_image').click( function() {
                            jQuery('#prod-carousel').customcarousel('next');
                        });
                        //
                    }
                    //if(jQuery(".reviews-col").length)
                    //{
                        //jQuery( "#iAmRelatedTab" ).after( jQuery( ".reviews-col" ) );
                        jQuery( ".reviews-col" ).after( jQuery( "#iAmRelatedTab" ) );
                    //}

                    //
                }

                //jQuery( ".bottom-block" ).append( jQuery( "#iamsecondinprice" ) );
                // jQuery( "#iamfirstinprice" ).append( jQuery( "#iamfirstinprice" ) );
                //jQuery( ".bottom-block" ).append( jQuery( "#iamfirstinprice" ) );
			}); 


		 });
</script>

<a href="#!" class="custom-modal-trigger" id="hidden_goto_bag" data-target="#go_to_bag_modal_one" style="display:none" >Link</a>

<div class="custom-modal" id="go_to_bag_modal_one">
    <div class="custom-modal-bg"></div>
    <div class="contact-form-wrapper">
        <div class="cf-header">
            <p>Item added in Bag</p>
            <i class="material-icons">close</i>
        </div>

        <div class="cf-footer">
            <div class="custom-container">
                <div class="row no-mar-bot">
                    <div class="col s12 m6">
                        <a href="#!<?php //echo $this->getUrl(); ?>" class="custom-modal-close-new modal-close cta-btn line-btn likeButton">Continue Shopping</a>
                    </div>
                    <div class="col s12 m6">
                        <a href="<?php echo $this->getUrl(); ?>checkout/cart/" class="modal-close cta-btn blue-btn likeButton">Go to Bag</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="custom-modal" id="share_modal">
    <div class="custom-modal-bg"></div>
    <div class="contact-form-wrapper">
        <div class="cf-header">
            <p>Share this product</p>
            <i class="material-icons">close</i>
        </div>

        <div class="cf-footer">
            <div class="custom-container">
                <div class="row no-mar-bot">
                    <ul class="social-list">
                        <li>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $_product->getProductUrl(); ?>" target="_blank">
                                <img src="<?php echo $block->getViewFileUrl('res/social_colored_fb.svg'); ?>" alt="">
                            </a>
                            </li>
                        <!-- <li>
                            <a href="#i"  target="_blank">
                                <img src="<?php echo $block->getViewFileUrl('res/social_colored_insta.svg'); ?>" alt="">
                            </a>
                            </li> -->
                        <li>
                            <a href="https://twitter.com/home?status=<?php echo $_product->getProductUrl(); ?>"  target="_blank">
                                <img src="<?php echo $block->getViewFileUrl('res/social_colored_twitter.svg'); ?>" alt="">
                            </a>
                            </li>
                       <!--  <li>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url=<?php echo $_product->getProductUrl(); ?>&title=&summary=&source="  target="_blank">
                                <img src="<?php echo $block->getViewFileUrl('res/social_colored_li.svg'); ?>" alt="">
                            </a>
                            </li> -->
                        <li>
                            <a href="https://pinterest.com/pin/create/button/?url=&media=<?php echo $_product->getProductUrl(); ?>&description="  target="_blank">
                                <img src="<?php echo $block->getViewFileUrl('res/social_colored_pi.svg'); ?>" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row usp-section-2 no-pad-bot">
                            
    <div class="col s6">
        <div class="usp-box-wrapper">
            <div class="usp-box center" data-mh="usp_group">
                <img class="usp-icon" id="usp-certified" src="<?php echo $block->getViewFileUrl('res/product_selection.svg'); ?>" alt="">
                <div class="usp-details">
                    <div class="usp-title">Product Selection</div>
                    <div class="usp-desc">UK's Largest Chain Specialist</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s6">
        <div class="usp-box-wrapper">
            <div class="usp-box center" data-mh="usp_group">
                <img class="usp-icon" id="usp-certified" src="<?php echo $block->getViewFileUrl('res/fast_dispatch.svg'); ?>" alt="">
                <div class="usp-details">
                    <div class="usp-title">Fast Delivery</div>
                    <div class="usp-desc">Same day when placed by 2 pm</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s6">
        <div class="usp-box-wrapper">
            <div class="usp-box center" data-mh="usp_group">
                <img class="usp-icon" id="usp-certified" src="<?php echo $block->getViewFileUrl('res/service.svg'); ?>" alt="">
                <div class="usp-details">
                    <div class="usp-title">Customer Care</div>
                    <div class="usp-desc">Friendly Professional Service</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col s6">
        <div class="usp-box-wrapper">
            <div class="usp-box" data-mh="usp_group">
                <img class="usp-icon" id="usp-certified" src="<?php echo $block->getViewFileUrl('res/easy_returns.svg'); ?>" alt="">
                <div class="usp-details">
                    <div class="usp-title">Easy Returns</div>
                    <div class="usp-desc">Hassle Free Returns for 30 days</div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>