<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct()
?>
<div class="row description-row">
    <div class="col s12">
        <p class="prod-detail-section-titles">Product Qualities</p>

        <div class="product-quality row">
            <div class="col s3 pq-item center">
                <i class="tch-icon toxic_free-icon"></i>
                <p class="pq-desc">Hypoallergenic</p>
            </div>
            <div class="col s3 pq-item center">
                <i class="tch-icon clasp-icon"></i>
                <p class="pq-desc">Premium Clasps</p>
            </div>
            <div class="col s3 pq-item center">
                <i class="tch-icon diamond-icon"></i>
                <p class="pq-desc">Diamond Polish</p>
            </div>
            <div class="col s3 pq-item center">
                    <i class="tch-icon luxury-icon"></i>
                <p class="pq-desc">Luxury Quality</p>
            </div>
        </div>
    </div>
</div>


<?php if ($_additional = $block->getAdditionalData()): ?>
    <div class="row more-info-row">
        <div class="col s12">
        <p class="prod-detail-section-titles">More Information</p>

        <table class="more-info-table" id="product-attribute-specs-table">
         
          
            <?php foreach ($_additional as $_data): ?>

                <?php 
                if(in_array($_data['code'],array('weight','length_inches','length_inches_bracelet','pendant_size_length','size_pendant','reverse','shape_pendant','pendant_border')))
                {
                  if( ($_helper->productAttribute($_product, $_data['value'], $_data['code'])=="N/A") || ($_helper->productAttribute($_product, $_data['value'], $_data['code'])=="No") || ($_helper->productAttribute($_product, $_data['value'], $_data['code'])=="0.0000") )
                  {
                      continue;
                  }
                }
              ?>
                <tr>
                    <th ><?php echo $block->escapeHtml(__($_data['label'])) ?></th>

                    <td  data-th="<?php echo $block->escapeHtml(__($_data['label'])) ?>"><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?>
                    
                    <?php if($_data['code'] == 'weight') 
                      {
                          echo __('&nbsp;grams');
                      } else if($_data['code'] == 'length_inches')
                      {
                              echo __('&nbsp;Inches');
                      }
                    ?>   

                    </td>
                </tr>
            <?php endforeach; ?>

        </table>
        <div class="extraNote" style="display:none" >* Select length to display weight</div>

        </div>
    </div>
<?php endif;?>

<div class="row delivery-info-row">
    <div class="col s12">
        <?php 
        echo $block->getLayout()
                   ->createBlock('Magento\Cms\Block\Block')
                   ->setBlockId('product_delivery')
                   ->toHtml();
        ?>

        <p class="product-detail-section-desc">
            For more information on our full Delivery and Returns Policy 
            <a href="#!" class="prod-detail-links custom-modal-trigger"  data-target="#delivery_modal">click here</a>
        </p>
    </div>
</div>

<div class="custom-modal tnc-modal" id="delivery_modal">
      <?php 
        echo $block->getLayout()
                   ->createBlock('Magento\Cms\Block\Block')
                   ->setBlockId('product_delivery_popup')
                   ->toHtml();
        ?>
    
</div>
