<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>
<?php
    $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
    $_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
    $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
    $prd = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getId());

    $myImages = array();
?>
<?php
                $images = $prd->getMediaGalleryImages();
                if($images->count()>0)
                {
                    $i = 0;
                    foreach($images as $child)
                    {
                        $productImage = $_imagehelper->init($prd, 'product_page_image_large')
                                ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(88,80)
                                ->getUrl();

                        $productImagedata = $_imagehelper->init($prd, 'product_page_image_large')
                        ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(700,700)
                        ->getUrl();

                        $productImageZoom = $_imagehelper->init($prd, 'product_page_image_large')
                        ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(888,888)
                        ->getUrl();

                        $myImages[]=array('small'=>$productImage,'mid'=>$productImagedata,'zoom'=>$productImageZoom);
                       
                    }
                }
            ?>
<div class="product-gallery row hide-on-small-only" id="product_gallery">                      
    <div class="col s12 m12 l12 no-pad-left not-on-small product-gallery-col">

        <img class="xzoom2" id="main_image" src="<?php echo $myImages[0]['mid']; ?>" nxpreview="<?php echo $myImages[0]['zoom']; ?>" alt="<?php echo $product->getName(); ?>" title="<?php echo $product->getName(); ?>" />

        <div class="xzoom-thumbs hide-on-small-only">
           
            <?php

                    $i = 0;
                    foreach($myImages as $childItem)
                    {
                       
                        ?>
                        <a href="#!<?php //echo $myImages[$i]['mid']; ?>">
                             <img class="xzoom-gallery2" width="80" alt="<?php echo $product->getName(); ?>" title="<?php echo $product->getName(); ?>" style="width:80px !important" src="<?php echo $myImages[$i]['mid']; ?>" xpreview="<?php echo $myImages[$i]['zoom']; ?>" onclick="setMethere('<?php echo $myImages[$i]['mid']; ?>')">
                        </a>
                        <?php
                        $i++;
                    }

            ?>
            <script type="text/javascript">
            function setMethere(imgUrl)
            {
                jQuery("#main_image").attr('src',imgUrl);
            }
            </script>
        </div>
    </div>
</div>
<?php
//$objectManager  = \Magento\Framework\App\ObjectManager::getInstance();
//$helperImport   = $objectManager->get('\Magento\Catalog\Helper\Image');

// $relatedProducts = $product->getRelatedProducts();
// $upSellProducts = $product->getUpSellProducts();
// $crossSellProducts = $product->getCrossSellProducts();


?>
<div class=" product-gallery hide-on-med-and-up" id="product_gallery_mobile">
    <div class="carousel carousel-slider" id="prod-carousel">
        <?php
            $i = 0;
            foreach($myImages as $childItem)
            {
                ?>
                <div class="carousel-item" ><img src="<?php echo $myImages[$i]['mid']; ?>" alt="<?php echo $product->getName(); ?>" title="<?php echo $product->getName(); ?>"></div>
                <?php
                $i++;
            }
        ?>
        <!-- <a class="carousel-item" ><img src="res/images/ball-bead-1.jpg"></a>
        <a class="carousel-item" ><img src="res/images/ball-bead-2.jpg"></a>
        <a class="carousel-item" ><img src="res/images/ball-bead-3.jpg"></a> -->
        <button class="prev-image" id="prev_image"><i class="material-icons">chevron_left</i></button>
        <button class="next-image" id="next_image"><i class="material-icons">chevron_right</i></button>
    </div>
</div>
