<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying new products widget
 *
 * @var $block \Magento\Catalog\Block\Product\Widget\NewWidget
 */
if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) {
    $type = 'widget-new-list';

    $mode = 'list';

    $image = 'new_products_content_widget_list';
    $title = __('New Products');
    $items = $block->getProductCollection()->getItems();
    $_helper = $this->helper('Magento\Catalog\Helper\Output');

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    // $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;

	$lightbox_status = $this->helper('\Meigee\Feather\Helper\FeatherGeneral')->getCustomThemeOptionCnf('feather_lightbox', 'lightbox_status');
	$lightbox_widget_status = $this->helper('\Meigee\Feather\Helper\FeatherGeneral')->getCustomThemeOptionCnf('feather_lightbox', 'lightbox_home');
	$stock_status = $this->helper('\Meigee\Feather\Helper\FeatherGeneral')->getCustomThemeOptionCnf('feather_product_listing', 'stock_status');
    $quickview_status = $this->helper('WeltPixel\Quickview\Helper\Data')->getConfig('weltpixel_quickview/general/enable_product_listing');
    $quickview_btn = $this->helper('\Meigee\Feather\Helper\FeatherGeneral')->getCustomThemeOptionCnf('feather_product_listing', 'quickview_btn');
    $labels_helper = $this->helper('\Meigee\Feather\Helper\FrontHelper');
}
?>

<?php if ($exist):?>
    <div class="block widget block-new-products <?php /* @escapeNotVerified */ echo $mode; ?>">
        <div class="block-content">
            <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
                <ol class="product-items clearfix <?php /* @escapeNotVerified */ echo $type; ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item">' : '</li><li class="item">' ?>
                        <div class="product-item-info row">
							<div class="image-wrapper">
                                <?php  if($quickview_btn && $quickview_status) { ?>
                                 <a href="javascript: void(0);" data-quickview-url="<?php echo $block->getBaseUrl(); ?>weltpixel_quickview/catalog_product/view/id/<?php echo $block->escapeHtml($_item->getEntityId()); ?>" class="weltpixel-quickview"><i class="fa fa-eye"></i><span class="title"><?php echo __('Quickview') ?></span></a>
                                <?php  } ?>
								<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product-item-photo">
									<?php echo $block->getImage($_item, $image)->toHtml(); ?>
								</a>
                                <?php if($labels_helper->isProductNew($_item) || $labels_helper->isProductSale($_item)){
                                    echo '<div class="product-labels">';
                                    if($labels_helper->isProductNew($_item)) {
                                        echo '<span class="label-new">'.__('new').'</span>';
                                    }
                                    if($labels_helper->isProductSale($_item)) {
                                        echo '<span class="label-sale">'.__('sale').'</span>';
                                    }
                                    echo '</div>';
                                } ?>
							</div>
                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                       href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>"
                                       class="product-item-link">
                                        <?php echo $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </strong>
                                <?php echo $block->getProductPriceHtml($_item, $type); ?>
                                <?php if ($templateType): ?>
                                    <?php echo $block->getReviewsSummaryHtml($_item, $templateType, true) ?>
                                <?php endif; ?>
								<?php if($stock_status != 4 && $stock_status != 1) {
									if ($_item->getIsSalable()): ?>
										<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
									<?php else: ?>
										<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
									<?php endif;
								} ?>
                                <?php if( ($lightbox_status && $lightbox_widget_status) || $showWishlist || $showCompare || $showCart){ ?>
                                    <div class="ations-wrapper">
                                        <?php if ($showCart): ?>
                                            <div class="button-wrapper">
                                                <?php if ($_item->isSaleable()): ?>
                                                    <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                        <button class="btn btn-default btn-cart action tocart"
                                                                data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_item) ?>"}}'
                                                                type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                            <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                        ?>
                                                        <button class="btn btn-default btn-cart"
                                                                data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                                                type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                            <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" title="<?php echo __('Read more') ?>" class="btn btn-default btn-cart"><?php echo __('Read more') ?></a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                        <?php if( ($lightbox_status && $lightbox_widget_status) || $showWishlist || $showCompare ){ ?>
                                        <div class="secondary-buttons clearfix">
                                            <?php if ($showWishlist || $showCompare): ?>
                                                <div class="add-to-links" data-role="add-to-links">
                                                    <div class="links-inner clearfix">
                                                        <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                            <a href="#"
                                                            data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_item); ?>'
                                                            class="action towishlist" data-action="add-to-wishlist"
                                                            title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        <?php endif; ?>
                                                        <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                            <a href="#" class="action tocompare"
                                                            data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item);?>'
                                                            title="<?php /* @escapeNotVerified */ echo __('Add to Compare') ?>">
                                                                <i class="fa fa-exchange"></i>
                                                            </a>
                                                        <?php endif; ?>
                                                    </div>
                                                </div>
                                            <?php endif; ?>
                                            <?php if($lightbox_status && $lightbox_widget_status){ ?>
                                            <a href="<?php echo $block->getImage($_item, $image)->getImageUrl();  ?>" data-toggle="lightbox" class="lightbox-button" data-footer="<?php echo $block->escapeHtml($_item->getName()); ?>" title="<?php echo __('Lightbox'); ?>">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                            <?php } ?>
                                          </div>
                                        <?php } ?>
                                    </div>
                                <?php } ?>
                                <?php if ($description):?>
                                    <div class="product-item-description">
                                        <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_item, $_item->getShortDescription(), 'short_description') ?>
                                        <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                           href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>"
                                           class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?php echo $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
