<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block \Magento\Catalog\Block\Product\Image */ ?>

<span class="product-image-container"
      style="width:<?php echo $block->getWidth()?>px;">
    <span class="product-image-wrapper"
          style="padding-bottom: <?php echo ($block->getRatio() * 100); ?>%;">
        <img class="product-image-photo"
             <?php echo $block->getCustomAttributes(); ?>
             src="<?php  echo $block->getImageUrl(); ?>"
             width="<?php echo $block->getResizedImageWidth(); ?>"
             height="<?php echo $block->getResizedImageHeight(); ?>"
             alt="<?php echo $block->stripTags($block->getLabel(), null, true); ?>"
             title="<?php echo $block->stripTags($block->getLabel(), null, true); ?>"
             /></span>
</span>
