<?php /** * Copyright © 2015 Magento. All rights reserved. * See COPYING.txt for license details. */ ?> <?php /** * Product list toolbar * * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar */ use Magento\Catalog\Model\Product\ProductList\Toolbar; ?> <div class="field limiter"><label class="label" for="limiter"><span><?php /* @escapeNotVerified */ echo __('Show:') ?></span></label> <select id="limiter" data-role="limiter" class="limiter-options form-control selectpicker" style="display:block"><?php foreach ($block->getAvailableLimit() as $_key => $_limit): ?> <option value="<?php /* @escapeNotVerified */ echo $_key ?>"<?php if ($block->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>><?php /* @escapeNotVerified */ echo $_limit ?></option><?php endforeach; ?></select> <ul class="show-range"><?php foreach ($block->getAvailableLimit() as $_key => $_limit): ?> <li class="show-item <?php echo ($block->isLimitCurrent($_key) ? "active" : "" ); ?>" onclick="setMeDropDown('<?php /* @escapeNotVerified */ echo strtolower($_limit) ?>')"><?php /* @escapeNotVerified */ echo $_limit ?></li> <?php endforeach; ?></ul></div><script>
function setMeDropDown(passValue)
{
	console.log(passValue);
	jQuery('#limiter').val(passValue);
	jQuery('#limiter').trigger('change');
}</script>