<?php /* @var \Magento\Framework\View\Element\Template $block */ ?> <div id="mana-please-wait" style="display:none;"><p><img src="<?php echo $block->getViewFileUrl('Manadev_Core::images/please-wait.gif') ?>" alt="<?php echo __('Loading...') ?>"/><br/><?php echo __('Loading...') ?></p></div>