<?php /** * Copyright © 2015 Magento. All rights reserved. * See COPYING.txt for license details. */ ?> <?php /** * General template for displaying group of blocks devided into sections */ $group = $block->getGroupName(); $groupCss = $block->getGroupCss(); $groupBehavior = $block->getGroupBehaviour() ? $block->getGroupBehaviour() : '{"tabs":{"openedState":"active"}}'; ?> <?php if ($detailedInfoGroup = $block->getGroupChildNames($group, 'getChildHtml')):?> <div class="sections <?php /* @escapeNotVerified */ echo $groupCss ?>"><?php $layout = $block->getLayout(); ?> <div class="section-items <?php /* @escapeNotVerified */ echo $groupCss ?>-items" data-mage-init='<?php /* @escapeNotVerified */ echo $groupBehavior ?>'><?php foreach ($detailedInfoGroup as $name):?> <?php if($name == 'mobile_store_menu'){ $html = $layout->renderElement($name); if (!trim($html) && ($block->getUseForce() != true)) { continue; } $alias = $layout->getElementAlias($name); $label = $block->getChildData($alias, 'title'); ?> <div class="item-title <?php /* @escapeNotVerified */ echo $groupCss ?>-item-title" data-role="collapsible"><a class="<?php /* @escapeNotVerified */ echo $groupCss ?>-item-switch" data-toggle="switch" href="#<?php /* @escapeNotVerified */ echo $alias; ?>"><?php /* @escapeNotVerified */ echo $label; ?></a></div><div class="section-item-content <?php /* @escapeNotVerified */ echo $groupCss ?>-item-content" id="<?php /* @escapeNotVerified */ echo $alias; ?>" data-role="content"><?php /* @escapeNotVerified */ echo $html; ?></div><?php } endforeach;?> <?php foreach ($detailedInfoGroup as $name):?> <?php if($name != 'mobile_store_menu'){ $html = $layout->renderElement($name); if (!trim($html) && ($block->getUseForce() != true)) { continue; } $alias = $layout->getElementAlias($name); $label = $block->getChildData($alias, 'title'); ?> <div class="item-title <?php /* @escapeNotVerified */ echo $groupCss ?>-item-title" data-role="collapsible"><a class="<?php /* @escapeNotVerified */ echo $groupCss ?>-item-switch" data-toggle="switch" href="#<?php /* @escapeNotVerified */ echo $alias; ?>"><?php /* @escapeNotVerified */ echo $label; ?></a></div><div class="section-item-content <?php /* @escapeNotVerified */ echo $groupCss ?>-item-content" id="<?php /* @escapeNotVerified */ echo $alias; ?>" data-role="content"><?php /* @escapeNotVerified */ echo $html; ?></div><?php } endforeach;?></div><?php foreach ($detailedInfoGroup as $name):?> <?php if($name == 'mobile_store_menu'){ ?> <a class="close-panel" href="#"><i class="fa fa-times-circle-o fa-4x"></i></a> <?php } endforeach;?></div><?php endif; ?> <script>
    require(['jquery'], function () {
        jQuery(document).ready(function () {
            jQuery(".close-panel").css("display", "none");
            if (jQuery('html').hasClass('nav-open')) {
                jQuery(".close-panel").css("display", "inline");
            } else {
                jQuery(".close-panel").css("display", "none");
            }
            jQuery(".nav-toggle").click(function(){
                jQuery(".close-panel").css("display", "inline");
            });

            jQuery(".close-panel").click(function(){
                jQuery('html').removeClass('nav-open');
                jQuery(".close-panel").css("display", "none");
            });
        });
    });</script>