<?php /** * Copyright © Magento, Inc. All rights reserved. * See COPYING.txt for license details. */ /** @var \Magento\Framework\View\Element\Template $block */ ?> <p><?= $block->escapeHtml(__('You have signed out and you will be redirected to our homepage in 5 seconds.')) ?></p><script>
require([
    "jquery",
    "mage/mage"
], function($){

    $($.mage.redirect("<?= $block->escapeUrl($block->getUrl()) ?>", "assign", 5000));

});</script>