<?php
/**
 * Copyright 2019 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

/* @var $block \Aheadworks\Layerednav\Block\SelectedFilters */

// @codingStandardsIgnoreFile
?>
<div id="layered-selected-filters-block"
     data-role="aw-layered-nav-selected-filters"
     data-mage-init='{"awLayeredNavSelectedFilters": {}}'>
    <ul class="selected-items-list">
        <?php foreach ($block->getActiveFilterItems() as $filterItem): ?>
            <?php /* @noEscape */ echo $block->getItemRenderer($filterItem)->render($filterItem) ?>
        <?php endforeach; ?>
        <li class="selected-item">
            <a class="action-clear" href="#" data-role="clear-button">
                <span><?php echo $block->escapeHtml(__('Clear All')) ?></span>
            </a>
        </li>
    </ul>
</div>
