<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */

?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())):?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    // $templateType =  \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;

	$meigee_helper = $this->helper('\Meigee\Feather\Helper\FeatherGeneral');
	$lightbox_status = $meigee_helper->getCustomThemeOptionCnf('feather_lightbox', 'lightbox_status');
	$lightbox_widget_status = $meigee_helper->getCustomThemeOptionCnf('feather_lightbox', 'lightbox_home');
	$name_align = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'product_name_aligment');
	$stock_status = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'stock_status');
    $quickview_status = $this->helper('WeltPixel\Quickview\Helper\Data')->getConfig('weltpixel_quickview/general/enable_product_listing');
    $quickview_btn = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'quickview_btn');
    $labels_helper = $this->helper('\Meigee\Feather\Helper\FrontHelper');
	$image_hover_status = $meigee_helper->getCustomThemeOptionCnf('feather_image_hover', 'image_hover_status');
	$image_hover_effect = $meigee_helper->getCustomThemeOptionCnf('feather_image_hover', 'image_hover_type');

    $productsPerRow = $block->getProductsPerRow();

    switch($productsPerRow){
        case 1:
            $productsPerRow = 'one-column';
        break;
        case 2:
            $productsPerRow = 'two-columns';
        break;
        case 3:
            $productsPerRow = 'three-columns';
        break;
        case 4:
            $productsPerRow = 'four-columns';
        break;
        case 5:
            $productsPerRow = 'five-columns';
        break;
        case 6:
            $productsPerRow = 'six-columns';
        break;
    }
    $widget_id = $block->getWidgetId();
    if(isset($widget_id)){
        $type_price = 'widget-product-grid-'.$widget_id;
    }else{
        $type_price = $type;
    }
?>
    <div class="block widget block-products-list <?php /* @noEscape */ echo $mode; ?>">
        <?php if ($block->getTitle()): ?>
        <div class="block-title">
			<strong><?= $block->escapeHtml(__($block->getTitle())) ?></strong>
        </div>
        <?php endif ?>
        <div class="block-content">
            <?php /* @noEscape */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-<?php /* @noEscape */ echo $mode; ?> <?php /* @noEscape */ echo $mode .' '. $type; echo ' '.$productsPerRow; if($image_hover_status){echo $image_hover_effect ? ' hover-scale' : ' hover-simple';} ?>">
                <ol class="product-items row">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
						<?php if ($iterator++ != 1): ?></li><?php endif ?>
						<li class="item col-sm-3">
						
                        <div class="product-item-info clearfix">
							<div class="image-wrapper">
								<a href="<?php echo $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
									<?php
										$hoverImage = $image_hover_status ? $_item->getHoverImage() : false;
										/*Temporarily disable hover image*/
										$hoverImage=false;
										if ($hoverImage)
										{
											$hoverImageUrl = $this->helper('Magento\Catalog\Helper\Image')
															  ->init($_item, 'hover_image')
															  ->setImageFile($hoverImage)
															  ->getUrl();
											$productImage = $block->getImage($_item, $image, array('data-hover-image'=>$hoverImageUrl));
										}
										else
										{
											$productImage = $block->getImage($_item, $image);
										}
										// echo $block->getImage($_item, $image)->toHtml();
										echo $productImage->toHtml();
									?>
								</a>
                                <?php if($quickview_btn && $quickview_status) { ?>
                                <a href="javascript: void(0);" data-quickview-url="<?php echo $block->getBaseUrl(); ?>weltpixel_quickview/catalog_product/view/id/<?php echo $block->escapeHtml($_item->getEntityId()); ?>" class="weltpixel-quickview"><i class="fa fa-eye"></i><span class="title"><?php echo __('Quickview') ?></span></a>
                                <?php } ?>
                                <?php if($labels_helper->isProductNew($_item) || $labels_helper->isProductSale($_item)){
                                    echo '<div class="product-labels">';
                                    if($labels_helper->isProductNew($_item)) {
                                        echo '<span class="label-new">'.__('new').'</span>';
                                    }
                                    if($labels_helper->isProductSale($_item)) {
                                        echo '<span class="label-sale">'.__('sale').'</span>';
                                    }
                                    echo '</div>';
                                } ?>
							</div>
                            <div class="product-item-details">
                                <div class="alert-spacer"></div>
                                <h4 class="product-item-name <?php echo $name_align; ?>">
                                    <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                       href="<?php echo $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                       class="product-item-link">
                                        <?php echo $block->escapeHtml($_item->getName());
                                        $_productNameStripped = $block->stripTags($_item->getName(), null, true) ?>
                                    </a>
                                </h4>
                                <div class="product-item-inner">
                                     <?php if ($description):?>
                                        <div class="product description product-item-description">
                                            <?php /* @escapeNotVerified */
                                                $shortDesc = $_helper->productAttribute($_item, $_item->getShortDescription(), 'short_description');
                                                $length = 90;
                                                $shortDesc = (strlen($shortDesc) > $length) ? substr($shortDesc,0,$length).'...' : $shortDesc;
                                                echo $shortDesc;
                                            ?>
                                            <a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
                                               class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
                                        </div>
                                    <?php endif; ?>
                                </div>
                                <?php echo $block->getProductPriceHtml($_item, $type_price); ?>
                                <?php if ($templateType): ?>
                                    <?php echo $block->getReviewsSummaryHtml($_item, $templateType, true) ?>
                                <?php endif; ?>
                                <?php if($stock_status != 4 && $stock_status != 2) {
                                    if ($_item->getIsSalable()): ?>
                                        <div class="stock available"><span><?php echo $block->escapeHtml(__('In stock')) ?></span></div>
                                    <?php else: ?>
                                        <div class="stock unavailable"><span><?php echo $block->escapeHtml(__('Out of stock')) ?></span></div>
                                    <?php endif;
                                } ?>
                                <?php if( ($lightbox_status && $lightbox_widget_status) || $showWishlist || $showCompare || $showCart){ ?>
                                    <?php if( ($lightbox_status && $lightbox_widget_status) || $showWishlist || $showCompare ){ ?>
									<div class="secondary-buttons clearfix">
										<?php if ($showWishlist || $showCompare): ?>
											<div class="add-to-links" data-role="add-to-links">
												<div class="links-inner clearfix">
													<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
														<a href="#"
														data-post='<?php /* @noEscape */ echo $block->getAddToWishlistParams($_item); ?>'
														class="action towishlist" data-action="add-to-wishlist"
														title="<?php echo __('Add to Wish List') ?>">
															<i class="fa fa-heart"></i>
														</a>
													<?php endif; ?>
													<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
														<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
														<a href="#" class="action tocompare"
														data-post='<?php /* @noEscape */ echo $compareHelper->getPostDataParams($_item);?>'
														title="<?php echo __('Add to Compare') ?>">
															<i class="fa fa-exchange"></i>
														</a>
													<?php endif; ?>
												</div>
											</div>
										<?php endif; ?>
										<?php if($lightbox_status && $lightbox_widget_status){ ?>
										<a href="<?php echo $block->getImage($_item, $image)->getImageUrl();  ?>" data-toggle="lightbox" class="lightbox-button" data-footer="<?php echo $block->escapeHtml($_item->getName()); ?>" title="<?php echo __('Lightbox'); ?>">
											<i class="fa fa-search-plus"></i>
										</a>
										<?php } ?>
									  </div>
									<?php } ?>
									<div class="ations-wrapper">
        								<?php if ($showCart): ?>
        									<div class="button-wrapper">
        										<?php if ($_item->isSaleable()): ?>
        											<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
        												<button class="btn btn-default btn-cart action tocart"
        														data-mage-init='{"redirectUrl":{"url":"<?php echo $block->escapeUrl($block->getAddToCartUrl($_item)) ?>"}}'
        														type="button" title="<?php echo __('Add to Cart') ?>">
        													<span><?php echo $block->escapeHtml(__('Add to Cart')) ?></span>
        												</button>
        											<?php else: ?>
        												<?php
        													$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
        													$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
        												?>
        												<button class="btn btn-default btn-cart"
        														data-post='<?php /* @noEscape */ echo $postData; ?>'
        														type="button" title="<?php echo __('Add to Cart') ?>">
        													<span><?php echo $block->escapeHtml(__('Add to Cart')) ?></span>
        												</button>
        											<?php endif; ?>
        										<?php else: ?>
        											<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" title="<?php echo __('Read more') ?>" class="btn btn-default btn-cart"><?php echo __('Read more') ?></a>
        										<?php endif; ?>
        									</div>
        								<?php endif; ?>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                        <?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?php echo $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
