<?php /** * Copyright 2019 aheadWorks. All rights reserved. * See LICENSE.txt for license details. */ /** @var $block \Aheadworks\ShopByBrand\Block\Adminhtml\Brand\Content */ ?> <div class="admin__field"><table id="content_table" class="admin__control-table aw-sbb_brand__content"><thead><tr><th class="col-store-view"><?php echo $block->escapeHtml(__('Store View')) ?></th><th class="col-meta-title"><?php echo $block->escapeHtml(__('Meta Title')) ?></th><th class="col-meta-description"><?php echo $block->escapeHtml(__('Meta Description')) ?></th><th class="col-description"><?php echo $block->escapeHtml(__('Description')) ?></th><th class="col-delete">&nbsp;</th></tr></thead><tbody data-role="rows-container"></tbody><tfoot><tr><td colspan="5" class="col-actions-add"><button title="<?php echo $block->escapeHtml(__('Add')) ?>" type="button" class="add" data-role="add-button"><span><?php echo $block->escapeHtml(__('Add')) ?></span></button></td></tr></tfoot><script data-role="row-template" type="text/x-magento-template"><tr data-role="row" data-index="<%- data.index %>"><td class="col-store-view"><select class="required-entry" name="content[<%- data.index %>][store_id]" data-form-part="aw_sbb_brand_form" data-role="store-view-select" data-index="<%- data.index %>"><?php foreach ($block->getStoresOptions() as $optGroup): ?> <?php if (is_array($optGroup['value'])): ?> <optgroup label="<?php echo $block->escapeHtml(__($optGroup['label'])) ?>"></optgroup><?php foreach ($optGroup['value'] as $storeViewOption): ?> <option value="<?php /* @noEscape */ echo $storeViewOption['value'] ?>"><?php echo $block->escapeHtml(__($storeViewOption['label'])) ?></option><?php endforeach; ?> <?php else: ?> <option value="<?php /* @noEscape */ echo $optGroup['value'] ?>"><?php echo $block->escapeHtml(__($optGroup['label'])) ?></option><?php endif; ?> <?php endforeach; ?></select></td><td class="col-meta-title"><input class="required-entry" type="text" name="content[<%- data.index %>][meta_title]" value="<%- data.meta_title %>" data-index="<%- data.index %>" data-form-part="aw_sbb_brand_form"/></td><td class="col-meta-description"><textarea class="input-text required-entry"
                              cols="5"
                              rows="3"
                              name="content[<%- data.index %>][meta_description]"
                              data-index="<%- data.index %>"
                              data-form-part="aw_sbb_brand_form"><%- data.meta_description %></textarea></td><td class="col-description"><textarea class="input-text"
                          id="brand-description-<%- data.index %>"
                          cols="5"
                          rows="3"
                          name="content[<%- data.index %>][description]"
                          data-wysiwyg="1"
                          data-index="<%- data.index %>"
                          data-form-part="aw_sbb_brand_form"><%- data.description %></textarea></td>
                <td class="col-delete">
                    <input class="delete-flag"
                           type="hidden"
                           name="content[<%- data.index %>][removed]"
                           value="0"
                           data-form-part="aw_sbb_brand_form"
                           data-role="delete-flag"
                           data-index="<%- data.index %>"
                    />
                    <button title="<?php echo $block->escapeHtml(__('Delete')) ?>"
                            type="button"
                            class="delete"
                            data-role="delete-button"
                            data-index="<%- data.index %>">
                        <span><?php echo $block->escapeHtml(__('Delete')) ?></span></button></td></tr></script></table><script>
        window.tinyMCE_GZ = window.tinyMCE_GZ || {};
        window.tinyMCE_GZ.loaded = true;
        require(['jquery', 'awSbbContent'], function($, content) {
            content({
                optionValues: <?php /* @noEscape */ echo \Zend_Json::encode($block->getContent()) ?>,
                wysiwygConfig: <?php /* @noEscape */ echo \Zend_Json::encode($block->getWysiwygConfig()) ?> }, $('#content_table'));
        });</script></div>