.page-main-actions._hidden .aw-page-menu {
  display: none;
}
.aw-page-menu {
  color: #41362f;
  float: left;
  font-size: 1.6rem;
  margin-top: .7rem;
}
.aw-page-menu .dropdown {
  display: inline-block;
  position: relative;
}
.aw-page-menu .dropdown:before,
.aw-page-menu .dropdown:after {
  content: '';
  display: table;
}
.aw-page-menu .dropdown .dropdown-menu {
  margin: 0;
  padding: 6px 0 3px 0;
  list-style: none none;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px #adadad solid;
  position: absolute;
  z-index: 500;
  top: 100%;
  line-height: 1.36;
  min-width: 25.5rem;
  margin-top: -1px;
  display: none;
  transition: all 0.15s ease;
  visibility: hidden;
  opacity: 0;
}
.aw-page-menu .dropdown.active .admin__action-dropdown-text:after {
  background-color: #ffffff;
  content: '';
  height: 6px;
  position: absolute;
  top: 100%;
  right: -6px;
  left: 0;
}
.aw-page-menu .dropdown.active .admin__action-dropdown,
.aw-page-menu .dropdown.active .dropdown-menu {
  border-color: #adadad;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.aw-page-menu .dropdown.active .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}
.aw-page-menu .dropdown.active .dropdown-menu li {
  margin: 0;
  border: 0;
  cursor: default;
  font-size: 1.4rem;
}
.aw-page-menu .dropdown.active .dropdown-menu li a {
  text-decoration: none;
  color: #41362f;
  display: block;
  padding: .6rem 1.8rem;
}
.aw-page-menu .dropdown.active .dropdown-menu li a.separator {
  border-top: 1px #adadad solid;
  padding-top: .7rem;
}
.aw-page-menu .dropdown.active .dropdown-menu li a:hover,
.aw-page-menu .dropdown.active .dropdown-menu li a.current {
  background: #e9e9e9;
  cursor: pointer;
}
.aw-page-menu .dropdown.active .dropdown-menu li a.child {
  padding-left: 3rem;
}
.aw-page-menu .admin__action-dropdown {
  font-size: 1.6rem;
  letter-spacing: .025em;
  background-color: #f8f8f8;
  z-index: 520;
  transition: border-color 0.15s ease;
}
