<?php
/**
 * Copyright 2019 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

/** @var $block \Aheadworks\Layerednav\Block\Adminhtml\System\Config\Seo\GuideLink */

// @codingStandardsIgnoreFile
?>
<td class="label"></td>
<td class="value">
    <a href="<?php echo $block->escapeUrl($block->getGuideLinkUrl()) ?>" target="_blank"><?php echo $block->escapeHtml(__('View the user guide')) ?></a>
</td>
<td></td>
