/**
 * @package     feather
 * @copyright   Copyright (c) 2010-2016 MeigeeTeam. (http://www.meigeeteam.com)
 */

/* #Desktop - Extra Large ================================================== */

@media only screen and (min-width: 1332px) {
	body .about-block {margin-left: -212px; margin-right: -212px;}
	body.boxed-layout .header-wrapper .container,
	body.boxed-layout .footer .container,
	body.boxed-layout .breadcrumbs-wrapper .container,
	body.boxed-layout .content-wrapper .container {padding-right: 40px; padding-left: 40px;}
	body.boxed-layout .fullwidth {margin-left: -40px; margin-right: -40px;}
	body.boxed-layout .fullwidth-banners {margin-left: -40px; margin-right: -40px;}
	.header-wrapper .navbar-collapse.collapse a.level-top.ui-state-focus,
	.header-wrapper .navbar-collapse.collapse a.level-top.ui-state-active {background-color: rgba(0,0,0,0.15); color: #222;}
	.header-wrapper .navbar-collapse.collapse .parent a.level-top.ui-state-focus,
	.header-wrapper .navbar-collapse.collapse .parent a.level-top.ui-state-active {
		border-color: transparent;
		border-bottom-color: transparent;
		background-color: rgba(0,0,0,0.15);
		color: #222;
		-webkit-box-shadow: -4px 8px 14px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: -4px 8px 14px 0px rgba(0,0,0,0.2);
		box-shadow: -4px 8px 14px 0px rgba(0,0,0,0.2);
	}
	.navigation .level0 .submenu {
		-webkit-box-shadow: -4px 8px 14px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: -4px 8px 14px 0px rgba(0,0,0,0.2);
		box-shadow: -4px 8px 14px 0px rgba(0,0,0,0.2);
	}
	.header-wrapper .navbar-collapse.collapse li.active > a.level-top,
	.header-wrapper .navbar-collapse.collapse li.active > a.level-top.ui-state-active,
	.header-wrapper .navbar-collapse.collapse li.active > a.level-top.ui-state-focus {background-color: #816090; color: #fff;}

	.products-grid .image-wrapper .button-wrapper {
		opacity: 0;
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
		-ms-transform: translateY(100%);
		transform: translateY(100%);
	}

	/* Home Page */
	.bordered-wrapper {
		padding-left: 30px;
		padding-right: 30px;
	}

	.footer .footer-middle-block ul.social-links {padding-right: 40px;}
}

/* #Desktop ================================================== */

/* Note: Design for a width of 1024px */

@media only screen and (min-width: 1008px) and (max-width: 1331px) {
	.header-wrapper .header.links .customer-menu li a {text-align: left;}
	body.boxed-layout .fullwidth {margin-left: -10px; margin-right: -10px;}
	body.boxed-layout .fullwidth-banners {margin-left: -10px; margin-right: -10px;}

	.page-header .top-block {text-align: center;}
	.page-header .top-block .minicart-wrapper .block-minicart {text-align: left;}
	.page-header .logo-wrapper {padding-right: 20px;}
	.page-header .middle-block {text-align: center;}
	.text-banners-block a {padding: 12px 9px;}
	.sidebar .block.block-compare .product-item-name {width: 90%;}
	.header-wrapper .navbar-collapse.collapse a.level-top {padding: 12px 10px; font-size: 15px;}
	.header-wrapper .block-search {width: 240px;}
	.text-banners-block a span.title {font-size: 12px;}

	.wide-layout .page-header .top-block,
	.boxed-layout .page-header .top-block .container {padding-top: 0; padding-bottom: 0;}
	.header-wrapper .navbar-collapse.collapse a.level-top.ui-state-focus,
	.header-wrapper .navbar-collapse.collapse a.level-top.ui-state-active {background-color: rgba(0,0,0,0.15); color: #222;}
	.header-wrapper .navbar-collapse.collapse .parent a.level-top.ui-state-focus,
	.header-wrapper .navbar-collapse.collapse .parent a.level-top.ui-state-active {
		border-color: transparent;
		border-bottom-color: transparent;
		background-color: rgba(0,0,0,0.15);
		color: #222;
		-webkit-box-shadow: -4px 8px 14px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: -4px 8px 14px 0px rgba(0,0,0,0.2);
		box-shadow: -4px 8px 14px 0px rgba(0,0,0,0.2);
	}
	.header-wrapper .navbar-collapse.collapse li.active > a.level-top,
	.header-wrapper .navbar-collapse.collapse li.active > a.level-top.ui-state-active,
	.header-wrapper .navbar-collapse.collapse li.active > a.level-top.ui-state-focus {background-color: rgba(0,0,0,0.15); color: #222;}
	.navigation .level0 .submenu {
		-webkit-box-shadow: -4px 8px 14px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: -4px 8px 14px 0px rgba(0,0,0,0.2);
		box-shadow: -4px 8px 14px 0px rgba(0,0,0,0.2);
	}
	#sticky-header .right-wrapper {width: 87%;}
	#sticky-header .navbar-default {
		padding: 5px 0;
	}
	.header-wrapper #sticky-header .navbar-collapse.collapse a.level-top {padding-left: 8px; padding-right: 7px; font-size: 12px;}

	/* Home Page */
	#home-slider .item .slide-container {
		top: 36.6%;
	}
	#home-slider .item .slide-container.slide-skin-2 {
		top: 28.6%;
	}
	.wide-banner {
		padding-top: 60px;
		padding-bottom: 160px;
	}

	/* Product Listing */
	.products-grid li.item .product-item-info {padding: 10px;}
	.products-grid .button-wrapper,
	.products-list .button-wrapper,
	.products-grid .secondary-buttons,
	.products-list .secondary-buttons {display: block;}
	.products-grid .secondary-buttons,
	.products-list .secondary-buttons {margin-top: 10px;}
	.products-grid .add-to-links,
	.products-list .add-to-links {margin-left: 0;}

	.footer .footer-links a {padding-left: 14px; padding-right: 14px;}
	.footer .footer-logo {padding-top: 6px; padding-bottom: 6px;}
	.footer .block-subscribe .custom-footer-content {width: 79%;}

}

/* #Tablet (Portrait) ================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 1007px) {
	#home-slider .item .slide-container.slide-skin-2 {top: 30%;}
	
	body.boxed-layout .fullwidth {margin-left: -10px; margin-right: -10px;}
	body.boxed-layout .fullwidth-banners {margin-left: -10px; margin-right: -10px;}
	.product-image-wrapper img {width: auto!important; height: auto!important;}
	.products-grid .actions-secondary a {margin-left: 10px;}
	.wide-layout .page-header .top-block,
	.boxed-layout .page-header .top-block .container {padding-top: 0; padding-bottom: 0;}
	.page-header .action.nav-toggle {display: inline-block; margin: 0; padding: 0 20px; vertical-align: middle; float: left;}
	.page-header .welcome {float: right;}
	.page-header .middle-block .left-block,
	.page-header .middle-block .right-block {float: none;}
	.page-header .action.nav-toggle i {line-height: 24px;}
	.page-header .top-block .right-block {float: none; display: inline-block;}
	.nav-before-open{height: 100%;width: 100%}
	.page-header .header-switcher {display: none;}
	.page-header ul.social-links li a span {display: none;}
	.page-header ul.social-links li a i {margin-right: 0;}
	.page-header ul.social-links {margin-right: 20px;}
	.nav-before-open .page-wrapper{-webkit-transition: left .3s;-moz-transition: left .3s;-ms-transition: left .3s;transition: left .3s;height: 100%;left: 0; /* overflow: hidden; */ position: relative}
	.header-wrapper .navbar-collapse.collapse a.level-top span {padding-top: 0;}
	.nav-before-open body{height: 100%;overflow: hidden;position: relative;width: 100%}
	.header-wrapper .block-search {margin-left: 0; width: 370px;}
	.page-header .quick-access {text-align: center;}
	.page-header .right-block-wrapper {float: none; display: inline-block; margin-left: 0;}
	.page-header .custom-wish-link {display: none;}
	.header-wrapper .navbar-collapse.collapse li:not(.first) a.level-top:before {content: none;}
	.header.links {display: none;}
	.nav-open .page-wrapper{left: 360px;}
	.nav-open .nav-sections{
		-webkit-box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
		-moz-box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
		-ms-box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
		box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
		left: 0;
		z-index: 99;

	}
	.nav-open .nav-toggle:after{
		background: rgba(0,0,0,0.01);
		content: '';
		display: block;
		height: 100%;
		position: fixed;
		right: 0;
		top: 0;
		/*width: calc(100% - 268px);*/
		z-index: 1;
	}
	.nav-sections {width: 360px; left: -360px;}
	.nav-sections-items{position: relative; z-index: 1}
	.nav-sections-items:before,
	.nav-sections-items:after{content: '';display: table}
	.nav-sections-items:after{clear: both}
	.nav-sections-item-title {
		background: transparent;
		border: solid #d7d7d7;
		border-width: 0 0 1px 1px;
		box-sizing: border-box;
		float: left;
		height: 46px;
		font-size: 14px;
		padding: 13px 0;
		text-align: center;
		width: 33.33%;
	}
	.nav-sections-item-title a {color: inherit;}
	.nav-sections-item-title.active {background: #e3e3e3; border-bottom: 0;}
	.nav-sections-item-title.active a {color: #000;}
	.nav-sections-item-title .nav-sections-item-switch:hover {text-decoration: none;}
	.nav-sections-item-content {box-sizing: border-box; float: right; margin-left: -100%; margin-top: 45px; width: 100%; padding: 20px;}
	.nav-sections-item-content .navbar-collapse.collapse {border: none; margin: -20px;}
	.nav-sections-item-content:before,
	.nav-sections-item-content:after{content: '';display: table}
	.nav-sections-item-content:after{clear: both}
	.nav-sections-item-content.active{display: block}
	.mobile-menu-wrapper .header-switcher,
	.mobile-menu-wrapper .header-switcher .options {display: block; margin: 0;}
	.mobile-menu-wrapper .header-switcher .options span {color: #222;}
	.mobile-menu-wrapper .customer-welcome .customer-name {color: #222; font-weight: normal;}
	.mobile-menu-wrapper .header-switcher .options .action.toggle,
	.mobile-menu-wrapper .header-switcher .options .action.toggle.active {display: block; padding: 2px 10px 2px 10px; border: solid 1px #ddd;}
	.header.links li.authorization-link:before,
	.header.links li.authorization-link + li:before{content:none;}
	.header-wrapper .navbar-default{border: none;}
	.mobile-menu-wrapper .switcher-trigger strong {width: calc(100% - 16px);}

	.mobile-menu-wrapper .header-switcher + .header-switcher {margin-top: 20px;}
	.mobile-menu-wrapper .header-switcher + .header-switcher > div {display: block;}
	.mobile-menu-wrapper .header-switcher + .header-switcher:before {content: none;}
	.mobile-menu-wrapper .customer-welcome .action.switch:after {color: #222;}
	.page-header .quick-access .header-switcher {display: none;}
	.navigation{background: #f0f0f0;box-sizing: border-box; display: none;}
	.navigation ul {margin: 0; padding: 0; float: none;}
	.navigation li {margin: 0; float: none; display: block;}
	.navigation a{display: block;padding-top: 10px;padding-right: 0;padding-bottom: 10px;padding-left: 15px}
	.navigation a,
	.navigation a:hover{color: #575757;text-decoration: none}
	.navigation .level0 .submenu {background: inherit;}
	.navigation .level0{border-top: 1px solid #d1d1d1;}
	.navigation .level0 > .level-top{font-weight: 700;padding: 8px 40px 8px 15px;text-transform: uppercase;word-wrap: break-word}
	.navigation .level0.active .all-category .ui-state-focus{border-color: #ff5501;border-style: solid;border-width: 0 0 0 8px;color: #333;padding-left: 7px;display: inline-block}
	.navigation .level0 > .level1{font-weight: 600}
	.navigation .level0.active > a:not(.ui-state-active),
	.navigation .level0.has-active > a:not(.ui-state-active){opacity: .75; background: transparent;}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {background: transparent;}
	.navigation .level0 .submenu a:hover,
	.navigation .level0 .submenu a.ui-state-focus,
	.navigation .level0 .submenu .active > a,
	.navigation .level0 .submenu li.level1 > a  {background: transparent; color: #222;}
	.navigation li.level0:last-child{border-bottom: 1px solid #d1d1d1}
	.navigation .submenu > li{word-wrap: break-word}
	.navigation .submenu:not(:first-child){font-weight: 400;line-height: 1.3;left: auto !important;overflow-x: hidden;padding: 0;position: relative;top: auto !important;transition: left .3s ease-out}
	.navigation .submenu:not(:first-child) > li > a{padding-left: 15px}
	.navigation .submenu:not(:first-child) > li:last-child{margin-bottom: 0}
	.navigation .submenu:not(:first-child) ul{display: block;padding-left: 15px}
	.navigation .submenu:not(:first-child) ul > li{margin: 0}
	.navigation .submenu:not(:first-child) ul > li a{color: #575757;display: block;line-height: normal}
	.navigation .submenu:not(:first-child).expanded{display: block !important;padding-right: 0;top: 0 !important}
	.navigation .submenu:not(:first-child) .active > a{border-color: #ff5501;border-style: solid;border-width: 0 0 0 8px;color: #333;padding-left: 7px}
	.navigation .submenu:not(:first-child) .level1.active > a{padding-left: 7px}

	.header-wrapper .navbar-collapse.collapse a.level-top {padding: .75em 20px; font-family: 'Open Sans'; font-weight: normal; font-size: 14px; text-transform: none; color: rgba(0,0,0,0.9); display: block;}
	.header-wrapper .navbar-collapse.collapse a.level-top.ui-state-focus {margin: 0; padding: .75em 20px; background: transparent; color: #222;}
	.page-header .header-switcher ul li + li:before {content: none;}

	/* new mobile menu */
	.header-wrapper .menu-wrapper .container {display: none;}
	.header-wrapper .navbar-collapse.collapse {display: block;}
	.header-wrapper .navbar-collapse.collapse li.level-top.parent > a {position: static;}
	.header-wrapper .navbar-collapse.collapse li.level-top.parent:after {
		content: '\f078';
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: absolute;
		right: 5px;
		padding: 5px;
		top: 10px;
	}
	.header-wrapper .navbar-collapse.collapse a.level-top .ui-menu-icon {display: none;}
	.header-wrapper .navbar-collapse.collapse li.parent a.level-top:after {content: none;}
	.navigation .level0 .submenu {position: static; box-shadow: none; margin: 0; padding: 0 10px; position: static!important;}
	.header-wrapper .mobile-menu-wrapper .header.links {display: block; margin: -20px; padding: 0;}
	.header-wrapper .mobile-menu-wrapper .header.links li {padding: 12px; display: block; float: none; border-bottom: solid 1px rgba(0,0,0,.15); margin-right: 0;}
	.header-wrapper .mobile-menu-wrapper .header.links li a {font-size: 14px; color: rgba(0,0,0,0.9); font-weight: normal;}
	.header-wrapper .mobile-menu-wrapper .header.links li a:before {content: none;}
	.header-wrapper .mobile-menu-wrapper .header.links li + li {border: none;}
	.header-wrapper .mobile-menu-wrapper .header.links li.authorization-link,
	.header-wrapper .mobile-menu-wrapper .header.links li.authorization-link + li {display: inline-block; border: none;}
	.header-wrapper .mobile-menu-wrapper .header.links li.authorization-link {padding-right: 0;}
	.header-wrapper .mobile-menu-wrapper .header.links li.authorization-link + li {padding-left: 0;}
	.header-wrapper .mobile-menu-wrapper .header.links li.authorization-link a,
	.header-wrapper .mobile-menu-wrapper .header.links li.authorization-link + li a {display: inline-block;}
	.header-wrapper .menu-wrapper {text-align: left; color: rgba(0,0,0,0.9);}
	.header-wrapper .menu-wrapper .customer-welcome .customer-name > span:before{color: rgba(0,0,0,0.9);}
	.header-wrapper .mobile-menu-wrapper .navigation {display: block; padding: 0; width: 100%;}

	.header-wrapper .mobile-menu-wrapper .customer-menu .header.links{
		min-width: 0;
		position: static;
		margin:12px 0 0;
	}
	.header-wrapper .mobile-menu-wrapper .customer-menu  .header.links li {border-bottom: solid 1px rgba(0,0,0,.15);}
	.header-wrapper .mobile-menu-wrapper .customer-welcome ul:before,
	.header-wrapper .mobile-menu-wrapper .customer-welcome ul:after{content:none;}

	.header-wrapper div:not(.customer-menu) > .header.links > .authorization-link:after {color: rgba(0,0,0,0.9); font-size: 12px; margin:0 4px; font-weight: normal;}

	/* end */
	body button.primary,
	body .btn,
	body.checkout-index-index button[type="submit"] {font-size: 11px; padding: 8px 17px;}

	/* Sticky Header */
    #sticky-header {display: none !important;}


	/* Home Page */
	#home-slider .item .slide-container {
		top: 28.6%;
	}
	.wide-banner {
		padding-top: 50px;
		padding-bottom: 150px;
	}

	.sidebar .block li a:not(.action),
	.sidebar .block li strong {width: 90%;}

	.sidebar .block.block-reorder li .field + .product-item-name {width: 84%; vertical-align: top;}
	.sidebar .block .secondary {margin: .75em 0 0;}
	.products-grid .actions-primary + .actions-secondary {margin-top: .75em;}
	#product-review-table th,
	#product-review-table td {padding: 6px;}
	.toolbar .modes {margin-right: 0;}

	.page-header .top-block {text-align: center;}
	.page-header .top-block .minicart-wrapper .block-minicart {text-align: left;}
	.minicart-wrapper .title-cart,
	.header.links li {padding-left: 10px; padding-right: 10px;}
	.page-header .middle-block-inner {text-align: center;}
	.page-header .logo-wrapper {float: none; display: block; padding-bottom: 0; padding-right: 0; padding-top: 20px;}
	.page-header .quick-access {float: left; display: block; padding-top: 24px; text-align: left; width: 70%; padding-bottom: 30px;}
	.page-header .middle-block .top-cart-block {padding-top: 24px;}
	.page-header .action.nav-toggle{padding-left: 0;}
	.products-list .widget-new-list li.item .lightbox-button {display: none;}
	.products-grid .button-wrapper,
	.products-list .button-wrapper,
	.products-grid .secondary-buttons,
	.products-list .secondary-buttons {display: block;}
	.products-grid .secondary-buttons,
	.products-list .secondary-buttons {margin-top: 10px;}
	.products-grid .add-to-links,
	.products-list .add-to-links {margin-left: 0;}

	.products-grid .reviews-actions a.add {display: none;}
	.products-grid li.item .product-item-info {padding: 10px;}
	.toolbar .toolbar-sorter {display: block; padding-top: 10px;}
	.toolbar .toolbar-sorter .sorter-label,
	.toolbar .toolbar-sorter select.form-control,
	.toolbar .toolbar-sorter .sorter-action {float: left;}
	.toolbar .toolbar-sorter .sorter-label {padding: 10px 2px 10px 0;}
	.text-blocks-wrapper p {font-size: .91em;}

	.text-banners-block a span.title {font-size: 11px;}

	.info-block .item {min-height: 330px;}
	.toolbar .limiter {margin-left: 10px;}
	.footer .footer-links a {padding: .45em 7px; position: relative; display: inline-block; font-size: 11px;}
	.sidebar .block {padding: 0 12px 16px;}
	.block-title,
	.sidebar .block .block-title,
	.block-collapsible-nav-title {padding: 16px 0; font-size: 1.16em;}

	.footer .footer-bottom-block {text-align: center;}
	.footer .copyright ,
	.footer .payments {float: none !important;}
	.footer .copyright {margin-top: 20px;}
	.footer .footer-logo {padding-top: 0; padding-bottom: 0;}
	.footer .social-links-block {padding: 9px 0;}
	.footer .newsletter .label {font-size: 11px;}
	.footer ul.social-links li + li {margin-left: 10px;}
	.footer ul.social-links li a {width: 30px; height: 30px; line-height: 30px;}
	.footer .block-subscribe .footer-block-title {font-size: 14px;}
	.footer .block-subscribe .custom-footer-content {width: 77%;}
	
	.footer ul.social-links {float: none;}
}
/*  #Mobile (Portrait) ================================================== */

/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	body.boxed-layout .fullwidth {margin-left: -10px; margin-right: -10px;}
	body.boxed-layout .fullwidth-banners {margin-left: -10px; margin-right: -10px;}

	 /* Data Table */
	table.table:not(#product-attribute-specs-table):not(#product-review-table):not(#product-comparison):not(.totals) table,
	table.table:not(#product-attribute-specs-table):not(#product-review-table):not(#product-comparison):not(.totals) thead,
	table.table:not(#product-attribute-specs-table):not(#product-review-table):not(#product-comparison):not(.totals) tbody,
	table.table:not(#product-attribute-specs-table):not(#product-review-table):not(#product-comparison):not(.totals) th,
	table.table:not(#product-attribute-specs-table):not(#product-review-table):not(#product-comparison):not(.totals) td,
	table.table:not(#product-attribute-specs-table):not(#product-review-table):not(#product-comparison):not(.totals) tr { display: block; border: none!important; text-align: left !important;  width: 100%!important; float: none; }
	table.table:not(#product-attribute-specs-table):not(#product-review-table):not(#product-comparison) thead tr { display: none;}
	table.table:not(#product-attribute-specs-table):not(#product-review-table):not(#product-comparison) th,
	table.table:not(#product-attribute-specs-table):not(#product-comparison)  td { padding: 10px 10px; width: 100%!important;}
	table.table:not(#product-attribute-specs-table):not(#product-review-table):not(#product-comparison) td a.product-image{width:auto; max-width:100%; margin:0 auto; float:none;}
	table.table:not(#product-attribute-specs-table):not(#product-review-table):not(#product-comparison) td a.product-image img{width:100%;}
	table.table:not(#product-attribute-specs-table):not(#product-review-table):not(#product-comparison) td .cart-label { width: 80px; display: inline-block; vertical-align: middle; font-size:1.16em; color:#888; font-weight:normal; }
	table.table:not(#product-attribute-specs-table):not(#product-review-table):not(#product-comparison) td.last { border-bottom: 1px solid #ddd!important;/*  margin-bottom: 1.5em; */ margin-bottom: -1px;}
	#shopping-cart-table tbody tr td.actions a {float: right;}

	body .table-comparison {width: auto; max-width: none;}
	.table-comparison .product-item-actions > .actions-primary + .actions-secondary {margin: .75em 0 0;}


	body #co-shipping-method-form #checkout-shipping-method-load table.table.table-checkout-shipping-method th,
	body #co-shipping-method-form #checkout-shipping-method-load table.table.table-checkout-shipping-method td {display: inline-block; width: auto!important;}

	table#product-review-table table { display:  table;}
	table#product-review-table thead { display: table-header-group;}
	table#product-review-table tbody { display: table-row-group;}
	table#product-review-table tr { display:  table-row;}
	table#product-review-table th,
	table#product-review-table td { display: table-cell;}
	table#product-review-table thead tr { display:  table-row;}
	table#product-review-table {  margin:10px 0;}
	table#product-review-table th { padding:4px 3px; border:1px solid #E4E4E4; font-weight:bold; white-space:normal; }
	table#product-review-table td { padding:14px 20px; border:1px solid #E4E4E4;}
	table#product-review-table thead th span{text-indent:0; white-space:normal; overflow:visible; background:none!important; width:auto; font-size:10px; color:#fff;}
	table#product-review-table td{padding:9px 11px;}
	table#product-review-table tbody th{font-size:1em; padding:9px;}
	#shopping-cart-table thead {display: none!important;}

	.fieldset .customer-name-prefix-middlename-suffix .field {width: 33.33334%;}

	.page-header .panel {text-align: center; float: none; padding: 0;}
	.page-header a.logo,
	.page-header .logo {float: none; padding-bottom: 0;}
	.page-header .block-search {margin: 5px 0 15px 0; display: block; clear: both; width: 83%; float: right;}
	.header-wrapper .block-search .input-group,
	.header-wrapper .block-search .input-group input {width: 100%;}
	.header.links {float: none; display: inline-block;}
	.product-image-wrapper img {width: auto!important; height: auto!important;}
	.products-grid .actions-secondary a {margin-left: 10px;}
	.header-wrapper .block-search.type-2 .indent .inner .input-group {width: 86%;}
	.header-wrapper .block-search.type-2 .indent .inner input {width: 75%;}
	.page-header .header-switcher {display: none;}
	.page-header .header-switcher ul li + li:before {content: none;}
	.header-wrapper .block-search .input-group input  {font-size: 12px;}
	.page-header .header-custom-links a {font-size: 10px;}
	.page-header .header-custom-links i {font-size: 14px;}
	.page-header .header-custom-links + .welcome, .page-header .welcome + .header-custom-links {margin-left: 4px; padding-left: 4px;}
	.page-header .header-text-block {display: none;}
	.page-header ul.social-links li a span {display: none;}
	.page-header .header-custom-links {padding: 0; position: relative;}
	.page-header .header-custom-links .navbar-toggle {color: #888; margin: 0; padding: 13px 10px 11px;}
	.page-header  .header-custom-links  .navbar-collapse.collapse {
		display: none;
		position: absolute !important;
		right: 0;
		width: 160px;
		top: 100%;
		text-align: left;
		background: #fff;
		height: auto!important;
		box-shadow: 0 0 8px rgba(0,0,0,.2);
		z-index: 999;
	}
	.page-header  .header-custom-links  .navbar-collapse.collapsing {
		position: absolute !important;
		right: 0;
		width: 160px;
		top: 100%;
		text-align: left;
		background: #fff;
		height: auto!important;
		box-shadow: 0 0 8px rgba(0,0,0,.2);
		z-index: 999;
	}
	.page-header .header-custom-links  .navbar-collapse.collapse.in {display: block; position: absolute !important;}
	.page-header .header-custom-links .navbar-collapse a {color: #222;}
	.page-header .header-custom-links .navbar-collapse li {display: block;}
	.page-header .header-custom-links ul.navbar-collapse li + li {margin-left: 0; border-left: none; padding-left: 7px;}

	#home-slider .item .subtitle{display: none;}
	#home-slider .item .title {font-size: 20px; line-height: 18px; letter-spacing: 0; display: none;}
	#home-slider .item .label {font-size: 12px; line-height: 18px;}
	#home-slider .item .slide-container.slide-skin .title {margin-bottom: 0;}
	#home-slider .item .slide-container.slide-skin-2 {right: 3%;}
	#home-slider .item .slide-container.slide-skin-2 .subtitle {font-size: 17px;}
	#home-slider .item .slide-container.slide-skin-2 .title,
	#home-slider .item .slide-container.slide-skin-3 .title {margin-bottom: 0;}
	#home-slider.owl-theme .owl-pagination {bottom: 0; right: 10px;}

	.catalog-category-view .products-grid li.item,
	.catalog-category-view .products-grid li.product-item {float: none; width: auto; clear: both;}
	.products-list .product-item-photo,
	.products-list .product-item-details {float: none; width: auto;}

	.toolbar .toolbar-sorter {float: right;}
	.toolbar .limiter {float: none; margin-top: 10px;}


	.footer-bottom-wrapper .pull-left,
	.footer-bottom-wrapper .pull-right {float: none!important; display: block; text-align: center;}
	.footer .switcher-store {margin: 0;}
	.footer .social-links {display: inline-block;}

	[class*='col-sm'] + [class*='col-sm'] {margin-top: 12px;}

	.page-title {font-size: 2em;}
	
	.header.links li.authorization-link:before,
	.header.links li.authorization-link + li:before{content:none;}
	.header-wrapper .navbar-default{border: none;}
	
	.page-header .right-block-wrapper {display: block; margin: 0; padding: 10px 0;}
	.page-header .custom-wish-link {display: none;}
	.page-header .action.nav-toggle {display: inline-block;margin: 0; padding: 0; float: left; margin-top: 7px; margin-left: 5px;}
	.page-header .action.nav-toggle i {line-height: 24px;}
	.nav-before-open{height: 100%;width: 100%}
	.nav-before-open .page-wrapper{-webkit-transition: left .3s;-moz-transition: left .3s;-ms-transition: left .3s;transition: left .3s;height: 100%; left: 0; /* overflow: hidden; */ position: relative}
	.nav-before-open body{height: 100%;overflow: hidden;position: relative;width: 100%}
	.nav-open .page-wrapper{left: 80%; left: calc(100% - 54px);}
	.nav-open .nav-sections{
		-webkit-box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
		-moz-box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
		-ms-box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
		box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
		left: 0;
		z-index: 9999;

	}
	.nav-open .nav-toggle:after{
		background: rgba(0,0,0,0.01);
		content: '';
		display: block;
		height: 100%;
		position: fixed;
		right: 0;
		top: 0;
		/*width: calc(100% - 268px);*/
		z-index: 1;
	}
	.nav-sections {width: 266px;}
	.nav-sections-items {position: relative; z-index: 1;}
	.nav-sections-items:before,
	.nav-sections-items:after {content: ''; display: table;}
	.nav-sections-items:after {clear: both;}
	.nav-sections-item-title {
		font-size: 14px;
		background: transparent;
		border: solid #d7d7d7;
		border-width: 0 0 1px 1px;
		box-sizing: border-box;
		float: left;
		height: 46px;
		padding: 13px 0;
		text-align: center;
		width: 33.33%;
	}
	.nav-sections-item-title a {color: inherit;}
	.nav-sections-item-title.active {background: #e3e3e3; border-bottom: 0;}
	.nav-sections-item-title.active a {color: #000;}
	.nav-sections-item-title .nav-sections-item-switch:hover {text-decoration: none;}
	.nav-sections-item-content {box-sizing: border-box; float: right; margin-left: -100%; margin-top: 40px; width: 100%; padding: 20px;}
	.nav-sections-item-content .navbar-collapse.collapse {border: none; margin: -20px;}
	.nav-sections-item-content:before,
	.nav-sections-item-content:after{content: '';display: table}
	.nav-sections-item-content:after{clear: both}
	.nav-sections-item-content.active{display: block}
	.mobile-menu-wrapper .header-switcher,
	.mobile-menu-wrapper .header-switcher .options {display: block; margin: 0;}
	.mobile-menu-wrapper .header-switcher .options span {color: #222;}
	.mobile-menu-wrapper .customer-welcome .customer-name {color: #222;}
	.mobile-menu-wrapper .header-switcher .options .action.toggle,
	.mobile-menu-wrapper .header-switcher .options .action.toggle.active {display: block; padding: 2px 10px 2px 10px; border: solid 1px #ddd;}
	.mobile-menu-wrapper .switcher-trigger strong {width: calc(100% - 16px);}
	.mobile-menu-wrapper .header-switcher + .header-switcher {margin-top: 20px;}
	.mobile-menu-wrapper .header-switcher + .header-switcher > div {display: block;}
	.mobile-menu-wrapper .header-switcher + .header-switcher:before {content: none;}
	.header-wrapper .mobile-menu-wrapper .navbar-default {display: block; padding: 0; width: 100%;}
	.header-wrapper .navbar-collapse.collapse a.level-top span {padding-top: 0;}
	.navigation{background: #f0f0f0;box-sizing: border-box}
	.navigation ul{margin: 0;padding: 0}
	.navigation li{margin: 0}
	.navigation li.level0.first {margin-top: 5px;}
	.navigation a{display: block;padding-top: 10px;padding-right: 0;padding-bottom: 10px;padding-left: 15px}
	.navigation a,
	.navigation a:hover{color: #575757;text-decoration: none}
	.navigation .level0 .submenu {background: inherit;}
	.navigation .level0:not(:first-child) {border-top: 1px solid #d1d1d1;}
	.navigation .level0 > .level-top{font-weight: 700;padding: 8px 40px 8px 15px;text-transform: uppercase;word-wrap: break-word}
	.navigation .level0.active .all-category .ui-state-focus{border-color: #ff5501;border-style: solid;border-width: 0 0 0 8px;color: #333;padding-left: 7px;display: inline-block}
	.navigation .level0 > .level1{font-weight: 600}
	.navigation .level0.active > a:not(.ui-state-active),
	.navigation .level0.has-active > a:not(.ui-state-active){opacity: .75; background: transparent;}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {background: transparent;}
	.navigation .level0 .submenu a:hover,
	.navigation .level0 .submenu a.ui-state-focus,
	.navigation .level0 .submenu .active > a,
	.navigation .level0 .submenu li.level1 > a  {background: transparent; color: #222;}
	.navigation li.level0:last-child{border-bottom: 1px solid #d1d1d1}
	.navigation .submenu > li{word-wrap: break-word}
	.navigation .submenu:not(:first-child){font-weight: 400;line-height: 1.3;left: auto !important;overflow-x: hidden;padding: 0;position: relative;top: auto !important;transition: left .3s ease-out}
	.navigation .submenu:not(:first-child) > li > a{padding-left: 15px}
	.navigation .submenu:not(:first-child) > li:last-child{margin-bottom: 0}
	.navigation .submenu:not(:first-child) ul{display: block;padding-left: 15px}
	.navigation .submenu:not(:first-child) ul > li{margin: 0}
	.navigation .submenu:not(:first-child) ul > li a{color: #575757;display: block;line-height: normal}
	.navigation .submenu:not(:first-child).expanded{display: block !important;padding-right: 0;top: 0 !important}
	.navigation .submenu:not(:first-child) .active > a{border-color: #ff5501;border-style: solid;border-width: 0 0 0 8px;color: #333;padding-left: 7px}
	.navigation .submenu:not(:first-child) .level1.active > a{padding-left: 7px}

	.header-wrapper .navbar-collapse.collapse a.level-top {padding: .75em 20px; font-family: 'Open Sans'; font-weight: normal; font-size: 14px; text-transform: none; color: rgba(0,0,0,0.9);}
	.header-wrapper .navbar-collapse.collapse a.level-top.ui-state-focus {margin: 0; padding: .75em 20px; background: transparent; color: #222;}
	
	.page-header .middle-block .left-block{float: none;}
	.page-header .middle-block .right-block {
		float: none;
		text-align: center;
		padding-top: 30px;
	}
	

	/* new mobile menu */
	.header-wrapper .menu-wrapper .container {display: none;}
	.header-wrapper .navbar-collapse.collapse {display: block;}
	.header-wrapper .navbar-collapse.collapse li.level-top.parent > a {position: static;}
	.header-wrapper .navbar-collapse.collapse li.level-top.parent:after {
		content: '\f078';
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: absolute;
		right: 5px;
		padding: 5px;
		top: 7px;
	}
	.header-wrapper .navbar-collapse.collapse a.level-top .ui-menu-icon {display: none;}
	.header-wrapper .navbar-collapse.collapse li.parent a.level-top:after {content: none;}
	.navigation .level0 .submenu {position: static; box-shadow: none; margin: 0; padding: 0 10px; position: static!important;}
	.header-wrapper .mobile-menu-wrapper .header.links {display: block; margin: -13px -20px; padding: 0;}
	.header-wrapper .mobile-menu-wrapper .header.links li {padding: 13px 12px; display: block; float: none; border-bottom: solid 1px rgba(0,0,0,.15); margin-right: 0;}
	.header-wrapper .mobile-menu-wrapper .header.links li a {font-size: 14px; color: rgba(0,0,0,0.9); font-weight: normal;}
	.header-wrapper .mobile-menu-wrapper .header.links li a:before {content: none;}
	.header-wrapper .mobile-menu-wrapper .header.links li + li {border: none;}
	.header-wrapper .mobile-menu-wrapper .header.links li.authorization-link,
	.header-wrapper .mobile-menu-wrapper .header.links li.authorization-link + li {display: inline-block; border: none;}
	.header-wrapper .mobile-menu-wrapper .header.links li.authorization-link {padding-right: 0;}
	.header-wrapper .mobile-menu-wrapper .header.links li.authorization-link + li {padding-left: 0;}
	.header-wrapper .mobile-menu-wrapper .header.links li.authorization-link a,
	.header-wrapper .mobile-menu-wrapper .header.links li.authorization-link + li a {display: inline-block;}
	.header-wrapper .menu-wrapper {text-align: left; color: rgba(0,0,0,0.9);}
	.header-wrapper .menu-wrapper .customer-welcome .customer-name > span:before{color: rgba(0,0,0,0.9);}

	.header-wrapper .mobile-menu-wrapper .customer-menu .header.links{
		min-width: 0;
		position: static;
		margin:12px 0 0;
	}
	.header-wrapper .mobile-menu-wrapper .customer-menu  .header.links li {border-bottom: solid 1px rgba(0,0,0,.15);}
	.header-wrapper .mobile-menu-wrapper .customer-welcome ul:before,
	.header-wrapper .mobile-menu-wrapper .customer-welcome ul:after{content:none;}

	.header-wrapper div:not(.customer-menu) > .header.links > .authorization-link:after {color: rgba(0,0,0,0.9); font-size: 12px; margin:0 4px; font-weight: normal;}
	/* end */


	.minicart-items .product-item-details .details-qty .update-cart-item{padding:12px;}


	.page-header .right-block .top-block {display: inline-block;}
	.customer-welcome .customer-menu {text-align: left;}

	.footer.default {text-align: center;}
	.footer.default .copyright,
	.footer.default .switcher-store {float: none; display: inline-block;}
	.footer.default .switcher-store {margin: 1em 0 0;}
	.toolbar .sidebar-button {display: none;}
	body .nav-tabs > li {float: none;}
	#tabs .nav-tabs > li > a {margin: 0;}


	.page-layout-1column .filter-title {display: inline-block; padding: 5px 10px; margin: 0; float: left;}
	.page-layout-1column .filter-title strong {padding: 0;}
	.page-layout-1column .filter-title strong:before {
		content: "\f039";
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin-right: 5px;
	}
	.page-layout-1column .filter-options {display: none; margin: 0;}
	body.filter-active .page-wrapper {height: 0; margin-top: -999999em; visibility: hidden;}
	body.filter-active .columns {z-index: 999;}
	.page-layout-1column .filter.active {position: relative; visibility: visible; z-index: 99;}
	.page-layout-1column .filter.active .filter-options-item:last-child {margin-bottom: 40px;}
	.page-layout-1column .filter.active .filter-title {border-bottom: 1px solid #ccc; height: 48px; left: 0; position: fixed; right: 0; top: 0; z-index: 2; margin: 0;}
	.page-layout-1column .filter.active .filter-title strong {
		border-radius: 3px;
		font-weight: 400;
		line-height: 16px;
		padding: 7px 10px;
		position: absolute;
		text-align: center;
		z-index: 2;
		box-shadow: none;
		background: none;
		border: 0;
		color: transparent;
		left: auto;
		right: 3px;
		top: 10px;
		display: inline-block;
		text-decoration: none;
	}
	.page-layout-1column .filter.active .filter-title strong:after {
		content: "\f00d";
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: relative;
		color: #666;
	}
	.page-layout-1column .filter.active .filter-subtitle {
		background: #fff;
		color: #222;
		font-family: 'Open Sans';
		display: block;
		height: 50px;
		left: 0;
		line-height: 50px;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1;
		padding-left: 10px;
	}
	.page-layout-1column .filter.active .filter-options {background: #fff; bottom: 0; display: block; left: 0; overflow: scroll; position: fixed; right: 0; top: 50px; z-index: 10;}
	.page-layout-1column .filter .filter-subtitle {font-size: 20px; font-weight: 400;}
	.page-layout-1column .filter-actions {margin: -35px -10px 25px;}
	.page-layout-1column .filter-options-content {padding: 5px 0; position: static; width: auto; box-shadow: none; border: none;}
	.page-layout-1column .filter-options-item.active:after,
	.page-layout-1column .filter-options-item.active:before {content: none;}
	.page-layout-1column .filter-options-item {border-bottom: 1px solid #ccc; padding: 10px; display: block; margin: 0;}
	.page-layout-1column .filter-options-content .item {padding:  0;}
	.page-layout-1column .filter-options-content .item a {padding: 9px; display: block;}
	.page-layout-1column .filter .filter-current {border: solid #ccc; border-width: 1px 0; margin: 5px -10px 0;}
	.page-layout-1column .filter .filter-current .items {display: none;}
	.page-layout-1column .filter .filter-current-subtitle {position: relative; text-transform: uppercase; z-index: 1; display: block; text-decoration: none;}
	.page-layout-1column .filter .filter-current-subtitle:before {-webkit-font-smoothing: antialiased; font-size: 13px; line-height: inherit; color: inherit; content: '\e622'; font-family: 'luma-icons'; vertical-align: middle; display: inline-block; font-weight: normal; overflow: hidden; speak: none; text-align: center;}
	.page-layout-1column .filter .filter-current-subtitle:before {position: absolute; right: 10px; top: 10px;}
	.page-layout-1column .filter .filter-current-subtitle:after {color: #7d7d7d; content: ' (' attr(data-count) ')'; font-size: .9em;}
	.page-layout-1column .filter .filter-current.active {padding-bottom: 30px;}
	.page-layout-1column .filter .filter-current.active .block-subtitle:before {content: '\e621';}
	.page-layout-1column .filter .filter-current.active .items {display: block;}
	.page-layout-1column .filter .filter-current.active + .block-actions {display: block;}
	.page-layout-1column .filter .filter-current + .block-actions {display: none;}
	.page-layout-1column .filter-no-options .filter-title:before {background: rgba(255,255,255,0.5); content: ''; display: block; height: 40px; left: -15px; margin-top: -60px; position: relative; width: 100px; z-index: 99;}
	.page-layout-1column .filter-no-options .filter-content {margin-bottom: 20px;}
	.page-with-filter .columns .sidebar-main {-ms-flex-order: 0; -webkit-order: 0; order: 0;}

	.page-layout-1column .filter.block {float: left; margin: 0;}
	.page-layout-1column .filter-title {
		border: none;
		padding: 0 10px;
		text-align: center;
		cursor: pointer;
		font-size: 1.15em;
		margin: 0 10px 0 0;
		font-weight: normal;
		border-radius: 3px;
		background-color: rgba(0,0,0,.06);
		color: rgba(0,0,0,.4);
		border-color: rgba(0,0,0,.02);
		height: 40px;
		line-height: 40px;
	}
	.page-layout-1column .filter-title:after {content: none;}

	.toolbar .limiter,
	.toolbar .modes {display: none;}

	.additional-attributes .table-label {font-weight: bold; color: #222;}
	.additional-attributes td {padding: 10px!important;}

	.products-grid:not(.widget-product-grid) li.item {float: none; width: 100%; clear: both;}
	.products-grid:not(.widget-product-grid) li.item + li.item {margin-top: 1em;}

	.table .item-info {position: relative;}
	.checkout-methods-items {text-align: center;}
	.checkout-index-index .action-auth-toggle {color: #666;}
	#shopping-cart-table tbody tr td.actions {position: absolute; right: 0; top: 0; width: auto!important; padding-top: 5px;}
	#shopping-cart-table .cart.item + .cart.item {margin-top: 20px;}
	.cart.table-wrapper .product-item-details {padding-right: 40px;}
	.cart.table-wrapper td {padding: .5em;}
	.table td.remove {padding: 0; background: none;}
	.table td.remove a {position: absolute; right: 12px; top: 35px;}
	.table td.remove a i {height: auto; width: auto; line-height: normal; border: none;}
	.cart-container .cart.actions a {display: block; float: none;}
	.cart-container .cart.actions .btn {display: block; float: none; margin-top: .75em; width: 100%;}
	body .cart-container #cart-totals table.table.totals th,
	body .cart-container #cart-totals table.table.totals td {padding: 0!important; text-align: center!important;}
	.cart-summary .block-title strong {padding: 0;}
	.cart.table-wrapper td.subtotal:before,
	.cart.table-wrapper td.price-wrapper:before {
		content: attr(data-th);
		font-size: 16px;
		padding-right: 5px;
	}

	#sticky-header {display: none!important;}
	#shipping-new-address-form .field[name="shippingAddress.firstname"],
	#shipping-new-address-form .field[name="shippingAddress.middlename"],
	#shipping-new-address-form .field[name="shippingAddress.lastname"] {width: 100%;}

	.cms-no-route .page-not-found h2 {font-size: 16em;}
	.cms-no-route #search_mini_form {width: 100%;}
	.authentication-wrapper {width: 100%; max-width: 100%; float: none; margin-bottom: 20px; margin-top: 0; text-align: center;}
	.checkout-container .opc-progress-bar {text-align: center;}
	.opc-wrapper .shipping-address-item {width: 50%;}

	.products-list .image-wrapper {float: none; width: 100%;}
	.product-grid-wrapper .products-list .widget-new-list li.item {float: none; width: 100%;}
	.products-list .button-wrapper,
	.products-list .secondary-buttons {display: block;}
	.products-list .secondary-buttons {margin-top: 10px;}
	.products-list .add-to-links {margin-left: 0;}
	.modal-dialog {margin-left: auto; margin-right: auto;}
	.page-products .products-grid li.item,
	.page-products .products-grid li.product-item,
	.products-grid.wishlist li.product-item {width: 100%; clear: both; float: none;}

	.bundle-options-container .product-add-form .product-addto-links a, .product-info-main .product-social-links a {margin-bottom: .75em;}
	.minicart-wrapper .block-minicart {width: 282px;}
	.block-minicart .block-content > .actions div.primary {margin: .75em 0 0; display: block;}
	.block-minicart .block-content > .actions div.primary .btn {display: inline-block;}

	.products-list .widget-new-list .image-wrapper,
	.products-list .widget-new-list .product-item-details {float: left;}
	body.weltpixel-quickview-catalog-product-view .product-info-main .box-gotoproduct {float: left;}
	.list-widget-wrapper .products-grid.widget-product-grid li.item .hover-buttons {padding: 2px;}

	/* Product Page */
	.related .block-actions {float: none; margin: 0 0 15px;}
	.related .block-title {margin-bottom: 0.5em;}

	/* Home Page */
	#home-slider .item .slide-container {
		top: 32.6%;
	}
	#home-slider .item .subtitle {
		font-size: 11px;
		line-height: 16px;
	}
	.wide-banner {
		padding-top: 50px;
		padding-bottom: 150px;
	}


	/* Account */
	.field.password .control #password {float: none; width: 100%;}
	.field.password .control #password-strength-meter-container {float: none; width: 100%; margin: 10px 0;}
	.field.password .control #password-error {position: relative;}


	.page-header .top-block .right-block {float: none; display: inline-block;	}
	.page-header .top-block .right-block-wrapper {
		background-color: rgba(0,0,0,0.08);
		margin: 11px 0 2px;
		padding: 3px 5px;
		text-align: left;
	}
	.logo img {
		max-width: 200px;
	}
	.wide-layout .page-header .top-block,
	.boxed-layout .page-header .top-block .container {border-bottom: none; text-align: center; border-bottom: 1px solid #ddd; padding-top: 0; padding-bottom: 0;}
	.page-header .welcome {padding: 0; margin: 10px 0 5px; display: block;}
	.page-header .quick-access .header-switcher {display: none;}
	.page-header .header-custom-links li {padding: 7px; font-size: 10px;}
	.block-minicart .subtitle.empty {font-size: 12px;}
	.header-wrapper .header.links {margin: 2px 0; display: none;}
	.header.links li {padding: 0 12px;}
	.header.links li a {font-size: 0; display: block;}
	.header.links li a:before {font-size: 16px; margin-right: 0; padding: 5px 0; top: 0;}
	.page-header .header-text-blocks {display: none;}
	.page-header .logo-wrapper {text-align: center; float: none; padding: 18px 0 4px;}
	.header-wrapper .navbar-default {display: none;}
	.page-header .quick-access {float: none; display: block; padding: 0;}
	.minicart-wrapper {float: right;}
	.about-block span.title {line-height: 1em;}
	.main-bottom-links .item {float: none; width: auto;}
	.promo-block .background-wrapper {background-size: cover;}
	.promo-block .promo-wrapper {padding-left: 0; padding-right: 0;}
	.footer .footer-links-wrapper {float: none; width: 100%;}
	.footer .footer-logo {padding-left: 10px; padding-right: 10px;}

	body.wide-layout .footer .footer-top-block,
	body.boxed-layout .footer .footer-top-block .container {padding-top: 10px; padding-bottom: 10px;}
	.footer .footer-logo {margin: 0; padding: 0;}
	.footer .footer-top-block {text-align: center;}
	.footer .newsletter input.form-control {font-size: 12px;}
	.footer .footer-custom-link {float: none; margin: 0; display: inline-block;}
	.footer .footer-links li a {display: inline-block; padding-left: 12px; padding-right: 12px;}
	.footer .subscribe-block {padding-top: 0;}
	.footer .subscribe-block .form .field input.form-control {width: 150px;}
	.footer .bottom-block {text-align: center;}
	.footer .block-subscribe .footer-block-title {margin-bottom: 15px;}
	.footer .block-subscribe .custom-footer-content {width: 100%;}
	.footer .bottom-block .copyright,
	.footer .bottom-block .payments-wrapper,
	.footer .bottom-block .store-switcher-wrapper {float: none!important; display: inline-block;}
	.footer .copyright {float: none !important; margin-top: 20px;}
	.footer .social-links {float: none;}
	.footer .social-links-block,
	.footer .footer-bottom-block {text-align: center;}
	.footer ul.social-links li a {width: 40px; height: 40px; line-height: 40px;}
	.footer ul.social-links li a i {font-size: 20px;}
	.toolbar .toolbar-amount {margin: .91em 0;}
	.footer .footer-links {text-align: center;}
	.footer .footer-links ul li a {font-size: 12px; padding-left: 10px; padding-right: 10px;}
	.footer .payments {float: none !important;}
	.footer-bordered:before {content: none;}

	.products-grid.one-column li.item,
	.products-grid.two-columns li.item,
	.products-grid.three-columns li.item,
	.products-grid.four-columns li.item,
	.products-grid.five-columns li.item,
	.products-grid.six-columns li.item,
	.products-grid.seven-columns li.item,
	.products-grid.eight-columns li.item{width: 100%;}
}

/* #Mobile (Landscape) ================================================== */

/* Note: Design for a width of 480px */
/*@media only screen and (min-width: 480px) and (max-width: 767px) {*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.products-list .image-wrapper {float: left; width: 25%;}
	.products-list .product-item-details {float: left; width: 75%;}
	.products-grid li.item,
	.products-grid li.product-item,
	.products-grid.wishlist li.product-item,
	.products-grid:not(.widget-product-grid) li.item {width: 50%!important; clear: none!important; float: left;}
	.products-grid li.item:nth-of-type(2n+1),
	.products-grid li.product-item:nth-of-type(2n+1),
	.products-grid.wishlist li.product-item:nth-of-type(2n+1),
	.products-grid:not(.widget-product-grid) li.item:nth-of-type(2n+1) {clear: left!important;}
	.products-grid li.item:nth-of-type(2n+2),
	.products-grid li.product-item:nth-of-type(2n+2),
	.products-grid.wishlist li.product-item:nth-of-type(2n+2),
	.products-grid:not(.widget-product-grid) li.item:nth-of-type(2n+2) {clear: right!important;}
	.subscribe-block .content input {width: 285px;}
	.subscribe-block .content .newsletter {margin-right: 18px;}
	.subscribe-block .content .actions {float: left; margin-left: 0;}
	.footer .subscribe-block {padding-top: 21px;}
	.subscribe-block #newsletter-error{position: absolute;}

	.subscribe-block .block {display: block; margin-left: 20px;}
	.subscribe-block .content .newsletter{float: left;}

}
@media only screen and (min-width: 319px) and (max-width: 767px) {
    .products-list .image-wrapper {
        float: left;
        width: 25%;
    }

    .products-list .product-item-details {
        float: left;
        width: 75%;
    }
    .catalog-category-view .item.product.product-item {
        margin: 11px 0 45px !important;
    }

   .products-grid .item.product.product-item {
        margin: 11px 0 45px !important;
    }

    .products-grid li.item,
    .products-grid li.product-item,
    .products-grid.wishlist li.product-item,
    .products-grid:not(.widget-product-grid) li.item {
        width: 50% !important;
        clear: none !important;
        float: left;
    }

        .products-grid li.item:nth-of-type(2n+1),
        .products-grid li.product-item:nth-of-type(2n+1),
        .products-grid.wishlist li.product-item:nth-of-type(2n+1),
        .products-grid:not(.widget-product-grid) li.item:nth-of-type(2n+1) {
            clear: left !important;
        }

        .products-grid li.item:nth-of-type(2n+2),
        .products-grid li.product-item:nth-of-type(2n+2),
        .products-grid.wishlist li.product-item:nth-of-type(2n+2),
        .products-grid:not(.widget-product-grid) li.item:nth-of-type(2n+2) {
            clear: right !important;
        }
}
