.ui-menu-item {
  list-style: none !important;
}

/*footer css start*/

body .about-block {margin-left: 0; margin-right: 0px;}
.newsletter-section{
    background:#ccc;
    padding:40px 0;
}
.newsletter-section .container{
    max-width:1160px;
    text-align:center;
}
.newsletter-section .container .newsletter, .newsletter-section .container .actions{
    display:inline-block;
    vertical-align:top;
}
.newsletter-section .container .newsletter input.form-control {
    border-radius: 0;
    border: none;
    height: 34px;
    width:370px;
}
@media(max-width:790px){
    .newsletter-section .container .newsletter input.form-control{
        width:auto;
    }
}
.newsletter-section .container .actions .btn{
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    padding: 0 27px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0;
}
.footer .footer-top .container{
    max-width:1160px;
}
.footer-bottom .bottom-block .copyright{
    width:100%;
}
.footer .copyright {margin: 3px 0; color: #999; font-size: 11px;}

.newsletter-section {
    padding: 20px 0;
}
.newsletter-section h5{
    float: left;
    font-size: 18px;
    line-height: 34px;
    margin: 0;
}
.newsletter-section .social-links{
    float:right;
}
.newsletter-section .social-links h5{
    float:left;
    line-height:34px;
    font-size:16px;
}
.newsletter-section ul.social-links{
    padding:0px;
}
.newsletter-section ul.social-links li a {
    display: inline-block;
    text-align: center;
    color: rgba(255,255,255,0.65);
    font-size: 14px;
    line-height: 1.4;
    height: 24px;
    line-height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #333;
    margin-top: 5px;
    margin-left: 5px;
}
.newsletter-section ul.social-links li a i {
    font-size: 14px;
    vertical-align: top;
    line-height: 21px;
}
.footer .links li + li{border:none 0;}
.payment-info .links li{float:left;}
.payment-info .links li img{    max-width: 84px;
    margin-bottom: 15px;
    margin-right: 5px;}
.payment-info.payment-info-1 li a:before{display: none !important;}
.payment-info.payment-info-1 li{text-align:center; width:100%;}
.payment-info.payment-info-1 li img{max-width:150px;}
body.wide-layout .footer .footer-top{background:#fff; color:#000; padding:10px 0 20px;}
.footer .footer-block-title{color:#000; margin-bottom:0; font-weight:bold;}
/*footer css end*/
.page-header .middle-block .container > div {
    display: inline-block;
    width: 33%;
    float: left;
}

/*sticky header css*/

#sticky-header .left-wrapper {
  float: left;
  width: 33.33%;
}

.toolbar {
    margin-top: 60px !important;
}

#sticky-header .top-block .right-block {
    float: right;
}

#sticky-header .header.links li {
    padding: 0 0 0 18px;
    margin: 0;
    float: left;
    position: relative;
}

#sticky-header .top-block .welcome {
    display: inline-block;
    font-size: 11px;
    color: #666;
    padding: 0;
    margin: 0;
}

/*end sticky header css*/

.ms-megamenu .ms-submenu{
    width: 100% !important;
}

.ms-megamenu .ms-topmenu{
    position: unset !important;
}

.subcat-container{
    width: 1272px;
    margin: auto;
}

.main-filter-cat{
    display: none;
}

/***********************************************/

.minicart-wrapper {
    /*display: inline-block; */
    vertical-align: middle; 
    position: relative; 
    margin-left: 10px;
    float: right;
}

.header-wrapper .block-search {
    width:202px; 
    vertical-align: middle; 
    margin: 0;
    display: inline-block;
}

.left-wrapper {
    line-height: 80px;
    display: inline-block;
}

.minicart-wrapper .title-cart {
    color: #000;
}

/*************** product listing *********************/

.catalog-category-view .content-inner .page-title-wrapper{
    display: none;
}

.catalog-category-view .content-inner .category-view{
    display: none;
}

.catalog-category-view .block-wishlist{
    display: none;
}

/***********************************************/

.logo > img {
  width: 80%;
}

.page-header .middle-block {
  padding-top: 0px;
}

.page-header .logo-wrapper {
    padding-right: 0px;
}

.center-block {
  padding: 6px 0;
}


/**************************************************************/

.sidebar .products-grid .product-item-name a, .product-item-name a {
    font-size: 13px !important;
}

.products-grid .add-to-links a, .products-list .add-to-links a {
    border-radius: 0% !important;
    background-color: #000 !important;
    line-height: 29px !important;
}

.products-grid .item .image-wrapper a.product-item-photo:before,
.products-list .item .image-wrapper a.product-item-photo:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.products-grid .alert-spacer {
    min-height: 35px;
}

.products-grid .item.product.product-item {
  margin: 30px 0 45px;
}

.product.product-item-name {
  max-height: 44px;
  min-height: 44px;
  overflow: hidden;
}

.catalog-category-view .item.product.product-item {
  margin: 30px 0 45px;
}

.products-grid .product-item-details , .products-list .product-item-details {
  text-align: center;
}

.products-grid .product-item-name, .products-list .product-item-name{
  text-align: center;
}

.item.product.product-item {
  text-align: center;
}

ul.breadcrumb {
    padding: 5px 0 !important;
}

/*.image-wrapper {
  width: 204px;
  height: auto;
}*/

.block-title.filter-title {
  text-transform: uppercase;
}

.block-content.filter-content dt {
  font-size: 14px;
  padding: 15px 0;
  text-transform: uppercase;
}

.sidebar.sidebar-additional {
  display: none;
}
.filter-options-title::after {
  line-height: 3;
}

.sidebar .block.filter ol li {
  line-height: 20px;
  font-size: 13px;
  text-rendering: optimizelegibility;
}

/************************************************/

.maincat-center{
    margin: auto;
    width: 945px;
}

#sticky-header {
    height: auto !important;
}

#sticky-header .small-logo > img {
  width: 80% !important;
}

#sticky-header .top-cart-block.clearfix {
    margin-top: 25px;
}

#sticky-header .top-block .info-block {
    float: left;
    color: #666;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
    font-size: 11px;
    padding: 0px 0px;
}

#sticky-header .center-wrapper {
    width: 30.33%;
    float: left;
    text-align: center;
    /*padding-top: 10px;
    padding-bottom: 21px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 51px;
}

.page-header .middle-block .logo-wrapper {
    float: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.sidebar .block .block-title strong {
    font-weight: 700 !important;
}

.page-header .info-block {
    margin-right: 0px !important;
    padding: 0px 0px !important;
}

#sticky-header .left-wrapper {
    padding: 0px 0px !important;
}

#sticky-header .top-block{
    position: relative;
    background-color: #f5f5f5;
    padding-top: 5px;
    padding-bottom: 5px;
}

/***************************************************/

.custom-delivery-block ul li{
    display: inline-block;
}

.item-image-static img{
    width: 55px;
    float: left;
}

.text-sub-block {
  float: left;
  padding-left: 20px;
  text-transform: uppercase;
}

.item-title-static {
    font-size: 30px;
    line-height: 26px;
    color: #BCA480;
}

.item-link-static{
 color: #777;
 font-size: 15px;
}

/********************************************/

.product.data.items {
margin: 0 0 20px;
padding: 0;
}
.product.data.items > .item.title {
box-sizing: border-box;
float: none;
width: 100%;
}
.product.data.items > .item.title > .switch {
display: block;
}
.product.data.items > .item.content {
box-sizing: border-box;
display: block;
float: none;
margin: 0;
}
.product.data.items > .item.content::before, .product.data.items > .item.content::after {
content: "";
display: table;
}
.product.data.items > .item.content::after {
clear: both;
}
.product.data.items > .item.content.active {
display: block;
}
.product.data.items > .item.title {
margin: 0 0 5px;
}
.product.data.items > .item.title:not(.disabled) > .switch:focus, .product.data.items > .item.title:not(.disabled) > .switch:hover {
background: #fcfcfc none repeat scroll 0 0;
}
.product.data.items > .item.title:not(.disabled) > .switch:active, .product.data.items > .item.title.active > .switch, .product.data.items > .item.title.active > .switch:focus, .product.data.items > .item.title.active > .switch:hover {
background: #fff none repeat scroll 0 0;
padding-bottom: 5px;
}
.product.data.items > .item.content {
background: #fff none repeat scroll 0 0;
border: 1px solid #d1d1d1;
margin: 0 0 5px;
padding: 20px;
}

.product.data.items > .item.title > .switch {
background: #f0f0f0 none repeat scroll 0 0;
border-color: #d1d1d1;
border-style: solid;
border-width: 1px;
height: 40px;
padding: 5px 20px;
text-decoration: none;
/*color: #7d7d7d;
font-size: 1.8rem;
font-weight: 600;
line-height: 40px;*/
color: #222;
font-family: "Lato";
font-size: 1.16em;
font-weight: 400;
line-height: 1.583em;
}
.product.data.items > .item.title > .switch:visited {
color: #222; /* #7d7d7d */
text-decoration: none;
}
.product.data.items > .item.title > .switch:hover {
color: #222; /* #7d7d7d */
text-decoration: none;
}
.product.data.items > .item.title > .switch:active {
color: #222; /* #333 */
text-decoration: none;
}
/* -------------------------------------------------- */
.product-info-main .page-title-wrapper {
    margin-bottom: 10px;
}
.product-info-main .page-title {
    margin: 20px 0 0;
}
.product-info-main .product-info-stock-sku {
    border-left: medium none;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0px;
    padding-left: 0;
    vertical-align: top;
}
.price-availability-block .special-price {
    display: block;
}
.product-info-main .stock.available {
    background: transparent none repeat scroll 0 0;
    color: #42ab9e;
    font-size: 17px;
    font-weight: normal;
    left: -5px;
    position: absolute;
    text-transform: capitalize;
    top: 68px;
}
.product-info-main .price-box .price-final_price .price {
    font-size: 6em;
}
.product-info-main .title-wrapper .price-box .old-price {
    float: right;
}
.product-info-main .title-wrapper .price-box .old-price .price {
    font-size: 17px;
    color: #ed1c24;
    font-weight: normal;
}
.product-info-main .title-wrapper .price-box .old-price:before {
    content: "RRP. ";
    color: #ed1c24;
    font-size: 17px;
    font-weight: normal;
}
.product-info-main .top-block {
    float: left;
}
.product-info-main .bottom-block {
    float: right;
    margin-top: -10px;
    padding-bottom: 11px;
    padding-top: 0;
    position: relative;
}
.product-info-main .product-options-wrapper {
    float: left;
    width: 66%;
}
.product-info-main .product-options-wrapper .field, .product-info-main .product-options-wrapper .swatch-attribute {
    border-bottom: medium none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.product-info-main .field.qty {
    margin-top: 23px;
    float: right;
}
.product-info-main .box-tocart .actions {
    float: none;
}
.product-info-main .title-wrapper .price-box, .product-info-main .field.qty {
    margin-right: 0;
}
.product-info-main #product-addtocart-button {
    font-size: 24px;
    height: 68px;
    width: 100%;
}
.product-info-main .box-tocart {
    margin-bottom: 20px;
}
/*.product-info-main .product-social-links {
    display: none;
}*/
.product.data.items > .item.title > .switch {
    background: transparent none repeat scroll 0 0;
    border-width: 0;
    font-weight: 400;
    height: auto;
    line-height: 1;
    padding: 7px 0;
    position: relative;
    font-size: 1.16em;
    border-bottom: 1px solid #d1d1d1;
}
.product.data.items > .item.content{
    padding: 8px 0;
    border: none;
}
.additional-attributes .table-label {
    padding: 5px;
    vertical-align: middle;
    width: 33%;
}
.additional-attributes .data {
    padding: 5px;
}
.product.data.items > .item.title > .switch:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    position: absolute; right: 0; top: 7px;
}
.product.data.items > .item.title[aria-selected="true"] > .switch:after {content: '\f106';}
.product.data.items > .item.title:not(.disabled) > .switch:focus, .product.data.items > .item.title:not(.disabled) > .switch:hover {
    background: transparent;
}
.custom-delivery-block .static-delivery::after {
    clear: both;
    content: "";
    display: table;
}
.related .block-title.title {
    background: #f0f0f0 none repeat scroll 0 0;
    border: medium none;
    text-align: center;
}
.product.data.items > .item.title > .switch .counter:before {
    content: "(";
}
.product.data.items > .item.title > .switch .counter:after {
    content: ")";
}
.size-guide {
    display: block;
    float: right;
    font-size: 16px;
    margin: 8px 16px 10px 0;
    text-decoration: underline;
}

/********************************************/

.fotorama__thumb-border {
    border: 1px solid #666 !important;
}

#tab-label-reviews-title {
  color: #222 !important;
  font-family: "Lato" !important;
  font-size: 1.16em !important;
  font-weight: 400 !important;
  line-height: 1.583em !important;
}

.product-options-wrapper select.form-control {
    border-radius: 0;
}

/*.fotorama__stage{
    height: 750px !important;
}*/

.owl-wrapper{width:auto !important;}

/**********************************************/

.owl-carousel .owl-stage-outer{
  padding: 0 !important;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #fff none repeat scroll 0 0 !important;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}


.product_detail_banner {
  background-color: #F0F0F0;
  font-size: 26px;
  height: 60px;
  line-height: 60px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

/********************************************/

.block.related .add-to-links{
    display: none;
}

/******************************************/ 
.price {
    color: #000 !important;
}

.product-info-main .product-social-links a {
    color: #000 !important;
    border: none !important;
    /*padding: 15px 40px 0px 0px !important;*/
    padding: 15px 0px 0px 0px !important;
    margin-right: 0px !important;
}

.product-info-main .product-social-links a:hover {
    background-color: #fff !important;
}

.catalog-product-view .price-availability-block .top-block {
  width: 50%;
}

.fa-exchange{
    color: #000 !important;
}

.size-guide{
    color: #000;
}

.size-guide:hover{
    color: #42ab9e;
}

.message.success {
    background: #e5efe5;
    color: #42ab9e !important;
}


body .btn-primary.type-2 {
    background-color: #000 !important;
    border-color: #000 !important;
}
body .btn-primary.type-2:hover, body .btn-primary.type-2:focus, body .btn-primary.type-2:active, body .btn-primary.type-2.active {
    background-color: #42ab9e !important;
    border-color: #42ab9e !important;
}

/*****************************************/

.custom-related-tab .data.item.title {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 15px 0;
  text-align: center;
  float: left;
  width: 50%;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: bold;
}

.custom-related-tab .data.item.title.active a{
  color: #fff;
}

.custom-related-tab .data.item.title a{
  color: #222;
}

.custom-related-tab .data.item.title.active {
  background-color: #ccc;
}


/********************* banner slider **************************/
.custom-slider .banner-item {
  margin: 0px 0px !important;
}

.owl-theme .owl-dots {
    position: relative !important;
    width: 10% !important;
    bottom: 50px !important;
    float: right;
    right: 10px !important;
}

.owl-theme .owl-controls .owl-nav .owl-prev[class*="owl-"] {
  left: 0px !important;
}

.owl-theme .owl-controls .owl-nav [class*=owl-].owl-prev:before {
    position: absolute;
    top: 24px !important;
    left: 11px !important;
    z-index: 1;
    width: 14px !important;
    height: 1px;
    content: "";
    border-top: 2px solid #FFFFFF !important;
    transform: rotate(40deg);
    border-radius: 20px;
    text-indent: 0;
}
.owl-theme .owl-controls .owl-nav [class*=owl-].owl-prev:after {
    position: absolute;
    top: 16px !important;
    left: 11px !important;
    z-index: 1;
    width: 14px !important;
    height: 1px;
    content: "";
    border-top: 2px solid #FFFFFF !important;
    transform: rotate(-40deg);
    border-radius: 20px;
    text-indent: 0;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
    background: #FFFFFF none repeat scroll 0 0 !important;
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover:before, 
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover:after {
    border-color: #000 !important;
}

.owl-theme .owl-controls .owl-nav [class*=owl-].owl-next {
    right: 0px !important;
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}


.owl-theme .owl-controls .owl-nav [class*=owl-].owl-next:before {
    position: absolute;
    top: 16px !important;
    right: 11px !important;
    z-index: 1;
    width: 14px !important;
    height: 1px;
    content: "";
    border-top: 2px solid #FFFFFF !important;
    transform: rotate(40deg);
    border-radius: 20px;
}
.owl-theme .owl-controls .owl-nav [class*=owl-].owl-next:after {
    position: absolute;
    top: 24px !important;
    right: 11px !important;
    z-index: 1;
    width: 14px !important;
    height: 1px;
    content: "";
    border-top: 2px solid #FFFFFF !important;
    transform: rotate(-40deg);
    border-radius: 20px;
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover:before, 
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover:after {
    border-color: #000 !important;
}

.owl-carousel .banner-item .content_slider .buttons a.action.primary {
    background-color: #222;
    color: #FFFFFF;
    padding: 12px 32px;
    margin-top: 23px;
    margin-left: 6px;
    text-transform: uppercase;
    text-decoration: none;
}

.owl-carousel .banner-item .content_slider .buttons a.action.primary:hover {
    background-color: #444;
    color: #FFFFFF;
    padding: 12px 32px;
    margin-top: 23px;
    margin-left: 6px;
    text-transform: uppercase;
    text-decoration: none;
}






/******************* One Page Checkout ************************/
/***** existing login  ****/
.osc-authentication-wrapper {
  display: inline-block;
  width: 100%;
}
.osc-authentication-wrapper .existing-customer-title {
  float: left;
  width: 50%;
}
.osc-authentication-wrapper .block-content {
  float: left;
  width: 50%;
}

.osc-authentication-wrapper .fieldset {
  float: left;
  width: 85%;
}
.osc-authentication-wrapper .actions-toolbar {
  float: left;
  width: 15%;
  margin: 0 !important;
}

.osc-authentication-wrapper .field {
  float: left;
  padding-right: 10px;
  margin: 0 !important;
  width: 50%;
}

.osc-authentication-wrapper .input-text {
  border-color: #222;
}

.osc-authentication-wrapper .action.action-login.secondary {
  background-color: #000 !important;
  padding: 12px 22px;
}

/**************** below opc *********************/
.onestepcheckout-index-index span.step-numbers {
    background-color: #000;
    padding: 7px 14px;
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
}

.step-title {
    padding: 12px 10px 6px 0px !important;
    font-size: 20px !important;
}

.checkout-container a.button-action,
.checkout-container button:not(.primary):not(.action-show):not(.action-close):not(.edit-address-link):not(.ui-datepicker-trigger){
    background-color: #000000 !important;
}

.osc-place-order-block textarea{
    max-width: 405px;
    width: 405px;
}

.osc-place-order-block {
    border: none !important;
    padding: 10px !important;
    margin-bottom: 0px !important;
}

.opc-wrapper.one-step-checkout-wrapper .field.required.col-mp.mp-12 {
    padding: 0 !important;
}

.onestepcheckout-index-index select.form-control {
    border-radius: 0px !important;
}

.opc-wrapper.one-step-checkout-wrapper .select.form-control {
    width: 100% !important;
}

.opc-wrapper.one-step-checkout-wrapper .button-remove{
    display: none;
}

.opc-wrapper.one-step-checkout-wrapper .button-action.minus{
    display: none;
}

.opc-wrapper.one-step-checkout-wrapper .button-action.plus{
    display: none;
}

.opc-block-summary .table-totals tbody tr:last-child td {
    padding: 8px 20px !important;
}

.opc-block-summary .table-totals .price {
    font-size: 18px !important;
}

.onestepcheckout-index-index .osc-place-order-wrapper{
    float: right;
}

.onestepcheckout-index-index .osc-newsletter {
  width: 50%;
}

.onestepcheckout-index-index .checkout-agreement .action.action-show {
  background-color: #fff;
  border: medium none;
}

.onestepcheckout-index-index .minicart-items {
    padding: 0px !important;
}

.onestepcheckout-index-index #shipping-new-address-form .field[name="shippingAddress.prefix"], 
.onestepcheckout-index-index #shipping-new-address-form .field[name="shippingAddress.suffix"] {
  width: 30%;
}

.onestepcheckout-index-index #shipping-new-address-form .field[name="shippingAddress.firstname"]{
  width: 100%;
}

.onestepcheckout-index-index #shipping-new-address-form .field[name="shippingAddress.lastname"]{
    float: right;
    width: 100%;
}

.onestepcheckout-index-index #shipping-new-address-form fieldset.street .field {
  margin: 0 0 25px;
  width: 100%;
}

.onestepcheckout-index-index #shipping-new-address-form {
    margin: 15px -10px;
}

.onestepcheckout-index-index #checkout-review-table {
    border-bottom: 1px solid #dcd8d8 !important;
}

.onestepcheckout-index-index .opc-block-summary .minicart-items-wrapper {
    padding: 0px 15px 0 0 !important;
}

.onestepcheckout-index-index .checkout-payment-method .payment-method-title {
    border-top: none !important;
}

.onestepcheckout-index-index #checkout-review-table tbody tr td {
    border-bottom: none;
}

.onestepcheckout-index-index .step-content {
    padding-top: 19px !important;
}

.onestepcheckout-index-index .opc-block-summary {
    padding: 0px 0px !important;
}

.onestepcheckout-index-index .osc-newsletter input[type="checkbox"] + label {
    padding: 7px 0 0 !important;
} 

.onestepcheckout-index-index #co-place-order-area {
    padding: 0 0px !important;
}

.onestepcheckout-index-index .osc-place-order-block {
    padding: 0px !important;
}

.onestepcheckout-index-index .osc-place-order-wrapper{
    padding: 0px 0px;
}

.onestepcheckout-index-index .checkout-agreements input[type="checkbox"] + label {
    padding: 7px 0 0 !important;
}

.onestepcheckout-index-index .opc-wrapper .step-content {
    margin: 0px 0px 0px !important;
}

.onestepcheckout-index-index .checkout-payment-method .payment-option-inner {
    margin: 0px !important;
}

.onestepcheckout-index-index #checkout-step-payment .actions-toolbar {
    margin-top: 0px !important;
    padding-top: 5px !important;
}

.onestepcheckout-index-index .checkout-payment-method .payment-option-inner .field .label{
    display: none;
}

.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.prefix"] {
    width: 30%;
}

.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.firstname"],
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.lastname"]{
    width: 100%;
    float: right;
    padding: 0px;
}

.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.country_id"],
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.city"],
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.postcode"],
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.region"],
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.region_id"],
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.company"],
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.telephone"]{
    padding: 0px;
}

.onestepcheckout-index-index #shipping-new-address-form fieldset.street legend.label {
    padding: 0px 10px !important;
}

.onestepcheckout-index-index .create-account-checkbox input[type="checkbox"] + label {
    padding: 7px 0 0 !important;
}

.onestepcheckout-index-index .billing-address-same-as-shipping-block input[type="checkbox"] + label {
    padding: 7px 0 0 !important;
}

.catalog-product-view .paypal-logo {
    display: none;
}

.checkout-cart-index .paypal-logo {
    display: none;
}

.minicart-wrapper.active .paypal-button-hidden{
    display: none;
}

.onestepcheckout-index-index div#billing {
    padding-left: 10px;
    padding-top: 20px;
}

.onestepcheckout-index-index div#billing span.step-numbers {
    padding: 7px 6px;
}

.onestepcheckout-index-index legend {
    border-bottom: none !important;
}

.onestepcheckout-index-index .opc-wrapper .fieldset > .field > .label {
    float: left !important;
}

.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.street.1"] label,
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.street.0"] label{
    display: none;
}

.onestepcheckout-index-index .create-account-checkbox {
    padding: 0px;
}

.onestepcheckout-index-index #create-account-form .field.password.required {
    padding: 0px 5px 0px 0px;
}

.onestepcheckout-index-index #create-account-form .field.confirmation.required {
    padding: 0px 0px 0px 5px;
}

.onestepcheckout-index-index .billing-address-same-as-shipping-block {
    padding: 0px;
}

.header-wrapper .left-block img {
    max-width: 150px;
    padding-top: 5px;
}

#sticky-header .left-wrapper img{
    max-width: 150px;
    padding-top: 5px;
}

.onestepcheckout-index-index .ssl-logo {
    max-width: 150px;
    float: right;
    padding-top: 60px;
}

/*.page-header .action.nav-toggle span {
  display: inline;
  margin-left: 10px;
}*/

.page-header .action.nav-toggle span {
  display: block;
  font-size: 8px;
  margin-left: 0;
  margin-top: -10px;
}

.cms-home .custom-delivery-block {
    margin-top: 50px;
}

/********************* one page checkout *************************/

.onestepcheckout-index-index .input-text {
  border-radius: 0 !important;
}

.onestepcheckout-index-index .checkout-shipping-address {
  padding: 0 10px;
}

.onestepcheckout-index-index .osc-authentication-wrapper {
  padding: 20px;
  font-size: 17px;
}

.onestepcheckout-index-index .osc-authentication-wrapper .action.action-auth-toggle.osc-authentication-toggle > span {
  font-size: 13px;
}

.products-grid .item .image-wrapper a.product-item-photo::before, .products-list .item .image-wrapper a.product-item-photo::before {
  background: none;
  border: none;
}

.owl-theme .owl-controls .owl-buttons div.lft-btn, .owl-theme .owl-controls .owl-buttons div.rgt-btn {
  background-color: #cccc !important;
}

/******************* FAQs *******************************/

.faq-accordation-tab .faq-accordation-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #f7f7f7;
  border-color: #dce2e7;
  border-image: none;
  border-style: solid;
  border-width: 1px 0 0;
  padding: 10px;
  text-align: left;
  font-size: 15px;
  font-family: lato;
  cursor: pointer;
  font-weight: bold;
}

.faq-accordation-tab .faq-accordation-content {
  border-top: 1px solid #dce2e7;
  padding: 10px;
  font-size: 13px;
}

.faq-accordation-tab {
  border: 1px solid #dce2e7;
  font-family: lato;
  border-top: none;
}

/*********** All Pages ******************/

.pages-data-desc{
    font-family: lato;
    font-size: 15px;
}

.cms-page-view span.base {
    font-weight: bold;
}

.table-background-color{
    background-color: #F0F0F0;
}

.pages-data-desc strong {
    color: #000;
}

.pages-data-desc b{
    color: #000;
}


.mobile-menu-wrapper .item-title.nav-sections-item-title {
  width: 50% !important;
}

.mobile-menu-wrapper .nav-sections{
    font-family: lato;
}

.header-wrapper .navbar-collapse.collapse a.level-top {
  font-family: lato;
}

.page-header .action.nav-toggle {
  cursor: pointer;
  padding-left: 0;
}


/*********************************************************************/

@media screen and (min-width: 320px) and (max-width:480px) {
    .footer .footer-block-title {
        text-align: center;
    }

    .newsletter-section h5 {
        float: none;
        font-size: 15px;
        text-align: center;
    }

    .footer .newsletter input.form-control {
        font-size: 9px;
    }

    .newsletter-section .social-links {
        float: none;
        padding-top: 10px;
    }

    .newsletter-section {
        padding: 10px 0;
    }

    .footer .links {
        line-height: 0.1;
    }

    .footer ul {
        list-style: outside none none;
        text-align: center;
    }

    .footer .footer-bottom .container {
        padding: 10px;
    }

    .footer .footer-bottom hr.indent-18{
        display: none;
    }

    .payment-info.payment-info-1 li img {
        max-width: 100px;
    }

    .payment-info .links li img {
        margin-right: 5px;
        margin-top: 5px;
        max-width: 65px;
    }

    .payment-info.payment-info-1 li {
      width: 50%;
    }

    .footer-top hr.indent-18{
        display: none;
    }

    .footer .copyright {
        margin: 0px;
    }

    .footer ul.links li a::before {
        content: none !important;
    }

    .page-header .middle-block .left-block {
      display: none !important;
    }

    .navigation.ms-megamenu {
      display: none;
    }

    .page-header .middle-block .top-cart-block {
      float: right;
      width: 50%;
    }

    .header-wrapper .block-search {
      float: none;
    }

    .page-header .right-block-wrapper {
        padding: 0px 0px !important;
    }

    .page-header .action.nav-toggle {
        margin: 0 0 0 5px !important;
        cursor: pointer;
    }
    
    .page-header .middle-block .right-block {
        padding-top: 8px !important;
    }

    .page-header .info-block {
        padding-top: 5px;
        text-align: center;
    }

    .header-wrapper .block-search {
        padding-top: 8px;
    }

    .page-header .info-block {
        float: none !important;
    }

    .page-header .welcome {
        display: none;
    }

    .payment-info .links li img {
        margin-bottom: 0 !important;
    }

    body.wide-layout .footer .footer-top {
        padding: 10px 0 !important;
    }

    .footer-top .row:first-child hr.indent-24 {
        display: none;
    }

    .product_detail_banner {
      font-size: 16px;
      line-height: 30px;
    }
        
    .footer .footer-bottom hr.indent-18.white-space {
        display: none !important;
    }

    .product-info-main .price-box .price-final_price .price {
      font-size: 4em;
    }
    .product-info-main .title-wrapper .price-box {
      margin-top: 12px;
    }

    .size-guide {
      float: left;
      margin: 30px 16px 10px 0;
    }

   .custom-delivery-block .static-delivery {
      padding: 0;
    }
    .text-sub-block {
      width: 70%;
    }

    .delivery-image-block {
      width: 30%;
    }

    .static-delivery .text-sub-block .item-title-static {
      font-size: 20px;
    }
    .static-delivery .text-sub-block .item-link-static {
      font-size: 13px;
    }

    .static-delivery li {
      padding-bottom: 20px;
    }

    .cms-home .custom-delivery-block {
      margin: 0;
    }

    .custom-delivery-block ul li {
      width: 100%;
    }

    .custom-delivery-block .text-sub-block br {
      display: none;
    }

    .header-wrapper .block-search {
      width: 100%;
      background: #fff;
      margin-bottom: 5px;
    }

    .custom-slider {
      padding-top: 30px !important;
    }
    .right-block {
      left: 0;
      position: absolute;
    }
    .logo > img {
      width: 70%;
      margin-left: -20px;
    }

    .page-header .info-block {
      font-size: 10px;
    }

    .header-wrapper {
      background-color: #fff;
      position: fixed;
      width: 100%;
      z-index: 100;
      top:0;
    }

    .page-wrapper{padding-top:120px;}

    .right-block {
      background-color: transparent;
      z-index: 999;
    }
    .center-block {
        padding: 6px 0;
        position: relative;
        z-index: 99;
    }

    .minicart-wrapper .title-cart {
      padding: 10px 15px;
    }

    .onestepcheckout-index-index #create-account-form .field.confirmation.required {
      padding: 0;
    }

    .onestepcheckout-index-index #create-account-form .field.password.required {
      padding: 0;
    }



}

@media screen and (min-width: 360px) and (max-width:640px) {
    .product_detail_banner {
      font-size: 16px;
      line-height: 30px;
    }

    .payment-info .links li {
      float: left;
      width: 25%;
    }

    .header-wrapper .block-search {
      width: 100%;
      background: #fff;
      margin-bottom: 5px;
    }

    .product-info-main .price-box .price-final_price .price {
      font-size: 4em;
    }
    .product-info-main .title-wrapper .price-box {
      margin-top: 12px;
    }

    .size-guide {
      float: left;
      margin: 30px 16px 10px 0;
    }

    .product.info .GridTable1LightAccent3 {
      width: 100% !important;
    }

    .custom-delivery-block .static-delivery {
      padding: 0;
    }
    .text-sub-block {
      width: 70%;
    }

    .delivery-image-block {
      width: 30%;
    }

    .static-delivery .text-sub-block .item-title-static {
      font-size: 20px;
    }
    .static-delivery .text-sub-block .item-link-static {
      font-size: 13px;
    }

    .static-delivery li {
      padding-bottom: 20px;
    }

    .cms-home .custom-delivery-block {
      margin: 0;
    }

    .custom-delivery-block ul li {
      width: 100%;
    }

    .custom-delivery-block .text-sub-block br {
      display: none;
    }

    .custom-slider {
      padding-top: 30px !important;
    }
    .right-block {
      left: 0;
      position: absolute;
    }
    .logo > img {
      width: 70%;
      margin-left: -20px;
    }

    .page-header .info-block {
      font-size: 10px;
    }

    .header-wrapper {
      background-color: #fff;
      position: fixed;
      width: 100%;
      z-index: 100;
      top: 0;
    }

    .page-wrapper{padding-top:120px;}

    .right-block {
      background-color: transparent;
      z-index: 999;
    }
    .center-block {
        padding: 6px 0;
        position: relative;
        z-index: 99;
    }

    .minicart-wrapper .title-cart {
      padding: 10px 15px;
    }

    .payment-info.payment-info-1 li {
      width: 50%;
    }

}

@media screen and (min-width: 768px) and (max-width:1024px) {
    .block-content.filter-content dt {
      font-size: 10px;
      overflow-wrap: break-word;
      padding: 15px 10px;
    }
    .payment-info .links li {
      padding: 0 2px;
      width: 33.33%;
    }
    .payment-info .links li img {
      width: 100%;
    }
    .payment-info.payment-info-1 .links li {
      width: 100%;
    }

    /*********** product details *************/
    .product.info .GridTable1LightAccent3 {
      width: 100% !important;
    }
    .product-info-main .price-box .price-final_price .price {
      font-size: 3em;
    }
    .product-info-main .stock.available {
      top: 40px;
    }
    .catalog-product-view .field.qty {
      width: 50%;
    }
    .catalog-product-view .size-guide {
      float: left;
      margin: 28px 0;
      padding: 0;
      width: 50%;
    }

    .custom-delivery-block ul li {
      float: left;
      text-align: center;
      width: 33.33%;
    }

    .delivery-image-block {
      padding-bottom: 20px;
    }

    .delivery-image-block > img {
      float: none;
    }
    .item-link-static {
      font-size: 13px;
    }

    .delivery-image-block > img {
      float: none;
    }

    .custom-delivery-block .static-delivery {
      padding: 0;
    }

    .text-sub-block {
      width: 100%;
    }

    .item-title-static {
      font-size: 22px;
    }

    .custom-delivery-block .text-sub-block br {
      display: none;
    }

    .page-header .quick-access {
      padding-bottom: 0;
      padding-top: 14px;
      width: auto;
      float: right;
    }

    .header-wrapper .block-search {
      margin-bottom: 5px;
    }

    .page-header .info-block {
        padding-top: 5px;
        text-align: center;
    }

    .page-header .info-block {
        float: none !important;
    }

    .footer ul.social-links li + li {
        margin-left: 0px;
    }

    .newsletter-section .social-links h5 {
        font-size: 12px;
    }

    .newsletter-section h5 {
        font-size: 14px;
    }


}


@media screen and (min-width: 768px) and (max-width:938px) {
    .footer ul.social-links li + li {
        margin-left: 0px;
    }

    .newsletter-section .social-links h5 {
        font-size: 12px;
    }

    .newsletter-section h5 {
        font-size: 14px;
    }

}

@media screen and (min-width: 768px) and (max-width:1279px) {
    .product_detail_banner {
      font-size: 22px;
    }

}

@media only screen and (min-device-width: 320px) 
                   and (max-device-width: 480px) 
                   and (orientation: landscape) {
    .payment-info .links li {
      width: 12%;
    }
    .payment-info .links li img {
      width: 100%;
    }
    .payment-info.payment-info-1 .links li {
      width: 50%;
    }
    .header-wrapper .block-search {
      background: #fff;
    }
 

}

@media only screen and (min-device-width: 360px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape) {
    .payment-info .links li {
      width: 12%;
    }
    .payment-info .links li img {
      width: 100%;
    }
    .payment-info.payment-info-1 .links li {
      width: 50%;
    }
    .ms-megamenu .ms-topmenu {
      display: none !important;
    }

    .page-header .middle-block .left-block {
      display: none !important;
    }

    .page-header .middle-block-wrapper{
        padding: 0 !important;
    }

    .page-header .right-block-wrapper {
      padding-bottom: 0;
      padding-top: 0;
    }
    .page-header .quick-access {
      display: block;
      float: left;
      vertical-align: top;
      width: 50%;
    }
    .page-header .middle-block .top-cart-block {
      display: block;
      float: right;
      width: 50%;
    }

    .footer ul {
        list-style: outside none none;
        text-align: center;
    }

    .footer .footer-bottom .container {
        padding: 10px;
    }

    .page-header .info-block {
        padding-top: 5px;
        text-align: center;
    }

    .page-header .info-block {
        float: none !important;
    }

    .page-header .welcome {
        display: none;
    }

    .footer ul.links li a::before {
        content: none !important;
    }
    .footer .footer-block-title {
        text-align: center;
    }

    .footer .links {
        line-height: 0.1;
    }

    .footer-top hr.indent-18{
        display: none !important;
    }

    .footer .footer-bottom hr.indent-18{
        display: none !important;
    }

    .newsletter-section .social-links {
      float: none;
    }



}

/*@media only screen and (max-width: 767px){
  .products-grid.five-columns li.item{
   width: 50% !important;
   float: left !important;
   clear: inherit;
  }
 }*/

@media only screen and (max-width: 1029px){

    .header-wrapper {
        background: #fff none repeat scroll 0 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99999;
    }
    .page-wrapper{
        padding-top: 120px;
    }

    .onestepcheckout-index-index .page-wrapper {
      padding-top: 0px;
    }

    #sticky-header .right-wrapper {
        width: auto !important;
    }


 }

 @media only screen and (min-width: 665px) and (max-width: 736px){
    .page-header .middle-block .container > div {
        padding-bottom: 10px;
        width: 33% !important;
    }
    .page-header .quick-access {
        position: absolute;
        top: 12px;
        right: 5px;
    }

}

@media only screen and (min-device-width: 800px) 
                   and (max-device-width: 1280px) 
                   and (orientation: landscape) {

    .catalog-product-view .size-guide{
        margin: 30px 16px 10px 0;
    }             

}

@media only screen and (min-device-width: 980px) 
                   and (max-device-width: 1280px) 
                   and (orientation: landscape) {

    .catalog-product-view .size-guide{
        margin: 30px 16px 10px 0;
    }
}

/*********************************************************************/

@media only screen and (max-width: 767px) {
    .page-header .middle-block .container > div {
        width: 100%;
    }
    .page-header .middle-block .left-wrapper{
        text-align: center;
    }
    .page-header .middle-block .right-block {padding-top:0 !important;}
}
@media only screen and (min-width: 1008px) {
    .ms-megamenu:after{
        display: table;
        content: "";
        clear: both;
    }
    .ms-megamenu{
        background: #f0f0f0 none repeat scroll 0 0;
        position: relative;
    }
    .ms-megamenu #ms-topmenu{
        float: none;
        margin: auto;
        max-width: 935px;
        /*max-width: 1272px;*/
        width: 100%;
    }
    .page-header .quick-access.clearfix {
        display: none;
    }
    .page-header .middle-block .top-cart-block {
        float: right;
        margin: 25px 0 0;
    }
    .header-wrapper .page-header .block-search {
        margin: 25px 0 0;
    }
}


