<?php

use Magento\Framework\App\Action\Action;

$_productCollection = $block->getItems();


$_helper = $this->helper('Magento\Catalog\Helper\Output');
$imageBlock = $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
$meigee_helper = $this->helper('\Meigee\Feather\Helper\FeatherGeneral');
$name_align = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'product_name_aligment');
?>
<?php if (!$_productCollection->count()):?>
    <div class="message info empty"><div><?php echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php

    $viewMode = 'grid';
    //$image = 'related_products_list';
    $image = 'category_page_grid';
    $showDescription = false;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;    
    $title = __('Related Products');
    ?>
    <div class="block related">
    <div class="block-title title">
        <strong id="block-related-heading" role="heading" aria-level="2"><?php echo $title; ?></strong>
    </div>
    <div class="products wrapper grid products-grid clearfix products-related">
    <!-- <div style="float: left;width:100%; padding: 10px 0;" class="pad-main-bottom wrapper <?php //echo $viewMode; ?> products-<?php //echo $viewMode; ?>"> -->
            <!-- <ul class="products list items row product-items clearfix relatedproduct"> -->
            <div class="products list items row product-items clearfix relatedproduct">
            <?php $iterator = 1; ?>
            <!--  <ol class="products list items product-items relatedproduct">-->                       
                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                <?php foreach ($_productCollection as $_product): ?>
                	<?php $available = null; ?>
	                <?php if (!$_product->isComposite() && $_product->isSaleable()): ?>
	                    <?php if (!$_product->getRequiredOptions()): ?>
	                        <?php $available = 'related-available'; ?>
	                    <?php endif; ?>
	                <?php endif; ?>
                    <!-- <li class="item product product-item col-sm-3"> -->
                    <div class="product-item-info item product-item <?php /* @escapeNotVerified */ if(isset($available) && !is_null($available)){echo $available;} ?>" data-container="product-grid">
                        <?php // Product Image     ?>
                        <div class="image-wrapper">
	                        <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
	                        <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_product) ?>" class="product photo product-item-photo">
	                            <?php echo $block->getImage($_product, $image)->toHtml(); ?>
	                        </a>
	                    </div>
	                    <div class="product details product-item-details">
	                    	<strong class="product name product-item-name <?php echo $name_align; ?>"><a class="product-item-link" title="<?php echo $block->escapeHtml($_product->getName()) ?>" href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_product) ?>">
	                            <?php echo $block->escapeHtml($_product->getName()) ?></a>
	                        </strong>                        
                           	<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product); ?>
                        </div>
                    </div>
                    <?php //echo($iterator == count($_productCollection) + 1) ? '</li>' : ''; ?>
                    <?php //echo($iterator == count($_productCollection) + 1) ? '</div>' : ''; ?>
                <?php endforeach; ?>
            <!-- </ul> -->
            </div>
        </div>
        </div>
        <script>
        <?php $productsCount=count($_productCollection);
        	if($productsCount<4){
        		$productsCount=4;
        	}
        ?>
		    require(['jquery', 'cpowlcarousel'], function () {
		        jQuery(document).ready(function () {
		            jQuery(".relatedproduct").owlCarousel({
		            	items: 4,
		                itemsDesktop: [1080, 4],
		                itemsDesktopSmall: [860, 3],
		                itemsTablet: [768, 3],
		                itemsTabletSmall: [639, 2],
		                itemsMobile: [376, 1],
		                pagination: false,
		                navigationText: ["<div class='lft-btn'>&lt;</div>", "<div class='rgt-btn'>&gt;</div>"],
		                navigation: true,
		            });
		        });
		    });
		</script>
<?php endif; ?>