<?php /** * Copyright © 2015 Magento. All rights reserved. * See COPYING.txt for license details. */ ?> <div id="checkout" data-bind="scope:'checkout'" class="checkout-container"><div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'><div class="loader"><img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>" alt="<?php /* @escapeNotVerified */ echo __('Loading...'); ?>" style="position: absolute;"></div></div><!-- ko template: getTemplate() --><!-- /ko --><script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?> }
        }</script><script>
        window.checkoutConfig = <?php /* @escapeNotVerified */ echo $block->getSerializedCheckoutConfig(); ?>;
        
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;</script><script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function(url, blockLoader) {
            blockLoader("<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>");
            return url.setBaseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
        })</script><script>
        window.onhashchange = myFunctionHash;

        function myFunctionHash() 
        {
            if(location.hash == '' )
            {
                document.getElementById('myMessage').innerHTML= 'If you have a discount code you can apply it on the next page<br>';
            }
            /*else
            {
                document.getElementById('myMessage').innerHTML= '';
            }*/
        }</script></div><script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        $(document).ready(function(){
            $(document).on("click", "table.table-checkout-shipping-method tbody tr", function() { $('table.table-checkout-shipping-method tbody tr').removeClass("active");
                $(this).addClass("active");
            });
        });
        
});</script>