<?php
/**
 * Copyright 2019 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

/* @var $filterItem \Magento\Catalog\Model\Layer\Filter\Item */

// @codingStandardsIgnoreFile
?>
<li class="selected-item"
    data-role="selected-item"
    data-item-id="<?php echo $block->escapeHtml($block->getItemHtmlId($filterItem)) ?>"
>
    <span><?php /* @noEscape */ echo $block->getLabel($filterItem) ?></span>
    <button class="action-close"
            href="#"
            data-item-id="<?php echo $block->escapeHtml($block->getItemHtmlId($filterItem)) ?>"
            data-role="remove-button">
        <span></span>
    </button>
</li>
