<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZ6MLM2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --> 

<div class="nav-overlay"></div>
<div class="header-wrapper">
    <?php  /*
	<!-- <header class="page-header">
		<div class="top-block">
			<div class="container">
				<?php //echo $this->getChildHtml("feather.header.info"); ?>
				<?php //echo $this->getChildHtml("header.welcome"); ?>
				<div class="right-block">
					<?php //echo $this->getChildHtml("header.links"); ?>
				</div>
			</div>
		</div>
		<div class="middle-block">
			<div class="container clearfix">
				<div class="left-block clearfix">
					<div class="left-wrapper">
						<div class="header-left">
							<div id="assay_assured_main"><a href="https://www.assayassured.co.uk/clients/assured/certificates/2a7a17be-8d73-11e7-a4b4-001999b0ee30.php"><img src="https://www.assayassured.co.uk/clients/assured/images/badges/AAJR-full-40px.jpg" /></a></div>
						</div>		
					</div>			
				</div>
				<div class="center-block clearfix">
					<div class="logo-wrapper">
						<div class="panel header"><a class="action skip contentarea" href="#contentarea"><span>Skip to Content</span></a>
							<?php //echo $this->getChildHtml("logo"); ?> 
						</div>
					</div>
				</div>
				<div class="right-block clearfix">
					<?php //echo $this->getChildHtml("store_language"); ?>
					<?php //echo $this->getChildHtml("currency"); ?>
					<div class="top-cart-block clearfix">
						<?php //echo $this->getChildHtml("minicart"); ?>
					</div>
					<div class="quick-access clearfix">
						<?php //echo $this->getChildHtml("feather.header.custom.links"); ?>

							
							<?php //echo $this->getChildHtml("mobile.menu.btn"); ?>

					</div>
					<?php //echo $this->getChildHtml("topSearch"); ?>
				</div>

			</div>
		</div>
		<?php //echo $this->getChildHtml("catalog.topnav"); ?>
    <?php //echo $this->getChildHtml("bgslider"); ?>
  </header> -->
  */ ?>
  <header>
       

        <nav class="main-nav">
            <div class="upper-nav">
                <div class="container">
                    <span class="dispatch-text no-mar-vert left"><i class="tch-icon phone_filled-icon"></i>Call 01162 335 587 Mon to Fri 9am-5pm <?php //echo $this->getChildHtml("header.welcome"); ?></span>
                    <ul class="login-wrapper right">
                        <!-- <li>
                            <a class="dispatch-text no-mar-vert">Login</a>
                        </li>

                        <li>
                            <a class="dispatch-text no-mar-vert">Register</a>
                        </li> -->
                        <?php //echo $this->getChildHtml("header.links"); ?>
                        <?php
                        // if ($block->isLoggedIn()) 
                        // {
                        //         echo 123;
                        // }
                        // else
                        // {
                        //     echo 101;
                        // }
							$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
							$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
							$baseURL = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
                            $request = $objectManager->get('\Magento\Framework\App\Request\Http');

							// $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
							// $customerSession = $objectManager->get('Magento\Customer\Model\Session');
                            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                            $checkoutSession = $objectManager->get('Magento\Framework\Session\SessionManagerInterface');
                            /*$checkoutSession->unsFromcheckout();*/
                            $customerSession = $objectManager->create('Magento\Customer\Model\Session');
                            
							if($customerSession->isLoggedIn()) 
							{
                               
							?>
								<li><a class="dispatch-text no-mar-vert" href="<?php echo $baseURL; ?>customer/account/">My Account</a></li>
								<li><a class="dispatch-text no-mar-vert" href="<?php echo $baseURL; ?>customer/account/logout">Logout</a></li>
							<?php
							}
							else
							{ 
							?>
								<li><a class="dispatch-text no-mar-vert" href="<?php echo $baseURL; ?>customer/account/login/">Login</a></li>
								<li><a class="dispatch-text no-mar-vert" href="<?php echo $baseURL; ?>customer/account/create/">Register</a></li>
									
							<?php
							}
                            if($customerSession->isLoggedIn()) {
                                 $redirectlink = $baseURL.'checkout/cart/';
                            }else {
                                $redirectlink = $baseURL.'customer/account/login/';
                            }
						?>
                        <?php //echo $this->getChildHtml("header.links"); ?>
                    </ul>
                </div>
            </div>
            <?php echo $this->getChildHtml("feather.header.custom.links"); ?>
			<?php echo $this->getChildHtml("mobile.menu.btn"); ?>
            <div class="container">
                <div class="nav-wrapper row no-mar-vert">
                    <a href="#!" data-target="nav-mobile" class="sidenav-trigger button-collapse"><i class="material-icons">menu</i></a>
                    <?php if($request->getFullActionName() == "checkout_index_index") { ?>
                    <a href="<?php echo $redirectlink; ?>" class="checkout-nav-back hide-on-small-only" style="float:  left;"><i class="material-icons left">arrow_back</i>Back</a>
                    <a href="<?php echo $redirectlink; ?>" class="brand-logo">
                        <!-- <img class="nav-logo hide-on-small-only" src="<?php echo $block->getViewFileUrl('res/thechainhut_horiz.svg'); ?>" style="width:200px !important" alt=""> -->
                        <img class="nav-logo hide-on-small-only" src="<?php echo $block->getViewFileUrl('res/thechainhut_horiz_white.svg'); ?>" style="width:200px !important" alt="">
                        <img class="nav-logo hide-on-med-and-up" src="<?php echo $block->getViewFileUrl('res/thechainhut_horiz_white.svg'); ?>" alt="">
                    </a>
                    <?php } else { ?>
                    <a href="<?php echo $baseURL; ?>" class="brand-logo">
                        <!-- <img class="nav-logo hide-on-small-only" src="<?php echo $block->getViewFileUrl('res/thechainhut_horiz.svg'); ?>" style="width:200px !important" alt=""> -->
                        <img class="nav-logo hide-on-small-only" src="<?php echo $block->getViewFileUrl('res/thechainhut_horiz_white.svg'); ?>" style="width:200px !important" alt="">
                        <img class="nav-logo hide-on-med-and-up" src="<?php echo $block->getViewFileUrl('res/thechainhut_horiz_white.svg'); ?>" alt="">
                    </a>
                <?php } ?>
                    <div class="col s7 m6 l7 offset-s2 offset-m3 offset-l2 hide-on-small-only search-bar-desktop">
                    	<?php echo $this->getChildHtml("topSearch"); ?>
                       <!--  <input placeholder="Search by product name or category" id="nav_search" type="search" class="nav-search">
                        <button class="search-btn"><i class="material-icons">search</i></button> -->
                        <!-- <label class="label-icon" for="nav_search"><i class="material-icons">search</i></label> -->
                    </div>
                    <?php if($request->getFullActionName() != "checkout_index_index") { ?>
                    <div class="col s2 m1 l2 header-icons">
                        <ul class="right hide-on-small-only">
                            <!-- <li class=""><a href="#!"><i class="material-icons">swap_horiz</i></a></li> -->
                            <!--<li class=""> <a href="<?php echo $this->getUrl("wishlist"); ?>"><i class="tch-icon heart_filled-icon"></i></a></li> --> 

                            

                            <li class="">
                                <a href="<?php echo $this->getUrl("checkout/cart/"); ?>">
                                    <i class="tch-icon bag_filled-icon center">
                                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                                    </i>
                                </a>
                                <div class="bag-counter valign-wrapper">
                                	<?php
										$currentItemCount = 0 ;


										// $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
										// if($objectManager->create('Magento\Checkout\Model\Session')->getQuoteId())
										// {
										// 	$quoteId = $objectManager->create('Magento\Checkout\Model\Session')->getQuoteId(); 
										// 	$cartData = $objectManager->create('Magento\Quote\Model\QuoteRepository')->get($quoteId)->getAllVisibleItems();
										// 	$currentItemCount = count($cartData); //Current cart quote count
										// }
									?>
                                    <span><?php echo $currentItemCount; ?></span>

                                </div>
                                <div style="display:none;">
                                <?php echo $this->getChildHtml("minicart"); ?>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col s1 m1 l1 hide-on-small-only">
                        <div class="assay-logo-wrapper valign-wrapper">
                            <!-- <a href="https://www.assayassured.co.uk/clients/assured/certificates/2a7a17be-8d73-11e7-a4b4-001999b0ee30.php" target="_blank"> <img class="assay-logo" src="<?php echo $block->getViewFileUrl('res/assay-assured-logo.png'); ?>" alt=""></a> -->
                            <div id="assay_assured"></div>
                            <script type="text/javascript">
                            var assay_assured_config = {clientid: '2a7a17be-8d73-11e7-a4b4-001999b0ee30', badgeOption: '40px-inv'}; //***do not change the client ID***
                            (function() {
                            var s = document.createElement('script');
                            s.type = 'text/javascript';
                            s.async = true;
                            s.src = document.location.protocol + '//www.assayassured.co.uk/clients/assured/scripts/assay_assured.js';
                            var t = document.getElementsByTagName('script')[0];
                            t.parentNode.insertBefore(s, t);
                            })();
                            </script>
                        </div>
                        
                    </div>
                    
                    
                    
                    <ul class="right show-on-small hide-on-med-and-up header-icons">
                        <!-- <li id="search-icon-btn"><a href="#!"><i class="material-icons">search</i></a></li> -->
                        <li><a href="<?php echo $this->getUrl("customer/account"); ?>"><i class="material-icons">person</i></a></li>
                        <li>

                        

                            <a href="<?php echo $this->getUrl("checkout/cart/"); ?>">
                                <i class="tch-icon bag_filled-icon center">
                                    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                                </i>
                            </a>
                            <div class="bag-counter valign-wrapper">
                                <span><?php echo $currentItemCount; ?></span>
                            </div>
                        </li>
                    </ul>
                <?php } ?>
                    
                </div>
            </div>
            <?php if($request->getFullActionName() != "checkout_index_index") { ?>
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('desktop-menu')->toHtml();?>
            <?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('desktop-main')->toHtml();?>
           <?php } ?>
        
            <script type="text/javascript">
            var countBagUpdate = 0; 
            var allowToAdd = true ;  
            // jQuery(document).ready(function(){
            //     jQuery('.iamcatholder').mouseover(
            //         function() {
            //             var tmpCatID = jQuery(this).attr('data-id');
            //             jQuery('.iamcatchild').css({"display": "none"});
            //             jQuery('.cat_child_'+tmpCatID).css({"display": "block"});
            //         }
            //     );
                
            //     jQuery('.nav_search_mobile').change(
            //         function() {

            //             jQuery('.nav-search').val(jQuery('.nav_search_mobile').val());

            //         }
            //     );
            // });
            require(['jquery', 'jquery/ui'], function($){ 

                
                jQuery('.dropdown-button').mouseenter(
                    function() {
                        //console.log( jQuery(this).attr('data-target'))
                        jQuery(this).find('.iamcatchild').css({"display": "none"});
                        jQuery(this).find('.iamcatchild').first().css({"display": "block"});
                    }
                );
               jQuery('.iamcatholder').mouseover(
                    function() {
                        var tmpCatID = jQuery(this).attr('data-id');
                        //jQuery('.iamcatchild').css({"display": "none"});
                        jQuery(this).parent().parent().find('.iamcatchild').css({"display": "none"});
                        jQuery(this).parent().parent().find('.cat_child_'+tmpCatID).css({"display": "block"});
                        //jQuery('.cat_child_'+tmpCatID).css({"display": "block"});
                    }
                );
                
                jQuery('.nav_search_mobile').change(
                    function() {

                        jQuery('.nav-search').val(jQuery('.nav_search_mobile').val());

                    }
                );
            });
            </script>

            <div class="search-bar valign-wrapper">
                <?php //echo $this->getChildHtml("topSearch"); ?>
                <input placeholder="Search by product name or category" id="nav_search_mobile" type="search" class="nav-search search-mobile">
                <label class="label-icon" for="nav_search"><i class="material-icons">search</i></label>

            </div>

            
        </nav>
        
        <ul id="nav-mobile" class="sidenav hide-on-med-and-up">
            <div class="close-btn">
                <i class="material-icons">clear</i>
            </div>
        <div class="nav-slider-wrapper">
            <div class="side-nav-top">
                <div class="row">
                    <div class="col s12 no-pad-horiz">
                        <p class="dispatch-text no-mar-vert">
                            <i class="tch-icon phone_filled-icon"></i>
                            Call 01162 335 587 Mon to Fri 9am-5pm
                        </p>
                        <!-- <p>Same day dispatch for orders placed by 2 pm</p> -->
                    </div>
                </div>
                <div class="row no-mar-bot">
                        <?php
                            if($customerSession->isLoggedIn())  
                            {
                            ?>
                                
                                <div class="col s6">
                                    <a  href="<?php echo $baseURL; ?>customer/account/"><button class="cta-btn green-btn">My Account</button></a>
                                </div>
                                <div class="col s6">
                                    <a  href="<?php echo $baseURL; ?>customer/account/logout"><button class="cta-btn blue-btn">Logout</button></a>
                                </div>
                                
                            <?php
                            }
                            else
                            {
                            ?>
                                <div class="col s6">
                                    <a  href="<?php echo $baseURL; ?>customer/account/login/"><button class="cta-btn green-btn">Login</button></a>
                                </div>
                                <div class="col s6">
                                    <a  href="<?php echo $baseURL; ?>customer/account/create/"><button class="cta-btn blue-btn">Register</button></a>
                                </div>
                                    
                            <?php
                            }

                        ?>
                </div>
                
            </div>
            
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('mobile-menu')->toHtml();?>
            

            <a href="https://www.assayassured.co.uk/clients/assured/certificates/2a7a17be-8d73-11e7-a4b4-001999b0ee30.php" target="_blank"><img class="assay-logo-nav" src="<?php echo $block->getViewFileUrl('res/assay-assured-logo.png'); ?>" alt=""></a>
        </div>
        </ul>

    </header>
  <?php echo $this->getChildHtml("meigee_sticky_header"); ?>
  <?php echo $this->getChildHtml("meigee_mobile_header"); ?>
</div>