<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div id="copyMe" class="row gift-code-row no-mar-bot" style="margin-bottom: 0 !important">
	
	<form id="discount-coupon-form"
					  action="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/couponPost') ?>"
					  method="post"
					  data-mage-init='{"discountCode":{"couponCodeSelector": "#coupon_code",
													   "removeCouponSelector": "#remove-coupon",
													   "applyButton": "button.action.apply",
													   "cancelButton": "button.action.cancel"}}'>
	        
			<input type="hidden" name="remove" id="remove-coupon" value="0" />

    <div class="input-field col s8 m4 l4 no-pad-right" style="margin-bottom: 0 !important">

        <input class="gift-code-textbox" type="text" id="coupon_code" name="coupon_code" value="<?php echo $block->escapeHtml($block->getCouponCode()) ?>"  placeholder="E.g. GC1234XXXX">
	    <label for="gift_code" for="coupon_code"><span><?php /* @escapeNotVerified */ echo __('Gift Code or Discount Code') ?></label>

    </div>
    <div class="col s4 m3 l3 cta-col">
       <!--  <button class="cta-btn blue-btn">Apply</button> -->
       <?php if (!strlen($block->getCouponCode())): ?>
       <div class="primary">
			<button class="action apply cta-btn blue-btn" type="button" value="<?php /* @escapeNotVerified */ echo __('Apply Discount') ?>">
				<span><?php /* @escapeNotVerified */ echo __('Apply') ?></span>
			</button>
			
		</div>
		<?php else: ?>
			<div class="primary">
				<button  type="button" class="action cancel cta-btn line-btn" value="<?php /* @escapeNotVerified */ echo __('Cancel Coupon') ?>"><span><?php /* @escapeNotVerified */ echo __('Cancel Coupon') ?></span></button>
			</div>
		<?php endif; ?>
    </div>
    </form>
</div>