<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart\Grid */
?>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>



<div class="col s12 m12 l8 no-pad-left order-summary-column bag-column">
    <div class="order-summary-wrapper bag-summary-wrapper" id="addHere">
        <form action="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/updatePost') ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"validation":{}}'
          class="form form-cart"> 
        <?php echo $block->getBlockHtml('formkey'); ?>
        <div class="cs-items">
            <div class="row no-mar-bot">
                <?php foreach ($block->getItems() as $_item): ?>
                    <?php echo $block->getItemHtml($_item) ?>
                <?php endforeach ?>
            </div>
        </div>
        </form>  
    </div>
    
</div>
              
<script type="text/javascript">

function update_cart_qty()
{

    //jQuery('#orm-validate').find('input[type="button"][value="update_qty"]').trigger( "click" );
    jQuery('#form-validate').trigger( "submit" );
} 
jQuery(document).ready(function(){
  jQuery("#copyMe").appendTo("#addHere");

  jQuery(".nimitqty").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) 
    {
        //display error message
        //$("#errmsg").html("Digits Only").show().fadeOut("slow");
        return false;
    }
   });
  jQuery(".nimitqty").focusout(function() {
     //if the letter is not digit then display error and don't type anything
    if (jQuery(this).val()=="") 
    {
        jQuery(this).val(1);
        jQuery(this).trigger( "change" );
    }
   });

});

// 
</script>    

<?php // echo $block->getChildHtml('form_before') ?>
<?php // echo $block->getChildHtml('checkout.cart.order.actions') ?>
<?php // echo $block->getChildHtml('shopping.cart.table.after'); ?>

