<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Shopping cart totals template
 * @var $block \Magento\Checkout\Block\Cart\Totals
 */
?>
<style type="text/css">
.table.totals .grand {
    margin-top: 0;
    display: flex; 
}
.table {
    margin-bottom: 0px;
}
</style>
<div class="order-summary-wrapper bag-summary-wrapper">
    <div class="cs-items">
        <div class="row price-breakdown-row">
            <div  id="cart-totals" class2="cart-totals" data-bind="scope:'block-totals'" class="col s12 price-breakdown-col cart-totals">

            	 <!-- ko template: getTemplate() --><!-- /ko -->
			    <script type="text/x-magento-init">
			            {
			                "#cart-totals": {
			                    "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
			                }
			            }
			    </script>
            </div>
            <div class="col s12 payment-icon-col-wrapper no-mar-top">
                <div class="row no-mar-bot valign-wrapper">

                    <div class="col s2 m2 l2"><img src="<?php echo $block->getViewFileUrl('res/footer_visa.png'); ?>" alt="social_fb"></div>
			        <div class="col s2 m2 l2"><img src="<?php echo $block->getViewFileUrl('res/footer_mc.png'); ?>" alt="social_fb"></div>
			        <div class="col s2 m2 l2"><img src="<?php echo $block->getViewFileUrl('res/footer_maestro.png'); ?>" alt="social_fb"></div>
			        <div class="col s2 m2 l2"><img src="<?php echo $block->getViewFileUrl('res/footer_ae.png'); ?>" alt="social_fb"></div>
			        <div class="col s2 m2 l2"><img src="<?php echo $block->getViewFileUrl('res/footer_sage.png'); ?>" alt="social_fb"></div>
			        <div class="col s2 m2 l2"><img src="<?php echo $block->getViewFileUrl('res/comodo_secure_seal_113x59_transp.png'); ?>" alt="social_fb"></div>

                </div>
            </div>  
        </div>
    </div>
</div>