<?php
/**
 * Copyright © 2017 ebizmarts. All rights reserved.
 * See LICENSE.txt for license details.
 */

/**
 * @var \Ebizmarts\SagePaySuite\Block\Adminhtml\Order\View\Info $block
 */

$payment = $block->getPayment();

?>

<div class="admin__page-section-item-title" style="margin-top: 20px;">
    <span class="title"><?php echo $block->escapeHtml(__('Sage Pay Information')); ?></span>

    <div class="actions">
        <a href="<?php echo $block->getSyncFromApiUrl(); ?>">
            <?php echo $block->escapeHtml(__('Sync from API')); ?>
        </a></div>
</div>
<div class="admin__page-section-item-content">
    <div class="order-payment-additional order-payment-method-title">
        <table class="data-table admin__table-secondary">
            <tbody>
            <?php if ($payment->getLastTransId()) { ?>
                <tr>
                    <th><?php echo $block->escapeHtml(__('VPSTxId')); ?>:</th>
                    <td><?php echo $block->escapeHtml($block->getSuiteHelper()->clearTransactionId($payment->getLastTransId())); ?></td>
                </tr>
            <?php } ?>
            <?php if ($payment->getAdditionalInformation("vendorTxCode")) { ?>
                <tr>
                    <th><?php echo $block->escapeHtml(__('VendorTxCode')); ?>:</th>
                    <td><?php echo $block->escapeHtml($payment->getAdditionalInformation("vendorTxCode")); ?></td>
                </tr>
            <?php } ?>
            <?php if ($payment->getAdditionalInformation("mode")) { ?>
                <tr>
                    <th><?php echo $block->escapeHtml(__('Mode')); ?>:</th>
                    <td><?php echo strtoupper($block->escapeHtml($payment->getAdditionalInformation("mode"))); ?></td>
                </tr>
            <?php } ?>
            <?php if ($payment->getAdditionalInformation("statusDetail")) {
                $statusDetail = $payment->getAdditionalInformation("statusDetail");
                if (strrpos($payment->getAdditionalInformation("statusDetail"), " : ") !== false) {
                    $statusDetail = explode(" : ", $statusDetail);
                    $statusDetail = $statusDetail[1];
                }
                ?>
                <tr>
                    <th><?php echo $block->escapeHtml(__('Status')); ?>:</th>
                    <td><?php echo $block->escapeHtml($statusDetail); ?></td>
                </tr>
            <?php } ?>
            <?php $statusCode = $payment->getAdditionalInformation("statusCode"); ?>
            <?php if ($this->isThreeDRedirect($statusCode)) : ?>
                <tr>
                    <td colspan="2">
                        <div align="left" class="message message-info">
                            <p><?php echo $block->getFirstParagraph() ?></p>
                            <p><?php echo $block->getSecondParagraph() ?></p>
                            <p><?php echo $block->getThirdParagraph() ?></p>
                            <p><?php echo $block->getForthParagraph() ?></p>
                        </div>
                    </td>
                </tr>
            <?php endif; ?>
            <?php if ($payment->getAdditionalInformation("threeDStatus")) { ?>
                <tr>
                    <th><?php echo $block->escapeHtml(__('3D Status')); ?>:</th>
                    <td><?php echo $block->escapeHtml($payment->getAdditionalInformation("threeDStatus")); ?></td>
                </tr>
            <?php } ?>
            <?php if ($payment->getAdditionalInformation("avsCvcCheckAddress")) { ?>
                <tr>
                    <th><?php echo $block->escapeHtml(__('Address Verification Result')); ?>:</th>
                    <td><?php echo $block->escapeHtml($payment->getAdditionalInformation("avsCvcCheckAddress")); ?></td>
                </tr>
            <?php } ?>
            <?php if ($payment->getAdditionalInformation("avsCvcCheckPostalCode")) { ?>
                <tr>
                    <th><?php echo $block->escapeHtml(__('Postcode Verification Result')); ?>:</th>
                    <td><?php echo $block->escapeHtml($payment->getAdditionalInformation("avsCvcCheckPostalCode")); ?></td>
                </tr>
            <?php } ?>
            <?php if ($payment->getAdditionalInformation("avsCvcCheckSecurityCode")) { ?>
                <tr>
                    <th><?php echo $block->escapeHtml(__('CV2 Verification Result')); ?>:</th>
                    <td><?php echo $block->escapeHtml($payment->getAdditionalInformation("avsCvcCheckSecurityCode")); ?></td>
                </tr>
            <?php } ?>
            <?php if ($payment->getAdditionalInformation("avsCvcCheckStatus")) { ?>
                <tr>
                    <th><?php echo $block->escapeHtml(__('AVS and CV2 Verification Result')); ?>:</th>
                    <td><?php echo $block->escapeHtml($payment->getAdditionalInformation("avsCvcCheckStatus")); ?></td>
                </tr>
            <?php } ?>
            </tbody>
        </table>
    </div>
</div>

<!--
**************** FRAUD INFORMATION SECTION *******************
-->

<div class="admin__page-section-item-title" style="margin-top: 20px;">
    <span class="title"><?php echo $block->escapeHtml(__('Fraud Information')); ?></span>
</div>
<div class="admin__page-section-item-content">
    <div class="order-payment-additional order-payment-method-title">
        <table class="data-table admin__table-secondary">
            <tbody>
            <?php if (empty($payment->getAdditionalInformation("fraudscreenrecommendation")) ||
                $payment->getAdditionalInformation("fraudscreenrecommendation") == \Ebizmarts\SagePaySuite\Model\Config::T3STATUS_NORESULT ||
                $payment->getAdditionalInformation("fraudscreenrecommendation") == \Ebizmarts\SagePaySuite\Model\Config::REDSTATUS_NOTCHECKED
            ) { ?>
                <tr>
                    <td colspan="2">
                            <?php echo $block->escapeHtml(__('Not enough information.')); ?>
                    </td>
                </tr>
            <?php } else { ?>
                <tr>
                    <th><?php echo $block->escapeHtml(__('Fraud Recommendation')); ?>:</th>
                    <td><?php $html = $payment->getAdditionalInformation("fraudscreenrecommendation");
                    switch ($html) {
                        case \Ebizmarts\SagePaySuite\Model\Config::REDSTATUS_CHALLENGE:
                        case \Ebizmarts\SagePaySuite\Model\Config::T3STATUS_HOLD:
                            $html = '<span style="color:orange;">' . $html . '</span>';
                            break;
                        case \Ebizmarts\SagePaySuite\Model\Config::REDSTATUS_DENY:
                        case \Ebizmarts\SagePaySuite\Model\Config::T3STATUS_REJECT:
                            $html = '<span style="color:red;">' . $html . '</span>';
                            break;
                    }
                        echo $html;
                    ?>
                    </td>
                </tr>
                <?php if (!empty($payment->getAdditionalInformation("fraudprovidername"))) { ?>
                    <tr>
                        <th><?php echo $block->escapeHtml(__('Provider')); ?>:</th>
                        <td><?php if ($payment->getAdditionalInformation("fraudprovidername") == "ReD") {
                                $html = '<img style="height: 20px;" src="' . $block->getViewFileUrl('Ebizmarts_SagePaySuite::images/red_logo.png') . '">';
                            } else {
                                $html = '<span><img style="height: 20px;vertical-align: text-top;" src="' . $block->getViewFileUrl('Ebizmarts_SagePaySuite::images/t3m_logo.png') . '"> T3M</span>';
                            }
                            echo $html;
                            ?>
                        </td>
                    </tr>
                <?php } ?>
            <?php } ?>
            </tbody>
        </table>
    </div>
</div>