<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper(\Magento\Search\Helper\Data::class);
$rand = rand(5, 1500);
$meigee_helper = $this->helper('\Meigee\Feather\Helper\FeatherGeneral');
?>
<form class="form minisearch" id="search_mini_form_<?php echo $rand; ?>" action="<?php /* @escapeNotVerified */ echo $helper->getResultUrl() ?>" method="get">
    <input placeholder="Search by product name or category" id2="nav_search2" type="search" class="nav-search"
        id="search_<?php echo $rand; ?>"
        data-mage-init='{"quickSearch":{
            "formSelector":"#search_mini_form_<?php echo $rand; ?>",
            "url":"<?= /* @escapeNotVerified */ $helper->getSuggestUrl()?>",
            "destinationSelector":"#search_autocomplete_<?php echo $rand; ?>"}
        }'
       type="text"
       name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
       value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
       placeholder="<?php /* @escapeNotVerified */ echo __('Search by category or product'); ?>"
       onfocus="this.placeholder = ''"
       onblur="this.placeholder = 'Search by category or product'"
       maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>"
       role="combobox"
       aria-haspopup="false"
       aria-expanded="true"
       aria-autocomplete="both"
       autocomplete="off"
    >
    <button class="search-btn" type="submit"><i class="material-icons">search</i></button>
   <div id="search_autocomplete_<?php echo $rand; ?>" class="search-autocomplete search-popup"></div>
    <?php echo $block->getChildHtml() ?>
</form>

<style type="text/css">
.minisearch .nested { display: none; }
</style>