<?php /** * Copyright © 2015 Magento. All rights reserved. * See COPYING.txt for license details. */ ?> <button type="button" class="action back customization btn btn-default"><span><?php /* @escapeNotVerified */ echo __('Go back to product details') ?></span></button>