<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Shopping cart template
 *
 * @var $block \Magento\Checkout\Block\Cart
 */
?>
<section id="bag_section" class="checkout-section bag-section">
<?php
if ($block->getItemsCount()) {
    echo $block->getChildHtml('with-items');
} else {
    echo $block->getChildHtml('no-items');
}
?>
</section>
<style type="text/css">
#block-shipping { display: none;}
.table-wrapper .block-title { display: none; }
.table-wrapper tr { border-bottom: 0px; }
.table-wrapper th { width: 60%; text-align: :left; padding: 0px !important; }
.table-wrapper td { width: 40%; text-align: :right; padding: 0px !important;  }
.table-wrapper .grand{ border-top: 1px dashed #e0e0e0; padding: 0px !important;  }
..checkout-methods-items.items { padding-left: 0px; }
</style>