<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>

<style type="text/css">
#registration
{
    display: none;
}
</style>
<section class="order-success-section valign-wrapper" id="order_success_section">
    <!-- <img id="celebration_1" class="celebration-img" src="res/success-celebration.svg" alt="">
    <img id="celebration_2" class="celebration-img" src="res/success-celebration.svg" alt=""> -->
    <div class="container">
        <div class="row no-mar-bot">
            <div class="col s12 order-success-col valign-wrapper">
                <div class="order-success-details">
                    <!-- <img class="order-image" src="res/confirmed-img.svg" alt="Order Confirmed"> -->
                    <div class="order-image-wrapper">
                        <svg version="1.1" id="order_image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 38.7 27.9" style="enable-background:new 0 0 38.7 27.9;" xml:space="preserve">
                            <g>
                                <g>
                                    <path class="stt0" d="M13.7,27.9c-0.8,0-1.6-0.3-2.2-1L0.8,15.4c-1.1-1.2-1.1-3.1,0.2-4.2c1.2-1.1,3.1-1.1,4.2,0.2l10.7,11.5
                                        c1.1,1.2,1.1,3.1-0.2,4.2C15.1,27.6,14.4,27.9,13.7,27.9z"/>
                                </g>
                                <g>
                                    <path class="stt1" d="M13.7,27.9c-0.8,0-1.5-0.3-2.1-0.9c-1.2-1.2-1.2-3.1,0-4.2l22-21.9c1.2-1.2,3.1-1.2,4.2,0
                                        C39,2.1,39,4,37.8,5.1L15.8,27C15.2,27.6,14.4,27.9,13.7,27.9z"/>
                                </g>
                                <g>
                                    <path class="stt2" d="M28.5,13.2c-0.8,0-1.5-0.3-2.1-0.9c-1.2-1.2-1.2-3.1,0-4.2l7.2-7.2c1.2-1.2,3.1-1.2,4.2,0
                                        C39,2.1,39,4,37.8,5.1l-7.2,7.2C30,12.9,29.2,13.2,28.5,13.2z"/>
                                </g>
                            </g>
                        </svg>
                    </div>

                    <h3>Order successfully placed</h3>
                    <p>Thank you for shopping with us. We hope you or your recipient will be super delighted.<br><br>

                        <?php if ($block->getOrderId()):?>
                            <?php if ($block->getCanViewOrder()) :?>
                                <?= __('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?>
                            <?php  else :?>
                               <?= __('Your order # is: <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?>
                            <?php endif;?>
                                <p><?= /* @escapeNotVerified */ __('We\'ll email you an order confirmation with details and tracking info.') ?></p>
                        <?php endif;?>
                        <br></p>
                    <!-- <p class="sign-up-wrapper">
                        <button class="cta-btn green-btn">Sign up</button>
                        to be able to track your order
                    </p> -->
                    <div class="row no-mar-bot">
                        <div class="col s12 m6">
                            <div class="whats-next-card" data-mh="wn-col">
                                <h3>What's next?</h3>
                                <ol>
                                    <li>
                                        We've sent a confirmation email <!-- to john.doe@gmail.com --> with order details.
                                    </li>
                                    <li>
                                        We'll carefully pack your order to ensure it's safe and secure.
                                    </li>
                                    <li>
                                        Once posted we'll send you a despatch email to let you know it's on it's way.
                                    </li>
                                </ol>
                                <!-- <div class="whats-next-btn-wrapper">
                                    <button class="cta-btn line-btn">Continue Shopping</button>
                                    <button class="cta-btn blue-btn">Register</button>
                                </div> -->
                                
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="whats-next-card" data-mh="wn-col">
                                <h3>Shop Smart Benefits</h3>
                                <div class="icons-list-wrapper valign-wrapper">

                                    <ul class="icons-list">
                                        <li>
                                            Check your order history and status
                                        </li>
                                        <li>
                                            Quicker Checkout
                                        </li>
                                        <li>
                                            Be the first to receive latest discounts and offers
                                        </li>
                                        <li>
                                            Access to our VIP Members Club
                                        </li>
                                    </ul>
                                <!-- <div class="whats-next-btn-wrapper"> -->
                                    <!-- <button class="cta-btn line-btn">Continue Shopping</button> -->
                                    <?php if ($block->getOrderId()):?>
                                        <?php if (!$block->getCanViewOrder()) :?>
                                            <button class="cta-btn blue-btn"  onclick="document.location='<?php echo $this->getUrl(); ?>/customer/account/create/'">Register</button>
                                        <?php endif;?>
                                    <?php endif;?>
                                <!-- </div> -->
                                </div>
                                
                            </div>

                            <button class="cta-btn line-btn" onclick="document.location='<?php echo $this->getUrl(); ?>'" >Continue Shopping</button>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>
<?php
/*
$order = Mage::getModel('sales/order')->loadByIncrementId($this->getOrderId());
$total = $order->getGrandTotal();
$shipping = $order->getShippingAmount();
$tax = $order->getTaxAmount();
$store = Mage::app()->getStore();
$name = $store->getName();

$items = $order->getAllItems();
$item_details = array() ;
foreach($items as $item) {
$det = array() ;
$det['sku'] = $item->getSku() ;
$det['name'] = $item->getName() ;
$det['category'] = get_category_name($item->getProductId()) ;
$det['price'] = $item->getPrice() ;
$det['quantity'] = number_format($item->getQtyOrdered(), 0) ; 
array_push($item_details, $det) ; 

}

function get_category_name($productId) { 
$product = Mage::getModel('catalog/product')->load($productId);
$category_name = "" ;
$cats = $product->getCategoryIds();

$cnt = 0 ;
foreach ($cats as $category_id) {
$_cat = Mage::getModel('catalog/category')->load($category_id) ;
$cnt++ ;
if($cnt == count($cats)) 
$category_name.=$_cat->getName() ;
else 
$category_name.=$_cat->getName()."," ; 
} 
return $category_name ; 
}

function getItemJs(&$transId, &$item) {
return <<<HTML
ga('ecommerce:addItem', {
'id': '$transId',
'name': '{$item['name']}',
'sku': '{$item['sku']}',
'category': '{$item['category']}',
'price': '{$item['price']}',
'quantity': '{$item['quantity']}'
});
HTML;
}

?>
<script type="text/javascript">

ga('require', 'ecommerce', 'ecommerce.js'); // Load GA ecommerce plug-in.
ga('ecommerce:addTransaction', {
'id': '<?php echo $this->getOrderId(); ?>', // Transaction ID. Required
'affiliation': '<?php echo $name ?>', // Affiliation or store name
'revenue': '<?php echo $total; ?>', // Grand Total
'shipping': '<?php echo $shipping; ?>', // Shipping
'tax': '<?php echo $tax; ?>' // Tax
});
// to get items
<?php
foreach ($item_details as &$item) {
echo getItemJs($this->getOrderId(), $item);
}
?>
ga('ecommerce:send');
</script>
<?php
/*
$orderId = $block->getRealOrderId();
$total = $block->getGrandTotal();
$subtotal = $block->getSubtotal();
$discount = $block->getDiscountAmount();
$affiliateTotal = ($subtotal + $discount)

// Transaction Data
$trans = array('id'=>$orderId, 'affiliation'=>'TCH',
               'revenue'=>'11.99', 'shipping'=>'5', 'tax'=>'1.29');

// List of Items Purchased.
$items = array(
  array('sku'=>'SDFSDF', 'name'=>'Shoes', 'category'=>'Footwear', 'price'=>'100', 'quantity'=>'1'),
  array('sku'=>'123DSW', 'name'=>'Sandals', 'category'=>'Footwear', 'price'=>'87', 'quantity'=>'1'),
  array('sku'=>'UHDF93', 'name'=>'Socks', 'category'=>'Footwear', 'price'=>'5.99', 'quantity'=>'2')
);
?>
<?php
// Function to return the JavaScript representation of a TransactionData object.
function getTransactionJs(&$trans) {
  return <<<HTML
ga('ecommerce:addTransaction', {
  'id': '{$trans['id']}',
  'affiliation': '{$trans['affiliation']}',
  'revenue': '{$trans['revenue']}',
  'shipping': '{$trans['shipping']}',
  'tax': '{$trans['tax']}'
});
HTML;
}

// Function to return the JavaScript representation of an ItemData object.
function getItemJs(&$transId, &$item) {
  return <<<HTML
ga('ecommerce:addItem', {
  'id': '$transId',
  'name': '{$item['name']}',
  'sku': '{$item['sku']}',
  'category': '{$item['category']}',
  'price': '{$item['price']}',
  'quantity': '{$item['quantity']}'
});
HTML;
}
?>
<!-- Begin HTML -->
<script>
ga('require', 'ecommerce');

<?php
    echo getTransactionJs($trans);

    foreach ($items as &$item) 
    {
      echo getItemJs($trans['id'], $item);
    }
?>
ga('ecommerce:send');
</script>
*/
