footer css start*/

body .about-block {
    margin-left: 0;
    margin-right: 0px;
}

.newsletter-section {
    background: #139cc8;
    padding: 40px 0;
}

    .newsletter-section .container {
        max-width: 1160px;
        text-align: center;
    }

        .newsletter-section .container .newsletter,
        .newsletter-section .container .actions {
            display: inline-block;
            vertical-align: top;
        }

            .newsletter-section .container .newsletter input.form-control {
                border-radius: 0;
                border: none;
                height: 34px;
                width: 370px;
            }

@media(max-width:790px) {
    .newsletter-section .container .newsletter input.form-control {
        width: auto;
    }
}

.owl-stage-outer.owl-height {
    height: auto !important;
}

.owl-carousel .banner-item .content_slider .banner-title {
    font-size: 3vw !important;
}

.newsletter-section .container .actions .btn {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    padding: 0 27px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0;
}

.footer .footer-top .container {
    max-width: 1160px;
}

.footer-bottom .bottom-block .copyright {
    width: 100%;
}

.footer .copyright {
    margin: 3px 0;
    color: #999;
    font-size: 11px;
}

.newsletter-section {
    padding: 10px 10px;
    text-align: center;
}

    .newsletter-section h5 {
        /*float: left;*/
        font-size: 32px;
        line-height: 38px;
        margin: 0;
        text-align: center;
        color: #fff;
        letter-spacing: 1.1px;
        margin-bottom: 20px;
    }

.footer .subscribe-block {
    float: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    display: inline-block;
    padding: 10px 10px 5px;
    /*background: #cccccc;*/
}

.subscribe-block .block {
    display: inline-block;
}

    .subscribe-block .block.newsletter {
        margin-right: 40px !important;
    }

.newsletter-section .social-links {
    float: inherit;
    display: inline-block;
    vertical-align: top;
}

    .newsletter-section .social-links h5 {
        float: left;
        font-size: 16px;
        line-height: 34px;
        margin: 0;
        text-align: center;
        color: #000;
        letter-spacing: 2.2px;
        font-weight: bold;
        margin-bottom: 0;
    }

.footer .subscribe-block form {
    float: inherit;
}

.subscribe-block .content .newsletter {
    display: inline-block;
    margin-right: 18px;
    vertical-align: top;
}

.subscribe-block .content .actions {
    display: inline-block;
}

body .footer .newsletter .btn {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    padding: 0 27px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    background: #000 !important;
}

.newsletter-section ul.social-links {
    padding: 0px;
}

    .newsletter-section ul.social-links li ©
        display: inline-block;
        text-align: center;
        color: rgba(255, 255, 255, 0.65);
        font-size: 14px;
        line-height: 1.4;
        height: 24px;
        line-height: 24px;
        width: 24px;
        border-radius: 50%;
        background: #333;
        margin-top: 5px;
        margin-left: 5px;
    }

        .newsletter-section ul.social-links li a i {
            font-size: 14px;
            vertical-align: top;
            line-height: 21px;
            color: #00a1ca;
        }

.footer .links li + li {
    border: none 0;
}

.payment-info .links li {
    float: left;
}

    .payment-info .links li img {
        max-width: 84px;
        margin-bottom: 15px;
        margin-right: 5px;
    }

.payment-info.payment-info-1 li a:before {
    display: none !important;
}

.payment-info.payment-info-1 li {
    text-align: center;
    width: 100%;
}

    .payment-info.payment-info-1 li img {
        max-width: 150px;
    }

body.wide-layout .footer .footer-top {
    background: #fff;
    color: #000;
    padding: 20px 0 20px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

.footer .footer-block-title {
    color: #000;
    margin-bottom: 0;
    font-weight: bold;
}
/*footer css end*/

.page-header .middle-block .container > div {
    display: inline-block;
    width: 33%;
    float: left;
}
/*sticky header css*/

#sticky-header .left-wrapper {
    float: left;
    width: 33.33%;
}

.toolbar {
    margin-top: 60px !important;
}

#sticky-header .top-block .right-block {
    float: right;
}

#sticky-header .header.links li {
    padding: 0 0 0 18px;
    margin: 0;
    float: left;
    position: relative;
}

#sticky-header .top-block .welcome {
    display: inline-block;
    font-size: 11px;
    color: #666;
    padding: 0;
    margin: 0;
}
/*end sticky header css*/

.ms-megamenu .ms-submenu {
    width: 100% !important;
}

.ms-megamenu .ms-topmenu {
    position: unset !important;
}

.subcat-container {
    width: 1272px;
    margin: -1px auto;
}

.main-filter-cat {
    display: none;
}
/***********************************************/

.minicart-wrapper {
    /*display: inline-block; */
    vertical-align: middle;
    position: relative;
    margin-left: 10px;
    float: right;
}

.header-wrapper .block-search {
    width: 202px;
    vertical-align: middle;
    margin: 0;
    display: inline-block;
}

.left-wrapper {
    line-height: 80px;
    display: inline-block;
}

.minicart-wrapper .title-cart {
    color: #000;
}
/*************** product listing *********************/

.catalog-category-view .content-inner .page-title-wrapper {
    display: none;
}

.catalog-category-view .content-inner .category-view {
    display: none;
}

.catalog-category-view .block-wishlist {
    display: none;
}
/***********************************************/

.logo > img {
    /*width: 80%;*/
}

.page-header .middle-block {
    padding-top: 0px;
}

.page-header .logo-wrapper {
    padding-right: 0px;
}

.center-block {
    padding: 6px 0;
}
/**************************************************************/

.sidebar .products-grid .product-item-name a,
.product-item-name a {
    font-size: 13px !important;
}

.products-grid .add-to-links a,
.products-list .add-to-links a {
    border-radius: 0% !important;
    background-color: #000 !important;
    line-height: 29px !important;
}

.products-grid .item .image-wrapper a.product-item-photo:before,
.products-list .item .image-wrapper a.product-item-photo:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.products-grid .alert-spacer {
    min-height: 35px;
}

.products-grid .item.product.product-item {
    margin: 30px 0 45px;
}

.product.product-item-name {
    max-height: 44px;
    min-height: 44px;
    overflow: hidden;
}

.catalog-category-view .item.product.product-item {
    margin: 30px 0 45px;
}

.products-grid .product-item-details,
.products-list .product-item-details {
    text-align: center;
}

.products-grid .product-item-name,
.products-list .product-item-name {
    text-align: center;
}

.item.product.product-item {
    text-align: center;
}

ul.breadcrumb {
    padding: 5px 0 !important;
}
/*.image-wrapper {
  width: 204px;
  height: auto;
}*/

.block-title.filter-title {
    text-transform: uppercase;
}

.block-content.filter-content dt {
    font-size: 14px;
    padding: 4px 0;
    text-transform: uppercase;
}

.sidebar.sidebar-additional {
    display: none;
}

.filter-options-title::after {
    line-height: 24px;
}

.sidebar .block.filter ol li {
    line-height: 20px;
    font-size: 13px;
    text-rendering: optimizelegibility;
}
/************************************************/

.maincat-center {
    margin: auto;
    width: 945px;
}

#sticky-header {
    height: auto !important;
}

    #sticky-header .small-logo > img {
        width: 80% !important;
    }

    #sticky-header .top-cart-block.clearfix {
        margin-top: 25px;
    }

.middle-block .right-block .top-cart-block,
.middle-block .right-block .quick-access,
.middle-block .right-block .block-search {
    float: right;
    margin-top: 25px;
}

#sticky-header .logo {
    float: none !important;
}

nav.navigation {
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.ms-topmenu .ms-submenu,
.ms-topmenu .col-sub {
    background-color: #fff !important;
}

.ms-megamenu .ms-submenu {
    border-top-color: #ddd !important;
}

#sticky-header .top-block .info-block {
    float: left;
    /*color: #666;*/
    color: #BCA480 !important;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
    font-size: 11px;
    padding: 0px 0px;
}

#sticky-header .center-wrapper {
    width: 30.33%;
    float: left;
    text-align: center;
    /*padding-top: 10px;
    padding-bottom: 21px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.page-header .middle-block .logo-wrapper {
    float: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.sidebar .block .block-title strong {
    font-weight: 700 !important;
}

.page-header .info-block {
    margin-right: 0px !important;
    padding: 0px 0px !important;
}

#sticky-header .left-wrapper {
    padding: 0px 0px !important;
}

#sticky-header .top-block {
    position: relative;
    background-color: #f5f5f5;
    padding-top: 5px;
    padding-bottom: 5px;
}
/***************************************************/

.custom-delivery-block ul li {
    display: inline-block;
}

.item-image-static img {
    width: 55px;
    float: left;
}

.text-sub-block {
    float: left;
    padding-left: 20px;
    text-transform: uppercase;
}

.item-title-static {
    font-size: 30px;
    line-height: 26px;
    color: #BCA480;
    font-family: lato;
}

.item-link-static {
    color: #777;
    font-size: 15px;
}
/********************************************/

.product.data.items {
    margin: 0 0 20px;
    padding: 0;
}

    .product.data.items > .item.title {
        box-sizing: border-box;
        float: none;
        width: 100%;
    }

        .product.data.items > .item.title > .switch {
            display: block;
        }

    .product.data.items > .item.content {
        box-sizing: border-box;
        display: block;
        float: none;
        margin: 0;
    }

        .product.data.items > .item.content::before,
        .product.data.items > .item.content::after {
            content: "";
            display: table;
        }

        .product.data.items > .item.content::after {
            clear: both;
        }

        .product.data.items > .item.content.active {
            display: block;
        }

    .product.data.items > .item.title {
        margin: 0 0 5px;
    }

        .product.data.items > .item.title:not(.disabled) > .switch:focus,
        .product.data.items > .item.title:not(.disabled) > .switch:hover {
            background: #fcfcfc none repeat scroll 0 0;
        }

        .product.data.items > .item.title:not(.disabled) > .switch:active,
        .product.data.items > .item.title.active > .switch,
        .product.data.items > .item.title.active > .switch:focus,
        .product.data.items > .item.title.active > .switch:hover {
            background: #fff none repeat scroll 0 0;
            padding-bottom: 5px;
        }

    .product.data.items > .item.content {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #d1d1d1;
        margin: 0 0 5px;
        padding: 20px;
    }

    .product.data.items > .item.title > .switch {
        background: #f0f0f0 none repeat scroll 0 0;
        border-color: #d1d1d1;
        border-style: solid;
        border-width: 1px;
        height: 40px;
        padding: 5px 20px;
        text-decoration: none;
        /*color: #7d7d7d;
font-size: 1.8rem;
font-weight: 600;
line-height: 40px;*/
        color: #000;
        font-family: "Lato";
        font-size: 1.16em;
        font-weight: 400;
        line-height: 1.583em;
    }
        /*.product.data.items > .item.title > .switch:visited {
color: #BCA480; /* #7d7d7d *
text-decoration: none;
}*/

        .product.data.items > .item.title > .switch:hover {
            color: #BCA480;
            /* #7d7d7d */
            text-decoration: none;
        }
/*.product.data.items > .item.title > .switch:active {
color: #BCA480; /* #333 *
text-decoration: none;
}*/
/* -------------------------------------------------- */

.product-info-main .page-title-wrapper {
    margin-bottom: 10px;
}

.product-info-main .page-title {
    margin: 20px 0 0;
}

.product-info-main .product-info-stock-sku {
    border-left: medium none;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0px;
    padding-left: 0;
    vertical-align: top;
}

.price-availability-block .special-price {
    display: block;
}

.product-info-main .stock.available {
    background: transparent none repeat scroll 0 0;
    color: #42ab9e;
    font-size: 17px;
    font-weight: normal;
    left: -5px;
    position: absolute;
    text-transform: capitalize;
    top: 68px;
}

.product-info-main .price-box .price-final_price .price {
    font-size: 6em;
}

.product-info-main .title-wrapper .price-box .old-price {
    float: right;
}

    .product-info-main .title-wrapper .price-box .old-price .price {
        font-size: 17px;
        color: #ed1c24;
        font-weight: normal;
    }

    .product-info-main .title-wrapper .price-box .old-price:before {
        content: "RRP. ";
        color: #ed1c24;
        font-size: 17px;
        font-weight: normal;
    }

.product-info-main .top-block {
    float: left;
}

.product-info-main .bottom-block {
    float: right;
    margin-top: -10px;
    padding-bottom: 11px;
    padding-top: 0;
    position: relative;
}

.product-info-main .product-options-wrapper {
    float: left;
    width: 66%;
    margin-bottom: 0 !important;
}

    .product-info-main .product-options-wrapper .field,
    .product-info-main .product-options-wrapper .swatch-attribute {
        border-bottom: medium none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

.product-info-main .field.qty {
    margin-top: 23px;
    margin-bottom: 10px;
    float: left;
}

.product-info-main .box-tocart .actions {
    float: none;
}

.product-info-main .title-wrapper .price-box,
.product-info-main .field.qty {
    margin-right: 0;
}

.product-info-main #product-addtocart-button {
    font-size: 24px;
    height: 68px;
    width: 100%;
}

.product-info-main #product-updatecart-button {
    font-size: 24px;
    height: 68px;
    width: 100%;
}

.product-info-main .box-tocart {
    margin-bottom: 20px;
}
/*.product-info-main .product-social-links {
    display: none;
}*/

.product.data.items > .item.title > .switch {
    background: transparent none repeat scroll 0 0;
    border-width: 0;
    font-weight: 400;
    height: auto;
    line-height: 1;
    padding: 7px 0;
    position: relative;
    font-size: 1.16em;
    border-bottom: 1px solid #d1d1d1;
}

.product.data.items > .item.content {
    padding: 8px 0;
    border: none;
}

.additional-attributes .table-label {
    padding: 5px;
    vertical-align: middle;
    width: 33%;
}

.additional-attributes .data {
    padding: 5px;
}

.product.data.items > .item.title > .switch:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    position: absolute;
    right: 0;
    top: 7px;
}

.product.data.items > .item.title[aria-selected="true"] > .switch:after {
    content: '\f106';
}

.product.data.items > .item.title:not(.disabled) > .switch:focus,
.product.data.items > .item.title:not(.disabled) > .switch:hover {
    background: transparent;
}

.custom-delivery-block .static-delivery::after {
    clear: both;
    content: "";
    display: table;
}

.related .block-title.title {
    background: #f0f0f0 none repeat scroll 0 0;
    border: medium none;
    text-align: center;
}

.product.data.items > .item.title > .switch .counter:before {
    content: "(";
}

.product.data.items > .item.title > .switch .counter:after {
    content: ")";
}

.size-guide {
    display: block;
    float: right;
    font-size: 16px;
    margin: 8px 16px 10px 0;
    text-decoration: underline;
}
/********************************************/

.fotorama__thumb-border {
    border: 1px solid #666 !important;
}

#tab-label-reviews-title {
    color: #000 !important;
    font-family: "Lato" !important;
    font-size: 1.16em !important;
    font-weight: 400 !important;
    line-height: 1.583em !important;
}

.product-options-wrapper select.form-control {
    border-radius: 0;
}
/*.fotorama__stage{
    height: 750px !important;
}*/

.custom-slider .owl-wrapper {
    width: auto !important;
}
/**********************************************/

.owl-carousel .owl-stage-outer {
    padding: 0 !important;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #fff none repeat scroll 0 0 !important;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}

.product_detail_banner {
    background-color: #F0F0F0;
    font-size: 26px;
    height: 60px;
    line-height: 60px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
/********************************************/

.block.related .add-to-links {
    display: none;
}
/******************************************/

.price {
    color: #000 !important;
}

.product-info-main .product-social-links a {
    color: #000 !important;
    border: none !important;
    /*padding: 15px 40px 0px 0px !important;*/
    padding: 15px 0px 0px 0px !important;
    margin-right: 0px !important;
}

    .product-info-main .product-social-links a:hover {
        background-color: #fff !important;
    }

.catalog-product-view .price-availability-block .top-block {
    width: 50%;
}

.fa-exchange {
    color: #000 !important;
}

.size-guide {
    color: #000;
}

    .size-guide:hover {
        color: #42ab9e;
    }

.message.success {
    background: #FFFFFF !important;
    color: #42ab9e !important;
}

body .btn-primary.type-2 {
    background-color: #000 !important;
    border-color: #000 !important;
}

    body .btn-primary.type-2:hover,
    body .btn-primary.type-2:focus,
    body .btn-primary.type-2:active,
    body .btn-primary.type-2.active {
        background-color: #42ab9e !important;
        border-color: #42ab9e !important;
    }

.tocart {
    background-color: #000 !important;
    border-color: #000 !important;
}

    .tocart:hover,
    .tocart:focus,
    .tocart:active {
        background-color: #000 !important;
        border-color: #000 !important;
    }
/*****************************************/

.custom-related-tab .data.item.title {
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 15px 0;
    text-align: center;
    float: left;
    width: 100%;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: bold;
}

    .custom-related-tab .data.item.title.active a {
        color: #fff;
        text-decoration: none;
    }

    .custom-related-tab .data.item.title a {
        color: #222;
        text-decoration: none;
    }

    .custom-related-tab .data.item.title.active {
        background-color: #ccc;
    }
/********************* banner slider **************************/

.custom-slider .banner-item {
    margin: 0px 0px !important;
}

.owl-theme .owl-dots {
    position: relative !important;
    width: 10% !important;
    bottom: 50px !important;
    float: right;
    right: 10px !important;
}

.owl-theme .owl-controls .owl-nav .owl-prev[class*="owl-"] {
    left: 0px !important;
}

.owl-theme .owl-controls .owl-nav [class*=owl-].owl-prev:before {
    position: absolute;
    top: 24px !important;
    left: 11px !important;
    z-index: 1;
    width: 14px !important;
    height: 1px;
    content: "";
    border-top: 2px solid #FFFFFF !important;
    transform: rotate(40deg);
    border-radius: 20px;
    text-indent: 0;
}

.owl-theme .owl-controls .owl-nav [class*=owl-].owl-prev:after {
    position: absolute;
    top: 16px !important;
    left: 11px !important;
    z-index: 1;
    width: 14px !important;
    height: 1px;
    content: "";
    border-top: 2px solid #FFFFFF !important;
    transform: rotate(-40deg);
    border-radius: 20px;
    text-indent: 0;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
    background: #FFFFFF none repeat scroll 0 0 !important;
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover:before,
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover:after {
    border-color: #000 !important;
}

.owl-theme .owl-controls .owl-nav [class*=owl-].owl-next {
    right: 0px !important;
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

    .owl-theme .owl-controls .owl-nav [class*=owl-].owl-next:before {
        position: absolute;
        top: 16px !important;
        right: 11px !important;
        z-index: 1;
        width: 14px !important;
        height: 1px;
        content: "";
        border-top: 2px solid #FFFFFF !important;
        transform: rotate(40deg);
        border-radius: 20px;
    }

    .owl-theme .owl-controls .owl-nav [class*=owl-].owl-next:after {
        position: absolute;
        top: 24px !important;
        right: 11px !important;
        z-index: 1;
        width: 14px !important;
        height: 1px;
        content: "";
        border-top: 2px solid #FFFFFF !important;
        transform: rotate(-40deg);
        border-radius: 20px;
    }

    .owl-theme .owl-controls .owl-nav [class*=owl-]:hover:before,
    .owl-theme .owl-controls .owl-nav [class*=owl-]:hover:after {
        border-color: #000 !important;
    }

.owl-carousel .banner-item .content_slider .buttons a.action.primary {
    background-color: #222;
    color: #FFFFFF;
    padding: 12px 32px;
    margin-top: 23px;
    margin-left: 6px;
    text-transform: uppercase;
    text-decoration: none;
}

    .owl-carousel .banner-item .content_slider .buttons a.action.primary:hover {
        background-color: #444;
        color: #FFFFFF;
        padding: 12px 32px;
        margin-top: 23px;
        margin-left: 6px;
        text-transform: uppercase;
        text-decoration: none;
    }
/******************* One Page Checkout ************************/
/***** existing login  ****/

.osc-authentication-wrapper {
    display: inline-block;
    width: 100%;
}

    .osc-authentication-wrapper .existing-customer-title {
        float: left;
        width: 50%;
    }

    .osc-authentication-wrapper .block-content {
        float: left;
        width: 50%;
    }

    .osc-authentication-wrapper .fieldset {
        float: left;
        width: 85%;
    }

    .osc-authentication-wrapper .actions-toolbar {
        float: left;
        width: 15%;
        margin: 0 !important;
    }

    .osc-authentication-wrapper .field {
        float: left;
        padding-right: 10px;
        margin: 0 !important;
        width: 50%;
    }

    .osc-authentication-wrapper .input-text {
        border-color: #222;
    }

    .osc-authentication-wrapper .action.action-login.secondary {
        background-color: #000 !important;
        padding: 12px 22px;
    }
/**************** below opc *********************/

.onestepcheckout-index-index span.step-numbers {
    background-color: #000;
    padding: 7px 14px;
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
}

.step-title {
    padding: 12px 10px 6px 0px !important;
    font-size: 20px !important;
}

.authentication-wrapper .action-auth-toggle {
    background-color: #fff !important;
}

.checkout-container a.button-action,
.checkout-container button:not(.primary):not(.action-show):not(.action-close):not(.edit-address-link):not(.ui-datepicker-trigger) {
    background-color: #000000;
}

.osc-place-order-block textarea {
    max-width: 405px;
    width: 405px;
}

.osc-place-order-block {
    border: none !important;
    padding: 10px !important;
    margin-bottom: 0px !important;
}

.opc-wrapper.one-step-checkout-wrapper .field.required.col-mp.mp-12 {
    padding: 0 !important;
}

.onestepcheckout-index-index select.form-control {
    border-radius: 0px !important;
}

.opc-wrapper.one-step-checkout-wrapper .select.form-control {
    width: 100% !important;
}

.opc-wrapper.one-step-checkout-wrapper .button-remove {
    display: none;
}

.opc-wrapper.one-step-checkout-wrapper .button-action.minus {
    display: none;
}

.opc-wrapper.one-step-checkout-wrapper .button-action.plus {
    display: none;
}

.opc-block-summary .table-totals tbody tr:last-child td {
    padding: 8px 20px !important;
}

.opc-block-summary .table-totals .price {
    font-size: 18px !important;
}

.onestepcheckout-index-index .osc-place-order-wrapper {
    float: right;
}

.onestepcheckout-index-index .osc-newsletter {
    width: 50%;
}

.onestepcheckout-index-index .checkout-agreement .action.action-show {
    background-color: #fff;
    border: medium none;
}

.onestepcheckout-index-index .minicart-items {
    padding: 0px !important;
}

.opc-block-summary .minicart-items {
    padding: 0px !important;
}

    .opc-block-summary .minicart-items .price {
        font-size: 13px !important;
    }

.onestepcheckout-index-index #shipping-new-address-form .field[name="shippingAddress.prefix"],
.onestepcheckout-index-index #shipping-new-address-form .field[name="shippingAddress.suffix"] {
    width: 30%;
}

.onestepcheckout-index-index #shipping-new-address-form .field[name="shippingAddress.firstname"] {
    width: 100%;
}

.onestepcheckout-index-index #shipping-new-address-form .field[name="shippingAddress.lastname"] {
    float: right;
    width: 100%;
}

.onestepcheckout-index-index #shipping-new-address-form fieldset.street .field {
    margin: 0 0 25px;
    width: 100%;
}

.onestepcheckout-index-index #shipping-new-address-form {
    margin: 15px -10px;
}

.onestepcheckout-index-index #checkout-review-table {
    border-bottom: 1px solid #dcd8d8 !important;
}

.onestepcheckout-index-index .opc-block-summary .minicart-items-wrapper {
    padding: 0px 15px 0 0 !important;
}

.onestepcheckout-index-index .checkout-payment-method .payment-method-title {
    border-top: none !important;
}

.onestepcheckout-index-index #checkout-review-table tbody tr td {
    border-bottom: none;
}

.onestepcheckout-index-index .step-content {
    padding-top: 19px !important;
}

.onestepcheckout-index-index .opc-block-summary {
    padding: 0px 0px !important;
}

.onestepcheckout-index-index .osc-newsletter input[type="checkbox"] + label {
    padding: 7px 0 0 !important;
}

.onestepcheckout-index-index #co-place-order-area {
    padding: 0 0px !important;
}

.onestepcheckout-index-index .osc-place-order-block {
    padding: 0px !important;
}

.onestepcheckout-index-index .osc-place-order-wrapper {
    padding: 0px 0px;
}

.onestepcheckout-index-index .checkout-agreements input[type="checkbox"] + label {
    padding: 7px 0 0 !important;
}

.onestepcheckout-index-index .opc-wrapper .step-content {
    margin: 0px 0px 0px !important;
}

.onestepcheckout-index-index .checkout-payment-method .payment-option-inner {
    margin: 0px !important;
}

.onestepcheckout-index-index #checkout-step-payment .actions-toolbar {
    margin-top: 0px !important;
    padding-top: 5px !important;
}

.onestepcheckout-index-index .checkout-payment-method .payment-option-inner .field .label {
    display: none;
}

.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.prefix"] {
    width: 30%;
}

.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.firstname"],
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.lastname"] {
    width: 100%;
    float: right;
    padding: 0px;
}

.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.country_id"],
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.city"],
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.postcode"],
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.region"],
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.region_id"],
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.company"],
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.telephone"] {
    padding: 0px;
}

.onestepcheckout-index-index #shipping-new-address-form fieldset.street legend.label {
    padding: 0px 10px !important;
}

.onestepcheckout-index-index .create-account-checkbox input[type="checkbox"] + label {
    padding: 7px 0 0 !important;
}

.onestepcheckout-index-index .billing-address-same-as-shipping-block input[type="checkbox"] + label {
    padding: 7px 0 0 !important;
}

.catalog-product-view .paypal-logo {
    display: none;
}

.checkout-cart-index .paypal-logo {
    display: none;
}

.minicart-wrapper.active .paypal-button-hidden {
    display: none;
}

.onestepcheckout-index-index div#billing {
    padding-left: 10px;
    padding-top: 20px;
}

    .onestepcheckout-index-index div#billing span.step-numbers {
        padding: 7px 6px;
    }

.onestepcheckout-index-index legend {
    border-bottom: none !important;
}

.onestepcheckout-index-index .opc-wrapper .fieldset > .field > .label {
    float: left !important;
}

.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.street.1"] label,
.onestepcheckout-index-index .billing-address-form .field[name="billingAddress.street.0"] label {
    display: none;
}

.onestepcheckout-index-index .create-account-checkbox {
    padding: 0px;
}

.onestepcheckout-index-index #create-account-form .field.password.required {
    padding: 0px 5px 0px 0px;
}

.onestepcheckout-index-index #create-account-form .field.confirmation.required {
    padding: 0px 0px 0px 5px;
}

.onestepcheckout-index-index .billing-address-same-as-shipping-block {
    padding: 0px;
}

.header-wrapper .left-block img {
    max-width: 150px;
    padding-top: 5px;
}

#sticky-header .left-wrapper img {
    max-width: 150px;
    padding-top: 5px;
}

.onestepcheckout-index-index .ssl-logo {
    max-width: 150px;
    float: right;
    padding-top: 60px;
}
/*.page-header .action.nav-toggle span {
  display: inline;
  margin-left: 10px;
}*/

.page-header .action.nav-toggle span {
    display: block;
    font-size: 8px;
    margin-left: 0;
    margin-top: -10px;
}

.cms-home .custom-delivery-block {
    margin-top: 50px;
}
/********************* one page checkout *************************/

.onestepcheckout-index-index .input-text {
    border-radius: 0 !important;
}

.onestepcheckout-index-index .checkout-shipping-address {
    padding: 0 10px;
}

.onestepcheckout-index-index .osc-authentication-wrapper {
    padding: 20px;
    font-size: 17px;
}

    .onestepcheckout-index-index .osc-authentication-wrapper .action.action-auth-toggle.osc-authentication-toggle > span {
        font-size: 13px;
    }

.products-grid .item .image-wrapper a.product-item-photo::before,
.products-list .item .image-wrapper a.product-item-photo::before {
    background: none;
    border: none;
}

.owl-theme .owl-controls .owl-buttons div.lft-btn,
.owl-theme .owl-controls .owl-buttons div.rgt-btn {
    background-color: #cccc !important;
}
/******************* FAQs *******************************/

.faq-accordation-tab .faq-accordation-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f7f7f7;
    border-color: #dce2e7;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    font-family: lato;
    cursor: pointer;
    font-weight: bold;
}

.faq-accordation-tab .faq-accordation-content {
    border-top: 1px solid #dce2e7;
    padding: 10px;
    font-size: 13px;
}

.faq-accordation-tab {
    border: 1px solid #dce2e7;
    font-family: lato;
    border-top: none;
}
/*********** All Pages ******************/

.pages-data-desc {
    font-family: lato;
    font-size: 15px;
}

    .pages-data-desc a {
        color: #000;
    }

.cms-page-view span.base {
    font-weight: bold;
}

.table-background-color {
    background-color: #F0F0F0;
}

.pages-data-desc strong {
    color: #000;
}

.pages-data-desc b {
    color: #000;
}

.mobile-menu-wrapper .nav-sections {
    font-family: lato;
}

.header-wrapper .navbar-collapse.collapse a.level-top {
    font-family: lato;
}

.page-header .action.nav-toggle {
    cursor: pointer;
    padding-left: 0;
}

a:not(.cta-btn):hover {
    color: #399cd7 !important;
}

.page-header .minicart-wrapper .price-wrapper:hover {
    color: #BCA480 !important;
}

.page-header .minicart-wrapper span.price:hover {
    color: #BCA480 !important;
}

.catalog-product-view .product-add-form .box-tocart .top-option-content-block a.size-guide:hover {
    color: #BCA480 !important;
}

#tab-label-reviews-title:hover {
    color: #BCA480 !important;
}

button.btn-primary {
    background-color: #000 !important;
    border-color: #000 !important;
}

    button.btn-primary:hover,
    button.btn-primary:focus,
    button.btn-primary:active,
    button.btn-primary.active {
        background-color: #42ab9e !important;
        border-color: #42ab9e !important;
    }

button.btn.btn-default {
    background-color: #000 !important;
    border-color: #000 !important;
}

    button.btn.btn-default:hover {
        background-color: #42ab9e !important;
        border-color: #42ab9e !important;
    }

.btn.btn-default {
    background-color: #000 !important;
    border-color: #000 !important;
}

    .btn.btn-default:hover,
    .btn.btn-default:focus,
    .btn.btn-default:active {
        background-color: #42ab9e !important;
        border-color: #42ab9e !important;
    }

.header-wrapper .viewcart.btn.btn-default,
.cart-container .continue.btn.btn-default,
.cart-container .apply.btn.btn-default,
.cart-container .clear.btn.btn-default,
.cart-container .update.btn.btn-default {
    background-color: #000 !important;
    border-color: #000 !important;
}

    .header-wrapper .viewcart.btn.btn-default:hover,
    .cart-container .continue.btn.btn-default:hover {
        background-color: #000 !important;
        border-color: #000 !important;
    }

.checkout-cart-index .cart-container .apply.btn.btn-default:hover,
.checkout-cart-index .cart-container .clear.btn.btn-default:hover,
.checkout-cart-index .cart-container .update.btn.btn-default:hover {
    background-color: #444 !important;
    border-color: #444 !important;
}

.page-wrapper .comparison .product-item-actions button.btn-primary:hover,
.page-wrapper .comparison .product-item-actions button.btn-primary:focus,
.page-wrapper .comparison .product-item-actions button.btn-primary:active,
.page-wrapper .comparison .product-item-actions button.btn-primary.active {
    background-color: #444 !important;
    border-color: #444 !important;
}

.catalog-product-view .review-form-wrapper .btn.btn-default:hover {
    background-color: #444 !important;
    border-color: #444 !important;
}

.customer-account-login .btn.btn-default:hover {
    background-color: #444 !important;
    border-color: #444 !important;
    color: #fff !important;
}

.customer-account-create .btn.btn-default:hover {
    background-color: #444 !important;
    border-color: #444 !important;
    color: #fff !important;
}

.header-wrapper .btn.btn-default {
    background-color: transparent !important;
    border-color: transparent !important;
}

    .header-wrapper .btn.btn-default:hover,
    .header-wrapper .btn.btn-default:focus,
    .header-wrapper .btn.btn-default:active {
        background-color: transparent !important;
        border-color: transparent !important;
    }

.cart-container a.btn.btn-default:hover {
    color: #FFFFFF !important;
}

.minicart-wrapper a.btn.btn-default:hover {
    color: #FFFFFF !important;
}

.footer .btn.btn-primary {
    background-color: #989898 !important;
    border-color: #989898 !important;
}

.newsletter-section ul.social-links li a:hover {
    color: rgba(255, 255, 255, 0.65) !important;
    background-color: #bca480;
}

#minicart-content-wrapper .product-item-name a {
    color: #42ab9e !important;
    text-decoration: none;
}

    #minicart-content-wrapper .product-item-name a:hover {
        color: #BCA480 !important;
        text-decoration: none;
    }

.ms-category-dynamic .col-dynamic a:hover span {
    color: #BCA480 !important;
}

.footer a:visited {
    color: #000;
}

.footer ul.links li a::before {
    background-color: #000 !important;
}

.osc-place-order-wrapper .place-order-primary button.primary.checkout:hover {
    background-color: #42ab9e !important;
    border-color: #42ab9e !important;
}

.header-wrapper .block-search .input-group .btn i {
    line-height: 34px !important;
    font-size: 17px !important;
}

.osc-place-order-block textarea {
    max-width: 100%;
}
/*************************************************************************/

.page-header .right-block .item.link.compare {
    margin: 2px 15px 0px 0px;
    width: auto;
    font-size: 12px;
    list-style: outside none none;
}

    .page-header .right-block .item.link.compare a {
        color: #888 !important;
    }

        .page-header .right-block .item.link.compare a:hover {
            color: #bca480 !important;
        }

.page-header .right-block li.item.link.compare::before {
    font: 14px/1 FontAwesome;
    left: 0;
    top: 3px;
    content: "\f0ec";
}

.page-wrapper #sticky-header .right-block .item.link.compare a {
    color: #888 !important;
}

    .page-wrapper #sticky-header .right-block .item.link.compare a:hover {
        color: #bca480 !important;
    }

.page-wrapper #sticky-header .right-block .item.link.compare {
    margin: 2px 15px 0px 0px;
    width: auto;
    font-size: 12px;
    list-style: outside none none;
}

.page-wrapper #sticky-header .right-block li.item.link.compare::before {
    font: 14px/1 FontAwesome;
    left: 0;
    top: 3px;
    content: "\f0ec";
}

#notice-cookie-block .content {
    padding: 10px;
    text-align: center;
}

    #notice-cookie-block .content a {
        color: #000;
    }

.fotorama--fullscreen {
    z-index: 99999 !important;
}

#notice-cookie-block .content button.primary {
    border-color: #000 !important;
    background-color: #000 !important;
    border: none !important;
}

    #notice-cookie-block .content button.primary:hover {
        border-color: #444 !important;
        background-color: #444 !important;
    }

#notice-cookie-block .content button {
    border: none !important;
    padding: 6px 20px !important;
}

    #notice-cookie-block .content button span {
        font-weight: bold !important;
        text-transform: uppercase !important;
    }

body input[type="text"],
body input[type="email"],
body input[type="password"],
body .form-control {
    border-radius: 0px !important;
}

.catalog-product-view .owl-theme .owl-controls .owl-buttons div.lft-btn,
.catalog-product-view .owl-theme .owl-controls .owl-buttons div.rgt-btn {
    background: none repeat scroll 0 0 #989898 !important;
}

a.close-panel {
    display: inline-block !important;
    color: #000;
    font-size: 7px;
    right: 0px !important;
    position: absolute;
    width: 40px;
    top: 1px !important;
    z-index: 999;
}

@media(min-width:760px) and (max-width:991px) {
    a.close-panel {
        /*left: 335px !important;*/
    }
}

.compare-header-link {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

#maincontent:before {
    z-index: 99 !important;
}

.cms-noroute-index a {
    color: #000 !important;
}

.contactus-front-index span.base {
    font-weight: bold;
}

.contactus-front-index .form_block button.primary {
    border-color: #000 !important;
    background-color: #000 !important;
    border: none !important;
    margin-right: 30px;
}

    .contactus-front-index .form_block button.primary:hover {
        border-color: #444 !important;
        background-color: #444 !important;
    }

.contactus-front-index .form_block button {
    border: none !important;
    padding: 6px 20px !important;
}

    .contactus-front-index .form_block button span {
        font-weight: bold !important;
        text-transform: uppercase !important;
    }
/*.contactus-front-index .contact_container {
    display: none;
}*/

.contactus-front-index .form_block input[type="text"],
.contactus-front-index .form_block input[type="email"],
.contactus-front-index .form_block input[type="password"],
.contactus-front-index .form_block .form-control {
    border-radius: 0px !important;
}

.contactus-front-index fieldset .field:not([class*='col-']) ~ .field:not([class*='col-']) {
    margin-top: 0px !important;
}

.contactus-front-index .main_block .map_container .page_title {
    padding: 0px !important;
}

.contactus-front-index .main_block .form_block {
    margin-top: 15px !important;
}

.contactus-front-index .form_block textarea#comment {
    border: 1px solid #ddd !important;
    padding: 10px 0 0 18px !important;
    width: 95% !important;
}

.diff-anchor {
    color: #000;
}

.page-header .welcome {
    display: none;
}

.top-block .right-block {
    position: inherit;
}
/**********************************************************************************************************/

@media screen and (max-width: 666px) {
    .footer .subscribe-block {
        display: block;
    }

        .footer .subscribe-block .form .field input.form-control {
            width: 100%;
        }

        .footer .subscribe-block .block:not(.block-banner) {
            display: block;
            width: 100%;
            margin: 0;
        }

    .subscribe-block .content .newsletter {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .newsletter-section h5 {
        line-height: 18px;
    }

    .footer .newsletter input.form-control {
        font-size: 12px;
    }

    .newsletter-section {
        padding: 10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .footer .footer-block-title {
        text-align: center;
    }

    .newsletter-section h5 {
        float: none;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
    }

    .footer .newsletter input.form-control {
        font-size: 12px;
    }

    .newsletter-section .social-links {
        float: none;
        padding-top: 10px;
    }

    .newsletter-section {
        padding: 10px;
    }

    .footer .links {
        line-height: 0.1;
    }

    .footer ul {
        list-style: outside none none;
        text-align: center;
    }

    .footer .footer-bottom .container {
        padding: 10px;
    }

    .footer .footer-bottom hr.indent-18 {
        display: none;
    }

    .payment-info.payment-info-1 li img {
        max-width: 100px;
    }

    .payment-info .links li img {
        margin-right: 5px;
        margin-top: 5px;
        max-width: 65px;
    }

    .payment-info.payment-info-1 li {
        width: 50%;
    }

    .footer-top hr.indent-18 {
        display: none;
    }

    .footer .copyright {
        margin: 0px;
    }

    .footer ul.links li a::before {
        content: none !important;
    }

    .page-header .middle-block .left-block {
        display: none !important;
    }

    .navigation.ms-megamenu {
        display: none;
    }

    .page-header .middle-block .top-cart-block {
        float: right;
        width: 50%;
    }

    .header-wrapper .block-search {
        float: none;
    }

    .page-header .right-block-wrapper {
        padding: 0px 0px !important;
    }

    .page-header .action.nav-toggle {
        margin: 0 0 0 5px !important;
        cursor: pointer;
    }

    .page-header .middle-block .right-block {
        padding-top: 8px !important;
    }

    .page-header .info-block {
        padding-top: 5px;
        text-align: center;
    }

    .header-wrapper .block-search {
        padding-top: 8px;
    }

    .page-header .info-block {
        float: none !important;
    }

    .page-header .welcome {
        display: none;
    }

    .payment-info .links li img {
        margin-bottom: 0 !important;
    }

    body.wide-layout .footer .footer-top {
        padding: 10px 0 !important;
    }

    .footer-top .row:first-child hr.indent-24 {
        display: none;
    }

    .product_detail_banner {
        font-size: 16px;
        line-height: 30px;
    }

    .footer .footer-bottom hr.indent-18.white-space {
        display: none !important;
    }

    .product-info-main .price-box .price-final_price .price {
        font-size: 4em;
    }

    .product-info-main .title-wrapper .price-box {
        margin-top: 12px;
    }

    .size-guide {
        float: left;
        margin: 30px 16px 10px 0;
    }

    .custom-delivery-block .static-delivery {
        padding: 0;
    }

    .text-sub-block {
        width: 70%;
    }

    .delivery-image-block {
        width: 30%;
    }

    .static-delivery .text-sub-block .item-title-static {
        font-size: 20px;
    }

    .static-delivery .text-sub-block .item-link-static {
        font-size: 13px;
    }

    .static-delivery li {
        padding-bottom: 20px;
    }

    .cms-home .custom-delivery-block {
        margin: 0;
    }

    .custom-delivery-block ul li {
        width: 100%;
    }

    .custom-delivery-block .text-sub-block br {
        display: none;
    }

    .header-wrapper .block-search {
        width: 100%;
        background: #fff;
        margin-bottom: 5px;
    }

    .custom-slider {
        padding-top: 30px !important;
    }

    .right-block {
        left: 0;
        position: absolute;
    }

    .logo > img {
        /*width: 70%;
        margin-left: -20px;*/
    }

    .page-header .info-block {
        font-size: 10px;
    }

    .header-wrapper {
        background-color: #fff;
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;
    }

    .page-wrapper {
        padding-top: 120px;
    }

    .right-block {
        background-color: transparent;
        z-index: 999;
    }

    .center-block {
        padding: 6px 0;
        position: relative;
        z-index: 99;
    }

    .minicart-wrapper .title-cart {
        padding: 10px 15px;
    }

    .onestepcheckout-index-index #create-account-form .field.confirmation.required {
        padding: 0;
    }

    .onestepcheckout-index-index #create-account-form .field.password.required {
        padding: 0;
    }

    .onestepcheckout-index-index .field.choice.col-mp {
        white-space: nowrap;
    }
}

@media screen and (max-width: 1025px) {
    .checkout-agreement {
        padding-left: 10px;
    }

    .onestepcheckout-index-index .osc-newsletter {
        width: 100%;
    }

    .payment-method-title label {
        white-space: pre;
    }
}

@media screen and (min-width: 320px) and (max-width: 769px) {
    .navigation.ms-megamenu {
        display: none;
    }
}

@media screen and (min-width: 360px) and (max-width: 640px) {
    .product_detail_banner {
        font-size: 16px;
        line-height: 30px;
    }

    .payment-info .links li {
        float: left;
        width: 25%;
    }

    .header-wrapper .block-search {
        width: 100%;
        background: #fff;
        margin-bottom: 5px;
    }

    .product-info-main .price-box .price-final_price .price {
        font-size: 4em;
    }

    .product-info-main .title-wrapper .price-box {
        margin-top: 12px;
    }

    .size-guide {
        float: left;
        margin: 30px 16px 10px 0;
    }

    .product.info .GridTable1LightAccent3 {
        width: 100% !important;
    }

    .custom-delivery-block .static-delivery {
        padding: 0;
    }

    .text-sub-block {
        width: 70%;
    }

    .delivery-image-block {
        width: 30%;
    }

    .static-delivery .text-sub-block .item-title-static {
        font-size: 20px;
    }

    .static-delivery .text-sub-block .item-link-static {
        font-size: 13px;
    }

    .static-delivery li {
        padding-bottom: 20px;
    }

    .cms-home .custom-delivery-block {
        margin: 0;
    }

    .custom-delivery-block ul li {
        width: 100%;
    }

    .custom-delivery-block .text-sub-block br {
        display: none;
    }

    .custom-slider {
        padding-top: 10px !important;
    }

    .right-block {
        left: 0;
        position: absolute;
    }

    .logo > img {
        /*width: 70%;*/
        /*margin-left: -20px;*/
    }

    .page-header .info-block {
        font-size: 10px;
    }

    .header-wrapper {
        background-color: #fff;
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;
    }

    .page-wrapper {
        padding-top: 120px;
    }

    .right-block {
        background-color: transparent;
        z-index: 999;
    }

    .center-block {
        padding: 6px 0;
        position: relative;
        z-index: 99;
    }

    .minicart-wrapper .title-cart {
        padding: 10px 15px;
    }

    .payment-info.payment-info-1 li {
        width: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .block-content.filter-content dt {
        font-size: 10px;
        overflow-wrap: break-word;
        padding: 15px 10px;
    }

    .payment-info .links li {
        padding: 0 2px;
        width: 33.33%;
    }

        .payment-info .links li img {
            width: 100%;
        }

    .payment-info.payment-info-1 .links li {
        width: 100%;
    }
    /*********** product details *************/

    .product.info .GridTable1LightAccent3 {
        width: 100% !important;
    }

    .product-info-main .price-box .price-final_price .price {
        font-size: 3em;
    }

    .product-info-main .stock.available {
        top: 40px;
    }

        .product-info-main .stock.available.hasSpecialPrice {
            top: 47px !important;
        }

    .product-info-main .stock.unavailable.hasSpecialPrice {
        top: 47px !important;
    }

    .catalog-product-view .field.qty {
        width: 50%;
    }

    .catalog-product-view .size-guide {
        float: left;
        margin: 28px 0;
        padding: 0;
        width: 50%;
    }

    .custom-delivery-block ul li {
        float: left;
        text-align: center;
        width: 33.33%;
    }

    .delivery-image-block {
        padding-bottom: 20px;
    }

        .delivery-image-block > img {
            float: none;
        }

    .item-link-static {
        font-size: 13px;
    }

    .delivery-image-block > img {
        float: none;
    }

    .custom-delivery-block .static-delivery {
        padding: 0;
    }

    .text-sub-block {
        width: 100%;
    }

    .item-title-static {
        font-size: 22px;
    }

    .custom-delivery-block .text-sub-block br {
        display: none;
    }

    .page-header .quick-access {
        padding-bottom: 0;
        padding-top: 14px;
        width: auto;
        float: right;
    }

    .header-wrapper .block-search {
        margin-bottom: 5px;
    }

    .page-header .info-block {
        padding-top: 5px;
        text-align: center;
    }

    .page-header .info-block {
        float: none !important;
    }

    .footer ul.social-links li + li {
        margin-left: 0px;
    }

    .newsletter-section .social-links h5 {
        font-size: 12px;
    }

    .newsletter-section h5 {
        font-size: 14px;
    }

    .product-info-main .product-options-wrapper {
        margin-bottom: 0;
        margin-top: 1.5em;
    }
}

@media screen and (min-width: 768px) and (max-width: 938px) {
    .footer ul.social-links li + li {
        margin-left: 0px;
    }

    .newsletter-section .social-links h5 {
        font-size: 12px;
    }

    .newsletter-section h5 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1030px) {
    #notice-cookie-block {
        display: none;
        z-index: 99999;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 5px 2px #ddd;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .product_detail_banner {
        font-size: 22px;
    }
}

@media screen and (max-width: 767px) {
    .product_detail_banner {
        font-size: 16px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
    .payment-info .links li {
        width: 12%;
    }

        .payment-info .links li img {
            width: 100%;
        }

    .payment-info.payment-info-1 .links li {
        width: 50%;
    }

    .header-wrapper .block-search {
        background: #fff;
    }
}

@media only screen and (min-device-width: 665px) and (max-device-width: 669px) and (orientation: landscape) {
    .page-header .middle-block .left-block {
        display: block !important;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: landscape) {
    .payment-info .links li {
        width: 12%;
    }

        .payment-info .links li img {
            width: 100%;
        }

    .payment-info.payment-info-1 .links li {
        width: 50%;
    }

    .ms-megamenu .ms-topmenu {
        display: none !important;
    }

    .page-header .middle-block .left-block {
        display: none !important;
    }

    .page-header .middle-block-wrapper {
        padding: 0 !important;
    }

    .page-header .right-block-wrapper {
        padding-bottom: 0;
        padding-top: 0;
    }

    .page-header .quick-access {
        display: block;
        float: left;
        vertical-align: top;
        width: 50%;
    }

    .page-header .middle-block .top-cart-block {
        display: block;
        float: right;
        width: 50%;
    }

    .footer ul {
        list-style: outside none none;
        text-align: center;
    }

    .footer .footer-bottom .container {
        padding: 10px;
    }

    .page-header .info-block {
        padding-top: 5px;
        text-align: center;
    }

    .page-header .info-block {
        float: none !important;
    }

    .page-header .welcome {
        display: none;
    }

    .footer ul.links li a::before {
        content: none !important;
    }

    .footer .footer-block-title {
        text-align: center;
    }

    .footer .links {
        line-height: 0.1;
    }

    .footer-top hr.indent-18 {
        display: none !important;
    }

    .footer .footer-bottom hr.indent-18 {
        display: none !important;
    }

    .newsletter-section .social-links {
        float: none;
    }

    .size-guide {
        float: right;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .product-info-main .product-options-wrapper {
        margin-bottom: 0;
        margin-top: 1.5em;
    }
}

@media only screen and (max-width: 1022px) {
    .header-wrapper {
        background: #fff none repeat scroll 0 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
    }

    .onestepcheckout-index-index .page-wrapper {
        padding-top: 0px;
    }

    #sticky-header .right-wrapper {
        width: auto !important;
    }
    .page-layout-checkout main#maincontent {
    margin-top: 82px;
}
}

@media only screen and (max-width: 1331px) and (min-width: 1008px) {
    #sticky-header .right-wrapper {
        width: auto !important;
    }
}

@media only screen and (min-width: 665px) and (max-width: 736px) {
    .page-header .middle-block .container > div {
        padding-bottom: 10px;
        width: 33% !important;
    }

    .page-header .quick-access {
        position: absolute;
        top: 0 !important;
        right: 0 !important;
    }
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: landscape) {
    .catalog-product-view .size-guide {
        margin: 30px 16px 10px 0;
    }
}

@media only screen and (min-device-width: 980px) and (max-device-width: 1280px) and (orientation: landscape) {
    .catalog-product-view .size-guide {
        margin: 30px 16px 10px 0;
    }
}
/*********************************************************************/

@media only screen and (max-width: 767px) {
    .page-header .middle-block .container > div {
        width: 100%;
    }

        .page-header .middle-block .container > div.center-block {
            position: relative;
            z-index: 99999;
            /*width: calc(100% - 60px);*/
            /*margin-left: 30px;*/
        }

    .page-header .middle-block .left-wrapper {
        text-align: center;
    }

    .page-header .middle-block .right-block {
        padding-top: 0 !important;
    }
}

@media only screen and (max-width: 567px) {
    /*.page-header .middle-block .container > div.center-block {
        width: 60%;
        margin: 0 20%;
        position: relative;
        z-index: 99999;
    }*/
}

.ms-megamenu #ms-topmenu,
.ms-megamenu #ms-topmenu-2 {
    float: none;
    margin: auto;
    /*max-width: 935px;*/
    max-width: 85%;
    display: flex;
    width: 100%;
}

    .ms-megamenu #ms-topmenu li,
    .ms-megamenu #ms-topmenu-2 li {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
    }

@media only screen and (min-width: 1008px) {
    .ms-megamenu:after {
        display: table;
        content: "";
        clear: both;
    }

    .ms-megamenu {
        background: #f0f0f0 none repeat scroll 0 0;
        position: relative;
    }

        .ms-megamenu #ms-topmenu {
            float: none;
            margin: auto;
            max-width: auto;
            /*max-width: 1272px;*/
            width: 100%;
        }

    .page-header .quick-access.clearfix {
        display: none;
    }

    .page-header .middle-block .top-cart-block {
        float: right;
        margin: 25px 0 0;
    }

    .header-wrapper .page-header .block-search {
        margin: 25px 0 0;
    }
}

.fotorama__thumb-border {
    border: 1px solid #BCA480 !important;
}

.page-header .info-block {
    color: #BCA480 !important;
}

.pschart-sizechart-link {
    padding-top: 8px;
    background-position: 0 15px !important;
    height: 55px !important;
    margin-left: 1px;
    line-height: 45px !important;
}

@media(max-width:667px) {
    .minicart-wrapper .block-minicart #minicart-content-wrapper .block-content {
        height: 180px;
        overflow: auto;
    }
}

@media(max-width:479px) {
    .minicart-wrapper .block-minicart #minicart-content-wrapper .block-content {
        height: 300px;
        overflow: auto;
    }
}

img[src$=".png"] {
    image-rendering: crisp-edges;
}

@media only screen and (max-width: 767px) {
    .page-header .action.nav-toggle i {
        line-height: 24px;
        display: block;
    }

    .page-header .right-block {
        position: relative !important;
        width: 100%;
    }
}

@media only screen and (max-width: 1007px) {
    .page-header .quick-access,
    .quick-access * {
        display: inline-block !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative !important;
    }

    .middle-block .right-block .top-cart-block,
    .middle-block .right-block .quick-access,
    .middle-block .right-block .block-search {
        margin-top: 0;
        padding-top: 0 !important;
    }
}

@media only screen and (max-width: 991px) {
    .page-wrapper {
        padding-top: 150px !important;
    }

    .nav-open .page-wrapper {
        left: 0 !important;
    }

    .header-wrapper .mobile-menu-wrapper .header.links {
        margin: 30px 0 0 0;
        text-align: center;
    }

        .header-wrapper .mobile-menu-wrapper .header.links li {
            padding: 0 22px;
        }

            .header-wrapper .mobile-menu-wrapper .header.links li.authorization-link + li {
                padding-left: 22px;
            }
}

@media only screen and (max-width: 665px) {
    .header-wrapper {
        position: relative !important;
    }

    .page-wrapper {
        padding-top: 0px !important;
    }

    .middle-block .right-block .quick-access {
        float: left !important;
    }
    .checkout-index-index.page-layout-checkout .page-wrapper{padding-top: 0px !important;}
}

.nav-open .nav-sections {
    z-index: 99999;
}

@media only screen and (max-width: 767px) {
    .sidebar .block {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }

    .content-inner .toolbar {
        margin-top: 0 !important;
    }
}

.header-wrapper .block-search .input-group .btn:hover {
    color: #BCA480;
}

.nav > li > a {
    border-radius: 0 !important;
    background: #f0f0f0;
    color: #000;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #cccccc;
}

body a {
    /*color: #BCA480;*/
    color: #399cd7;
}

    body a:focus {
        color: #BCA480 !important;
    }

.skincolor {
    color: #BCA480;
}

.skincolor-2 {
    color: #BCA480;
}

body .btn-primary.light {
    background-color: #000 !important;
    border-color: #000 !important;
}

    body .btn-primary.light:active {
        border-color: #42ab9e;
        background-color: #42ab9e;
    }

body .weltpixel-quickview {
    background-color: #000;
    border-color: #000;
}

    body .weltpixel-quickview.active {
        background-color: #42ab9e;
        border-color: #42ab9e;
    }

.page-header .welcome .phone {
    background-color: #BCA480;
}

.header-wrapper div:not(.customer-menu) > .header.links > .authorization-link + li a:hover {
    color: #BCA480;
}

.header.links li a:hover {
    color: #BCA480;
}

.page-header .header-custom-links li a:hover {
    color: #BCA480;
}

.navigation .level0 .submenu a:hover,
.navigation .level0 .submenu a.ui-state-focus,
.navigation .level0 .submenu .active > a {
    color: #BCA480;
}

.minicart-wrapper .title-cart .counter-number {
    background-color: #BCA480;
}

.block-minicart .subtotal .price-container {
    color: #BCA480;
}

.minicart-items .action.delete:hover {
    color: #BCA480;
}

#home-slider .item .slide-container.slide-skin-2 .subtitle span {
    color: #BCA480;
}

ul.breadcrumb li a:hover {
    color: #BCA480;
}

.toolbar .modes strong i {
    background-color: #BCA480;
}

.products-list li.item .lightbox-button:hover {
    background-color: #BCA480;
}

.price {
    color: #BCA480;
}

.products-list .actions-secondary a:hover {
    color: #BCA480;
}

    .products-list .actions-secondary a:hover i {
        border-color: #BCA480;
        background-color: #BCA480;
    }

.related .block-actions .action:hover {
    color: #BCA480;
}

.reviews-wrapper .review-author strong {
    color: #BCA480;
}

.review-control-vote label:before {
    color: #BCA480;
}

.reviews-actions a:hover {
    color: #BCA480;
}

body .swatch-attribute .swatch-option:not(.disabled):hover {
    color: #BCA480;
}

body .swatch-attribute.size .swatch-option.selected,
body .swatch-attribute.manufacturer .swatch-option.selected {
    color: #BCA480;
}

.authentication-wrapper .action-auth-toggle:hover {
    color: #BCA480;
}

.account .content-inner a:hover {
    color: #BCA480;
}

.box .box-title a i:hover {
    color: #BCA480;
}

#my-orders-table a:hover {
    color: #BCA480;
}

.sidebar .block.filter ol li a:hover {
    color: #BCA480;
}

.sidebar .block li a.delete:hover {
    color: #BCA480;
}

#shopping-cart-table tbody tr td.actions a:hover {
    color: #BCA480;
}

.cms-no-route .page-not-found .btn:hover {
    background-color: #BCA480;
}

.widget-slider.grid .owl-theme .owl-controls .owl-buttons div:hover {
    background: #BCA480;
    border-color: #BCA480;
}

.modal-open .modal.ekko-lightbox .modal-header .close:hover:before {
    color: #BCA480;
}

.ekko-lightbox-nav-overlay a i:hover {
    background-color: #BCA480;
}

.footer ul.links li a:before {
    background-color: #BCA480;
}

.footer .horizontal-links li a:hover {
    color: #BCA480;
}

.footer .block-tags .block-content li a:hover {
    background-color: #BCA480;
}

#contact-form-mini button {
    background-color: #000 !important;
    border-color: #000 !important;
}

.cart-totals tbody .amount,
.cart-totals tfoot .amount,
.opc-block-summary .table-totals tbody .amount,
.opc-block-summary .table-totals tfoot .amount {
    padding: 8px 20px !important;
}

.mobile-menu-wrapper .header-wrapper .navbar-default {
    border-top: none 0 !important;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.home-top-section .item {
    background: #139cc8;
    color: #fff;
    padding: 15px 15px 2px;
    text-align: center;
    margin-bottom: 3px;
}

    .home-top-section .item h2 {
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1.5px;
    }

    .home-top-section .item p {
        font-size: 17px;
        line-height: 21px;
        color: #fff;
        min-height: 42px;
        width: 84%;
        margin: 0 auto 10px;
    }

.home-page-block .inner-block {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    display: inline-block;
}

    .home-page-block .inner-block .title {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 18px;
        text-transform: uppercase;
        background: #000;
        padding: 3px 5px;
        transform: translate(-50%, -50%);
        color: #fff;
    }

    .home-page-block .inner-block .inner-content {
        bottom: -100%;
        position: absolute;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        font-size: 18px;
        color: #fff;
        padding: 20px;
    }

    .home-page-block .inner-block:hover .inner-content {
        bottom: 0;
    }

.why-choose-block {
    background: #ebd25e;
    height: 400px;
    margin-bottom: 2px;
}

    .why-choose-block .inner {
        position: relative;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }

        .why-choose-block .inner h2 {
            font-size: 34px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 12px;
            color: #000;
        }

        .why-choose-block .inner p {
            font-size: 23px;
            line-height: 27px;
            color: #000;
        }

    .why-choose-block.blog-block {
        background: #c46279;
    }

.ms-submenu .subcat-container .ms-category-dynamic .col-dynamic .form-group.text-center {
    margin-bottom: 30px;
    position: relative;
}

    .ms-submenu .subcat-container .ms-category-dynamic .col-dynamic .form-group.text-center a {
        display: block;
        overflow: hidden;
    }

.ms-submenu .subcat-container .ms-category-dynamic .col-dynamic span.form-group.col-category-image {
    width: 50%;
    float: right;
}

.ms-submenu .subcat-container .ms-category-dynamic .col-dynamic span.form-group.col-category-name {
    width: 48%;
    float: left;
    line-height: 34px;
    position: absolute;
    top: 39%;
    left: 0;
    transform: translateY(-50%);
}

.ms-featured {
    padding-top: 20px;
}

    .ms-featured img {
        max-width: 100%;
    }

.ms-megamenu .ms-submenu {
    border-top: 1px solid #ddd !important;
}

.minimal-price-link {
    display: none;
}

.product-info-main .stock.available.hasSpecialPrice {
    top: inherit;
    bottom: -20px;
}

.product-info-main .stock.unavailable.hasSpecialPrice {
    top: inherit;
    bottom: -20px;
}

@media (max-width:1030px) and (min-width:1020px) {
    .ms-topmenu .ms-label {
        font-size: 11px !important;
    }
}

.subcat-container {
    max-width: 1272px;
    margin: -1px auto;
    width: 100%;
}

@media screen (min-width:481px) {
    .page-header .middle-block .left-block {
        display: block !important;
    }
}

.post-holder:hover {
    box-shadow: none;
}

.post-holder {
    background: none;
}

.related .block-title.title {
    background: none;
}

.owl-prev {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.lft-btn, .rgt-btn {
    background: #139cc8 !important;
    padding: 5px;
    line-height: 20px;
    width: 30px;
    /* border-radius: 50%; */
    height: 30px;
    font-size: 19px;
    font-weight: bold;
    color: #fff;
}

.owl-next {
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#checkout .authentication-wrapper .action.action-auth-toggle {
    padding: 3px !important;
    color: #000 !important;
    background-color: #fff !important;
}


.modals-overlay {
    z-index: 9998 !important
}

.modal-popup._show.confirm {
    z-index: 9999 !important;
}

.create.account.with-border .field:first-child {
    width: 100%;
}

.field.password .control #password {
    float: left;
    width: 100%;
}

#msp_passwordstrength {
    font-size: 1.2rem;
    line-height: 2.3rem;
    margin-top: .5rem;
    text-align: left;
    /* position: absolute; */
    /* top: 55px; */
    float: left;
    width: 53%;
}

#msp_passwordstrength_label {
    color: #333;
    display: inline-block;
    width: 54%;
    font-weight: 600;
}

#msp_passwordstrength_bar {
    display: inline-block;
    width: 42%;
}

.field.password .control #password-strength-meter-container {
    background-color: #f4f4f4;
    height: 36px;
    line-height: 36px;
    padding: 0 9px;
    position: relative;
    z-index: 1;
    width: 45%;
    float: right;
}



.field.password .control #password-error {
    position: absolute;
    top: 95%;
    font-size: 11px;
    color: #f00;
}

.form-create-account .fieldset .field.password {
    margin-bottom: 20px;
}

.form-create-account .fieldset .field.captcha {
    padding-left: 0;
}

@media(max-width:1020px) {
    #msp_passwordstrength {
        width: 37% !important;
    }

    .field.password .control #password-strength-meter-container {
        width: 60% !important;
        font-size: 11px;
    }

    #msp_passwordstrength_bar, #msp_passwordstrength_label {
        width: 100% !important;
        vertical-align: top;
        font-size: 11px;
        padding-top: 1px !important;
    }

    .field.password .control #password-error {
        line-height: 12px !important;
    }
}

@media(max-width:735px) {
    .create.account.with-border .field {
        width: 100%;
    }

    .field.password .control #password-strength-meter-container {
        padding: 0 5px;
    }
}
@media(min-width:768px) {
    .catalogsearch-result-index #layered-filter-block {
        margin-top: 30px;
    }
}
@media(max-width:479px) {
    #msp_passwordstrength_bar, #msp_passwordstrength_label, .field.password .control #password-strength-meter-container {
        font-size: 9px;
    }
    .nav-wrapper .brand-logo{left: 154px !important;}

}
.action-skip-wrapper{
    display:none;
}
span.action.nav-toggle{
    display:none;
}
.post-holder{
    background:#fff !important;
}


