.ui-menu-item {
  list-style: none;
}

/*footer css start*/

body .about-block {margin-left: 0; margin-right: 0px;}
.newsletter-section{
	background:#ccc;
	padding:40px 0;
}
.newsletter-section .container{
	max-width:1160px;
	text-align:center;
}
.newsletter-section .container .newsletter, .newsletter-section .container .actions{
	display:inline-block;
	vertical-align:top;
}
.newsletter-section .container .newsletter input.form-control {
    border-radius: 0;
    border: none;
    height: 34px;
	width:370px;
}
@media(max-width:790px){
	.newsletter-section .container .newsletter input.form-control{
		width:auto;
	}
}
.newsletter-section .container .actions .btn{
	height: 34px;
    line-height: 34px;
    font-size: 14px;
    padding: 0 27px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0;
}
.footer .footer-top .container{
	max-width:1160px;
}
.footer-bottom .bottom-block .copyright{
	width:100%;
}
.footer .copyright {margin: 3px 0; color: #999; font-size: 11px;}

.newsletter-section {
	padding: 20px 0;
}
.newsletter-section h5{
	float: left;
    font-size: 18px;
    line-height: 34px;
    margin: 0;
}
.newsletter-section .social-links{
	float:right;
}
.newsletter-section .social-links h5{
	float:left;
	line-height:34px;
	font-size:16px;
}
.newsletter-section ul.social-links{
	padding:0px;
}
.newsletter-section ul.social-links li a {
    display: inline-block;
    text-align: center;
    color: rgba(255,255,255,0.65);
    font-size: 14px;
    line-height: 1.4;
    height: 24px;
    line-height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #333;
    margin-top: 5px;
    margin-left: 5px;
}
.newsletter-section ul.social-links li a i {
    font-size: 14px;
    vertical-align: top;
    line-height: 21px;
}
.footer .links li + li{border:none 0;}
.payment-info .links li{float:left;}
.payment-info .links li img{    max-width: 84px;
    margin-bottom: 15px;
    margin-right: 5px;}
.payment-info.payment-info-1 li a:before{display: none !important;}
.payment-info.payment-info-1 li{text-align:center; width:100%;}
.payment-info.payment-info-1 li img{max-width:150px;}
body.wide-layout .footer .footer-top{background:#fff; color:#000; padding:10px 0 20px;}
.footer .footer-block-title{color:#000; margin-bottom:0; font-weight:bold;}
/*footer css end*/
.page-header .middle-block .container > div {
    display: inline-block;
    width: 33%;
    float: left;
}

/*sticky header css*/

#sticky-header .left-wrapper {
  float: left;
  width: 33.33%;
}

.toolbar {
    margin-top: 60px !important;
}

#sticky-header .top-block .right-block {
    float: right;
}

#sticky-header .header.links li {
    padding: 0 0 0 18px;
    margin: 0;
    float: left;
    position: relative;
}

#sticky-header .top-block .welcome {
    display: inline-block;
    font-size: 11px;
    color: #666;
    padding: 0;
    margin: 0;
}

/*end sticky header css*/

.ms-megamenu .ms-submenu{
    width: 100% !important;
}

.ms-megamenu .ms-topmenu{
    position: unset !important;
}

.subcat-container{
    width: 1272px;
    margin: auto;
}

.main-filter-cat{
    display: none;
}

/******************* 2-5-2017 ***********************/

.logo > img {
  width: 80%;
}

.page-header .middle-block {
  padding-top: 0px;
}

.page-header .logo-wrapper {
    padding-right: 0px;
}

.center-block {
  padding: 6px 0;
}


/********************2-5-2017*********************************/

.sidebar .products-grid .product-item-name a, .product-item-name a {
    font-size: 13px !important;
}

.products-grid .add-to-links a, .products-list .add-to-links a {
    border-radius: 0% !important;
    background-color: #000 !important;
    line-height: 29px !important;
}

.fa-exchange{
	color: #fff !important;
}

.products-grid .item .image-wrapper a.product-item-photo:before,
.products-list .item .image-wrapper a.product-item-photo:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.products-grid .alert-spacer {
    min-height: 35px;
}

.products-grid .item.product.product-item {
  margin: 30px 0 45px;
}

.product.product-item-name {
  max-height: 44px;
  min-height: 44px;
  overflow: hidden;
}

.catalog-category-view .item.product.product-item {
  margin: 30px 0 45px;
}

.products-grid .product-item-details , .products-list .product-item-details {
  text-align: center;
}

.products-grid .product-item-name, .products-list .product-item-name{
  text-align: center;
}

.item.product.product-item {
  text-align: center;
}

ul.breadcrumb {
    padding: 5px 0 !important;
}

.image-wrapper {
  width: 204px;
  height: auto;
}

.block-title.filter-title {
  text-transform: uppercase;
}

.block-content.filter-content dt {
  font-size: 14px;
  padding: 15px 0;
  text-transform: uppercase;
}

.sidebar.sidebar-additional {
  display: none;
}
.filter-options-title::after {
  line-height: 3;
}

.sidebar .block.filter ol li {
  line-height: 20px;
  font-size: 13px;
  text-rendering: optimizelegibility;
}

/******************* 3-5-2017 **********************/

.maincat-center{
    margin: auto;
    width: 945px;
}

#sticky-header {
    height: 168px !important;
}

#sticky-header .small-logo > img {
  width: 80% !important;
}

#sticky-header .top-cart-block.clearfix {
    margin-top: 25px;
}

#sticky-header .top-block .info-block {
    float: left;
    color: #666;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
    font-size: 11px;
    padding: 0px 0px;
}

#sticky-header .center-wrapper {
    width: 30.33%;
    float: left;
    text-align: center;
    /*padding-top: 10px;
    padding-bottom: 21px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 51px;
}

.page-header .middle-block .logo-wrapper {
    float: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.sidebar .block .block-title strong {
    font-weight: 700 !important;
}

.page-header .info-block {
    margin-right: 0px !important;
    padding: 0px 0px !important;
}

#sticky-header .left-wrapper {
    padding: 0px 0px !important;
}

#sticky-header .top-block{
    position: relative;
    background-color: #f5f5f5;
    padding-top: 5px;
    padding-bottom: 5px;
}

/******************* 4-5-2017 **********************/

.custom-delivery-block ul li{
    display: inline-block;
}

.item-image-static img{
    width: 60px;
    float: left;
}

.text-sub-block {
  float: left;
  padding-left: 20px;
  text-transform: uppercase;
}

.item-title-static{
    font-size: 20px;
}

.item-link-static{
 color: #0DB4A2;
}

/**************** 5-5-2017 *********************/

.product.data.items {
margin: 0 0 20px;
padding: 0;
}
.product.data.items > .item.title {
box-sizing: border-box;
float: none;
width: 100%;
}
.product.data.items > .item.title > .switch {
display: block;
}
.product.data.items > .item.content {
box-sizing: border-box;
display: block;
float: none;
margin: 0;
}
.product.data.items > .item.content::before, .product.data.items > .item.content::after {
content: "";
display: table;
}
.product.data.items > .item.content::after {
clear: both;
}
.product.data.items > .item.content.active {
display: block;
}
.product.data.items > .item.title {
margin: 0 0 5px;
}
.product.data.items > .item.title > .switch {
background: #f0f0f0 none repeat scroll 0 0;
border-color: #d1d1d1;
border-style: solid;
border-width: 1px;
color: #7d7d7d;
font-size: 1.8rem;
font-weight: 600;
height: 40px;
line-height: 40px;
padding: 5px 20px;
text-decoration: none;
}
.product.data.items > .item.title > .switch:visited {
color: #7d7d7d;
text-decoration: none;
}
.product.data.items > .item.title > .switch:hover {
color: #7d7d7d;
text-decoration: none;
}
.product.data.items > .item.title > .switch:active {
color: #333;
text-decoration: none;
}
.product.data.items > .item.title:not(.disabled) > .switch:focus, .product.data.items > .item.title:not(.disabled) > .switch:hover {
background: #fcfcfc none repeat scroll 0 0;
}
.product.data.items > .item.title:not(.disabled) > .switch:active, .product.data.items > .item.title.active > .switch, .product.data.items > .item.title.active > .switch:focus, .product.data.items > .item.title.active > .switch:hover {
background: #fff none repeat scroll 0 0;
padding-bottom: 5px;
}
.product.data.items > .item.content {
background: #fff none repeat scroll 0 0;
border: 1px solid #d1d1d1;
margin: 0 0 5px;
padding: 20px;
}


/***********************************************/

.minicart-wrapper {
    /*display: inline-block; */
    vertical-align: middle; 
    position: relative; 
    margin-left: 10px;
    float: right;
}

.header-wrapper .block-search {
    width:202px; 
    vertical-align: middle; 
    margin: 0;
    display: inline-block;
}

.left-wrapper {
    line-height: 80px;
    display: inline-block;
}

.minicart-wrapper .title-cart {
    color: #000;
}

/*************** product listing *********************/

.catalog-category-view .content-inner .page-title-wrapper{
	display: none;
}

.catalog-category-view .content-inner .category-view{
	display: none;
}

.catalog-category-view .block-wishlist{
	display: none;
}

/***********************************************/

@media only screen and (max-width: 767px) {
    .page-header .middle-block .container > div {
        width: 100%;
    }
    .page-header .middle-block .left-wrapper{
        text-align: center;
    }
}
@media only screen and (min-width: 1008px) {
    .ms-megamenu:after{
        display: table;
        content: "";
        clear: both;
    }
    .ms-megamenu{
        background: #f0f0f0 none repeat scroll 0 0;
        position: relative;
    }
    .ms-megamenu #ms-topmenu{
        float: none;
        margin: auto;
        max-width: 935px;
        /*max-width: 1272px;*/
        width: 100%;
    }
    .page-header .quick-access.clearfix {
        display: none;
    }
    .page-header .middle-block .top-cart-block {
        float: right;
        margin: 25px 0 0;
    }
    .header-wrapper .page-header .block-search {
        margin: 25px 0 0;
    }
}