<?php
/**
 * Copyright 2019 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

/* @var $block \Aheadworks\Layerednav\Block\Navigation\Swatches\FilterRenderer */

// @codingStandardsIgnoreFile
?>
<?php $swatchData = $block->getSwatchData();?>
<div class="swatch-attribute swatch-layered <?php /* @noEscape */ echo $swatchData['attribute_code'] ?>"
     attribute-code="<?php /* @noEscape */ echo $swatchData['attribute_code'] ?>"
     attribute-id="<?php /* @noEscape */ echo $swatchData['attribute_id'] ?>">
    <div class="swatch-attribute-options clearfix">
        <?php foreach ($swatchData['options'] as $option => $label): ?>
            <?php if ($block->isNeedToShowOption($swatchData['attribute_code'], $option, $label)): ?>
                <?php if (isset($swatchData['swatches'][$option]['type'])): ?>
                    <?php
                    $classes = '';
                    $swatchTooltipThumb = '';
                    $swatchTooltipValue = '';

                    $type = $swatchData['swatches'][$option]['type'];
                    switch ($type) {
                        case '3':
                            break;

                        case '2':
                            $classes .= ' image';
                            $swatchTooltipThumb = $block->getSwatchPath('swatch_thumb', $swatchData['swatches'][$option]['value']);
                            break;

                        case '1':
                            $classes .= ' color';
                            $swatchTooltipValue = $swatchData['swatches'][$option]['value'];
                            break;

                        case '0':
                        default:
                            $classes .= ' text';
                            break;
                    }

                    if ($label['custom_style']) {
                        $classes .= ' ' . $label['custom_style'];
                    }
                    if ($block->isActiveItem($swatchData['attribute_code'], $option)) {
                        $classes .= ' active';
                    }
                    ?>
                    <div id="aw-filter-option-<?php /* @noEscape */ echo $swatchData['attribute_code'] . '-' . $option ?>"
                         class="swatch-option<?php /* @noEscape */ echo $classes ?> "
                         option-type="<?php /* @noEscape */ echo $swatchData['swatches'][$option]['type'] ?>"
                         option-id="<?php /* @noEscape */ echo $option ?>"
                         original-option-id="<?php /* @noEscape */ echo $swatchData['swatches'][$option]['option_id'] ?>"
                         option-label="<?php /* @noEscape */ echo $label['label'] ?>"
                         option-tooltip-thumb="<?php /* @noEscape */ echo $swatchTooltipThumb ?>"
                         option-tooltip-value="<?php /* @noEscape */ echo $swatchTooltipValue ?>"
                         data-role="aw-layered-nav-filter-item"
                         data-attr-code="<?php /* @noEscape */ echo $swatchData['attribute_code'] ?>"
                         data-mage-init='{"awLayeredNavFilterItem": {"type": "swatch"}}'
                        <?php if ($type == '2'): ?>
                            style="background: url(<?php /* @noEscape */ echo $block->getSwatchPath('swatch_image', $swatchData['swatches'][$option]['value']) ?>) no-repeat center; background-size: initial;"
                        <?php elseif ($type == '1'): ?>
                            style="background: <?php /* @noEscape */ echo $swatchData['swatches'][$option]['value'] ?> no-repeat center; background-size: initial;"
                        <?php endif; ?>
                    >
                        <input type="hidden" name="<?php /* @noEscape */ echo $swatchData['attribute_code']?>" value="<?php /* @noEscape */ echo $option ?>" />
                        <?php if (!in_array($type, ['1', '2', '3'])): ?>
                            <?php /* @noEscape */ echo $swatchData['swatches'][$option]['value'] ?>
                        <?php endif; ?>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>
<script>
    require([
        'jquery',
        'jquery/ui',
        'Magento_Swatches/js/swatch-renderer'
    ], function ($) {
        $('[data-role=aw-layered-nav-filter-item][data-attr-code=<?php /* @noEscape */ echo $swatchData['attribute_code'] ?>]')
            .SwatchRendererTooltip();
    });
</script>
