/**
 * Copyright © 2017 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
.data-grid td .action-select-wrap {
    position: relative !important;
}

.admin__data-grid-wrap {
    overflow-x: inherit !important;
}
