span.website {
    margin-left:0;
    display: block;
}
span.store-group {
    margin-left: 30px;
    display: block;
}
span.store {
    margin-left: 60px;
    display: block;
}
span.store-switcher-container .admin__field label span {
    width: 150px;
    text-align: left;
}