<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Currency switcher
 *
 * @see \Magento\Directory\Block\Currency
 */
?>
<?php
if ($block->getCurrencyCount() > 1):
$label = $this->helper('\Meigee\Feather\Helper\FeatherGeneral')->getCustomThemeOptionCnf('feather_currency_switcher', 'currency_switcher_label');
?>
<?php $currencies = $block->getCurrencies(); ?>
<?php $currentCurrencyCode = $block->getCurrentCurrencyCode(); ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : ''; ?>
<div class="currency switcher-currency header-switcher" id="switcher-currency<?php /* @escapeNotVerified */ echo $id?>">
	<?php if($label){ ?>
		<strong class="label switcher-label"><span><?php /* @escapeNotVerified */ echo __('Currency') ?></span></strong>
	<?php } ?>
    <div class="actions dropdown options switcher-options">
        <ul class="form-currency">
			  <li class="currency-<?php echo $block->escapeHtml($block->getCurrentCurrencyCode()) ?>">
                <span>
		  <?php echo $block->getSymbol($currentCurrencyCode); ?>
		</span>
            </li>
            <?php foreach ($currencies as $_code => $_name): ?>
                <?php if ($_code != $currentCurrencyCode): ?>
					 <li class="currency-<?php echo $_code ?> switcher-option">
                       <a href="#" data-post='<?php /* @escapeNotVerified */ echo $block->getSwitchCurrencyPostData($_code); ?>'>

                       <?php echo $block->getSymbol($_code); ?>


                       </a>
					 </li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php endif; ?>
