<script>
require(['jquery', 'owl_carousel', 'owl_config'], function () {
            jQuery(document).ready(function () {
            	/*jQuery(".top-4").owlCarousel({
            		margin: 40,
                    items: 4,                    
                    loop:true,
                    autoPlay:true,
                    stopOnHover : true,
    				autoplayTimeout:3000,
    				autoplayHoverPause:true,
                    itemsDesktop: [991, 4],
                    itemsDesktopSmall: [860, 4],
                    itemsTablet: [767, 2],
                    itemsTabletSmall: [639, 2],
                    itemsMobile: [0, 1],
                    pagination: false,
                    navigationText: ["<div class='lft-btn'>&lt;</div>", "<div class='rgt-btn'>&gt;</div>"],
                    navigation: true,
                });*/
                jQuery(".top-4").owlCarousel({
                    margin: 40,
    				dots:false,
                    nav: true,
                    navText: ["<div class='lft-btn'>&lt;</div>", "<div class='rgt-btn'>&gt;</div>"],				
    				responsiveClass:true,
                    loop: true,
    				autoplay:true,
    				autoplayTimeout:3000,
    				autoplayHoverPause:true,				
                    responsive: {
                            0: {
                                items: 1							
                            },
                            767: {
                                items: 2
                            },
                            991: {
                                items: 4,
    							nav: false
                            }
                        }
                });
            });
        });</script>
