<!--
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
 <div class="field-tooltip toggle">

    <!-- ko if: (tooltip.link)-->
    <a class="field-tooltip-action action-help"
       target="_blank"
       data-toggle="dropdown"
       data-bind="attr: {href: tooltip.link}, mageInit: {'dropdown':{'activeClass': '_active'}}"></a>
     <!-- /ko -->

     <!-- ko if: (!tooltip.link)-->
     <span class="field-tooltip-action action-help"
        tabindex="0"
        data-toggle="dropdown"
        data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}"></span>
     <!-- /ko -->

    <div class="field-tooltip-content"
         data-target="dropdown" translate="tooltip.description">
    </div>
</div>
