<?php /** * Copyright © Magento, Inc. All rights reserved. * See COPYING.txt for license details. */ /** * Send to friend form */ /** @var \Magento\SendFriend\Block\Send $block */ ?> <script id="add-recipient-tmpl" type="text/x-magento-template">
    <div class="actions-toolbar">
        <div class="secondary">
            <button type="button" id="btn-remove<%- data._index_ %>" class="action remove btn btn-default"
               title="<?= __('Remove Recipent') ?>">
               <span><?= $block->escapeHtml(__('Remove')) ?></span></button></div></div>
    <fieldset class="fieldset">
        <div class="field name required">
            <label for="recipients-name<%- data._index_ %>" class="label"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
            <div class="control">
                <input name="recipients[name][<%- data._index_ %>]" type="text" title="<?= __('Name') ?>" class="form-control"
                       id="recipients-name<%- data._index_ %>" data-validate="{required:true}"/></div></div>

        <div class="field email required">
            <label for="recipients-email<%- data._index_ %>" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
                <input name="recipients[email][<%- data._index_ %>]" title="<?= __('Email') ?>"
                       id="recipients-email<%- data._index_ %>" type="email" class="form-control"
                       data-validate="{required:true, 'validate-email':true}"/></div></div></fieldset></script><form action="<?= $block->escapeUrl($block->getSendUrl()) ?>" method="post" id="product-sendtofriend-form" data-mage-init='{ "rowBuilder":{ "rowTemplate":"#add-recipient-tmpl", "rowContainer":"#recipients-options", "rowParentElem":"<div></div>", "remEventSelector":"button", "btnRemoveSelector":".action.remove", "maxRows":"<?= /* @noEscape */ (int)$block->getMaxRecipients() ?>", "maxRowsMsg":"#max-recipient-message", "addRowBtn":"#add-recipient-button", "additionalRowClass":"additional"}, "validation":{}}' class="form send friend" data-hasRequired="<?= __('* Required Fields') ?>"><fieldset class="fieldset sender" id="sender_options"><?= $block->getBlockHtml('formkey') ?> <legend class="legend"><span><?= $block->escapeHtml(__('Sender')) ?></span></legend><div class="field sender required"><label for="sender-name" class="label"><span><?= $block->escapeHtml(__('Name')) ?></span></label> <div class="control"><input name="sender[name]" value="<?= $block->getUserName() ?>" title="<?= __('Name') ?>" id="sender-name" type="text" class="form-control" data-validate="{required:true}"/></div></div><div class="field email required"><label for="sender-email" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label> <div class="control"><input name="sender[email]" value="<?= $block->getEmail() ?>" title="<?= __('Email') ?>" id="sender-email" type="text" class="form-control" data-validate="{required:true, 'validate-email':true}"/></div></div><div class="field text required"><label for="sender-message" class="label"><span><?= $block->escapeHtml(__('Message')) ?></span></label> <div class="control"><textarea name="sender[message]" class="form-control" id="sender-message" cols="3" rows="3"
                          data-validate="{required:true}"><?= $block->escapeHtml($block->getMessage()) ?></textarea></div></div></fieldset><fieldset class="fieldset recipients"><?= $block->getBlockHtml('formkey') ?> <legend class="legend"><span><?= $block->escapeHtml(__('Invitee')) ?></span></legend><div id="recipients-options"></div><?php if ($block->getMaxRecipients()): ?> <div id="max-recipient-message" style="display: none;" class="message notice limit" role="alert"><span><?= $block->escapeHtml(__('Maximum %1 email addresses allowed.', $block->getMaxRecipients())) ?></span></div><?php endif; ?> <div class="actions-toolbar"><div class="secondary"><?php if (1 < $block->getMaxRecipients()): ?> <button type="button" id="add-recipient-button" class="action add btn btn-default"><span><?= $block->escapeHtml(__('Add Invitee')) ?></span></button> <?php endif; ?></div></div><?= $block->getChildHtml('form_additional_info') ?></fieldset><div class="actions-toolbar"><div class="secondary"><a class="action back" href="#" role="back"><span><?= $block->escapeHtml(__('Back')) ?></span></a></div><div class="primary"><button type="submit" class="action submit primary btn btn-primary"<?php if (!$block->canSend()): ?> disabled="disabled"<?php endif ?>><span><?= $block->escapeHtml(__('Send Email')) ?></span></button></div></div></form><script type="text/x-magento-init">
    {
        "a[role='back']": {
            "Magento_SendFriend/back-event": {}
        }
    }</script>