<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */
?>
<div class="block newsletter">
    <div class="title"><strong><?= $block->escapeHtml(__('Newsletter')) ?></strong></div>
    <div class="content">
        <form class="form subscribe"
            novalidate
            action="<?php echo $block->escapeUrl($block->getFormActionUrl()) ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <label class="label" for="newsletter"><span><?php echo $block->escapeHtml(__('Subscribe to the our mailing list to receive updates on new arrivals')) ?></span></label>
            <div class="field newsletter input-group">
                <div class="control">
                    <input class="form-control" name="email" type="email" id="newsletter"
                                placeholder="<?php echo __('Enter your email...') ?>"
                                onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Enter your email...'"
                                data-validate="{required:true, 'validate-email':true}"/>
                </div>
                <span class="input-group-btn">
                    <button class="action subscribe btn btn-primary primary" title="<?php echo __('Subscribe') ?>" type="submit"><i class="ion-ios-email-outline"></i><span><?php echo __('Subscribe') ?></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
