<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */
?>
<form class="form subscribe"
            novalidate
            action="<?php echo $block->escapeUrl($block->getFormActionUrl()) ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
<div class="row-remove no-mar-bot-remove newsletter-row">
    <div class="input-field col-remove-s8 no-pad-right">
        <input class="" type="email" name="email" id="footer_email" placeholder="Your email address" data-position="right" data-tooltip="By entering your e-mail address here you confirm to have read and accepted its use in accordance with our privacy policy"  data-validate="{required:true, 'validate-email':true}">

        <div class="subscribe-tooltip" ><span>By entering your e-mail address here you confirm to have read and accepted its use in accordance with our privacy policy</span></div>        
    </div>

   
    <button class="cta-btn blue-btn" type="submit">Subscribe</button>
    <a href="<?php echo $this->getUrl("privacy-policy"); ?>" target="_blank"  rel="nofollow" >Privacy Policy</a>
</div>
</form>