<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var Magento\Review\Block\Product\View\ListView $block */
?>
<?php
    $_items = $block->getReviewsCollection()->getItems();
    $format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
?>
<?php $_product = $block->getProduct(); ?>
<?php

    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());

    $jsName =  $product->getName(); //Get Product Name
    $jsSku =  $product->getSku(); 
    $jsDesc =  $product->getShortDescription(); 

    // $jsName =  $_product->getName();
    // $jsSku  =  $_product->getSku(); 
    // $jsDesc =  $_product->getShortDescription(); 
?>
<?php
    $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
    $_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
    $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
    $prd = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());

    $myImages = array();
    $images = $prd->getMediaGalleryImages();
    if($images->count()>0)
    {
        $i = 0;
        foreach($images as $child)
        {
            $productImage = $_imagehelper->init($prd, 'product_page_image_large')
                    ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(88,80)
                    ->getUrl();

            $productImagedata = $_imagehelper->init($prd, 'product_page_image_large')
            ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(700,700)
            ->getUrl();

            $productImageZoom = $_imagehelper->init($prd, 'product_page_image_large')
            ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(888,888)
            ->getUrl();

            $myImages[]=array('small'=>$productImage,'mid'=>$productImagedata,'zoom'=>$productImageZoom);
            
        }
    }
    $reviewItem = array();
    $totalRating = 0;

?>

<?php if (count($_items)):?>


        <div class="row no-mar-bot">
            <?php foreach ($_items as $_review):?>

            <div class="col s12 m6 l4">
                <div class="review-item">

                    <div class="review-header-wrapper valign-wrapper">
                        <div class="review-header">
                            <p class="reviewer-name"><?php echo $block->escapeHtml($_review->getNickname()) ?></p>
                            <p class="review-date"><?php echo $block->escapeHtml($block->formatDate($_review->getCreatedAt(), $format)) ?></p>
                        </div>
                        <?php if (count($_review->getRatingVotes())): ?>
                        <div class="review-stars">
                            <fieldset class="rating" id="review_rating">
                                <?php $rateCount =0; $rateSum = 0; ?>
                                 <?php foreach ($_review->getRatingVotes() as $_vote): ?>
                                    <?php
                                        $rateCount++;
                                        $rateSum= $rateSum+ $_vote->getPercent() ;
                                    ?>
                                 <?php endforeach; ?>
                                 <?php
                                 $avgRate = $rateSum / $rateCount; 
                                 $newAvgRate =  ceil($avgRate /20);
                                 $totalRating = $totalRating + $newAvgRate;

                                 $reviewItem[]=array('name'=>$_review->getNickname(),'rate'=>$newAvgRate) ;
                  
                                 ?>
                                 <div class="rating-result" title="<?php echo $_vote->getPercent() ?>%">
                                    <meta itemprop="worstRating" content = "1"/>
                                    <meta itemprop="bestRating" content = "100"/>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span style="width:<?php echo $avgRate ?>%">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span itemprop="ratingValue" class="no-visible"><?php echo $block->escapeHtml($avgRate) ?>%</span>
                                    </span>
                                </div>
                                <!-- <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                <input checked type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label> -->
                            </fieldset>
                        </div>
                    </div>
                    <?php endif; ?>
                    <p class="review-desc">
                        <?php echo nl2br($block->escapeHtml($_review->getDetail())) ?>
                    </p>

                </div>
                
            </div>
            <?php endforeach; ?>
     
        </div>
        

<?php endif;?>
<?php /* ?>
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": "<?php echo $jsName; ?>",
  "image": [
    <?php
    $totalImg = sizeof($myImages);
    $count = 0;
    foreach($myImages as $childItem)
    {
        $count++;
        ?>"<?php echo $myImages[$i]['mid']; ?>"<?php echo ($count==$totalImg ? "" : ","); ?><?php
    }
    ?>

   ],
  "description": "<?php echo addslashes( strip_tags($jsDesc)); ?>",
  "sku": "<?php echo $jsSku; ?>",
  "brand": {
    "@type": "Thing",
    "name": "The Chain Hut"
  },
  <?php

    $totalRatingCount = sizeof($reviewItem);
    $count = 0;

    if($totalRatingCount > 0)
    {
        ?>
        "review": {
            "@type": "Review",
            "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "<?php echo $reviewItem[0]['rate']; ?>",
                    "bestRating": "5"
                },
            "author": {
                "@type": "Person",
                "name": "<?php echo $reviewItem[0]['name']; ?>"
                    }
            },
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "<?php echo $totalRating/sizeof($reviewItem); ?>",  
            "reviewCount": "<?php echo $totalRatingCount; ?>"
        }
        <?php
    }
  ?>
  
}
</script>
<?php */?>