<?php /** * Copyright © 2015 Magento. All rights reserved. * See COPYING.txt for license details. */ ?> <div class="add-review-link"><a href="#product_tabs_reviews" class="add-review"><i class="ion-compose"></i><?php /* @escapeNotVerified */ echo __('Add Your Review') ?></a></div>