<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php if ($block->isPossibleOnepageCheckout()):
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$checkoutSession = $objectManager->get('Magento\Framework\Session\SessionManagerInterface');
$checkoutSession->unsFromcheckout();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$url = $block->getUrl('checkout/index/index');
$redirectionUrl = $block->getUrl('guestcheckout/index/loginredirect');
if($customerSession->isLoggedIn()) { ?>
    <button type="button"
            data-role="proceed-to-checkout"
            title="<?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?>"
            data-mage-init='{"Magento_Checkout/js/proceed-to-checkout":{"checkoutUrl":"<?php /* @escapeNotVerified */ echo $block->getCheckoutUrl(); ?>"}}'
            class="cta-btn blue-btn green-btn checkout-btn   type-2 checkout<?php echo($block->isDisabled()) ? ' disabled' : ''; ?>"
            <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>
        <span><?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?></span>
		<!-- <i class="ion-arrow-right-b"></i> -->
    </button>
<?php } else { ?>
    <button type="button"
            data-role="proceed-to-checkout"
            title="<?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?>"
            data-mage-init='{"Magento_Checkout/js/proceed-to-checkout":{"checkoutUrl":"<?php /* @escapeNotVerified */ echo $redirectionUrl; ?>"}}'
            class="cta-btn blue-btn green-btn checkout-btn   type-2 checkout<?php echo($block->isDisabled()) ? ' disabled' : ''; ?>"
            <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>
        <span><?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?></span>
		<!-- <i class="ion-arrow-right-b"></i> -->
    </button>


<?php } endif?>
