<?php
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$labels_helper = $this->helper('\Meigee\Feather\Helper\FrontHelper');

?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
	$meigee_helper = $this->helper('\Meigee\Feather\Helper\FeatherGeneral');
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
        // $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
		$grid_columns = $lightbox_status = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'grid_columns');
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        // $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
		$grid_columns = '';
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
	$lightbox_status = $meigee_helper->getCustomThemeOptionCnf('feather_lightbox', 'lightbox_status');
	$lightbox_listing_status = $meigee_helper->getCustomThemeOptionCnf('feather_lightbox', 'lightbox_listing');
	$product_name = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'product_name');
	$product_price = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'product_price');
	$cart_btn = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'cart_btn');
	//$quickview_status = $this->helper('WeltPixel\Quickview\Helper\Data')->getConfig('weltpixel_quickview/general/enable_product_listing');
	$quickview_status = false;
	$quickview_btn = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'quickview_btn');
	$compare_btn = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'compare_btn');
	$wishlist_btn = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'wishlist_btn');
	$name_align = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'product_name_aligment');
	$stock_status = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'stock_status');
	$image_hover_status = $meigee_helper->getCustomThemeOptionCnf('feather_image_hover', 'image_hover_status');
	$image_hover_effect = $meigee_helper->getCustomThemeOptionCnf('feather_image_hover', 'image_hover_type');

    ?>
    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode .' '. $grid_columns; if($image_hover_status){echo $image_hover_effect ? ' hover-scale' : ' hover-simple';} ?>">
        <?php $iterator = 1; ?>
        <ol class="products row list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>

			<?php if($viewMode == 'list') { ?>
				 <?php foreach ($_productCollection as $_product): ?>
					<?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
					<div class="product-item-info row clearfix" data-container="product-grid">
						<div class="image-wrapper">
							<?php
							$hoverImage = $image_hover_status ? $_product->getHoverImage() : false;
							/*Temporarily disable hover image*/
							$hoverImage=false;
							if ($hoverImage)
							{
								$hoverImageUrl = $this->helper('Magento\Catalog\Helper\Image')
												  ->init($_product, 'hover_image')
												  ->setImageFile($hoverImage)
												  ->getUrl();
								$productImage = $block->getImage($_product, $image, array('data-hover-image'=>$hoverImageUrl));
							}
							else
							{
								$productImage = $block->getImage($_product, $image, array('data-hover-image'=>null));
							}

							if ($pos != null) {
								$position = ' style="left:' . $productImage->getWidth() . 'px;'
									. 'top:' . $productImage->getHeight() . 'px;"';
							} ?>
							<?php if($quickview_btn && $quickview_status) { ?>
                            <a href="javascript: void(0);" data-quickview-url="<?php echo $block->getBaseUrl(); ?>weltpixel_quickview/catalog_product/view/id/<?php echo $block->escapeHtml($_product->getEntityId()); ?>" class="weltpixel-quickview"><i class="fa fa-eye"></i><span class="title"><?php echo __('Quickview') ?></span></a>
                            <?php } ?>
							<?php
							if($labels_helper->isProductNew($_product) || $labels_helper->isProductSale($_product)){
								echo '<div class="product-labels">';
								if($labels_helper->isProductNew($_product)) {
									echo '<span class="label-new">'.__('new').'</span>';
								}
								if($labels_helper->isProductSale($_product)) {
									echo '<span class="label-sale">'.__('sale').'</span>';
								}
								echo '</div>';
							} ?>
							<!-- Product Image -->
							<a <?php echo $this->helper('WeltPixel\GoogleTagManager\Helper\Data')->addProductClick($_product, $iterator-1); ?> href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
								<?php echo $productImage->toHtml(); ?>
							</a>

						</div>
						<div class="product details product-item-details">
							<?php if($product_name){
								$_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
								<strong class="product name product-item-name <?php echo $name_align; ?>">
									<a class="product-item-link"
									   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
										<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
									</a>
								</strong>
							<?php } ?>
							<div class="price-availability-block clearfix">
								<?php if($stock_status != 4 && $stock_status != 1) {
									if ($_product->isAvailable()): ?>
										<div class="stock available"><?php /* @escapeNotVerified */ echo __('Product') ?> <span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
									<?php else: ?>
										<div class="stock unavailable"><?php /* @escapeNotVerified */ echo __('Product') ?> <span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
									<?php endif;
								} ?>
								<?php if($product_price){
									/* @escapeNotVerified */ echo $block->getProductPrice($_product);
								} ?>
							</div>
							<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
							<?php echo $block->getProductDetailsHtml($_product); ?>
							<div class="product-item-inner">
								 <?php if ($showDescription):?>
									<div class="product description product-item-description">
										<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
										<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
										   class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
									</div>
								<?php endif; ?>
                                                                
							</div>
						</div>
					</div>
					<?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
				<?php endforeach; ?>
			<?php } else { ?>
				<?php foreach ($_productCollection as $_product): ?>
					<?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
					<div class="product-item-info clearfix" data-container="product-grid">
						<div class="indent">
							<div class="image-wrapper">
								<?php
								$hoverImage = $image_hover_status ? $_product->getHoverImage() : false;
								/*Temporarily disable hover image*/
								$hoverImage=false;
								if ($hoverImage)
								{
									$hoverImageUrl = $this->helper('Magento\Catalog\Helper\Image')
													  ->init($_product, 'hover_image')
													  ->setImageFile($hoverImage)
													  ->getUrl();
									if($_product->getHoverImage()){
										$productImage = $block->getImage($_product, $image, array('data-hover-image'=>$hoverImageUrl));
									}
								}
								else
								{
									$productImage = $block->getImage($_product, $image, array('data-hover-image'=>null));
								}

								if ($pos != null) {
									$position = ' style="left:' . $productImage->getWidth() . 'px;'
										. 'top:' . $productImage->getHeight() . 'px;"';
								} ?>
								<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
									<?php echo $productImage->toHtml(); ?>
								</a>
								<?php if($quickview_btn && $quickview_status) { ?>
                                <a href="javascript: void(0);" data-quickview-url="<?php echo $block->getBaseUrl(); ?>weltpixel_quickview/catalog_product/view/id/<?php echo $block->escapeHtml($_product->getEntityId()); ?>" class="weltpixel-quickview"><i class="fa fa-eye"></i><span class="title"><?php echo __('Quickview') ?></span></a>
                                <?php } ?>
								<?php
								if($labels_helper->isProductNew($_product) || $labels_helper->isProductSale($_product)){
									echo '<div class="product-labels">';
									if($labels_helper->isProductNew($_product)) {
										echo '<span class="label-new">'.__('new').'</span>';
									}
									if($labels_helper->isProductSale($_product)) {
										echo '<span class="label-sale">'.__('sale').'</span>';
									}
									echo '</div>';
								} ?>
							</div>
							<div class="product details product-item-details">
                                                            <div class="alert-spacer"></div>
								<?php if($product_name){
									$_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
									<h4 class="product name product-item-name <?php echo $name_align; ?>">
										<a class="product-item-link"
										   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
											<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
										</a>
									</h4>
								<?php }
								if($stock_status != 4 && $stock_status != 2) {
									if ($_product->isAvailable()): ?>
										<div class="stock available"><?php echo __('Product'); ?> <span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
									<?php else: ?>
										<div class="stock unavailable"><?php echo __('Product'); ?> <span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
								   <?php endif;
								} ?>
								<?php  if($product_price){
									/* @escapeNotVerified */ echo $block->getProductPrice($_product);
								} ?>
								<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
								<?php echo $block->getProductDetailsHtml($_product); ?>
								<div class="product-item-inner">
									 <?php if ($showDescription):?>
										<div class="product description product-item-description">
											<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
											<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
											   class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
										</div>
									<?php endif; ?>
								</div>
							</div>
						</div>
					</div>
					<?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
				<?php endforeach; ?>
			<?php } ?>





        </ol>
    </div>
	<div class="toolbar-bottom">
		<?php echo $block->getToolbarHtml() /* !!!!tmp */ ?>
	</div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
					"product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
				}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
