<?php /** * Copyright © 2016 Magento. All rights reserved. * See COPYING.txt for license details. */ ?> <?php /** @var $block \Magento\ConfigurableProduct\Block\Product\View\Type\Configurable*/ $_product = $block->getProduct(); $_attributes = $block->decorateArray($block->getAllowAttributes()); ?> <?php if ($_product->isSaleable() && count($_attributes)):?> <?php foreach ($_attributes as $_attribute): ?> <div class="field configurable required"><label class="label" for="attribute<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>"><span>Select <?php echo $block->escapeHtml($_attribute->getProductAttribute()->getStoreLabel()) ?></span></label> <a href="#!" class="size-guide-btn prod-detail-links nimit_size_guide" style="display:none" onclick="show_size_chart()"> Guide</a> <div id="selectSize" class="selectSize"><a name="addMeA"></a> <i class="material-icons">error_outline</i> <span>Please select size</span></div><div class="control"><!-- <div class="row no-mar-bot chain-length-row nimit-div-id-<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>"></div><!-- <div style="display:none"><select name="super_attribute[<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>]" data-selector="super_attribute[<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>]" data-validate="{required:true}" id="attribute<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>" data-id="<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>" class="super-attribute-select form-control nimit-class"><option value=""><?php /* @escapeNotVerified */ echo __('Select Chain Length') ?></option></select></div></div></div><?php endforeach; ?> <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "configurable": {
                    "spConfig": <?php /* @escapeNotVerified */ echo $block->getJsonConfig() ?>,
                    "onlyMainImg": <?php /* @escapeNotVerified */ echo $block->getVar('change_only_base_image', 'Magento_ConfigurableProduct') ?: 'false'; ?>
                }
            }
        }</script><?php $attrs = []; $products = $_product->getTypeInstance()->getUsedProducts($_product); if(count($products)){ foreach ($products as $child) { $lengthInches=$child->getData('length_inches'); $pendantSizeLength=$child->getData('pendant_size_length'); $braceletLength=$child->getData('length_inches_bracelet'); $isLengthInches=0; if($lengthInches!=""){ $attrs[$lengthInches] = $child->getWeight(); $isLengthInches=1; } elseif($pendantSizeLength!=""){ $attrs[$pendantSizeLength] = $child->getWeight(); } elseif($braceletLength!=""){ $isLengthInches=1; $attrs[$braceletLength] = $child->getWeight(); } } } ?> <script type="text/javascript">
        allowToAdd = false ;  
        require(['jquery'], function ($) {
            $(document).ready(function() {
                var attrsLength = <?php echo json_encode($attrs);?>;
                var isLengthInches=<?php echo $isLengthInches;?>;
                var tableTemplate = $('#product-attribute-specs-table').html(); 
                $('.super-attribute-select').change(function(){
                    var tempHtml = tableTemplate;
					
                    if(this.value != '') {
                        var labelSel = $(this).parents('.configurable').find('label span').html();
                        labelSel = labelSel.replace("Select ", "");
                        var selectedValue = $(this).find('option:selected').html();
                        if(isLengthInches==0){
                            tempHtml += "<tr><th class='col table-label' scope='row'>"+labelSel+"</th><td class='col data' data-th='"+labelSel+"'>"+selectedValue+"</td></tr>";
                        }
                        else{
                            tempHtml += "<tr><th class='col table-label' scope='row'>"+labelSel+"</th><td class='col data' data-th='"+labelSel+"'>"+selectedValue+" Inches</td></tr>";
                        }                        

                            if(attrsLength[this.value]) {
                                labelSel = 'Weight';
                                tempHtml += "<tr><th class='col table-label' scope='row'>"+labelSel+"</th><td class='col data' data-th='"+labelSel+"'>"+parseFloat(attrsLength[this.value])+" grams</td></tr>";
                            }

                    }
                    $('#product-attribute-specs-table').html(tempHtml);
                });


                jQuery(".extraNote" ).show();
                interectiveOption();
                jQuery(".nimit-class" ).bind("DOMSubtreeModified", function() {
                    console.log("tree changed");
                    interectiveOption();
                    
                });
                
                if(jQuery('.pschart-showsizes').length)
                {
                    
                    jQuery('.nimit_size_guide').show();
                }
            });
        });
    var objNimit  = <?php /* @escapeNotVerified */ echo $block->getJsonConfig() ?>;
    function interectiveOption()
    {
        
        
        jQuery( ".nimit-class" ).each(function() {
            var elementID = jQuery( this ).attr( "data-id" );
            
            
            var displayText = '';
                jQuery("#attribute"+elementID+" > option").each(function() {
                    

                    

                    
                    if( this.value != "")
                    {
                        productId = 0 ;
                        productPrice = 0; 
                        for(i=0;i<objNimit.attributes[elementID].options.length;i++)
                        {
                            

                            if(objNimit.attributes[elementID].options[i].id == this.value)
                            {
                                productId = objNimit.attributes[elementID].options[i].products;
                            }
                        }
                        
                        if(productId != 0 )
                        {
                            productPrice = objNimit.optionPrices[productId].finalPrice.amount;
                            productPrice = parseFloat(productPrice).toFixed(2);

                        }


                        displayText = displayText + '<div class="col s3 m4 l2 chain-length-col"><div class="chain-length-btn" onclick="setDD('+elementID+','+this.value+')"><p>'+this.text+'</p><p>£'+productPrice+'</p></div></div>';
                    }
                });
            
            jQuery( '.nimit-div-id-' + elementID ).html(displayText);


        });
        jQuery('.chain-length-btn').click( function () 
        {
            jQuery('.chain-length-btn').removeClass('active');

            if(jQuery(this).hasClass("active")) 
            {
                jQuery(this).removeClass('active');
            }
            else 
            {
                jQuery(this).addClass('active');
            }
            allowToAdd = true;
            jQuery("#selectSize").css('display','none')
        });
        set_IG();
    }
    function set_IG()
    {
        if (jQuery(window).width() < 420) 
        {
            if(jQuery('#product_gallery_mobile').length)
            {
                jQuery( "#iammain" ).after( jQuery( "#product_gallery_mobile" ) );
            }
        }
    }
    function setDD(elementID,selectedVal)
    {
        jQuery("#attribute"+elementID ).val(selectedVal);
        jQuery('.nimit-class').trigger('change');
        
        
    }</script><?php endif;?>