<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\AuthenticationPopup $block */
?>
<div id="authenticationPopup" data-bind="scope:'authenticationPopup'" style="display: none;">
	 <script>
	 	window.authenticationPopup = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>;
    </script>
    <!-- <script>
        //window.authenticationPopup = <?php /* @noEscape */ //echo $block->getSerializedConfig(); ?>;
    </script> -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#authenticationPopup": {
                "Magento_Ui/js/core/app": <?php /* @noEscape */ echo $block->getJsLayout();?>
            },
            "*": {
				"Magento_Ui/js/block-loader": "<?php echo $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif')); ?>"
            }
        }
    </script>
</div>
