<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
 /** @var \Magento\Framework\View\Element\Html\Links $block */
?>
<div class="block account-nav">
    <div class="block-title">
        <strong><?php echo $block->escapeHtml(__('My Account')); ?></strong>
    </div>
    <div class="content">
        <nav class="account-nav">
            <ul class="nav items">
                <?php echo $block->getChildHtml();?>
            </ul>
        </nav>
    </div>
</div>
