.mana-overlay {
  position: absolute;
  background: white;
  filter: alpha(opacity=0);
  /* percent */
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  z-index: 10000;
}
#mana-please-wait {
  position: absolute;
  color: #d85909;
  font-size: 1.1em;
  text-align: center;
  z-index: 20000;
}
#mana-please-wait p {
  position: fixed;
  top: 45%;
  left: 50%;
  width: 120px;
  margin-left: -120px;
  padding: 15px 60px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #3399cc;
  color: #3399cc;
  text-align: center;
  z-index: 20100;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -ms-box-sizing: content-box;
}
#mana-please-wait p img {
  margin: 10px auto 0;
}
/**
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
.filter-options-content .mana-selected.mana-tree-item,
.filter-options-content .mana-selected.item a,
.filter-options-content .mana-selected.item .count,
.filter-options-content .mana-selected.item .label {
  color: #ff5501;
}
.mana-filter-block {
  position: relative;
}
