<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Sales\Block\Widget\Guest\Form */
?>
<?php if ($block->isEnable()): ?>
    <div class="widget block block-orders-returns">
        <div class="block-title">
            <strong role="heading" aria-level="2"><?php /* @escapeNotVerified */ echo __('Orders and Returns') ?></strong>
        </div>
        <div class="block-content">
            <form id="oar-widget-orders-and-returns-form" data-mage-init='{"ordersReturns":{},"validation":{}}' action="<?php /* @escapeNotVerified */ echo $block->getActionUrl() ?>" method="post"
                  class="form form-orders-search" name="guest_post">
                <fieldset class="fieldset">
                    <div class="field find required">
                        <label class="label"><span><?php /* @escapeNotVerified */ echo __('Find Order By') ?></span></label>

                        <div class="control">
                            <select name="oar_type" id="quick-search-type-id" class="form-control" title="">
                                <option value="email"><?php /* @escapeNotVerified */ echo __('Email') ?></option>
                                <option value="zip"><?php /* @escapeNotVerified */ echo __('ZIP Code') ?></option>
                            </select>
                        </div>
                    </div>
                    <div class="field id required">
                        <label for="oar-order-id" class="label"><span><?php /* @escapeNotVerified */ echo __('Order ID') ?></span></label>

                        <div class="control">
                            <input type="text" class="form-control" id="oar-order-id" name="oar_order_id" autocomplete="off"
                                   data-validate="{required:true}">
                        </div>
                    </div>
                    <div class="field lastname required">
                        <label for="oar-billing-lastname"
                               class="label"><span><?php /* @escapeNotVerified */ echo __('Billing Last Name') ?></span></label>

                        <div class="control">
                            <input type="text" class="form-control" id="oar-billing-lastname" name="oar_billing_lastname"
                                   autocomplete="off" data-validate="{required:true}">
                        </div>
                    </div>
                    <div id="oar-email" class="field email required">
                        <label for="oar_email" class="label"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>

                        <div class="control">
                            <input type="email" class="form-control" id="oar_email" name="oar_email" autocomplete="off"
                                   data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <div id="oar-zip" style="display: none;" class="field zip required">
                        <label for="oar_zip" class="label"><span><?php /* @escapeNotVerified */ echo __('Billing ZIP Code') ?></span></label>

                        <div class="control">
                            <input type="text" class="form-control" id="oar_zip" name="oar_zip"
                                   data-validate="{required:true}"/>
                        </div>
                    </div>
                </fieldset>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="submit" title="<?php echo $block->escapeHtml(__('Search')) ?>" class="btn btn-default">
                            <span><?php /* @escapeNotVerified */ echo __('Search') ?></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<?php endif; ?>
