<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Review\Block\Form $block */
?>
<!-- // -->
        <div class="custom-modal" id="post_review">
            <div class="custom-modal-bg"></div>
            <div class="contact-form-wrapper">
                <div class="cf-header">
                    <p>Post a Review</p>
                    <i class="material-icons">close</i>
                </div>
                <?php if ($block->getAllowWriteReviewFlag()): ?>
                <form action="<?= $block->escapeUrl($block->getAction()) ?>" class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'">
                <?= $block->getBlockHtml('formkey') ?>
                <?= $block->getChildHtml('form_fields_before') ?>
                <div class="cf-body">
                    <div class="custom-container">
                        <div class="row no-mar-bot">
                            <div class="input-field col s12 m6 l6 no-mar-bot no-pad-horiz">
                                <!-- <input class="" type="text" name="reviewer_name" id="reviewer_name" placeholder="E.g. John Doe"> -->
                                <input type="text" name="nickname" id="nickname_field" class="form-control" data-validate="{required:true}" data-bind="value: nickname()" placeholder="E.g. John Doe" />
                                <label for="nickname_field">Name</label>

                                <input type="text" name="title" value="I am nothing" id="summary_field" class="form-control" data-validate="{required:true}" style="display:none"  />
                            </div>
                            <div class="input-field col s12 no-pad-horiz">
                                <!-- <fieldset class="rating" id="review_rating">
                                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                </fieldset> -->
                                <fieldset class="field required review-field-ratings">
                                   <!--  <legend class="label"><span><?= $block->escapeHtml(__('Your Rating')) ?></span></legend><br/> -->
                                    <div class="control">
                                        <div class="nested" id="product-review-table">
                                            <?php foreach ($block->getRatings() as $_rating): ?>
                                                <div class="field choice review-field-rating">
                                                    <!-- <label class="label" id="<?= $block->escapeHtml($_rating->getRatingCode()) ?>_rating_label"><span><?= $block->escapeHtml($_rating->getRatingCode()) ?></span></label> -->
                                                    <div class="control review-control-vote">
                                                    <?php $options = $_rating->getOptions();?>
                                                    <?php $iterator = 1; foreach ($options as $_option): ?>
                                                        <input
                                                            type="radio"
                                                            name="ratings[<?= $_rating->getId() ?>]"
                                                            id="<?= $_rating->getRatingCode() ?>_<?= $_option->getValue() ?>"
                                                            value="<?= $_option->getId() ?>"
                                                            class="radio browser-default"
                                                            data-validate="{ 'rating-required':true}"
                                                            aria-labelledby="<?= $_rating->getRatingCode() ?>_rating_label <?= $_rating->getRatingCode() ?>_<?= $_option->getValue() ?>_label" />
                                                        <label
                                                            class="rating-<?= $iterator ?>"
                                                            for="<?= $_rating->getRatingCode() ?>_<?= $_option->getValue() ?>"
                                                            title="<?= __('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star') ?>"
                                                            id="<?= $_rating->getRatingCode() ?>_<?= $_option->getValue() ?>_label">
                                                            <span><?= __('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star') ?></span>
                                                        </label>
                                                    <?php $iterator++; ?>
                                                    <?php endforeach; ?>
                                                    </div>
                                                </div>
                                            <?php endforeach; ?>
                                        </div>
                                        <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                                    </div>
                                </fieldset>
                                <label for="review_rating">
                                    Rating <span class="red-text">*</span>
                                </label>
                            </div>
                            <div class="input-field col s12 no-mar-bot no-pad-horiz">
                                <!-- <textarea name="review_ta" id="review_ta" class="materialize-textarea tooltipped" placeholder="E.g. This is a great product" data-position="right" data-tooltip="Bits of moving fluff the only home we've ever known! Culture. A still more glorious dawn awaits light years intelligent beings extraplanetary?"></textarea> -->
                                <textarea name="detail" id="review_field" class="materialize-textarea form-control" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail" placeholder="E.g. This is a great product" style="min-height:100px;"></textarea>
                                <label for="review_field">
                                    Review <span class="red-text">*</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                jQuery(document).ready(function(){
                    jQuery(".custom-modal-close-new").click(function() {
                        jQuery(".custom-modal").css({"display": "none"});
                        jQuery("body").css({"overflow-y": "scroll"});
                    });
                });
                </script>
                <div class="cf-footer">
                    <div class="custom-container">
                        <div class="row no-mar-bot">
                            <div class="col s6">
                                <a class="custom-modal-close-new cta-btn line-btn likeButton">Cancel</a>
                            </div>
                            <div class="col s6">
                                <button class="modal-close cta-btn blue-btn">Post Review</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">

                
                    jQuery(document).ready(function(){
                        setTimeout(function()
                        { 
                                jQuery(".custom-modal-close-new").click(function() {
                                    jQuery(".custom-modal").css({"display": "none"});
                                    jQuery("body").css({"overflow-y": "scroll"});
                                });
                         }, 3000);
                    });
               

                
                </script>
                </form>
                <script type="text/x-magento-init">
                {
                    "[data-role=product-review-form]": {
                        "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
                    },
                    "#review-form": {
                        "Magento_Review/js/error-placement": {},
                        "Magento_Review/js/validate-review": {}
                    }
                }
                </script>
                <?php else: ?>
                    <div class="message info notlogged" id="review-form">
                        <div>
                            <?= $block->escapeHtml(__('Only registered users can write reviews. Please <a href="%1">Sign in</a> or <a href="%2">create an account</a>', $block->getLoginLink(), $block->getRegisterUrl()), ['a']) ?>
                        </div>
                    </div>
                <?php endif ?>
                </div>
            </div>
        </div>
        <!-- // -->