<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Review\Block\Product\Review $block */
?>
<div class="col s12 reviews-col">
    <div class="row reviews-row">
        <div class="col s12 no-pad-horiz form-wrapper-subheader-col valign-wrapper">
            <span class="form-wrapper-subheader review-subheader">Reviews and Ratings</span>
            <div class="cs-separator"></div>
        </div>
        
		<div class="row no-mar-bot">
		    <div class="col s5 offset-s7  m3 l2" class="iambuttondiv">
		        <!-- <button class="cta-btn blue-btn modal-trigger" data-target="review-modal" onclick="showRate()">+ Post Review</button> -->
		        <button class="cta-btn blue-btn custom-modal-trigger" data-target="#post_review">+ Post Review</button>
		    </div>
		</div>
        <div class="row no-mar-bot">
            <div id="iamrateform" >
				<?= $block->getChildHtml() ?>
		    </div>
        </div>
        
        <div class="row no-mar-bot">

			<div id="product-review-container" data-role="product-review"></div>
		</div>
		        
    </div>
</div>
<script type="text/javascript">
	require(['jquery'], function ($){
		$.ajax({
			url: "<?= $block->escapeUrl($block->getProductReviewUrl()) ?>",
			cache: false
		}).done(function(html){
			$("#product-review-container").append(html);
		});
	});
</script>

<script>
function showRate()
{
	jQuery('#iambuttondiv').toggle();
	//document.getElementById("iambuttondiv").style.display="none";
	//document.getElementById("iambuttondiv").style.display="none";
	jQuery('#iamrateform').toggle();
	//document.getelementByID
}
</script>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Review/js/process-reviews": {
                "productReviewUrl": "<?= $block->escapeUrl($block->getProductReviewUrl()) ?>",
                "reviewsTabSelector": "#tab-label-reviews"
            }
        }
    }
</script>
