.aw-sbb_brand__content .col-store-view {
  width: 20%;
}
.aw-sbb_brand__content .col-meta-title,
.aw-sbb_brand__content .col-meta-description {
  width: 20%;
  min-width: 150px;
}
.aw-sbb_brand__content .col-description {
  width: 35%;
}
.aw-sbb_brand__content .col-meta-title input {
  width: 100%;
}
.aw-sbb_brand__content .col-meta-description textarea,
.aw-sbb_brand__content .col-description textarea {
  width: 100%;
}
