<div id="masonry-measure-columns" class="grid"
         data-isotope='{ "itemSelector": ".grid-item", "masonry": { "columnWidth": 200 } }'>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/banner1-4-200x1000.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/45323aafa293ad4fe174b5e406height.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/500x200_banner2-3.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/banner1-4-200x1000.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/45323aafa293ad4fe174b5e406height.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/500x200_banner2-3.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/banner1-4-200x1000.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/45323aafa293ad4fe174b5e406height.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/500x200_banner2-3.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/banner1-4-200x1000.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/45323aafa293ad4fe174b5e406height.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/500x200_banner2-3.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/banner1-4-200x1000.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/45323aafa293ad4fe174b5e406height.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/500x200_banner2-3.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/banner1-4-200x1000.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/45323aafa293ad4fe174b5e406height.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/500x200_banner2-3.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/banner1-4-200x1000.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/45323aafa293ad4fe174b5e406height.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/500x200_banner2-3.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/banner1-4-200x1000.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/45323aafa293ad4fe174b5e406height.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/500x200_banner2-3.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/banner1-4-200x1000.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/45323aafa293ad4fe174b5e406height.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/500x200_banner2-3.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/banner1-4-200x1000.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/45323aafa293ad4fe174b5e406height.jpg" />
        </div>
        <div class="item">
            <img src="http://silverjewellery.prakashsoftware.in/pub/media/wysiwyg/500x200_banner2-3.jpg" />
        </div>
    </div>

    <script>

    	require(['jquery', 'masonry', 'imagesloaded'], function () {
        jQuery(document).ready(function () {
            // init Masonry
            var $grid = jQuery('.grid').masonry({
                columnWidth: 300,
                gutter: 10,
                itemSelector: '.item'
            });
            // layout Masonry after each image loads
            $grid.imagesLoaded().progress(function () {
                $grid.masonry('layout');
            });
        });
    });
    </script>


    <style>
        .item {
            float: left;
            width: 300px;
        }

            .item img {
                max-width: 100%;
            }
    </style>
