<?php
/**
 * Copyright 2019 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

/* @var $block \Aheadworks\Layerednav\Block\Navigation\FilterRenderer */

// @codingStandardsIgnoreFile
?>
<ol class="items">
    <?php
        $showMoreCount = $block->getShowMoreCount($filterItems);
        $displayLimit = $block->getDisplayLimit();
        $itemIndex = 0;
    ?>
    <?php /** @var \Magento\Catalog\Model\Layer\Filter\Item[] $filterItems */ ?>
    <?php foreach ($filterItems as $filterItem): ?>
        <?php
            $requestVar = $filterItem->getFilter()->getRequestVar();
            $value = $filterItem->getValue();
            $htmlId = 'aw-filter-option-' . $requestVar . '-' . $value;
        ?>
        <?php if ($block->isNeedToShowItem($filterItem)):
            $itemIndex++;
        ?>
        <li class="item <?php if ($showMoreCount > 0 && $itemIndex > $displayLimit) { /* @noEscape */ echo 'hide'; } ?>
            <?php if ($showMoreCount > 0 && $itemIndex == $displayLimit) { /* @noEscape */ echo 'shaded'; } ?>">
            <input
                id="<?php /* @noEscape */ echo $htmlId ?>"
                type="checkbox"
                name="<?php /* @noEscape */ echo $requestVar ?>"
                value="<?php /* @noEscape */ echo $value ?>"
                <?php if ($block->isActiveItem($filterItem)) { /* @noEscape */ echo 'checked'; }?>
                <?php if (!$filterItem->getCount() && !$block->isActiveItem($filterItem)) { /* @noEscape */ echo 'disabled'; } ?>
                data-mage-init='{"awLayeredNavFilterItem": {"backendType": <?php /* @noEscape */ echo \Zend_Json::encode($block->getBackendType($filterItem)) ?>}}'
                data-role="aw-layered-nav-filter-item"
                />
            <label for="<?php /* @noEscape */ echo $htmlId ?>"><?php /* @noEscape */ echo __($filterItem->getLabel()) ?></label>
            <?php if ($block->isNeedToShowProductsCount($filterItem)): ?>
                <span class="count"><?php /* @noEscape */ echo $filterItem->getCount(); ?></span>
            <?php endif; ?>
        </li>
        <?php endif; ?>
    <?php endforeach ?>
    <?php if ($showMoreCount > 0): ?>
    <li class="item show-more">
        <span class="show" id="aw-layered-nav-collapse-show-<?php echo $block->escapeHtml($requestVar) ?>"><?php echo $block->escapeHtml(__('show %1 more', $showMoreCount)) ?></span>
        <span class="hide" id="aw-layered-nav-collapse-hide-<?php echo $block->escapeHtml($requestVar) ?>"><?php echo $block->escapeHtml(__('show less')) ?></span>
    </li>
    <?php endif; ?>
</ol>
