<?php
/** 
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
/**
 * @var $block \Manadev\LayeredNavigation\Blocks\Navigation
 *
 * Based on app/code/Magento/LayeredNavigation/view/frontend/templates/layer/view.phtml (diff to check
 * what has changed).
 */
?>

<?php if ($block->isVisible()): ?>
    <div class="block filter mana-filter-block" data-mage-init='{ "Manadev_LayeredNavigation/js/NavigationView": {} }'>
        <div class="block-title filter-title">
            <strong><?php echo __('Shop By') ?></strong>
        </div>

        <div class="block-content filter-content">
            <?php if ($block->hasState() && $block->isAppliedFilterVisible()) : ?>
                <div class="filter-current">
                    <strong class="block-subtitle filter-current-subtitle" role="heading" aria-level="2" data-count="<?php echo $block->getAppliedOptionCount() ?>"><?php echo __('Now Shopping by') ?></strong>
                    <ol class="items">
                        <?php foreach ($block->getAppliedFilters() as $engineFilter): ?>
                            <?php foreach ($engineFilter->getAppliedItems() as $item) : ?>
                                <li class="item"><?php echo $block->renderAppliedItem($engineFilter, $item) ?></li>
                            <?php endforeach; ?>
                        <?php endforeach; ?>
                    </ol>
                </div>

                <div class="block-actions filter-actions">
                    <a href="<?php echo $block->getClearUrl() ?>"<?php echo $block->getClearLinkAttributes() ?> class="action clear filter-clear"><span><?php echo __('Clear All') ?></span></a>
                </div>
            <?php endif; ?>

            <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><?php echo __('Shopping Options') ?>
                <?php echo $block->getApplyHtml() ?>
            </strong>

            <dl class="filter-options" id="narrow-by-list">
            <?php foreach ($block->getFilters() as $filter): ?>
                <?php $cssClass = $block->getData('css_prefix') . '-filter-' . str_replace('_', '-', $filter->getFilter()->getData('param_name')) ?>
                <dt role="heading" aria-level="3" class="filter-options-title <?php echo $cssClass ?>"><?php echo $block->escapeHtml(__($filter->getName())) ?></dt>
                <dd class="filter-options-content <?php echo $cssClass ?>"><?php echo $block->renderFilter($filter) ?></dd>
            <?php endforeach; ?>
            </dl>
        </div>
    </div>
    <script>
        require([
            'jquery'
        ], function ($) {
			$(document).ready(function(){
				$(document).off('click', '.mana-filter-block > .filter-title');
				$(document).on('click', '.mana-filter-block > .filter-title', function () {
					if($(window).width() < 767) {
						$(this).next().slideToggle();
					}
				});

				$(window).resize(function(){
				   if($(window).width() > 767) {
						$('.mana-filter-block > .filter-content').show();
					} 
				});
				$(document).off('click', '.filter-options-title');
				$(document).on('click', '.filter-options-title', function () {
						$(this).next().slideToggle();                
				});
			});
        });
    </script>
    <style type="text/css">
        @media only screen and (max-width: 767px) {
            .mana-filter-block > .filter-content{
                display: none;
            }
            .sidebar .block.mana-filter-block > .filter-title {
                border: 1px solid rgba(0, 0, 0, 0.12);
                padding: 10px;
                cursor: pointer;
            }
            .mana-filter-block > .filter-title:after {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: "\f107";
                float: right;
            }
            .page-wrapper {
                padding-top: 48px;
            }
            .toolbar {
                margin-top: 0;
            } 
        }
    </style>
<?php endif; ?>