<!--
/**
 * Copyright © Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="amount price-container">
    <span class="price-wrapper" data-bind="html: cart().subtotal"></span>
</div>
