<?php

use Magento\Framework\App\Action\Action;

$_productCollection = $block->getItems();


$_helper = $this->helper('Magento\Catalog\Helper\Output');
$imageBlock = $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
$meigee_helper = $this->helper('\Meigee\Feather\Helper\FeatherGeneral');
$name_align = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'product_name_aligment');
?>
<?php if (!$_productCollection->count()):?>
    <!-- <div class="message info empty"><div><?php echo __('We can\'t find products matching the selection.') ?></div></div> -->
<?php else: ?>
    <?php

    $viewMode = 'grid';
    //$image = 'related_products_list';
    $image = 'category_page_grid';
    $showDescription = false;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;    
    
    ?>
    <div class="row cross-sell-row cross-sell-row-part1 ">
    <div class="col s12">
        <div class="cs-title valign-wrapper">
            <span class="cs-title-text">Similar Products</span>
            <div class="cs-separator"></div>
        </div>

        <div class="cs-items">
            <div class="row">
            <?php $iterator = 1; ?>
            <!--  <ol class="products list items product-items relatedproduct">-->                       
                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                <?php foreach ($_productCollection as $_product): ?>
                	<?php $available = null; ?>
	                <?php if (!$_product->isComposite() && $_product->isSaleable()): ?>
	                    <?php if (!$_product->getRequiredOptions()): ?>
	                        <?php $available = 'related-available'; ?>
	                    <?php endif; ?>
	                <?php endif; ?>
                     <div class="col s12 m12 l6">
                        <div class="cs-item">
                            
                            <?php $tmpText = $block->getImage($_product, $image)->toHtml(); ?>
                            <a class="product-item-link" title="<?php echo $block->escapeHtml($_product->getName()) ?>" href="<?php echo $block->getProductUrl($_product) ?>">
                            <?php echo str_replace('product-image-photo','cs-item-image left',$tmpText); ?>
                            </a>
                            <div class="cs-item-details">
                                <a class="product-item-link" title="<?php echo $block->escapeHtml($_product->getName()) ?>" href="<?php echo $block->getProductUrl($_product) ?>">
                                    <p class="cs-item-name no-mar-vert">
                                    <?php echo $block->escapeHtml($_product->getName()) ?></p>
                                </a>
                                <p class="cs-item-price no-mar-vert">
                                    <?php $tmpPrice =  $block->getProductPrice($_product); ?>
                                    <?php 
                                    preg_match("'<span class=\"price\">(.*?)</span>'si", $tmpPrice, $match);
                                    if($match)
                                    {
                                        //echo $match[1];
                                    }
                                    $finalPrice = $_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue();
                                    echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(number_format($finalPrice,2), true , false);
                                    ?>
                                </p>
                            </div>
                        </div>
                    </div>
                   
                <?php endforeach; ?>
            <!-- </ul> -->
            </div>
        </div>
    </div>
    </div>      
        
<?php endif; ?>