<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>

            <section class="login-section">
            <?php 
            
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
            $baseURL = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
            $_coreSession = $objectManager->create('Magento\Framework\Session\SessionManagerInterface');

            //echo $_SERVER['HTTP_REFERER']."|".$baseURL."checkout/cart/"; 
            $fromCart = false;
            if(isset($_SERVER['HTTP_REFERER']))
            {
                if( $_coreSession->getFromcheckout() == 'redirect to checkout!!')
                {
                    $fromCart = true;
                    //echo 123;
                    ?>
                    <style type="text/css">
                    .customer-account-login .main-nav
                    {
                        display: none;
                    }
                    .login-back-btn-row .login-nav-back {
                     color: #399cd7; 
                    }
                    .checkout-nav-back {
                        color: #399cd7;
                        display: -webkit-inline-box;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        line-height: 52px;
                        font-size: initial;
                    }
                    </style>
                    <?php
                }
            }

            ?>
                <!-- <div class="container"> -->
                    <?php if ( $fromCart === true ) {  ?>
                    <div class="row no-mar-bot login-back-btn-row">
                        <div class="col s12">
                            <!-- <a href="javascript:history.back()" class="login-nav-back"><i class="material-icons">arrow_back</i></a> -->
                            <a href="<?php echo $this->getUrl("checkout/cart/"); ?>" class="login-nav-back checkout-nav-back"><i class="material-icons">arrow_back</i>Back</a>
                            <!-- <a href="<?php echo $this->getUrl("checkout/cart/"); ?>" class="checkout-nav-back hide-on-small-only"><i class="material-icons left">arrow_back</i>Back</a> -->
                        </div>
                    </div>
                    <div class="container">
                        <div class="nav-wrapper row no-mar-vert hide-on-med-and-up">
                            <a href="<?php echo $this->getUrl("checkout/cart/"); ?>" class="checkout-nav-back show-on-small"><i class="material-icons">arrow_back</i></a>
                            <a href="<?php echo $this->getUrl(); ?>" class="brand-logo checkout-brand-logo center">
                                <img class="nav-logo hide-on-med-and-up" src="<?php echo $block->getViewFileUrl('res/thechainhut_horiz.svg'); ?>" alt="">
                            </a>
                        </div>
                    </div>
                    <?php } else { ?>

                    <?php } ?>
                <!-- </div> -->
                        
                    <div class="row">
                        <div class="login-page-wrapper">
                            <?php if ( $fromCart === true ): ?>
                            <div class="row logo-row no-mar-horiz">
                                <div class="col s8 offset-s2 center">
                                    <img src="<?php echo $block->getViewFileUrl('res/thechainhut_horiz.svg'); ?>" alt="">
                                </div>
                            </div>
                            <?php endif; ?>

                            <div class="row login-row-header no-mar-horiz">
                                <div class="login-horiz-line"></div>
                                <span>Login easily using</span>
                            </div>

                            <div class="row social-btns-row">

                                 <center>
                                    <?= $block->getChildHtml('form_additional_info') ?>
                                </center>
                                <!-- <div class="col s6 no-pad-left">
                                    <button class="cta-btn social-login-btns">
                                        <i class="tch-icon facebook-icon">
                                            <span class="path1"></span><span class="path2"></span>
                                        </i>
                                        Facebook
                                    </button>
                                </div>
                                <div class="col s6 no-pad-right">
                                    <button class="cta-btn social-login-btns">
                                        <i class="tch-icon google-icon">
                                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                                        </i>
                                        Google
                                    </button>
                                </div> -->
                                
                            </div>

                            <div class="row login-row-header no-mar-horiz">
                                <div class="login-horiz-line"></div>
                                <span>Or</span>
                            </div>

                            <div class="row login-switcher-row">
                                <?php if ( $fromCart === true ): ?><?php //if ($this->helper('Magento\Checkout\Helper\Data')->isContextCheckout()): ?>
                                <div class="col s6 no-pad-horiz">
                                    <button id="guest-tab" href="#!" class="switcher-tab active">Checkout as Guest</button>
                                </div>
                                <style type="text/css">
                                .login-section .login-page-wrapper .login-form.guest-form 
                                {
                                    display: block; 
                                }
                                .login-section .login-page-wrapper .login-form 
                                {
                                    display: none;
                                }
                                </style>
                                <?php endif; ?>
                                <div class="col s6 <?php echo ( $fromCart === true ? "" : "offset-s3" ) ?> no-pad-horiz">
                                    <button id="login-tab" href="#!" class="switcher-tab <?php echo ( $fromCart === true ? "" : "active" ) ?>">Login with email</button>
                                </div>
                                
                            </div>
                            
                            <?php if ( $fromCart === true ): ?>
                            <div class="row login-form guest-form no-mar-bot">
                                <form class="form form-login"
                                  action="<?php echo $block->getUrl('guestcheckout/index/guestcheckout') ?>"
                                  method="post"
                                  id="login-form-guest"
                                  data-mage-init='{"validation":{}}'>
                                <?= $block->getBlockHtml('formkey') ?>
                                <div class="col s12 no-pad-horiz">
                                    <div class="row input-field no-mar-horiz">
                                        <!-- <input class="tooltipped" type="email" name="user_email" id="user_email" placeholder="E.g. janedoe@gmail.com" data-position="right" data-tooltip="Bits of moving fluff the only home we've ever known! Culture. A still more glorious dawn awaits light years intelligent beings extraplanetary?" required>
                                        <label for="user_email"> -->
                                            
                                            <label for="user_email" class="active">Email<span class="red-text">*</span></label>
                                             <input name="login[username]" value="<?= $block->getUsername() ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="guestemail" type="email" class="form-control "  data-validate="{required:true, 'validate-email':true}" data-position="right" data-tooltip="">

                                             <div class="login-tooltip" ><span>We'll send your order confirmation here</span></div>
                                            
                                                                                           
                                        </label>
                                        <span class="helper-text" data-error="wrong" data-success=""></span>
                                    </div>
                                    <div class="row no-mar-horiz cta-row">
                                        <button class="cta-btn green-btn">Continue to checkout</button>
                                    </div>

                                </div>
                                </form>
                            </div>
                            <?php endif; ?>
        
                            
                            
                            <div class="row login-form no-mar-bot">
                                <form class="form form-login"
                                  action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
                                  method="post"
                                  id="login-form"
                                  data-mage-init='{"validation":{}}'>
                                <?= $block->getBlockHtml('formkey') ?>
                                <div class="col s12 no-pad-horiz">
                                    <div class="row input-field no-mar-horiz">
                                        <!-- <input class="" type="email" name="user_email" id="user_email" placeholder="E.g. janedoe@gmail.com" required> -->
                                        <input name="login[username]" value="<?= $block->getUsername() ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="form-control" title="<?= __('Email') ?>" data-validate="{required:true, 'validate-email':true}" placeholder=""  >
                                        <label for="user_email">
                                            Email
                                            <span class="red-text">*</span>                                                     
                                        </label>
                                        <span class="helper-text" data-error="wrong" data-success=""></span>
                                    </div>

                                    <div class="row input-field no-mar-horiz no-mar-bot" style="margin-bottom: 0 !important;">
                                        <!-- <input class="" type="password" name="first_name" id="first_name" placeholder="Min length 8 characters" required> -->
                                        <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="form-control" id="pass" title="<?= __('Password') ?>" data-validate="{required:true}" placeholder="Min length 8 characters">
                                        <label for="first_name">
                                            Password
                                            <span class="red-text">*</span>                                                     
                                        </label>
                                        <span class="helper-text" data-error="wrong" data-success=""></span>
                                    </div>

                                    <div class="row no-mar-horiz cta-row">
                                        <button class="action login cta-btn blue-btn">Login</button>
                                    </div>

                                    <div class="row link-row">
                                        <div class="col s12">
                                            <a href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>">Forgot Password</a>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                            
                            
                           

                            <div class="bottom-row">
                                
                                <p>Don't have an account? <a href="<?php echo $this->getUrl("customer/account/create/"); ?>">Register</a></p>
                            </div>
                        </div>
                    </div>
                
            </section>
<?php /* ?>
<div class="block block-customer-login col-sm-6">
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Registered Customers')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?= $block->getBlockHtml('formkey') ?>
            <fieldset class="fieldset login" data-hasrequired="<?= __('* Required Fields') ?>">
                <div class="field note"><?= $block->escapeHtml(__('If you have an account, sign in with your email address.')) ?></div>
                <div class="field email required">
                    <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input name="login[username]" value="<?= $block->getUsername() ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="form-control" title="<?= __('Email') ?>" data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field password required">
                    <label for="pass" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="form-control" id="pass" title="<?= __('Password') ?>" data-validate="{required:true}">
                    </div>
                </div>
                <?= $block->getChildHtml('form_additional_info') ?>
                <div class="actions-toolbar">
                    <div class="secondary"><a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a></div>
					<div class="primary"><button type="submit" class="action login primary btn btn-primary" name="send" id="send2"><span><?= $block->escapeHtml(__('Sign In')) ?></span></button></div>
                </div>
            </fieldset>
        </form>
    </div>
    <?php //if ($this->helper('Magento\Checkout\Helper\Data')->isContextCheckout()): ?>
    <!-- <input name="context" type="hidden" value="checkout" /> -->
    <div class="block-content2" aria-labelledby="block-customer-login-heading2">
        <form class="form form-login"
              action="<?php echo $block->getUrl('guestcheckout/index/guestcheckout') ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?= $block->getBlockHtml('formkey') ?>
            As Guest
            <fieldset class="fieldset login" data-hasrequired="<?= __('* Required Fields') ?>">
                <!-- <div class="field note"><?= $block->escapeHtml(__('If you have an account, sign in with your email address.')) ?></div> -->
                <div class="field email required">
                    <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input name="login[username]" value="<?= $block->getUsername() ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="form-control" title="<?= __('Email') ?>" data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                
                
                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" class="action login primary btn btn-primary" name="send" id="send2"><span><?= $block->escapeHtml(__('As Guest')) ?></span></button></div>
                </div>
            </fieldset>
        </form>
    </div>
    <?php //endif; ?>
</div>

<?php */ ?>