<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Register $block */
?>

<?= $block->getChildHtml('form_fields_before') ?>

<section class="login-section register-section">

    
    <!-- <div class="row no-mar-bot login-back-btn-row">
        <div class="col s12">
            <a href="javascript:history:back()" class="login-nav-back"><i class="material-icons">arrow_back</i></a>
        </div>
    </div> -->
    
    <form class="form create account form-create-account with-border" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
    <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
    <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
        <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
    <div class="row">
        <div class="login-page-wrapper registration-page-wrapper">
            <!-- <div class="row logo-row no-mar-horiz">
                <div class="col s8 offset-s2 center">
                    <img src="<?php echo $block->getViewFileUrl('res/thechainhut_horiz.svg'); ?>" alt="">
                </div>
            </div> -->

            <div class="row login-row-header no-mar-horiz">
                <div class="login-horiz-line"></div>
                <span>Register easily using</span>
            </div>

            <div class="row social-btns-row">

            	<center>
            		<?= $block->getChildHtml('form_additional_info') ?>
            	</center>

            </div>

            <div class="row login-row-header no-mar-horiz">
                <div class="login-horiz-line"></div>
                <span>Or using email</span>
            </div>

            <div class="row login-form no-mar-bot">
                <div class="col s12 no-pad-horiz">
                    <div class="row no-mar split-row">
                    	
                       <!--  <div class="col s6 no-pad-left">
                            <div class="input-field">
                                <input class="" type="email" name="user_email" id="user_email" placeholder="E.g. Jane" required>
                                <label for="user_email">
                                    First Name
                                    
                                </label>
                                <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                        </div>
                        <div class="col s6 no-pad-right">
                            <div class="input-field">
                                <input class="" type="email" name="first_name" id="first_name" placeholder="E.g. Doe" required>
                                <label for="first_name">
                                    Last Name
                                    
                                </label>
                                <span class="helper-text" data-error="wrong" data-success="right"></span>
                            </div>
                        </div> -->

                        <?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
                        <?php if ($block->isNewsletterEnabled()): ?>
							<!-- <div class="field choice newsletter">
								<input type="checkbox" name="is_subscribed" title="<?= __('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox">
								<label for="is_subscribed" class="label"><span><?= $block->escapeHtml(__('Sign Up for Newsletter')) ?></span></label>
							</div> -->
							<?php /* Extensions placeholder */ ?>
							<?= $block->getChildHtml('customer.form.register.newsletter') ?>
						<?php endif ?>

						<?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
						<?php if ($_dob->isEnabled()): ?>
							<?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
						<?php endif ?>

						<?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
						<?php if ($_taxvat->isEnabled()): ?>
							<?= $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
						<?php endif ?>

						<?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
						<?php if ($_gender->isEnabled()): ?>
							<?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
						<?php endif ?>

                    </div>

                    <?php if ($block->getShowAddressFields()): ?>
				        <fieldset class="fieldset address with-border">
				            <h2 class="legend"><span><?= $block->escapeHtml(__('Address Information')) ?></span></h2>
				            <input type="hidden" name="create_address" value="1" />
							
							<div class="row">
								<?php $_company = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Company') ?>
								<?php if ($_company->isEnabled()): ?>
									<?= $_company->setCompany($block->getFormData()->getCompany())->toHtml() ?>
								<?php endif ?>

								<?php $_telephone = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Telephone') ?>
								<?php if ($_telephone->isEnabled()): ?>
									<?= $_telephone->setTelephone($block->getFormData()->getTelephone())->toHtml() ?>
								<?php endif ?>

								<?php $_fax = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Fax') ?>
								<?php if ($_fax->isEnabled()): ?>
									<?= $_fax->setFax($block->getFormData()->getFax())->toHtml() ?>
								<?php endif ?>

								<?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>

								<div class="field street required">
									<label for="street_1" class="label"><span><?= $block->escapeHtml(__('Street Address')) ?></span></label>
									<div class="control">
										<input type="text" name="street[]" value="<?= $block->getFormData()->getStreet(0) ?>" title="<?= __('Street Address') ?>" id="street_1" class="input-text <?= $_streetValidationClass ?>">
										<div class="nested">
											<?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
											<?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
												<div class="field additional">
													<label class="label" for="street_<?= /* @noEscape */ $_i ?>">
														<span><?= $block->escapeHtml(__('Address')) ?></span>
													</label>
													<div class="control">
														<input type="text" name="street[]" value="<?= $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?= __('Street Address %1', $_i) ?>" id="street_<?= /* @noEscape */ $_i ?>" class="form-control <?= $_streetValidationClass ?>">
													</div>
												</div>
											<?php endfor; ?>
										</div>
									</div>
								</div>

								<div class="field required">
									<label for="city" class="label"><span><?= $block->escapeHtml(__('City')) ?></span></label>
									<div class="control">
										<input type="text" name="city" value="<?= $block->getFormData()->getCity() ?>" title="<?= __('City') ?>" class="form-control <?= $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>" id="city">
									</div>
								</div>

								<div class="field region required">
									<label for="region_id" class="label"><span><?= $block->escapeHtml(__('State/Province')) ?></span></label>
									<div class="control">
										<select id="region_id" name="region_id" title="<?= __('State/Province') ?>" class="validate-select form-control" style="display:none;">
											<option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
										</select>
										<input type="text" id="region" name="region" value="<?= $block->escapeHtml($block->getRegion()) ?>" title="<?= __('State/Province') ?>" class="form-control <?= $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>" style="display:none;">
									</div>
								</div>

								<div class="field zip required">
									<label for="zip" class="label"><span><?= $block->escapeHtml(__('Zip/Postal Code')) ?></span></label>
									<div class="control">
										<input type="text" name="postcode" value="<?= $block->getFormData()->getPostcode() ?>" title="<?= __('Zip/Postal Code') ?>" id="zip" class="form-control validate-zip-international <?= $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>">
									</div>
								</div>

								<div class="field country required">
									<label for="country" class="label"><span><?= $block->escapeHtml(__('Country')) ?></span></label>
									<div class="control">
										<?= $block->getCountryHtmlSelect() ?>
									</div>
								</div>
								<?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
								<?php if ($addressAttributes): ?>
									<?php $addressAttributes->setEntityType('customer_address'); ?>
									<?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
									<?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
									<?= $addressAttributes->setShowContainer(false)->toHtml() ?>
								<?php endif;?>
								<input type="hidden" name="default_billing" value="1">
								<input type="hidden" name="default_shipping" value="1">
							</div>
				        </fieldset>

				    <?php endif; ?>

                    <div class="row input-field no-mar-horiz">
                        <!-- <input class="" type="email" name="first_name" id="first_name" placeholder="E.g. janedoe@gmail.com" required> -->
                        <input type="email" name="email" autocomplete="email" id="email_address" value="<?= $block->getFormData()->getEmail() ?>" title="<?= __('Email') ?>" class="form-control" data-validate="{required:true, 'validate-email':true}" placeholder="">
                        <label for="email" class="active">
                            Email
                            <!-- <span class="red-text">*</span> -->
                        </label>
                        <span class="helper-text"></span>

                    </div>
                    <!-- <div class="row input-field no-mar-horiz no-mar-bot" style="margin-bottom: 0 !important;"> -->
                    <div class="row input-field no-mar-horiz no-mar-bot" style="margin-bottom: 0 !important;">

                       <!--  <input class="" type="password" name="first_name" id="first_name" placeholder="Min length 8 characters" required> -->
                       <input type="password" name="password" id="password"
						   title="<?= __('Password') ?>"
						   class="form-control"
						   data-password-min-length="<?= $block->getMinimumPasswordLength() ?>"
						   data-password-min-character-sets="<?= $block->getRequiredCharacterClassesNumber() ?>"
						   data-validate="{required:true, 'validate-customer-password':true}"
						   autocomplete="off" placeholder="Min length 8 characters">

                        <label for="password">
                            Password
                            <span class="red-text">*</span>                                                     
                        </label>
                        <!-- <span class="helper-text" data-error="wrong" data-success="right"></span> -->
                    </div>

                    <div class="row password-strength-row">
                        <div class="col s12">
                            <!-- <ul class="password-meter no-mar-vert">
                                <li class="low highlighted"></li>
                                <li class="med highlighted"></li>
                                <li class="high highlighted"></li>
                                <li class="vhigh"></li>
                                <span>Strong</span>
                            </ul> -->
                            <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
								<div id="password-strength-meter" class="password-strength-meter">
									<!--<?= $block->escapeHtml(__('Password Strength')) ?>:-->
									<!-- <span id="password-strength-meter-label" data-role="password-strength-meter-label">
										<?= $block->escapeHtml(__('No Password')) ?>
									</span> -->
								</div>
							</div>

                            <p class="password-instructions">Password: 8 characters min. At least 1 Uppercase & Symbol. No spaces allowed</p>
                        </div>
                    </div>
                    <div class="row input-field no-mar-horiz no-mar-bot" style="margin-bottom: 0 !important;">
                        <!-- <input class="" type="password" name="first_name" id="first_name" placeholder="Min length 8 characters" required> -->
                        <input type="password" name="password_confirmation" title="<?= __('Confirm Password') ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off" placeholder="Min length 8 characters">
                        <label for="password_confirmation">
                            Confirm Password
                            <!-- <span class="red-text">*</span> -->
                        </label>
                        <span class="helper-text" data-error="wrong" data-success=""></span>
                    </div>
                    <?php
                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                        $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                        $baseURL = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
                    ?>
                    <div class="row no-mar-horiz no-mar-top input-field tc-row">
                        <span class="no-mar-vert checkbox-span">
                            <label>
                                <input class="checkbox" type="checkbox" name="delivery_checkbox" id="delivery_checkbox" data-validate="{required:true}" required="required">
                                <!-- <span>I agree to <a href="<?php echo $baseURL; ?>privacy-policy">Terms & Conditions</a> and <a href="<?php echo $baseURL; ?>terms-conditions">Privacy Policy.</a></span> -->
                                <span>I agree to <a class="custom-modal-trigger" href="#!" data-target="#tnc_modal">Terms & Conditions</a> and <a class="custom-modal-trigger" href="#!" data-target="#privacy_modal">Privacy Policy.</a></span>
                                <span class="helper-text" data-error="wrong" data-success=""></span>
                            </label>
                        </span>
                    </div>

                    <div class="row no-mar-horiz cta-row">
                        <button class="btn1 cta-btn blue-btn">Register</button>
                    </div>


                    
                </div>
            </div>

            <div class="bottom-row">
            	
                <p>Already have an account? <a href="<?php echo $baseURL; ?>customer/account/login/">Sign in</a></p>
            </div>
        </div>
    </div>
    </form>
</section>

<?php /* Extensions placeholder */ ?>
<?php /* ?>
<?= $block->getChildHtml('customer.form.register.extra') ?>
<form class="form create account form-create-account with-border" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
    <?= /* @noEscape * / $block->getBlockHtml('formkey'); ?>
    <fieldset class="fieldset create info with-border">
        <h2 class="legend"><span><?= $block->escapeHtml(__('Personal Information')) ?></span></h2>
        <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
        <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
		<div class="row">
			<?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
			<?php if ($block->isNewsletterEnabled()): ?>
				<div class="field choice newsletter">
					<input type="checkbox" name="is_subscribed" title="<?= __('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox">
					<label for="is_subscribed" class="label"><span><?= $block->escapeHtml(__('Sign Up for Newsletter')) ?></span></label>
				</div>
				<?php /* Extensions placeholder * / ?>
				<?= $block->getChildHtml('customer.form.register.newsletter') ?>
			<?php endif ?>

			<?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
			<?php if ($_dob->isEnabled()): ?>
				<?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
			<?php endif ?>

			<?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
			<?php if ($_taxvat->isEnabled()): ?>
				<?= $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
			<?php endif ?>

			<?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
			<?php if ($_gender->isEnabled()): ?>
				<?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
			<?php endif ?>
		</div>
    </fieldset>
    <?php if ($block->getShowAddressFields()): ?>
        <fieldset class="fieldset address with-border">
            <h2 class="legend"><span><?= $block->escapeHtml(__('Address Information')) ?></span></h2>
            <input type="hidden" name="create_address" value="1" />
			
			<div class="row">
				<?php $_company = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Company') ?>
				<?php if ($_company->isEnabled()): ?>
					<?= $_company->setCompany($block->getFormData()->getCompany())->toHtml() ?>
				<?php endif ?>

				<?php $_telephone = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Telephone') ?>
				<?php if ($_telephone->isEnabled()): ?>
					<?= $_telephone->setTelephone($block->getFormData()->getTelephone())->toHtml() ?>
				<?php endif ?>

				<?php $_fax = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Fax') ?>
				<?php if ($_fax->isEnabled()): ?>
					<?= $_fax->setFax($block->getFormData()->getFax())->toHtml() ?>
				<?php endif ?>

				<?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>

				<div class="field street required">
					<label for="street_1" class="label"><span><?= $block->escapeHtml(__('Street Address')) ?></span></label>
					<div class="control">
						<input type="text" name="street[]" value="<?= $block->getFormData()->getStreet(0) ?>" title="<?= __('Street Address') ?>" id="street_1" class="input-text <?= $_streetValidationClass ?>">
						<div class="nested">
							<?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
							<?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
								<div class="field additional">
									<label class="label" for="street_<?= /* @noEscape * / $_i ?>">
										<span><?= $block->escapeHtml(__('Address')) ?></span>
									</label>
									<div class="control">
										<input type="text" name="street[]" value="<?= $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?= __('Street Address %1', $_i) ?>" id="street_<?= /* @noEscape * / $_i ?>" class="form-control <?= $_streetValidationClass ?>">
									</div>
								</div>
							<?php endfor; ?>
						</div>
					</div>
				</div>

				<div class="field required">
					<label for="city" class="label"><span><?= $block->escapeHtml(__('City')) ?></span></label>
					<div class="control">
						<input type="text" name="city" value="<?= $block->getFormData()->getCity() ?>" title="<?= __('City') ?>" class="form-control <?= $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>" id="city">
					</div>
				</div>

				<div class="field region required">
					<label for="region_id" class="label"><span><?= $block->escapeHtml(__('State/Province')) ?></span></label>
					<div class="control">
						<select id="region_id" name="region_id" title="<?= __('State/Province') ?>" class="validate-select form-control" style="display:none;">
							<option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
						</select>
						<input type="text" id="region" name="region" value="<?= $block->escapeHtml($block->getRegion()) ?>" title="<?= __('State/Province') ?>" class="form-control <?= $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>" style="display:none;">
					</div>
				</div>

				<div class="field zip required">
					<label for="zip" class="label"><span><?= $block->escapeHtml(__('Zip/Postal Code')) ?></span></label>
					<div class="control">
						<input type="text" name="postcode" value="<?= $block->getFormData()->getPostcode() ?>" title="<?= __('Zip/Postal Code') ?>" id="zip" class="form-control validate-zip-international <?= $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>">
					</div>
				</div>

				<div class="field country required">
					<label for="country" class="label"><span><?= $block->escapeHtml(__('Country')) ?></span></label>
					<div class="control">
						<?= $block->getCountryHtmlSelect() ?>
					</div>
				</div>
				<?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
				<?php if ($addressAttributes): ?>
					<?php $addressAttributes->setEntityType('customer_address'); ?>
					<?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
					<?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
					<?= $addressAttributes->setShowContainer(false)->toHtml() ?>
				<?php endif;?>
				<input type="hidden" name="default_billing" value="1">
				<input type="hidden" name="default_shipping" value="1">
			</div>
        </fieldset>

    <?php endif; ?>
    <fieldset class="fieldset create account with-border" data-hasrequired="<?= __('* Required Fields') ?>">
        <h2 class="legend"><span><?= $block->escapeHtml(__('Sign-in Information')) ?></span></h2>
		<div class="row">
			<div class="field required">
				<label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
				<div class="control">
					<input type="email" name="email" autocomplete="email" id="email_address" value="<?= $block->getFormData()->getEmail() ?>" title="<?= __('Email') ?>" class="form-control" data-validate="{required:true, 'validate-email':true}">
				</div>
			</div>
			<div class="field password required">
				<label for="password" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
				<div class="control">
					<input type="password" name="password" id="password"
						   title="<?= __('Password') ?>"
						   class="form-control"
						   data-password-min-length="<?= $block->getMinimumPasswordLength() ?>"
						   data-password-min-character-sets="<?= $block->getRequiredCharacterClassesNumber() ?>"
						   data-validate="{required:true, 'validate-customer-password':true}"
						   autocomplete="off">
					<div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
						<div id="password-strength-meter" class="password-strength-meter">
							<?= $block->escapeHtml(__('Password Strength')) ?>:
							<span id="password-strength-meter-label" data-role="password-strength-meter-label">
								<?= $block->escapeHtml(__('No Password')) ?>
							</span>
						</div>
					</div>
				</div>

			</div>
			<div class="field confirmation required">
				<label for="password-confirmation" class="label"><span><?= $block->escapeHtml(__('Confirm Password')) ?></span></label>
				<div class="control">
					<input type="password" name="password_confirmation" title="<?= __('Confirm Password') ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
				</div>
			</div>
		</div>
        <?= $block->getChildHtml('form_additional_info') ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="btn btn-default" title="<?= __('Create an Account') ?>"><span><?= $block->escapeHtml(__('Create an Account')) ?></span></button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Back')) ?></span></a>
        </div>
    </div>
</form>
<?php */ ?>
<script>
require([
    'jquery',
    'mage/mage'
], function($){

    var dataForm = $('#form-validate');
    var ignore = <?= /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null' ?>;

    dataForm.mage('validation', {
    <?php if ($_dob->isEnabled()): ?>
        errorPlacement: function(error, element) {
            if (element.prop('id').search('full') !== -1) {
                var dobElement = $(element).parents('.customer-dob'),
                    errorClass = error.prop('class');
                error.insertAfter(element.parent());
                dobElement.find('.validate-custom').addClass(errorClass)
                    .after('<div class="' + errorClass + '"></div>');
            }
            else {
                error.insertAfter(element);
            }
        },
        ignore: ':hidden:not(' + ignore + ')'
    <?php else: ?>
        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
    <?php endif ?>
    }).find('input:text').attr('autocomplete', 'off');

});
</script>
<?php if ($block->getShowAddressFields()): ?>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int) $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<?php endif; ?>

<script type="text/x-magento-init">
    {
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        }
    }
</script>
