<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile


/*
<?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')
   ->setObject($block->getAddress())
   ->toHtml() ?>

For checkout/onepage/shipping.phtml:

<?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')
   ->setObject($block->getAddress())
   ->setFieldIdFormat('shipping:%s')
   ->setFieldNameFormat('shipping[%s]')
   ->toHtml() ?>
*/

/* @var $block \Magento\Customer\Block\Widget\Name */
$prefix = $block->showPrefix();
$middle = $block->showMiddlename();
$suffix = $block->showSuffix();
?>
<?php if (($prefix || $middle || $suffix) && !$block->getNoWrap()): ?>
<div class="required fullname clearfix <?= $block->getContainerClassName() ?>">
<?php endif; ?>

    <?php if ($prefix): ?>
        <div class="field field-name-prefix<?php if ($block->isPrefixRequired()) echo ' required' ?>">
            <label class="label" for="<?= $block->getFieldId('prefix') ?>">
                <span><?= $block->escapeHtml($block->getStoreLabel('prefix')) ?></span>
            </label>

            <div class="control">
                <?php if ($block->getPrefixOptions() === false): ?>
                    <input type="text" id="<?= $block->getFieldId('prefix') ?>"
                           name="<?= $block->getFieldName('prefix') ?>"
                           value="<?= $block->getObject()->getPrefix() ?>"
                           title="<?= $block->getStoreLabel('prefix') ?>"
                           class="form-control <?= $block->getAttributeValidationClass('prefix') ?>" <?php if ($block->isPrefixRequired()) echo ' data-validate="{required:true}"' ?>>
                <?php else: ?>
                    <select id="<?= $block->getFieldId('prefix') ?>"
                            name="<?= $block->getFieldName('prefix') ?>"
                            title="<?= $block->getStoreLabel('prefix') ?>"
                            class="form-control <?= $block->getAttributeValidationClass('prefix') ?>" <?php if ($block->isPrefixRequired()) echo ' data-validate="{required:true}"' ?> >
                        <?php foreach ($block->getPrefixOptions() as $_option): ?>
                            <option value="<?= $_option ?>"<?php if ($block->getObject()->getPrefix() == $_option): ?> selected="selected"<?php endif; ?>>
                                <?= $block->escapeHtml(__($_option)) ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>
        



                           
                                
        <div class="row no-mar split-row">
        <div class="col s6 no-pad-left">
            <div class="input-field">
                <!-- <input class="" type="email" name="user_email" id="user_email" placeholder="E.g. Jane" required> -->
                <input type="text" id="<?= $block->getFieldId('firstname') ?>"
                       name="<?= $block->getFieldName('firstname') ?>"
                       value="<?= $block->getObject()->getFirstname() ?>"
                       title="<?= $block->getStoreLabel('firstname') ?>"
                       placeholder=""
                       class="form-control <?= $block->getAttributeValidationClass('firstname') ?>" <?php if ($block->getAttributeValidationClass('firstname') == 'required-entry') echo ' data-validate="{required:true}"' ?>>
                <label for="firstname">
                    First Name
                    <!-- <span class="red-text">*</span> -->
                </label>
                <span class="helper-text"></span>
            </div>
        </div>
        
    <?php if ($middle): ?>
        <?php $isMiddlenameRequired = $block->isMiddlenameRequired(); ?>
        <div class="field field-name-middlename<?= $isMiddlenameRequired ? ' required' : '' ?>">
            <label class="label" for="<?= $block->getFieldId('middlename') ?>">
                <span><?= $block->escapeHtml($block->getStoreLabel('middlename')) ?></span>
            </label>

            <div class="control">
                <input type="text" id="<?= $block->getFieldId('middlename') ?>"
                       name="<?= $block->getFieldName('middlename') ?>"
                       value="<?= $block->getObject()->getMiddlename() ?>"
                       title="<?= $block->getStoreLabel('middlename') ?>"
                       class="form-control <?= $block->getAttributeValidationClass('middlename') ?>" <?= $isMiddlenameRequired ? ' data-validate="{required:true}"' : '' ?>>
            </div>
        </div>
    <?php endif; ?>
       

        <div class="col s6 no-pad-right">
            <div class="input-field">
                <!-- <input class="" type="email" name="first_name" id="first_name" placeholder="E.g. Doe" required> -->
                <input type="text" id="<?= $block->getFieldId('lastname') ?>"
                       name="<?= $block->getFieldName('lastname') ?>"
                       value="<?= $block->getObject()->getLastname() ?>"
                       title="<?= $block->getStoreLabel('lastname') ?>"
                       placeholder=""
                       class="form-control <?= $block->getAttributeValidationClass('lastname') ?>" <?php if ($block->getAttributeValidationClass('lastname') == 'required-entry') echo ' data-validate="{required:true}"' ?>>
                <label for="lastname">
                    Last Name
                    <!-- <span class="red-text">*</span> -->
                </label>
                <span class="helper-text"></span>
            </div>
        </div>
      </div>

    <?php if ($suffix): ?>
        <div class="field field-name-suffix<?php if ($block->isSuffixRequired()) echo ' required' ?>">
            <label class="label" for="<?= $block->getFieldId('suffix') ?>">
                <span><?= $block->escapeHtml($block->getStoreLabel('suffix')) ?></span>
            </label>

            <div class="control">
                <?php if ($block->getSuffixOptions() === false): ?>
                    <input type="text" id="<?= $block->getFieldId('suffix') ?>"
                           name="<?= $block->getFieldName('suffix') ?>"
                           value="<?= $block->getObject()->getSuffix() ?>"
                           title="<?= $block->getStoreLabel('suffix') ?>"
                           class="form-control <?= $block->getAttributeValidationClass('suffix') ?>" <?php if ($block->isSuffixRequired()) echo ' data-validate="{required:true}"' ?>>
                <?php else: ?>
                    <select id="<?= $block->getFieldId('suffix') ?>"
                            name="<?= $block->getFieldName('suffix') ?>"
                            title="<?= $block->getStoreLabel('suffix') ?>"
                            class="form-control <?= $block->getAttributeValidationClass('suffix') ?>" <?php if ($block->isSuffixRequired()) echo ' data-validate="{required:true}"' ?>>
                        <?php foreach ($block->getSuffixOptions() as $_option): ?>
                            <option value="<?= $_option ?>"<?php if ($block->getObject()->getSuffix() == $_option): ?> selected="selected"<?php endif; ?>>
                                <?= $block->escapeHtml(__($_option)) ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>

    <?php if (($prefix || $middle || $suffix) && !$block->getNoWrap()): ?>
</div>
<?php endif; ?>
