<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Widget\Taxvat $block */
?>
<div class="field taxvat<?php if ($block->isRequired()) echo ' required'; ?>">
    <label class="label" for="<?= $block->getFieldId('taxvat') ?>"><span><?= $block->escapeHtml(__('Tax/VAT number')) ?></span></label>
    <div class="control">
        <input type="text" id="<?= $block->getFieldId('taxvat') ?>" name="<?= $block->getFieldName('taxvat') ?>" value="<?= $block->getTaxvat() ?>" title="<?= __('Tax/VAT number') ?>" class="form-control <?= $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('taxvat') ?>" <?php if ($block->isRequired()) echo ' data-validate="{required:true}"' ?>>
    </div>
</div>
