<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying products list widget
 *
 * @var $block \Magento\CatalogWidget\Block\Product\ProductsList
 */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())):?>
<?php
	$_helper = $this->helper('Magento\Catalog\Helper\Output');

	$type = 'widget-product-grid';
    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $title = $block->getTitle() ? __($block->getTitle()) : '';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    // $templateType =  \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    // $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $templateType = false;
    $description = false;

	$meigee_helper = $this->helper('\Meigee\Feather\Helper\FeatherGeneral');
	$lightbox_status = $meigee_helper->getCustomThemeOptionCnf('feather_lightbox', 'lightbox_status');
	$lightbox_widget_status = $meigee_helper->getCustomThemeOptionCnf('feather_lightbox', 'lightbox_home');
	$name_align = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'product_name_aligment');
	$stock_status = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'stock_status');
	$widget_id = $block->getWidgetId();
	$type_price = 'widget-product-grid-'.$widget_id;
	$quickview_status = $this->helper('WeltPixel\Quickview\Helper\Data')->getConfig('weltpixel_quickview/general/enable_product_listing');
    $quickview_btn = $meigee_helper->getCustomThemeOptionCnf('feather_product_listing', 'quickview_btn');
    $labels_helper = $this->helper('\Meigee\Feather\Helper\FrontHelper');

	$visibleProducts = $block->getVisibleProducts();
	$visibleProductsTablet = $block->getVisibleProductsTablet();
    $visibleProductsMobile = $block->getVisibleProductsMobile();
	$pagination = $block->getPagination();
?>
    <div class="block widget block-products-list widget-slider <?php /* @escapeNotVerified */ echo $mode; ?>" id="widget-products-<?php echo $widget_id; ?>">
        <?php if ($title):?>
        <div class="block-title">
            <strong><?php /* @escapeNotVerified */ echo $title; ?></strong>
        </div>
        <?php endif ?>
        <div class="block-content">
            <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode .' '. $type; ?>">
                <ol class="product-items row">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item col-sm-3">' : '</li><li class="item col-sm-3">' ?>
                        <div class="product-item-info clearfix">
                            <div class="image-wrapper">
                                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product-item-photo">
                                    <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                                </a>
                                <?php if($quickview_btn && $quickview_status) { ?>
                                <a href="javascript: void(0);" data-quickview-url="<?php echo $block->getBaseUrl(); ?>weltpixel_quickview/catalog_product/view/id/<?php echo $block->escapeHtml($_item->getEntityId()); ?>" class="weltpixel-quickview"><i class="fa fa-eye"></i><span class="title"><?php echo __('Quickview') ?></span></a>
                                <?php } ?>
                                <?php if($labels_helper->isProductNew($_item) || $labels_helper->isProductSale($_item)){
                                    echo '<div class="product-labels">';
                                    if($labels_helper->isProductNew($_item)) {
                                        echo '<span class="label-new">'.__('new').'</span>';
                                    }
                                    if($labels_helper->isProductSale($_item)) {
                                        echo '<span class="label-sale">'.__('sale').'</span>';
                                    }
                                    echo '</div>';
                                } ?>
                            </div>
                            <div class="product-item-details">
                                <h4 class="product-item-name <?php echo $name_align; ?>">
                                    <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                       href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>"
                                       class="product-item-link">
                                        <?php echo $block->escapeHtml($_item->getName());
                                        $_productNameStripped = $block->stripTags($_item->getName(), null, true) ?>
                                    </a>
                                </h4>
                                <div class="product-item-inner">
                                     <?php if ($description):?>
                                        <div class="product description product-item-description">
                                            <?php /* @escapeNotVerified */
                                                $shortDesc = $_helper->productAttribute($_item, $_item->getShortDescription(), 'short_description');
                                                $length = 90;
                                                $shortDesc = (strlen($shortDesc) > $length) ? substr($shortDesc,0,$length).'...' : $shortDesc;
                                                echo $shortDesc;
                                            ?>
                                            <a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
                                               class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
                                        </div>
                                    <?php endif; ?>
                                </div>
                                <?php echo $block->getProductPriceHtml($_item, $type_price); ?>
                                <?php if ($templateType): ?>
                                    <?php echo $block->getReviewsSummaryHtml($_item, $templateType, true) ?>
                                <?php endif; ?>
                                <?php if($stock_status != 4 && $stock_status != 2) {
                                    if ($_item->getIsSalable()): ?>
                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                    <?php else: ?>
                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                    <?php endif;
                                } ?>
                                <?php if( ($lightbox_status && $lightbox_widget_status) || $showWishlist || $showCompare || $showCart){ ?>
                                    <div class="ations-wrapper">
                                        <?php if ($showCart): ?>
                                            <div class="button-wrapper">
                                                <?php if ($_item->isSaleable()): ?>
                                                    <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                        <button class="btn btn-default btn-cart action tocart"
                                                                data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_item) ?>"}}'
                                                                type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                            <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                        ?>
                                                        <button class="btn btn-default btn-cart"
                                                                data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                                                type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                            <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" title="<?php echo __('Read more') ?>" class="btn btn-default btn-cart"><?php echo __('Read more') ?></a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                        <?php if( ($lightbox_status && $lightbox_widget_status) || $showWishlist || $showCompare ){ ?>
                                        <div class="secondary-buttons clearfix">
                                            <?php if ($showWishlist || $showCompare): ?>
                                                <div class="add-to-links" data-role="add-to-links">
                                                    <div class="links-inner clearfix">
                                                        <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                            <a href="#"
                                                            data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_item); ?>'
                                                            class="action towishlist" data-action="add-to-wishlist"
                                                            title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        <?php endif; ?>
                                                        <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                            <a href="#" class="action tocompare"
                                                            data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item);?>'
                                                            title="<?php /* @escapeNotVerified */ echo __('Add to Compare') ?>">
                                                                <i class="fa fa-exchange"></i>
                                                            </a>
                                                        <?php endif; ?>
                                                    </div>
                                                </div>
                                            <?php endif; ?>
                                            <?php if($lightbox_status && $lightbox_widget_status){ ?>
                                            <a href="<?php echo $block->getImage($_item, $image)->getImageUrl();  ?>" data-toggle="lightbox" class="lightbox-button" data-footer="<?php echo $block->escapeHtml($_item->getName()); ?>" title="<?php echo __('Lightbox'); ?>">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                            <?php } ?>
                                          </div>
                                        <?php } ?>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                        <?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
			<?php
			if(count($items) > 4){ ?>
				<script type="text/javascript">
					require(["jquery"], function(jQuery)
					{
						require(["MeigeeCarousel"], function(owlCarousel)
						{
							homeSlider = jQuery('#widget-products-<?php echo $widget_id; ?> .product-items');
							homeSlider.owlCarousel({
								items: <?php echo $visibleProducts; ?>,
								itemsDesktopSmall: [1331,<?php echo $visibleProducts; ?>],
								itemsTablet: [1007,<?php echo $visibleProducts; ?>],
								itemsTabletSmall: [768,<?php echo $visibleProductsTablet; ?>],
                                itemsMobile: [479,<?php echo $visibleProductsMobile; ?>],
                                slideSpeed: 500,
                                navigation: true,
								pagination: <?php echo $pagination; ?>,
								lazyEffect: 'fade'
							});
						});
					  });
				</script>
			<?php } else {
				  echo $block->getPagerHtml();
				}
			?>
        </div>
    </div>
<?php endif;?>
