<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Address $block */
?>
<div class="block block-dashboard-addresses">
    <div class="block-title">
        <strong><?php echo $block->escapeHtml(__('Address Book')) ?></strong>
		<a class="action edit" href="<?php echo $block->escapeUrl($block->getAddressBookUrl()) ?>"><?php echo $block->escapeHtml(__('Manage Addresses')) ?><i class="ion-edit"></i></a>
    </div>
    <div class="block-content row">
        <div class="box box-billing-address col-sm-6">
			<div class="box-inner">
				<strong class="box-title">
					<span><?php echo $block->escapeHtml(__('Default Billing Address')) ?></span>
					<a class="action edit" href="<?php echo $block->escapeUrl($block->getPrimaryBillingAddressEditUrl()) ?>" data-ui-id="default-billing-edit-link" title="<?php echo $block->escapeHtml(__('Edit Address')) ?>"><i class="ion-edit"></i></a>
				</strong>
				<div class="box-content">
					<address>
						<?php echo $block->getPrimaryBillingAddressHtml() ?>
					</address>
				</div>
            </div>
        </div>
        <div class="box box-shipping-address col-sm-6">
			<div class="box-inner">
				<strong class="box-title">
					<span><?php echo $block->escapeHtml(__('Default Shipping Address')); ?></span>
					<a class="action edit" href="<?php echo $block->escapeUrl($block->getPrimaryShippingAddressEditUrl()) ?>" data-ui-id="default-shipping-edit-link"title="<?php echo $block->escapeHtml(__('Edit Address')) ?>"><i class="ion-edit"></i></a>
				</strong>
				<div class="box-content">
					<address>
						<?php echo $block->getPrimaryShippingAddressHtml() ?>
					</address>
				</div>
			</div>
        </div>
    </div>
</div>
