<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?php echo $block->escapeHtml(__('Account Information')) ?></strong></div>
    <div class="block-content row">
        <div class="box box-information col-sm-6">
			<div class="box-inner">
				<strong class="box-title">
					<span><?php echo $block->escapeHtml(__('Contact Information')) ?></span>
					<a class="action edit" href="<?php echo $block->escapeUrl($block->getUrl('customer/account/edit')) ?>" title="<?php echo $block->escapeHtml(__('Edit')) ?>">
						<i class="ion-edit"></i>
					</a>
				</strong>
				<div class="box-content">
					<p>
						<?php echo $block->escapeHtml($block->getName()) ?><br>
						<?php echo $block->escapeHtml($block->getCustomer()->getEmail()) ?><br>
					</p>
				</div>
				<div class="box-actions">
					<a href="<?php echo $block->escapeUrl($block->getChangePasswordUrl()) ?>" class="action change-password">
						<?php echo $block->escapeHtml(__('Change Password')) ?>
					</a>
				</div>
            </div>
        </div>
        <?php if ($block->isNewsletterEnabled()): ?>
            <div class="box box-newsletter col-sm-6">
				<div class="box-inner">
					<strong class="box-title">
						<span><?php echo $block->escapeHtml(__('Newsletters')) ?></span>
						<a class="action edit" href="<?php echo $block->escapeUrl($block->getUrl('newsletter/manage')) ?>" title="<?php echo $block->escapeHtml(__('Edit')) ?>"><i class="ion-edit"></i></a>
					</strong>
					<div class="box-content">
						<p>
							<?php if ($block->getIsSubscribed()): ?>
								<?php echo $block->escapeHtml(__('You are subscribed to "General Subscription".')) ?>
							<?php else: ?>
								<?php echo $block->escapeHtml(__('You aren\'t subscribed to our newsletter.')) ?>
							<?php endif; ?>
						</p>
						<?php /* Extensions placeholder */ ?>
						<?php echo $block->getChildHtml('customer.account.dashboard.info.extra')?>
					</div>
				</div>
            </div>
        <?php endif; ?>
    </div>
</div>
